<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,69},{77,51}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,65}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wall_3.pvr.ccz</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c52b14c7e74f4a26ca20994bd1bf1d:1/1$</string>
            <key>textureFileName</key>
            <string>wall_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
