<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{71,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{71,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{71,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{71,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wall_1.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3527910aaaed913292de3dc97fcf00da:1/1$</string>
            <key>textureFileName</key>
            <string>wall_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
