<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{60,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>font_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{60,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>friend_grayBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgsetlayer.png</string>
            <key>size</key>
            <string>{118,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dd0aa792dea54885a8d3e10106c3d4d:1/1$</string>
            <key>textureFileName</key>
            <string>sgsetlayer.png</string>
        </dict>
    </dict>
</plist>
