<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,144},{126,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>prop10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{122,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,140}}</string>
                <key>sourceSize</key>
                <string>{122,140}</string>
            </dict>
            <key>prop11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,454},{122,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,140}}</string>
                <key>sourceSize</key>
                <string>{122,140}</string>
            </dict>
            <key>prop12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,312},{122,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,140}}</string>
                <key>sourceSize</key>
                <string>{122,140}</string>
            </dict>
            <key>prop13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,216},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>prop14.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,526},{78,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,98}}</string>
                <key>sourceSize</key>
                <string>{78,98}</string>
            </dict>
            <key>prop15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,526},{52,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,100}}</string>
                <key>sourceSize</key>
                <string>{52,100}</string>
            </dict>
            <key>prop16.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,596},{56,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,140}}</string>
                <key>sourceSize</key>
                <string>{56,140}</string>
            </dict>
            <key>prop17.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{92,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,212}}</string>
                <key>sourceSize</key>
                <string>{92,212}</string>
            </dict>
            <key>prop18.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,278},{124,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,246}}</string>
                <key>sourceSize</key>
                <string>{124,246}</string>
            </dict>
            <key>prop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,428},{124,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>prop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{126,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{126,144}</string>
            </dict>
            <key>prop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{124,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{124,140}</string>
            </dict>
            <key>prop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,286},{124,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{124,140}</string>
            </dict>
            <key>prop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>prop7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,144},{128,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>prop8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>prop9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop1-20.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e697d1b69a6c241617c3c0305e8d5ae:1/1$</string>
            <key>textureFileName</key>
            <string>prop1-20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
