<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrack_font_sbkjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{280,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,50}}</string>
                <key>sourceSize</key>
                <string>{284,52}</string>
            </dict>
            <key>boxhuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,88},{46,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,24}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>font_skill_streng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>font_yydjnsck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,32}}</string>
                <key>sourceSize</key>
                <string>{282,32}</string>
            </dict>
            <key>streng_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{216,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{216,108}}</string>
                <key>sourceSize</key>
                <string>{218,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgskillcardslayer.png</string>
            <key>size</key>
            <string>{286,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbf3daed13ff89abe31fdb08d71c5b2a:1/1$</string>
            <key>textureFileName</key>
            <string>sgskillcardslayer.png</string>
        </dict>
    </dict>
</plist>
