<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>binding_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,592},{174,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,170}}</string>
                <key>sourceSize</key>
                <string>{174,170}</string>
            </dict>
            <key>change_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{526,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,296}}</string>
                <key>sourceSize</key>
                <string>{526,296}</string>
            </dict>
            <key>change_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,484},{188,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,32}}</string>
                <key>sourceSize</key>
                <string>{188,32}</string>
            </dict>
            <key>country_artWord2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,864},{276,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,48}}</string>
                <key>sourceSize</key>
                <string>{276,48}</string>
            </dict>
            <key>gameactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,518},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{166,40}</string>
            </dict>
            <key>loginMsgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,60}}</string>
                <key>sourceSize</key>
                <string>{640,60}</string>
            </dict>
            <key>login_font_accountup.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,592},{122,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,34}}</string>
                <key>sourceSize</key>
                <string>{122,34}</string>
            </dict>
            <key>login_font_createNewAccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,682},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,32}}</string>
                <key>sourceSize</key>
                <string>{156,36}</string>
            </dict>
            <key>login_font_creatrole.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,864},{268,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,50}}</string>
                <key>sourceSize</key>
                <string>{268,50}</string>
            </dict>
            <key>login_font_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,36}</string>
            </dict>
            <key>login_font_emailandpw.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,916},{272,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,32}}</string>
                <key>sourceSize</key>
                <string>{272,32}</string>
            </dict>
            <key>login_font_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,648},{392,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,32}}</string>
                <key>sourceSize</key>
                <string>{392,32}</string>
            </dict>
            <key>login_font_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,64},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>login_font_sjzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,628},{120,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{120,32}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>login_font_xgmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,682},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>login_ksksOncebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,764},{300,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,98}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>login_ksksbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,484},{300,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,98}}</string>
                <key>sourceSize</key>
                <string>{300,98}</string>
            </dict>
            <key>login_name_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,588},{518,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,2}}</string>
                <key>sourceSize</key>
                <string>{518,2}</string>
            </dict>
            <key>login_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,682},{218,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,52}}</string>
                <key>sourceSize</key>
                <string>{218,52}</string>
            </dict>
            <key>loginbtnText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{408,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,60}}</string>
                <key>sourceSize</key>
                <string>{408,60}</string>
            </dict>
            <key>randNickName.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>register_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{524,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,224}}</string>
                <key>sourceSize</key>
                <string>{524,224}</string>
            </dict>
            <key>reward_login_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>reward_login_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{288,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,372}}</string>
                <key>sourceSize</key>
                <string>{288,372}</string>
            </dict>
            <key>zhuxiaoFB.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,592},{402,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,54}}</string>
                <key>sourceSize</key>
                <string>{402,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgloginingbox.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0176db82b8068f7e1445e87da959d448:1/1$</string>
            <key>textureFileName</key>
            <string>sgloginingbox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
