<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{348,212}}</string>
                <key>sourceSize</key>
                <string>{352,216}</string>
            </dict>
            <key>skill_head_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{252,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{252,186}}</string>
                <key>sourceSize</key>
                <string>{256,190}</string>
            </dict>
            <key>skill_head_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{262,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{262,180}}</string>
                <key>sourceSize</key>
                <string>{266,184}</string>
            </dict>
            <key>skill_head_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{294,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{294,188}}</string>
                <key>sourceSize</key>
                <string>{298,192}</string>
            </dict>
            <key>skill_head_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{252,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,202}}</string>
                <key>sourceSize</key>
                <string>{256,206}</string>
            </dict>
            <key>skill_head_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{268,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{268,198}}</string>
                <key>sourceSize</key>
                <string>{272,202}</string>
            </dict>
            <key>skill_head_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,184},{162,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,186}}</string>
                <key>sourceSize</key>
                <string>{166,190}</string>
            </dict>
            <key>skill_head_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,566},{220,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{220,176}}</string>
                <key>sourceSize</key>
                <string>{224,180}</string>
            </dict>
            <key>skill_head_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,744},{188,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{188,186}}</string>
                <key>sourceSize</key>
                <string>{192,190}</string>
            </dict>
            <key>skill_head_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,608},{202,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{202,188}}</string>
                <key>sourceSize</key>
                <string>{206,192}</string>
            </dict>
            <key>skill_head_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,192},{184,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,178}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>skill_head_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,192},{240,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{240,178}}</string>
                <key>sourceSize</key>
                <string>{244,182}</string>
            </dict>
            <key>skill_head_126.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,798},{210,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{210,188}}</string>
                <key>sourceSize</key>
                <string>{214,192}</string>
            </dict>
            <key>skill_head_127.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,408},{192,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{192,196}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>skill_head_128.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,744},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,188}}</string>
                <key>sourceSize</key>
                <string>{186,192}</string>
            </dict>
            <key>skill_head_129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{316,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{316,190}}</string>
                <key>sourceSize</key>
                <string>{320,194}</string>
            </dict>
            <key>skill_head_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,372},{174,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{174,184}}</string>
                <key>sourceSize</key>
                <string>{178,188}</string>
            </dict>
            <key>skill_head_131.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,558},{176,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{176,180}}</string>
                <key>sourceSize</key>
                <string>{180,184}</string>
            </dict>
            <key>skill_head_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,744},{194,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{194,184}}</string>
                <key>sourceSize</key>
                <string>{198,188}</string>
            </dict>
            <key>skill_head_133.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,372},{170,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,196}}</string>
                <key>sourceSize</key>
                <string>{174,200}</string>
            </dict>
            <key>skill_head_134.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,372},{216,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{216,192}}</string>
                <key>sourceSize</key>
                <string>{220,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head114-134.png</string>
            <key>size</key>
            <string>{1040,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95b5d0c3170476ce13b870c4e42b3c4c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head114-134.png</string>
        </dict>
    </dict>
</plist>
