<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{596,242}}</string>
                <key>sourceSize</key>
                <string>{600,246}</string>
            </dict>
            <key>skill_head_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{594,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{594,218}}</string>
                <key>sourceSize</key>
                <string>{598,222}</string>
            </dict>
            <key>skill_head_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,718},{576,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{576,220}}</string>
                <key>sourceSize</key>
                <string>{580,224}</string>
            </dict>
            <key>skill_head_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{422,238}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{422,238}}</string>
                <key>sourceSize</key>
                <string>{486,238}</string>
            </dict>
            <key>skill_head_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,466},{532,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{532,236}}</string>
                <key>sourceSize</key>
                <string>{536,240}</string>
            </dict>
            <key>skill_head_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{440,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{440,250}}</string>
                <key>sourceSize</key>
                <string>{444,254}</string>
            </dict>
            <key>skill_head_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{210,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{210,202}}</string>
                <key>sourceSize</key>
                <string>{214,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head96-102.png</string>
            <key>size</key>
            <string>{1004,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e746434f7dad7f02cbb4067c9121018c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head96-102.png</string>
        </dict>
    </dict>
</plist>
