<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{322,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{322,196}}</string>
                <key>sourceSize</key>
                <string>{326,200}</string>
            </dict>
            <key>skill_head_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{352,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{352,242}}</string>
                <key>sourceSize</key>
                <string>{356,246}</string>
            </dict>
            <key>skill_head_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,762},{274,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{274,174}}</string>
                <key>sourceSize</key>
                <string>{278,178}</string>
            </dict>
            <key>skill_head_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,386},{250,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{250,196}}</string>
                <key>sourceSize</key>
                <string>{254,200}</string>
            </dict>
            <key>skill_head_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{370,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{370,194}}</string>
                <key>sourceSize</key>
                <string>{374,198}</string>
            </dict>
            <key>skill_head_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,386},{362,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{362,188}}</string>
                <key>sourceSize</key>
                <string>{366,192}</string>
            </dict>
            <key>skill_head_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,584},{252,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,190}}</string>
                <key>sourceSize</key>
                <string>{256,194}</string>
            </dict>
            <key>skill_head_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{478,236}}</string>
                <key>sourceSize</key>
                <string>{482,240}</string>
            </dict>
            <key>skill_head_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{328,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,244}}</string>
                <key>sourceSize</key>
                <string>{328,244}</string>
            </dict>
            <key>skill_head_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,198},{368,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{368,186}}</string>
                <key>sourceSize</key>
                <string>{372,190}</string>
            </dict>
            <key>skill_head_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,576},{284,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{284,184}}</string>
                <key>sourceSize</key>
                <string>{288,188}</string>
            </dict>
            <key>skill_head_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,776},{250,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{250,194}}</string>
                <key>sourceSize</key>
                <string>{254,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head40-51.png</string>
            <key>size</key>
            <string>{972,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f2974aa1170e683a87e457b8b94170e:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head40-51.png</string>
        </dict>
    </dict>
</plist>
