<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{590,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{590,250}}</string>
                <key>sourceSize</key>
                <string>{592,252}</string>
            </dict>
            <key>skill_head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,514},{484,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{484,208}}</string>
                <key>sourceSize</key>
                <string>{486,210}</string>
            </dict>
            <key>skill_head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{528,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{528,208}}</string>
                <key>sourceSize</key>
                <string>{530,210}</string>
            </dict>
            <key>skill_head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{592,258}}</string>
                <key>sourceSize</key>
                <string>{596,262}</string>
            </dict>
            <key>skill_head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{460,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{460,224}}</string>
                <key>sourceSize</key>
                <string>{460,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head1-5.png</string>
            <key>size</key>
            <string>{950,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02b662bfcf45b6ec65b31f807faead9:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head1-5.png</string>
        </dict>
    </dict>
</plist>
