<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,418},{538,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{538,220}}</string>
                <key>sourceSize</key>
                <string>{542,224}</string>
            </dict>
            <key>skill_head_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{482,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{482,228}}</string>
                <key>sourceSize</key>
                <string>{486,232}</string>
            </dict>
            <key>skill_head_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{456,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{456,218}}</string>
                <key>sourceSize</key>
                <string>{460,222}</string>
            </dict>
            <key>skill_head_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,640},{528,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{528,242}}</string>
                <key>sourceSize</key>
                <string>{532,246}</string>
            </dict>
            <key>skill_head_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{576,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{576,204}}</string>
                <key>sourceSize</key>
                <string>{580,208}</string>
            </dict>
            <key>skill_head_155.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,204},{292,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{292,212}}</string>
                <key>sourceSize</key>
                <string>{296,216}</string>
            </dict>
            <key>skill_head_156.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{232,192}}</string>
                <key>sourceSize</key>
                <string>{236,196}</string>
            </dict>
            <key>skill_head_157.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{566,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{566,200}}</string>
                <key>sourceSize</key>
                <string>{570,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head150-157.png</string>
            <key>size</key>
            <string>{1016,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa23d3b95e3084a12130590512cd0b6:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head150-157.png</string>
        </dict>
    </dict>
</plist>
