<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{324,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{324,192}}</string>
                <key>sourceSize</key>
                <string>{328,196}</string>
            </dict>
            <key>skill_head_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{596,240}}</string>
                <key>sourceSize</key>
                <string>{600,244}</string>
            </dict>
            <key>skill_head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{571,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{571,256}}</string>
                <key>sourceSize</key>
                <string>{575,260}</string>
            </dict>
            <key>skill_head_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{500,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{500,214}}</string>
                <key>sourceSize</key>
                <string>{504,218}</string>
            </dict>
            <key>skill_head_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{568,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{568,222}}</string>
                <key>sourceSize</key>
                <string>{572,226}</string>
            </dict>
            <key>skill_head_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,726},{424,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{424,210}}</string>
                <key>sourceSize</key>
                <string>{428,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head6-11.png</string>
            <key>size</key>
            <string>{942,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d14008f3f3e2692e4d859d799c16c359:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head6-11.png</string>
        </dict>
    </dict>
</plist>
