<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{350,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{350,256}}</string>
                <key>sourceSize</key>
                <string>{354,260}</string>
            </dict>
            <key>skill_head_169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{560,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{560,250}}</string>
                <key>sourceSize</key>
                <string>{564,254}</string>
            </dict>
            <key>skill_head_170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{598,242}}</string>
                <key>sourceSize</key>
                <string>{602,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head168-170.png</string>
            <key>size</key>
            <string>{756,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4890d2a3a20e26ac0af95cd91fee2c78:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head168-170.png</string>
        </dict>
    </dict>
</plist>
