<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{526,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{526,236}}</string>
                <key>sourceSize</key>
                <string>{530,240}</string>
            </dict>
            <key>skill_head_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{370,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{370,244}}</string>
                <key>sourceSize</key>
                <string>{374,248}</string>
            </dict>
            <key>skill_head_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{594,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{594,202}}</string>
                <key>sourceSize</key>
                <string>{598,206}</string>
            </dict>
            <key>skill_head_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,640},{272,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{272,170}}</string>
                <key>sourceSize</key>
                <string>{276,174}</string>
            </dict>
            <key>skill_head_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{458,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{458,220}}</string>
                <key>sourceSize</key>
                <string>{462,224}</string>
            </dict>
            <key>skill_head_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,666},{232,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{232,204}}</string>
                <key>sourceSize</key>
                <string>{236,208}</string>
            </dict>
            <key>skill_head_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{514,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{514,220}}</string>
                <key>sourceSize</key>
                <string>{518,224}</string>
            </dict>
            <key>skill_head_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,248},{394,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{394,194}}</string>
                <key>sourceSize</key>
                <string>{398,198}</string>
            </dict>
            <key>skill_head_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,444},{444,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{444,194}}</string>
                <key>sourceSize</key>
                <string>{448,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head31-39.png</string>
            <key>size</key>
            <string>{970,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b757d3ab7af09b0ba13754d99c954d8c:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head31-39.png</string>
        </dict>
    </dict>
</plist>
