<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{372,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{372,204}}</string>
                <key>sourceSize</key>
                <string>{376,208}</string>
            </dict>
            <key>skill_head_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,998},{314,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{314,190}}</string>
                <key>sourceSize</key>
                <string>{318,194}</string>
            </dict>
            <key>skill_head_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,572},{152,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{152,194}}</string>
                <key>sourceSize</key>
                <string>{156,198}</string>
            </dict>
            <key>skill_head_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{440,402}}</string>
                <key>offset</key>
                <string>{-100,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{440,402}}</string>
                <key>sourceSize</key>
                <string>{640,470}</string>
            </dict>
            <key>skill_head_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,444}}</string>
                <key>offset</key>
                <string>{-65,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{510,444}}</string>
                <key>sourceSize</key>
                <string>{640,470}</string>
            </dict>
            <key>skill_head_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,818},{394,414}}</string>
                <key>offset</key>
                <string>{-123,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{394,414}}</string>
                <key>sourceSize</key>
                <string>{640,470}</string>
            </dict>
            <key>skill_head_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{480,370}}</string>
                <key>offset</key>
                <string>{-80,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,67},{480,370}}</string>
                <key>sourceSize</key>
                <string>{640,470}</string>
            </dict>
            <key>skill_head_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{432,432}}</string>
                <key>offset</key>
                <string>{-104,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{432,432}}</string>
                <key>sourceSize</key>
                <string>{640,470}</string>
            </dict>
            <key>skill_head_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1190},{232,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{232,172}}</string>
                <key>sourceSize</key>
                <string>{236,176}</string>
            </dict>
            <key>skill_head_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,400},{236,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{236,170}}</string>
                <key>sourceSize</key>
                <string>{240,174}</string>
            </dict>
            <key>skill_head_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,808},{334,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{334,188}}</string>
                <key>sourceSize</key>
                <string>{338,192}</string>
            </dict>
            <key>skill_head_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,208},{278,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{278,190}}</string>
                <key>sourceSize</key>
                <string>{282,194}</string>
            </dict>
            <key>skill_head_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,612},{434,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{434,204}}</string>
                <key>sourceSize</key>
                <string>{438,208}</string>
            </dict>
            <key>skill_head_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,998},{192,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{192,180}}</string>
                <key>sourceSize</key>
                <string>{196,184}</string>
            </dict>
            <key>skill_head_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,612},{336,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{336,194}}</string>
                <key>sourceSize</key>
                <string>{340,198}</string>
            </dict>
            <key>skill_head_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,374},{550,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{550,236}}</string>
                <key>sourceSize</key>
                <string>{554,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head52-84.png</string>
            <key>size</key>
            <string>{1370,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2abfbfc080895c36f33bb701fd329ea8:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head52-84.png</string>
        </dict>
    </dict>
</plist>
