<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{566,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{566,204}}</string>
                <key>sourceSize</key>
                <string>{570,208}</string>
            </dict>
            <key>skill_head_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{512,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{512,258}}</string>
                <key>sourceSize</key>
                <string>{516,262}</string>
            </dict>
            <key>skill_head_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{598,264}}</string>
                <key>sourceSize</key>
                <string>{602,268}</string>
            </dict>
            <key>skill_head_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,488},{452,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{452,200}}</string>
                <key>sourceSize</key>
                <string>{456,204}</string>
            </dict>
            <key>skill_head_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{588,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{588,218}}</string>
                <key>sourceSize</key>
                <string>{592,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head85-89.png</string>
            <key>size</key>
            <string>{970,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc9f5bf740c34b9e912c33ad4dac6e60:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head85-89.png</string>
        </dict>
    </dict>
</plist>
