<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,112},{60,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>friend_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,78},{60,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>friend_deleteModel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>friend_friendFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,40}}</string>
                <key>sourceSize</key>
                <string>{324,44}</string>
            </dict>
            <key>friend_friendRequest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>friend_manage.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,146},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,34}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>friend_search_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,26}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>friend_sendModel.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,182},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,26}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>mail_messageBox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{228,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,46}}</string>
                <key>sourceSize</key>
                <string>{230,48}</string>
            </dict>
            <key>mail_messageBox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{228,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,46}}</string>
                <key>sourceSize</key>
                <string>{230,48}</string>
            </dict>
            <key>mail_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,44},{90,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,32}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>mail_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,140},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,34}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgfriendmaillayer.png</string>
            <key>size</key>
            <string>{328,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89e23fd21afb1103e310ad9dab0edd22:1/1$</string>
            <key>textureFileName</key>
            <string>sgfriendmaillayer.png</string>
        </dict>
    </dict>
</plist>
