<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1075.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,740},{166,206}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{166,206}}</string>
                <key>sourceSize</key>
                <string>{208,206}</string>
            </dict>
            <key>officer_1076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{250,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,242}}</string>
                <key>sourceSize</key>
                <string>{250,242}</string>
            </dict>
            <key>officer_1077.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{252,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,226}}</string>
                <key>sourceSize</key>
                <string>{252,226}</string>
            </dict>
            <key>officer_1078.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,708},{188,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,206}}</string>
                <key>sourceSize</key>
                <string>{188,206}</string>
            </dict>
            <key>officer_1079.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,496},{166,226}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,226}}</string>
                <key>sourceSize</key>
                <string>{178,226}</string>
            </dict>
            <key>officer_1080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{176,204}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{176,204}}</string>
                <key>sourceSize</key>
                <string>{202,204}</string>
            </dict>
            <key>officer_1081.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,264},{208,230}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{228,230}</string>
            </dict>
            <key>officer_1082.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,508},{160,230}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,230}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>officer_1083.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,742},{162,192}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{234,210}</string>
            </dict>
            <key>officer_1084.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,724},{154,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,208}}</string>
                <key>sourceSize</key>
                <string>{156,208}</string>
            </dict>
            <key>officer_1085.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,496},{166,226}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,226}}</string>
                <key>sourceSize</key>
                <string>{178,226}</string>
            </dict>
            <key>officer_1086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{176,204}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{176,204}}</string>
                <key>sourceSize</key>
                <string>{202,204}</string>
            </dict>
            <key>officer_1087.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,742},{162,192}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{234,210}</string>
            </dict>
            <key>officer_1088.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,724},{154,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,208}}</string>
                <key>sourceSize</key>
                <string>{156,208}</string>
            </dict>
            <key>officer_1089.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,264},{214,222}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,222}}</string>
                <key>sourceSize</key>
                <string>{258,222}</string>
            </dict>
            <key>officer_1090.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,488},{196,218}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,218}}</string>
                <key>sourceSize</key>
                <string>{210,218}</string>
            </dict>
            <key>officer_1091.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,742},{162,192}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{234,210}</string>
            </dict>
            <key>officer_1092.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,724},{154,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,208}}</string>
                <key>sourceSize</key>
                <string>{156,208}</string>
            </dict>
            <key>officer_1093.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,264},{214,222}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,222}}</string>
                <key>sourceSize</key>
                <string>{258,222}</string>
            </dict>
            <key>officer_1094.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,488},{196,218}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,218}}</string>
                <key>sourceSize</key>
                <string>{210,218}</string>
            </dict>
            <key>officer_1095.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,264},{208,230}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{228,230}</string>
            </dict>
            <key>officer_1096.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,508},{160,230}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,230}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>officer_1097.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,264},{208,230}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{228,230}</string>
            </dict>
            <key>officer_1098.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,508},{160,230}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,230}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>officer_1099.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,742},{162,192}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{234,210}</string>
            </dict>
            <key>officer_1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,724},{154,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,208}}</string>
                <key>sourceSize</key>
                <string>{156,208}</string>
            </dict>
            <key>officer_1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{210,232}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{210,232}}</string>
                <key>sourceSize</key>
                <string>{216,232}</string>
            </dict>
            <key>officer_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,264},{214,222}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,222}}</string>
                <key>sourceSize</key>
                <string>{258,222}</string>
            </dict>
            <key>officer_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{194,216}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,216}}</string>
                <key>sourceSize</key>
                <string>{208,216}</string>
            </dict>
            <key>officer_1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,230},{218,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{220,216}</string>
            </dict>
            <key>officer_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,448},{170,210}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{214,210}</string>
            </dict>
            <key>officer_1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,740},{166,206}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{166,206}}</string>
                <key>sourceSize</key>
                <string>{208,206}</string>
            </dict>
            <key>officer_1110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{494,260}}</string>
                <key>sourceSize</key>
                <string>{496,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1075-1110.png</string>
            <key>size</key>
            <string>{949,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d64d1f4c75860b5fd0f5f5895ab37df:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1075-1110.png</string>
        </dict>
    </dict>
</plist>
