<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1166.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,752},{246,246}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,246}}</string>
                <key>sourceSize</key>
                <string>{272,246}</string>
            </dict>
            <key>officer_1174.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,496},{318,254}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{318,254}}</string>
                <key>sourceSize</key>
                <string>{350,254}</string>
            </dict>
            <key>officer_1182.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,720},{198,234}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{198,234}}</string>
                <key>sourceSize</key>
                <string>{208,234}</string>
            </dict>
            <key>officer_1190.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,752},{244,244}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{252,244}</string>
            </dict>
            <key>officer_1198.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{334,254}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,254}}</string>
                <key>sourceSize</key>
                <string>{340,254}</string>
            </dict>
            <key>officer_1206.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,496},{228,222}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{228,222}}</string>
                <key>sourceSize</key>
                <string>{236,222}</string>
            </dict>
            <key>officer_1214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{246,230}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,230}}</string>
                <key>sourceSize</key>
                <string>{306,230}</string>
            </dict>
            <key>officer_1222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{304,244}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,244}}</string>
                <key>sourceSize</key>
                <string>{336,244}</string>
            </dict>
            <key>officer_1342.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,250},{440,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,244}}</string>
                <key>sourceSize</key>
                <string>{440,244}</string>
            </dict>
            <key>officer_1343.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{466,246}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,246}}</string>
                <key>sourceSize</key>
                <string>{496,246}</string>
            </dict>
            <key>officer_1344.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,264}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,264}}</string>
                <key>sourceSize</key>
                <string>{528,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1166-1344.png</string>
            <key>size</key>
            <string>{1002,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f6e25e8d973342fc4af41cd9c5e922c:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1166-1344.png</string>
        </dict>
    </dict>
</plist>
