<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1037.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,258},{420,254}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{420,254}}</string>
                <key>sourceSize</key>
                <string>{424,254}</string>
            </dict>
            <key>officer_1038.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,770},{345,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,254}}</string>
                <key>sourceSize</key>
                <string>{345,254}</string>
            </dict>
            <key>officer_1039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{470,246}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{470,246}}</string>
                <key>sourceSize</key>
                <string>{478,246}</string>
            </dict>
            <key>officer_1040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{347,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,250}}</string>
                <key>sourceSize</key>
                <string>{347,250}</string>
            </dict>
            <key>officer_1041.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{449,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,254}}</string>
                <key>sourceSize</key>
                <string>{449,254}</string>
            </dict>
            <key>officer_1042.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{282,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,246}}</string>
                <key>sourceSize</key>
                <string>{282,246}</string>
            </dict>
            <key>officer_1043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,436}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,6},{274,436}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1044.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,514},{362,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,254}}</string>
                <key>sourceSize</key>
                <string>{362,254}</string>
            </dict>
            <key>officer_1045.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,514},{223,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,228}}</string>
                <key>sourceSize</key>
                <string>{223,228}</string>
            </dict>
            <key>officer_1046.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,250},{158,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,218}}</string>
                <key>sourceSize</key>
                <string>{158,218}</string>
            </dict>
            <key>officer_1047.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,770},{337,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,216}}</string>
                <key>sourceSize</key>
                <string>{337,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1037-1047.png</string>
            <key>size</key>
            <string>{1063,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:600f68cc2f3f79549bfd1d98fcda75fe:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1037-1047.png</string>
        </dict>
    </dict>
</plist>
