<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1048.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,244},{198,224}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,224}}</string>
                <key>sourceSize</key>
                <string>{230,224}</string>
            </dict>
            <key>officer_1049.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,876},{342,240}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{342,240}}</string>
                <key>sourceSize</key>
                <string>{386,240}</string>
            </dict>
            <key>officer_1050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{574,378}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,63},{574,378}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1051.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{310,240}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,240}}</string>
                <key>sourceSize</key>
                <string>{322,240}</string>
            </dict>
            <key>officer_1052.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,470},{226,220}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,220}}</string>
                <key>sourceSize</key>
                <string>{250,220}</string>
            </dict>
            <key>officer_1053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{370,236}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{370,236}}</string>
                <key>sourceSize</key>
                <string>{412,236}</string>
            </dict>
            <key>officer_1054.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,876},{322,230}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{322,230}}</string>
                <key>sourceSize</key>
                <string>{354,230}</string>
            </dict>
            <key>officer_1055.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,618},{358,256}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,256}}</string>
                <key>sourceSize</key>
                <string>{394,256}</string>
            </dict>
            <key>officer_1056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,400}}</string>
                <key>offset</key>
                <string>{32,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,50},{444,400}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1057.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,354},{348,262}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{348,262}}</string>
                <key>sourceSize</key>
                <string>{384,262}</string>
            </dict>
            <key>officer_1058.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{392,350}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,78},{392,350}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1048-1058.png</string>
            <key>size</key>
            <string>{1166,1166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7f2cd98e35a46d89ca0c49ab4efaef8:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1048-1058.png</string>
        </dict>
    </dict>
</plist>
