<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{372,234}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{372,234}}</string>
                <key>sourceSize</key>
                <string>{378,234}</string>
            </dict>
            <key>officer_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,734},{292,238}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{292,238}}</string>
                <key>sourceSize</key>
                <string>{310,238}</string>
            </dict>
            <key>officer_1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{360,264}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{360,264}}</string>
                <key>sourceSize</key>
                <string>{438,270}</string>
            </dict>
            <key>officer_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,492},{240,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{244,240}</string>
            </dict>
            <key>officer_1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,238},{348,252}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,252}}</string>
                <key>sourceSize</key>
                <string>{354,252}</string>
            </dict>
            <key>officer_1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,774},{288,234}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,234}}</string>
                <key>sourceSize</key>
                <string>{308,234}</string>
            </dict>
            <key>officer_1033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,258}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{472,258}}</string>
                <key>sourceSize</key>
                <string>{498,258}</string>
            </dict>
            <key>officer_1034.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,512},{314,260}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{314,260}}</string>
                <key>sourceSize</key>
                <string>{328,260}</string>
            </dict>
            <key>officer_1035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{458,248}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,248}}</string>
                <key>sourceSize</key>
                <string>{484,248}</string>
            </dict>
            <key>officer_1036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{258,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,228}}</string>
                <key>sourceSize</key>
                <string>{258,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1027-1036.png</string>
            <key>size</key>
            <string>{1010,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52b009b7c96d34dea2d1179d7040ba1c:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1027-1036.png</string>
        </dict>
    </dict>
</plist>
