<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1736.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{448,252}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{448,252}}</string>
                <key>sourceSize</key>
                <string>{450,252}</string>
            </dict>
            <key>officer_1740.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,792},{356,256}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{356,256}}</string>
                <key>sourceSize</key>
                <string>{366,256}</string>
            </dict>
            <key>officer_1744.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,280},{426,256}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,256}}</string>
                <key>sourceSize</key>
                <string>{442,256}</string>
            </dict>
            <key>officer_1748.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,442}}</string>
                <key>offset</key>
                <string>{51,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,22},{486,442}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1752.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,538},{430,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,252}}</string>
                <key>sourceSize</key>
                <string>{430,252}</string>
            </dict>
            <key>officer_1753.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{446,234}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{446,234}}</string>
                <key>sourceSize</key>
                <string>{464,264}</string>
            </dict>
            <key>officer_1754.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{412,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,276}}</string>
                <key>sourceSize</key>
                <string>{412,276}</string>
            </dict>
            <key>officer_1755.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{434,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,250}}</string>
                <key>sourceSize</key>
                <string>{434,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1736-1755.png</string>
            <key>size</key>
            <string>{1188,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40fcf5c2542f090b86077aa3324892dc:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1736-1755.png</string>
        </dict>
    </dict>
</plist>
