<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1345.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,278},{438,248}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{438,248}}</string>
                <key>sourceSize</key>
                <string>{444,248}</string>
            </dict>
            <key>officer_1708.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,784},{410,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,254}}</string>
                <key>sourceSize</key>
                <string>{412,254}</string>
            </dict>
            <key>officer_1712.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{472,274}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{472,274}}</string>
                <key>sourceSize</key>
                <string>{476,274}</string>
            </dict>
            <key>officer_1716.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{376,256}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{376,256}}</string>
                <key>sourceSize</key>
                <string>{390,256}</string>
            </dict>
            <key>officer_1720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,258}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{486,258}}</string>
                <key>sourceSize</key>
                <string>{486,266}</string>
            </dict>
            <key>officer_1724.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{422,256}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{422,256}}</string>
                <key>sourceSize</key>
                <string>{434,256}</string>
            </dict>
            <key>officer_1728.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{458,262}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,262}}</string>
                <key>sourceSize</key>
                <string>{466,262}</string>
            </dict>
            <key>officer_1732.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,528},{408,248}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{408,248}}</string>
                <key>sourceSize</key>
                <string>{416,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1345-1732.png</string>
            <key>size</key>
            <string>{1042,1042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ab1a3a626696838078a04507937112:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1345-1732.png</string>
        </dict>
    </dict>
</plist>
