<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,406},{374,390}}</string>
                <key>offset</key>
                <string>{-37,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,60},{374,390}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{340,388}}</string>
                <key>offset</key>
                <string>{-27,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,53},{340,388}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{244,382}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,60},{244,382}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,402}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,32},{302,402}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,386},{234,350}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,86},{234,350}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{266,394}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,40},{266,394}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1008-1013.png</string>
            <key>size</key>
            <string>{906,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca426d4492d26856fae406b83e34d28f:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1008-1013.png</string>
        </dict>
    </dict>
</plist>
