<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,262},{416,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,256}}</string>
                <key>sourceSize</key>
                <string>{420,256}</string>
            </dict>
            <key>officer_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{322,238}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,238}}</string>
                <key>sourceSize</key>
                <string>{342,238}</string>
            </dict>
            <key>officer_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{440,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,248}}</string>
                <key>sourceSize</key>
                <string>{440,248}</string>
            </dict>
            <key>officer_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,770},{286,242}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,242}}</string>
                <key>sourceSize</key>
                <string>{290,242}</string>
            </dict>
            <key>officer_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,254}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,254}}</string>
                <key>sourceSize</key>
                <string>{480,254}</string>
            </dict>
            <key>officer_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,520},{250,244}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{250,244}}</string>
                <key>sourceSize</key>
                <string>{256,248}</string>
            </dict>
            <key>officer_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{426,258}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{426,258}}</string>
                <key>sourceSize</key>
                <string>{432,258}</string>
            </dict>
            <key>officer_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,770},{358,252}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{358,252}}</string>
                <key>sourceSize</key>
                <string>{366,252}</string>
            </dict>
            <key>officer_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,520},{378,248}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,248}}</string>
                <key>sourceSize</key>
                <string>{384,248}</string>
            </dict>
            <key>officer_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{368,286}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,133},{368,286}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1017-1026.png</string>
            <key>size</key>
            <string>{1036,1036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de0623f230e3bd9606343b53185b1a6e:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1017-1026.png</string>
        </dict>
    </dict>
</plist>
