<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1059.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,690},{302,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,248}}</string>
                <key>sourceSize</key>
                <string>{302,248}</string>
            </dict>
            <key>officer_1060.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,690},{212,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,244}}</string>
                <key>sourceSize</key>
                <string>{212,244}</string>
            </dict>
            <key>officer_1061.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,450},{266,238}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{266,238}}</string>
                <key>sourceSize</key>
                <string>{290,238}</string>
            </dict>
            <key>officer_1062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{242,240}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{242,240}}</string>
                <key>sourceSize</key>
                <string>{250,240}</string>
            </dict>
            <key>officer_1063.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{190,224}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{190,224}}</string>
                <key>sourceSize</key>
                <string>{202,224}</string>
            </dict>
            <key>officer_1064.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,690},{230,246}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,246}}</string>
                <key>sourceSize</key>
                <string>{236,246}</string>
            </dict>
            <key>officer_1065.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,222},{220,226}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{220,226}}</string>
                <key>sourceSize</key>
                <string>{244,226}</string>
            </dict>
            <key>officer_1066.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{226,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{226,216}}</string>
                <key>sourceSize</key>
                <string>{228,216}</string>
            </dict>
            <key>officer_1067.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,456},{338,232}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,232}}</string>
                <key>sourceSize</key>
                <string>{344,232}</string>
            </dict>
            <key>officer_1068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{194,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,222}}</string>
                <key>sourceSize</key>
                <string>{194,222}</string>
            </dict>
            <key>officer_1069.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{178,216}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{178,216}}</string>
                <key>sourceSize</key>
                <string>{186,216}</string>
            </dict>
            <key>officer_1070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{304,230}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{304,230}}</string>
                <key>sourceSize</key>
                <string>{310,230}</string>
            </dict>
            <key>officer_1071.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,228},{284,226}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,226}}</string>
                <key>sourceSize</key>
                <string>{310,226}</string>
            </dict>
            <key>officer_1072.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,220},{176,224}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{176,224}}</string>
                <key>sourceSize</key>
                <string>{202,224}</string>
            </dict>
            <key>officer_1073.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{218,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{222,218}</string>
            </dict>
            <key>officer_1074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,214}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,214}}</string>
                <key>sourceSize</key>
                <string>{218,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1059-1074.png</string>
            <key>size</key>
            <string>{996,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb04100b6cf763b1250db6659e36a2f5:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1059-1074.png</string>
        </dict>
    </dict>
</plist>
