<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{510,238}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,238}}</string>
                <key>sourceSize</key>
                <string>{518,238}</string>
            </dict>
            <key>officer_1112.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,768},{396,244}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,244}}</string>
                <key>sourceSize</key>
                <string>{418,244}</string>
            </dict>
            <key>officer_1113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,258}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{496,258}}</string>
                <key>sourceSize</key>
                <string>{512,258}</string>
            </dict>
            <key>officer_1114.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,514},{476,252}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{476,252}}</string>
                <key>sourceSize</key>
                <string>{492,252}</string>
            </dict>
            <key>officer_1115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{478,254}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{478,254}}</string>
                <key>sourceSize</key>
                <string>{482,260}</string>
            </dict>
            <key>officer_1116.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{490,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{490,250}}</string>
                <key>sourceSize</key>
                <string>{492,250}</string>
            </dict>
            <key>officer_1117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{432,252}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,252}}</string>
                <key>sourceSize</key>
                <string>{462,252}</string>
            </dict>
            <key>officer_1118.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,254},{218,224}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,224}}</string>
                <key>sourceSize</key>
                <string>{222,224}</string>
            </dict>
            <key>officer_1119.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,254},{232,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,258}}</string>
                <key>sourceSize</key>
                <string>{232,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1111-1119.png</string>
            <key>size</key>
            <string>{1014,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23295c9b996f70ec90b2937f2f1c329f:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1111-1119.png</string>
        </dict>
    </dict>
</plist>
