<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1401.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,782},{266,236}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,236}}</string>
                <key>sourceSize</key>
                <string>{294,236}</string>
            </dict>
            <key>officer_1402.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,250},{320,248}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{320,248}}</string>
                <key>sourceSize</key>
                <string>{372,248}</string>
            </dict>
            <key>officer_1403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,236}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,236}}</string>
                <key>sourceSize</key>
                <string>{496,236}</string>
            </dict>
            <key>officer_1404.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,782},{168,236}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{168,236}}</string>
                <key>sourceSize</key>
                <string>{172,236}</string>
            </dict>
            <key>officer_1405.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,250},{276,240}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,240}}</string>
                <key>sourceSize</key>
                <string>{308,240}</string>
            </dict>
            <key>officer_1406.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,528},{314,252}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,252}}</string>
                <key>sourceSize</key>
                <string>{324,252}</string>
            </dict>
            <key>officer_1407.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,734},{194,234}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,234}}</string>
                <key>sourceSize</key>
                <string>{210,234}</string>
            </dict>
            <key>officer_1408.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,492},{288,240}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,240}}</string>
                <key>sourceSize</key>
                <string>{332,240}</string>
            </dict>
            <key>officer_1409.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{428,246}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,246}}</string>
                <key>sourceSize</key>
                <string>{456,246}</string>
            </dict>
            <key>officer_1410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{294,294}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,294}}</string>
                <key>sourceSize</key>
                <string>{324,298}</string>
            </dict>
            <key>officer_1411.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{404,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,286}}</string>
                <key>sourceSize</key>
                <string>{404,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1401-1411.png</string>
            <key>size</key>
            <string>{1020,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:285dcd81de90bd6701aad24dca78d951:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1401-1411.png</string>
        </dict>
    </dict>
</plist>
