<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jing_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,349},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>officer_developing_emptypoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,439},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{26,24}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>officer_developing_info_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{605,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,345}}</string>
                <key>sourceSize</key>
                <string>{605,345}</string>
            </dict>
            <key>officer_developing_solidpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>pei_yang_dan_small_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pu_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>qian_li_jiu_small_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgDevelopingOfficerLayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61485d61e6cb37aca8c780400f407e3c:1/1$</string>
            <key>textureFileName</key>
            <string>sgDevelopingOfficerLayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
