<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sgem_camel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>sgem_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,533},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>sgem_painting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,529}}</string>
                <key>sourceSize</key>
                <string>{586,529}</string>
            </dict>
            <key>sgem_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,533},{128,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,40}}</string>
                <key>sourceSize</key>
                <string>{128,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgexoticmerchantlayer.png</string>
            <key>size</key>
            <string>{590,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e091fd4b6c04ee8b929b6729f175bf:1/1$</string>
            <key>textureFileName</key>
            <string>sgexoticmerchantlayer.png</string>
        </dict>
    </dict>
</plist>
