<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>10001</key>
		<dict>
			<key>plotId</key>
			<string>10001</string>
			<key>beanId</key>
			<string>plot/10001</string>
			<key>sectionIndex</key>
			<string>10001</string>
			<key>spotIndex</key>
			<string>1</string>
			<key>sectionName</key>
			<string>財源滾滾</string>
			<key>storyName</key>
			<string>難度壹</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>540</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10002</key>
		<dict>
			<key>plotId</key>
			<string>10002</string>
			<key>beanId</key>
			<string>plot/10002</string>
			<key>sectionIndex</key>
			<string>10001</string>
			<key>spotIndex</key>
			<string>2</string>
			<key>sectionName</key>
			<string>財源滾滾</string>
			<key>storyName</key>
			<string>難度貳</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>640</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10003</key>
		<dict>
			<key>plotId</key>
			<string>10003</string>
			<key>beanId</key>
			<string>plot/10003</string>
			<key>sectionIndex</key>
			<string>10001</string>
			<key>spotIndex</key>
			<string>3</string>
			<key>sectionName</key>
			<string>財源滾滾</string>
			<key>storyName</key>
			<string>難度叁</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>740</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10004</key>
		<dict>
			<key>plotId</key>
			<string>10004</string>
			<key>beanId</key>
			<string>plot/10004</string>
			<key>sectionIndex</key>
			<string>10001</string>
			<key>spotIndex</key>
			<string>4</string>
			<key>sectionName</key>
			<string>財源滾滾</string>
			<key>storyName</key>
			<string>難度肆</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>1000</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10005</key>
		<dict>
			<key>plotId</key>
			<string>10005</string>
			<key>beanId</key>
			<string>plot/10005</string>
			<key>sectionIndex</key>
			<string>10001</string>
			<key>spotIndex</key>
			<string>5</string>
			<key>sectionName</key>
			<string>財源滾滾</string>
			<key>storyName</key>
			<string>難度伍</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>1500</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10006</key>
		<dict>
			<key>plotId</key>
			<string>10006</string>
			<key>beanId</key>
			<string>plot/10006</string>
			<key>sectionIndex</key>
			<string>10001</string>
			<key>spotIndex</key>
			<string>6</string>
			<key>sectionName</key>
			<string>財源滾滾</string>
			<key>storyName</key>
			<string>難度陸</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>2300</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10007</key>
		<dict>
			<key>plotId</key>
			<string>10007</string>
			<key>beanId</key>
			<string>plot/10007</string>
			<key>sectionIndex</key>
			<string>10002</string>
			<key>spotIndex</key>
			<string>1</string>
			<key>sectionName</key>
			<string>武將歷練</string>
			<key>storyName</key>
			<string>難度壹</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>540</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10008</key>
		<dict>
			<key>plotId</key>
			<string>10008</string>
			<key>beanId</key>
			<string>plot/10008</string>
			<key>sectionIndex</key>
			<string>10002</string>
			<key>spotIndex</key>
			<string>2</string>
			<key>sectionName</key>
			<string>武將歷練</string>
			<key>storyName</key>
			<string>難度貳</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>640</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10009</key>
		<dict>
			<key>plotId</key>
			<string>10009</string>
			<key>beanId</key>
			<string>plot/10009</string>
			<key>sectionIndex</key>
			<string>10002</string>
			<key>spotIndex</key>
			<string>3</string>
			<key>sectionName</key>
			<string>武將歷練</string>
			<key>storyName</key>
			<string>難度叁</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>740</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10010</key>
		<dict>
			<key>plotId</key>
			<string>10010</string>
			<key>beanId</key>
			<string>plot/10010</string>
			<key>sectionIndex</key>
			<string>10002</string>
			<key>spotIndex</key>
			<string>4</string>
			<key>sectionName</key>
			<string>武將歷練</string>
			<key>storyName</key>
			<string>難度肆</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>1000</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10011</key>
		<dict>
			<key>plotId</key>
			<string>10011</string>
			<key>beanId</key>
			<string>plot/10011</string>
			<key>sectionIndex</key>
			<string>10002</string>
			<key>spotIndex</key>
			<string>5</string>
			<key>sectionName</key>
			<string>武將歷練</string>
			<key>storyName</key>
			<string>難度伍</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>1500</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10012</key>
		<dict>
			<key>plotId</key>
			<string>10012</string>
			<key>beanId</key>
			<string>plot/10012</string>
			<key>sectionIndex</key>
			<string>10002</string>
			<key>spotIndex</key>
			<string>6</string>
			<key>sectionName</key>
			<string>武將歷練</string>
			<key>storyName</key>
			<string>難度陸</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>2300</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10013</key>
		<dict>
			<key>plotId</key>
			<string>10013</string>
			<key>beanId</key>
			<string>plot/10013</string>
			<key>sectionIndex</key>
			<string>10003</string>
			<key>spotIndex</key>
			<string>1</string>
			<key>sectionName</key>
			<string>兵士秘寶</string>
			<key>storyName</key>
			<string>難度壹</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>540</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10014</key>
		<dict>
			<key>plotId</key>
			<string>10014</string>
			<key>beanId</key>
			<string>plot/10014</string>
			<key>sectionIndex</key>
			<string>10003</string>
			<key>spotIndex</key>
			<string>2</string>
			<key>sectionName</key>
			<string>兵士秘寶</string>
			<key>storyName</key>
			<string>難度貳</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>640</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10015</key>
		<dict>
			<key>plotId</key>
			<string>10015</string>
			<key>beanId</key>
			<string>plot/10015</string>
			<key>sectionIndex</key>
			<string>10003</string>
			<key>spotIndex</key>
			<string>3</string>
			<key>sectionName</key>
			<string>兵士秘寶</string>
			<key>storyName</key>
			<string>難度叁</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>740</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10016</key>
		<dict>
			<key>plotId</key>
			<string>10016</string>
			<key>beanId</key>
			<string>plot/10016</string>
			<key>sectionIndex</key>
			<string>10003</string>
			<key>spotIndex</key>
			<string>4</string>
			<key>sectionName</key>
			<string>兵士秘寶</string>
			<key>storyName</key>
			<string>難度肆</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>1000</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10017</key>
		<dict>
			<key>plotId</key>
			<string>10017</string>
			<key>beanId</key>
			<string>plot/10017</string>
			<key>sectionIndex</key>
			<string>10003</string>
			<key>spotIndex</key>
			<string>5</string>
			<key>sectionName</key>
			<string>兵士秘寶</string>
			<key>storyName</key>
			<string>難度伍</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>1500</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10018</key>
		<dict>
			<key>plotId</key>
			<string>10018</string>
			<key>beanId</key>
			<string>plot/10018</string>
			<key>sectionIndex</key>
			<string>10003</string>
			<key>spotIndex</key>
			<string>6</string>
			<key>sectionName</key>
			<string>兵士秘寶</string>
			<key>storyName</key>
			<string>難度陸</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>2300</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10019</key>
		<dict>
			<key>plotId</key>
			<string>10019</string>
			<key>beanId</key>
			<string>plot/10019</string>
			<key>sectionIndex</key>
			<string>10004</string>
			<key>spotIndex</key>
			<string>1</string>
			<key>sectionName</key>
			<string>技能秘卷</string>
			<key>storyName</key>
			<string>蜀之秘卷</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>540</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10020</key>
		<dict>
			<key>plotId</key>
			<string>10020</string>
			<key>beanId</key>
			<string>plot/10020</string>
			<key>sectionIndex</key>
			<string>10004</string>
			<key>spotIndex</key>
			<string>2</string>
			<key>sectionName</key>
			<string>技能秘卷</string>
			<key>storyName</key>
			<string>魏之秘卷</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>540</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
		<key>10021</key>
		<dict>
			<key>plotId</key>
			<string>10021</string>
			<key>beanId</key>
			<string>plot/10021</string>
			<key>sectionIndex</key>
			<string>10004</string>
			<key>spotIndex</key>
			<string>3</string>
			<key>sectionName</key>
			<string>技能秘卷</string>
			<key>storyName</key>
			<string>吳之秘卷</string>
			<key>requestPower</key>
			<string>60</string>
			<key>coins</key>
			<string>540</string>
			<key>exp</key>
			<string>600</string>
			<key>maxCount</key>
			<string>2</string>
		</dict>
	</dict>
</plist>
