<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<dict>
			<key>modelId</key>
			<string>1</string>
			<key>modelType</key>
			<string>2</string>
			<key>from</key>
			<integer>111</integer>
			<key>modelMsg</key>
			<array/>
			<key>point</key>
			<string>{0,0}</string>
		</dict>
		<key>2</key>
		<dict>
			<key>modelId</key>
			<string>2</string>
			<key>modelType</key>
			<string>1</string>
			<key>from</key>
			<integer>117</integer>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array>
				<string>郭汜：呂布！你為了貂蟬，竟然兵臨董太師城下，好大的膽子！想造反嗎！</string>
				<string>李傕：哼哼，貂蟬已被我家董太師娶為小妾，這會兒估計已經入了洞房，你就死了這份心吧！</string>
			</array>
			<key>point</key>
			<string>{0,0}</string>
		</dict>
		<key>3</key>
		<dict>
			<key>modelId</key>
			<string>3</string>
			<key>modelType</key>
			<string>3</string>
			<key>from</key>
			<integer>112</integer>
			<key>modelMsg</key>
			<array/>
			<key>point</key>
			<string>{0,0}</string>
		</dict>
		<key>4</key>
		<dict>
			<key>modelId</key>
			<string>4</string>
			<key>modelType</key>
			<string>1</string>
			<key>from</key>
			<integer>117</integer>
			<key>pst</key>
			<integer>2</integer>
			<key>modelMsg</key>
			<array>
				<string>呂布：汝等鼠輩，也敢攔我！本將軍今日誓要奪回貂蟬！ </string>
				<string>呂布：側翼士兵，速速與我組成攻擊陣列，殺他個片甲不留！</string>
			</array>
			<key>point</key>
			<string>{0,0}</string>
		</dict>
		<key>5</key>
		<dict>
			<key>modelId</key>
			<string>5</string>
			<key>modelType</key>
			<string>4</string>
			<key>from</key>
			<integer>112</integer>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array/>
			<key>point</key>
			<string>{2,1}</string>
		</dict>
		<key>6</key>
		<dict>
			<key>modelId</key>
			<string>6</string>
			<key>modelType</key>
			<string>5</string>
			<key>from</key>
			<integer>113</integer>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array/>
			<key>point</key>
			<string>{2,3}</string>
		</dict>
		<key>7</key>
		<dict>
			<key>modelId</key>
			<string>7</string>
			<key>modelType</key>
			<string>4</string>
			<key>from</key>
			<integer>114</integer>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array/>
			<key>point</key>
			<string>{0,6}</string>
		</dict>
		<key>8</key>
		<dict>
			<key>modelId</key>
			<string>8</string>
			<key>modelType</key>
			<string>5</string>
			<key>from</key>
			<integer>113</integer>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array/>
			<key>point</key>
			<string>{2,4}</string>
		</dict>
		<key>9</key>
		<dict>
			<key>modelId</key>
			<string>9</string>
			<key>modelType</key>
			<string>1</string>
			<key>from</key>
			<string>114</string>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array>
				<string>郭汜：這..如此猛烈的氣勢…呂布好像要攻過來了！</string>
				<string>李傕：怕什麼，快組防禦陣列！</string>
			</array>
			<key>point</key>
			<string>{2,1}</string>
		</dict>
		<key>10</key>
		<dict>
			<key>modelId</key>
			<string>10</string>
			<key>modelType</key>
			<string>6</string>
			<key>from</key>
			<string>112</string>
			<key>pst</key>
			<integer>1</integer>
			<key>point</key>
			<string>{0,6}</string>
		</dict>
		<key>11</key>
		<dict>
			<key>modelId</key>
			<string>11</string>
			<key>modelType</key>
			<string>1</string>
			<key>from</key>
			<string>116</string>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array>
				<string>郭汜：啊！竟然連一回合都抵擋不住…快撤！</string>
				<string>李傕：可惡！呂布，你一介莽夫，斷斷是救不了貂蟬的！</string>
			</array>
			<key>point</key>
			<string>{0,0}</string>
		</dict>
		<key>12</key>
		<dict>
			<key>modelId</key>
			<string>12</string>
			<key>modelType</key>
			<string>15</string>
			<key>from</key>
			<string>112</string>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array>
				<string>呂布衝冠一怒誅殺董卓。</string>
				<string>天下大亂，群雄並起</string>
				<string>絕世美女---貂蟬</string>
				<string>卻在戰亂中不知所蹤</string>
				<string>屬於你的傳奇故事</string>
				<string>即將展開….</string>
				<string> </string>
				<string> </string>
			</array>
			<key>point</key>
			<string>{0,0}</string>
		</dict>
		<key>13</key>
		<dict>
			<key>modelId</key>
			<string>13</string>
			<key>modelType</key>
			<string>8</string>
			<key>from</key>
			<string>112</string>
			<key>pst</key>
			<integer>1</integer>
			<key>modelMsg</key>
			<array/>
			<key>point</key>
			<string>{0,0}</string>
		</dict>
	</dict>
</dict>
</plist>
