<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>主公，/#副本/#已经开啟，让奴家带您去看看吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>12</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array>
					<string>/#不同时间段/#会开放/#不同的副本/#，副本中会得到稀有的道具或者武将呦！</string>
					<string>想要变得更强大的话，主公一定要常来这裡呦！</string>
				</array>
				<key>modelType</key>
				<string>3</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
			</dict>
		</dict>
		<key>10</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>武将碎片！它们可以合成武将，下面让奴家為主公讲解如何合成武将吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>717</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>718</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string></string>
				</array>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array>
					<string>主公只要点击“召”就可以得到武将了！还希望以后主公多多收集碎片哦！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>6</key>
			<dict>
				<key>highlightTag</key>
				<string>719</string>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>18</string>
			</dict>
			<key>7</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array>
					<string>召唤成功！速速派遣该武将上阵吧</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>8</key>
			<dict>
				<key>highlightTag</key>
				<string>534</string>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
		</dict>
		<key>11</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜主公获得/#武将碎片/#，这是武将转生的必备材料！下面，让我们看看武将转生的步骤吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>10</key>
			<dict>
				<key>highlightTag</key>
				<string>516</string>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>512</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>523</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>514</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
			</dict>
			<key>6</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array>
					<string>集齐足够碎片后，可以/#转生对应武将/#。转生后的武将能力将得到/#大幅提升/#！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>7</key>
			<dict>
				<key>highlightTag</key>
				<string>515</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>8</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>17</string>
			</dict>
			<key>9</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array>
					<string>转生成功！武将能力得到极大提升，主公赶紧去收集/#更多的碎片/#吧！在武将页面可以查看/#碎片的来源/#哦。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
		</dict>
		<key>12</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜主公获得了/#黑铁锭/#，这是装备转生的必备材料哦！下面，就让我们来看看装备转生的步骤吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>10</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>转生成功！该装备能力得到极大提升，主公可以在/#闯关/#中收集到/#更多材料/#。</string>
					<string>在装备详情页面，主公可以查看转生材料的详细/#掉落来源/#。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>11</key>
			<dict>
				<key>highlightTag</key>
				<string>527</string>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>512</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>9</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>550</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
			</dict>
			<key>6</key>
			<dict>
				<key>highlightTag</key>
				<string>525</string>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
			</dict>
			<key>7</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array>
					<string>/#转生材料会在闯关中掉落/#，主公要注意收集哦！现在转生所需要材料已经备齐，可以开始转生了！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>8</key>
			<dict>
				<key>highlightTag</key>
				<string>526</string>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>9</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>17</string>
			</dict>
		</dict>
		<key>13</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>主公主公！/#士兵们/#在战斗中不断成长，掌握了全新的作战技巧-/#【连锁】/#与/#【融合】/#</string>
					<string>速速与我一起去战场中看看吧!</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
		</dict>
		<key>14</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>614</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array>
					<string>主公！探马来报，军营外发现一员/#赤面长髯大将/#，神威无比，不知是敌是友。</string>
					<string>让我陪主公一起去看看吧!</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
		</dict>
		<key>15</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>主公，有无数英雄加入到战国国乱世，可以选择与他们/#并肩作战/#。</string>
					<string>友军的主将可以/#多次出战/#，主公要善加利用哦！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
		</dict>
		<key>16</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>主公，我有个小小的请求，希望主公能够答应哦！</string>
					<string>相传有一个叫做/#首储礼包/#的宝物，主公可以陪我去看一看吗？</string>
					<string>据说裡面有/#超值的武器/#和/#强力的名将/#哟。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>617</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>首次储值/#双倍元宝/#（主公千万考虑好，/#只有首次储值/#是双倍元宝哦）另外还有/#超值礼包/#赠送。</string>
					<string>得此宝物，定使主公如虎添翼，一统中原指日可待呢！</string>
				</array>
				<key>modelType</key>
				<string>3</string>
			</dict>
		</dict>
		<key>18</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>新功能开啟！/#武将培养/#功能开啟了，让我陪主公去看看吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>512</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>612</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>当武将等级达到10级时，会获得用于培养的/#潜力点/#。点击/#培养/#按钮进入培养页面</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>6</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array>
					<string>/#武将培养/#可大幅提高武将能力，培养需要消耗武将/#潜力/#和/#培养丹/#，不同的培养方式需要消耗元宝或铜钱。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>7</key>
			<dict>
				<key>highlightTag</key>
				<string>613</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
			</dict>
			<key>8</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array>
					<string>下麵让我们来试试吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>9</key>
			<dict>
				<key>highlightTag</key>
				<string>614</string>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>10</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>每次培养会随机增加武将一项属性，主公可以选择是否进行保存。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>11</key>
			<dict>
				<key>highlightTag</key>
				<string>21</string>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
			</dict>
			<key>12</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>12</string>
				<key>modelMsg</key>
				<array>
					<string>点击/#保存/#按钮可完成本次培养。/#注意/#：如果选择放弃，会返还武将潜力点，但铜钱或元宝及培养丹不会返还。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>13</key>
			<dict>
				<key>highlightTag</key>
				<string>616</string>
				<key>modelId</key>
				<string>13</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>14</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>14</string>
				<key>modelMsg</key>
				<array>
					<string>培养成功，武将属性得到了强化！</string>
					<string>培养需要的/#培养丹/#可以在/#竞技场/#中获得，下面，请主公和奴家一起来看看吧。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>15</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>15</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>16</key>
			<dict>
				<key>highlightTag</key>
				<string>32</string>
				<key>modelId</key>
				<string>16</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
			</dict>
			<key>17</key>
			<dict>
				<key>highlightTag</key>
				<string>618</string>
				<key>modelId</key>
				<string>17</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>18</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>18</string>
				<key>modelMsg</key>
				<array>
					<string>这裡就是竞技场了！主公可以在这裡挑战其他队伍，获胜后会提升排名！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>19</key>
			<dict>
				<key>highlightTag</key>
				<string>619</string>
				<key>modelId</key>
				<string>19</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
			</dict>
			<key>20</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>20</string>
				<key>modelMsg</key>
				<array>
					<string>排名越高，获得的奖励越丰富。排名奖励/#每半小时/#发放一次。奖励可以累积，但是/#不能超过上限/#。</string>
					<string>接下来，让我们来试一试吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>21</key>
			<dict>
				<key>highlightTag</key>
				<string>620</string>
				<key>modelId</key>
				<string>21</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>18</string>
			</dict>
		</dict>
		<key>17</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>新功能开啟！极具挑战的/#幻境/#功能开啟前了，让貂蝉陪主公去看看吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>217</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>/#幻境/#挑战限时开放，需要使用/#特定武将/#方可进入，其奖励也是极為丰富的哦。</string>
					<string>/#幻境/#每日挑战次数有限，/#战败不会扣减次数/#，良心设计有没有！</string>
				</array>
				<key>modelType</key>
				<string>3</string>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜主公，现在/#精英副本/#已经开啟了，就让奴家带您去瞭解/#精英副本/#吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>502</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>23</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>6</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>主公，在/#精英副本/#会產出/#武将碎片/#，集齐一定数量的碎片就可以/#合成指定的强力武将/#呦！</string>
				</array>
				<key>modelType</key>
				<string>3</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>主公，/#天梯/#已经开啟了，让奴家带您去看看吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>32</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>320</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>/#天梯/#中遭遇的对手可都是/#真实的主公/#，主公一定不能大意。</string>
					<string>/#天梯/#会获得/#天梯积分/#，可以用於兑换各种强力武将和道具。一定要多多参加哟。</string>
				</array>
				<key>modelType</key>
				<string>3</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
			</dict>
		</dict>
		<key>4</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>主公，/#守荆州/#已经开啟了，让奴家带您去瞭解一下吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>42</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array>
					<string>点击/#开始守城/#即可进入战斗。战斗中获得的/#军魂/#可在荆州军需库换取/#极品装备/#呦！</string>
					<string>守荆州每日会根据各位主公的/#通关层数/#和/#伤害总量/#进行排名，排名靠前的主公们会获得/#高额的元宝奖励/#哟。</string>
				</array>
				<key>modelType</key>
				<string>3</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
			</dict>
		</dict>
		<key>5</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>主公，/#讨魔/#已经开啟了，让奴家带您去瞭解一下吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>52</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array>
					<string>/#讨魔/#每天限时开放，开放时，主公点击/#参战/#就可以挑战魔神啦！</string>
					<string>参加/#讨魔/#，可以获得/#讨魔勋章/#。</string>
					<string>/#讨魔勋章/#可用於/#夺宝/#，主公的伤害越高，获得的/#讨魔勋章/#就越多。</string>
				</array>
				<key>modelType</key>
				<string>3</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
			</dict>
		</dict>
		<key>6</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜主公，您已经获得了一件十分强大的/#装备/#，现在让奴家来告诉你怎麼让这件装备发挥作用吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>10</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>强化成功，主公赶紧到/#闯关/#中体验一下它的强大吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>11</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>12</key>
			<dict>
				<key>highlightTag</key>
				<string>502</string>
				<key>modelId</key>
				<string>12</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>13</key>
			<dict>
				<key>highlightTag</key>
				<string>508</string>
				<key>modelId</key>
				<string>13</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>13</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>13</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>49</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array>
					<string>就是这样，装备就自动穿上了!下面让奴家来告诉您怎麼强化装备吧!</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>6</key>
			<dict>
				<key>highlightTag</key>
				<string>9</string>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>7</key>
			<dict>
				<key>highlightTag</key>
				<string>79</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
			</dict>
			<key>8</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array>
					<string>点击自动强化即可升级装备哦!</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>9</key>
			<dict>
				<key>highlightTag</key>
				<string>12</string>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜主公！竟然得到了黄金宝箱！奴家偷偷的告诉主公，宝箱裡面可都是好东西哦！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>72</string>
				<key>modelId</key>
				<string>72</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>73</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>13</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>还请主公记得，开啟包箱时可是需要钥匙的哦～</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>5</string>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜主公获得/#主将技卷轴/#！下面就让奴家為主公讲解其中的奥妙吧！</string>
					<string>副本模式下获得的/#技能卷轴/#，可用於提升武将的/#技能/#等级。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>10</key>
			<dict>
				<key>highlightTag</key>
				<string>502</string>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>11</key>
			<dict>
				<key>highlightTag</key>
				<string>508</string>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>13</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>612</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>11</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>83</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>12</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>84</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>13</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>12</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>6</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array>
					<string>选择好要添加的材料，点击/#确定/#即可完成技能的强化。技能升级后，属性会得到大幅度的提升哟！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>7</key>
			<dict>
				<key>highlightTag</key>
				<string>516</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>8</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array>
					<string>强化成功！技能等级提高了，每个武将都有/#主将计/#与/#被动技/#，需要分别强化。</string>
					<string>接下来，让我们到战斗中感受一下强化后技能的强大能力吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>9</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>1</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜主公获得了/#兵魂卡/#，兵魂卡可以用来强化士兵，下面让奴家為主公讲解如何使用吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>10</key>
			<dict>
				<key>highlightTag</key>
				<string>502</string>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>11</key>
			<dict>
				<key>highlightTag</key>
				<string>508</string>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>13</string>
			</dict>
			<key>2</key>
			<dict>
				<key>highlightTag</key>
				<string>612</string>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>11</string>
			</dict>
			<key>3</key>
			<dict>
				<key>highlightTag</key>
				<string>93</string>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>12</string>
			</dict>
			<key>4</key>
			<dict>
				<key>highlightTag</key>
				<string>94</string>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>14</string>
			</dict>
			<key>5</key>
			<dict>
				<key>highlightTag</key>
				<string>12</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
			</dict>
			<key>6</key>
			<dict>
				<key>highlightTag</key>
				<string>0</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array>
					<string>选择好要添加的材料，点击/#确定/#即可完成士兵的强化。士兵升级后，属性会得到相应的提升哟！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>7</key>
			<dict>
				<key>highlightTag</key>
				<string>516</string>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
			</dict>
			<key>8</key>
			<dict>
				<key>highlightTag</key>
				<string>1</string>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array>
					<string>强化成功！士兵等级提高了，不同顏色的士兵需要/#分别强化/#哦。</string>
					<string>/#士兵技能等级/#会随著士兵等级提升而提升，所以主公一定要儘量提高士兵的等级哦。</string>
					<string>接下来，让我们到战斗中感受一下强化后士兵的能力吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
			</dict>
			<key>9</key>
			<dict>
				<key>highlightTag</key>
				<string>511</string>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
