<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>itemId</key>
			<string>1</string>
			<key>name</key>
			<string>小經驗丹</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>1000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得1000經驗.蜀國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>1</string>
			<key>propsMeng</key>
			<string>吃一顆通常不解饞.</string>
		</dict>
		<key>2</key>
		<dict>
			<key>itemId</key>
			<string>2</string>
			<key>name</key>
			<string>中經驗丹</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>3000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得3000經驗.蜀國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>2</string>
			<key>propsMeng</key>
			<string>餐後來兩粒,身體倍兒棒.</string>
		</dict>
		<key>3</key>
		<dict>
			<key>itemId</key>
			<string>3</string>
			<key>name</key>
			<string>大經驗丹</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>10000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得10000經驗.蜀國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>3</string>
			<key>propsMeng</key>
			<string>嗑這麼大個的“藥”,你怎麼了？</string>
		</dict>
		<key>4</key>
		<dict>
			<key>itemId</key>
			<string>4</string>
			<key>name</key>
			<string>小經驗丹</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>1000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得1000經驗.魏國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>4</string>
			<key>propsMeng</key>
			<string>吃一顆通常不解饞.</string>
		</dict>
		<key>5</key>
		<dict>
			<key>itemId</key>
			<string>5</string>
			<key>name</key>
			<string>中經驗丹</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>3000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得3000經驗.魏國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>5</string>
			<key>propsMeng</key>
			<string>餐後來兩粒,身體倍兒棒.</string>
		</dict>
		<key>6</key>
		<dict>
			<key>itemId</key>
			<string>6</string>
			<key>name</key>
			<string>大經驗丹</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>10000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得10000經驗.魏國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>6</string>
			<key>propsMeng</key>
			<string>嗑這麼大個的“藥”,你怎麼了？</string>
		</dict>
		<key>7</key>
		<dict>
			<key>itemId</key>
			<string>7</string>
			<key>name</key>
			<string>小經驗丹</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>1000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得1000經驗.吳國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>7</string>
			<key>propsMeng</key>
			<string>吃一顆通常不解饞.</string>
		</dict>
		<key>8</key>
		<dict>
			<key>itemId</key>
			<string>8</string>
			<key>name</key>
			<string>中經驗丹</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>3000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得3000經驗.吳國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>8</string>
			<key>propsMeng</key>
			<string>餐後來兩粒,身體倍兒棒.</string>
		</dict>
		<key>9</key>
		<dict>
			<key>itemId</key>
			<string>9</string>
			<key>name</key>
			<string>大經驗丹</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>10000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得10000經驗.吳國武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>9</string>
			<key>propsMeng</key>
			<string>嗑這麼大個的“藥”,你怎麼了？</string>
		</dict>
		<key>13</key>
		<dict>
			<key>itemId</key>
			<string>13</string>
			<key>name</key>
			<string>微量兵魂</string>
			<key>currStarLevel</key>
			<string>1</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>40</string>
			<key>propsType</key>
			<string>3</string>
			<key>propsInfo</key>
			<string>用來強化士兵,使士兵獲得40經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>13</string>
			<key>propsMeng</key>
			<string>仿佛聽見嚶嚶的哭泣聲…</string>
		</dict>
		<key>14</key>
		<dict>
			<key>itemId</key>
			<string>14</string>
			<key>name</key>
			<string>少量兵魂</string>
			<key>currStarLevel</key>
			<string>2</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>3</string>
			<key>propsInfo</key>
			<string>用來強化士兵,使士兵獲得200經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>14</string>
			<key>propsMeng</key>
			<string>靠近點,再靠近點…</string>
		</dict>
		<key>15</key>
		<dict>
			<key>itemId</key>
			<string>15</string>
			<key>name</key>
			<string>中量兵魂</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>1000</string>
			<key>propsType</key>
			<string>3</string>
			<key>propsInfo</key>
			<string>用來強化士兵,使士兵獲得1000經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>15</string>
			<key>propsMeng</key>
			<string>我冷,這是在哪裡？</string>
		</dict>
		<key>16</key>
		<dict>
			<key>itemId</key>
			<string>16</string>
			<key>name</key>
			<string>大量兵魂</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>5000</string>
			<key>propsType</key>
			<string>3</string>
			<key>propsInfo</key>
			<string>用來強化士兵,使士兵獲得5000經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>16</string>
			<key>propsMeng</key>
			<string>聽,有號角聲….</string>
		</dict>
		<key>17</key>
		<dict>
			<key>itemId</key>
			<string>17</string>
			<key>name</key>
			<string>超量兵魂</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>25000</string>
			<key>propsType</key>
			<string>3</string>
			<key>propsInfo</key>
			<string>用來強化士兵,使士兵獲得25000經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>17</string>
			<key>propsMeng</key>
			<string>擠死了,要爆啦</string>
		</dict>
		<key>18</key>
		<dict>
			<key>itemId</key>
			<string>18</string>
			<key>name</key>
			<string>海量兵魂</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>125000</string>
			<key>propsType</key>
			<string>3</string>
			<key>propsInfo</key>
			<string>用來強化士兵,使士兵獲得125000經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>18</string>
			<key>propsMeng</key>
			<string>讓你知道什麼叫黑洞</string>
		</dict>
		<key>107</key>
		<dict>
			<key>itemId</key>
			<string>107</string>
			<key>name</key>
			<string>小經驗丹</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>1000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得1000經驗.群英武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>107</string>
			<key>propsMeng</key>
			<string>吃一顆通常不解饞.</string>
		</dict>
		<key>108</key>
		<dict>
			<key>itemId</key>
			<string>108</string>
			<key>name</key>
			<string>中經驗丹</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>3000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得3000經驗.群英武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>108</string>
			<key>propsMeng</key>
			<string>餐後來兩粒,身體倍兒棒.</string>
		</dict>
		<key>109</key>
		<dict>
			<key>itemId</key>
			<string>109</string>
			<key>name</key>
			<string>大經驗丹</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>10000</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得10000經驗.群英武將使用可獲得額外經驗獎勵.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>109</string>
			<key>propsMeng</key>
			<string>嗑這麼大個的“藥”,你怎麼了？</string>
		</dict>
		<key>110</key>
		<dict>
			<key>itemId</key>
			<string>110</string>
			<key>name</key>
			<string>經驗石</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>2</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得100經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>51</string>
			<key>propsMeng</key>
			<string>又拿石頭冒充乾糧了,哎…</string>
		</dict>
		<key>111</key>
		<dict>
			<key>itemId</key>
			<string>111</string>
			<key>name</key>
			<string>大經驗石</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>500</string>
			<key>propsType</key>
			<string>1</string>
			<key>propsInfo</key>
			<string>用來強化武將,使武將獲得500經驗.</string>
			<key>type</key>
			<string>7</string>
			<key>iconId</key>
			<string>52</string>
			<key>propsMeng</key>
			<string>我們確定這乾糧絕對沒石頭硬--三國後勤部</string>
		</dict>
		<key>400</key>
		<dict>
			<key>itemId</key>
			<string>400</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>蜀國初級被動技卷軸,用來強化武將被動技能,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>快使用雙截棍,哼哼哈嘿…</string>
		</dict>
		<key>401</key>
		<dict>
			<key>itemId</key>
			<string>401</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>蜀國中級被動技卷軸,用來強化武將被動技能,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>九陰真經,五兩一本…</string>
		</dict>
		<key>402</key>
		<dict>
			<key>itemId</key>
			<string>402</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>蜀國高級被動技卷軸,用來強化武將被動技能,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>聞雞起舞兮,早晨好冷…</string>
		</dict>
		<key>403</key>
		<dict>
			<key>itemId</key>
			<string>403</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>蜀國傳說被動技卷軸,用來強化武將被動技能,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>意念殺人,從來都不是傳說…</string>
		</dict>
		<key>404</key>
		<dict>
			<key>itemId</key>
			<string>404</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>魏國初級被動技卷軸,用來強化武將被動技能,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>快使用雙截棍,哼哼哈嘿…</string>
		</dict>
		<key>405</key>
		<dict>
			<key>itemId</key>
			<string>405</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>魏國中級被動技卷軸,用來強化武將被動技能,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>九陰真經,五兩一本…</string>
		</dict>
		<key>406</key>
		<dict>
			<key>itemId</key>
			<string>406</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>魏國高級被動技卷軸,用來強化武將被動技能,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>聞雞起舞兮,早晨好冷…</string>
		</dict>
		<key>407</key>
		<dict>
			<key>itemId</key>
			<string>407</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>魏國傳說被動技卷軸,用來強化武將被動技能,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>意念殺人,從來都不是傳說…</string>
		</dict>
		<key>408</key>
		<dict>
			<key>itemId</key>
			<string>408</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>吳國初級被動技卷軸,用來強化武將被動技能,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>快使用雙截棍,哼哼哈嘿…</string>
		</dict>
		<key>409</key>
		<dict>
			<key>itemId</key>
			<string>409</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>吳國中級被動技卷軸,用來強化武將被動技能,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>九陰真經,五兩一本…</string>
		</dict>
		<key>410</key>
		<dict>
			<key>itemId</key>
			<string>410</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>吳國高級被動技卷軸,用來強化武將被動技能,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>聞雞起舞兮,早晨好冷…</string>
		</dict>
		<key>411</key>
		<dict>
			<key>itemId</key>
			<string>411</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>吳國傳說被動技卷軸,用來強化武將被動技能,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>意念殺人,從來都不是傳說…</string>
		</dict>
		<key>412</key>
		<dict>
			<key>itemId</key>
			<string>412</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>群英初級被動技卷軸,用來強化武將被動技能,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>快使用雙截棍,哼哼哈嘿…</string>
		</dict>
		<key>413</key>
		<dict>
			<key>itemId</key>
			<string>413</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>群英中級被動技卷軸,用來強化武將被動技能,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>九陰真經,五兩一本…</string>
		</dict>
		<key>414</key>
		<dict>
			<key>itemId</key>
			<string>414</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>群英高級被動技卷軸,用來強化武將被動技能,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>聞雞起舞兮,早晨好冷…</string>
		</dict>
		<key>415</key>
		<dict>
			<key>itemId</key>
			<string>415</string>
			<key>name</key>
			<string>被動技卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>4</string>
			<key>propsInfo</key>
			<string>群英傳說被動技卷軸,用來強化武將被動技能,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>13</string>
			<key>iconId</key>
			<string>46</string>
			<key>propsMeng</key>
			<string>意念殺人,從來都不是傳說…</string>
		</dict>
		<key>500</key>
		<dict>
			<key>itemId</key>
			<string>500</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>蜀國初級主將技卷軸,用來強化武將主將計,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>讀書破萬卷,方能人上人.反正我信了…</string>
		</dict>
		<key>501</key>
		<dict>
			<key>itemId</key>
			<string>501</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>蜀國中級主將技卷軸,用來強化武將主將計,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>馬謖這個騙子,坑死洒家了…</string>
		</dict>
		<key>502</key>
		<dict>
			<key>itemId</key>
			<string>502</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>蜀國高級主將技卷軸,用來強化武將主將計,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>四十萬趙軍換來了這本書,你一定要珍惜,噗…</string>
		</dict>
		<key>503</key>
		<dict>
			<key>itemId</key>
			<string>503</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>1</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>蜀國傳說主將技卷軸,用來強化武將主將計,蜀國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>武林至尊,寶刀屠龍,武穆遺書,誰買？</string>
		</dict>
		<key>504</key>
		<dict>
			<key>itemId</key>
			<string>504</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>魏國初級主將技卷軸,用來強化武將主將計,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>讀書破萬卷,方能人上人.反正我信了…</string>
		</dict>
		<key>505</key>
		<dict>
			<key>itemId</key>
			<string>505</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>魏國中級主將技卷軸,用來強化武將主將計,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>馬謖這個騙子,坑死洒家了…</string>
		</dict>
		<key>506</key>
		<dict>
			<key>itemId</key>
			<string>506</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>魏國高級主將技卷軸,用來強化武將主將計,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>四十萬趙軍換來了這本書,你一定要珍惜,噗…</string>
		</dict>
		<key>507</key>
		<dict>
			<key>itemId</key>
			<string>507</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>2</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>魏國傳說主將技卷軸,用來強化武將主將計,魏國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>武林至尊,寶刀屠龍,武穆遺書,誰買？</string>
		</dict>
		<key>508</key>
		<dict>
			<key>itemId</key>
			<string>508</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>吳國初級主將技卷軸,用來強化武將主將計,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>讀書破萬卷,方能人上人.反正我信了…</string>
		</dict>
		<key>509</key>
		<dict>
			<key>itemId</key>
			<string>509</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>吳國中級主將技卷軸,用來強化武將主將計,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>馬謖這個騙子,坑死洒家了…</string>
		</dict>
		<key>510</key>
		<dict>
			<key>itemId</key>
			<string>510</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>吳國高級主將技卷軸,用來強化武將主將計,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>四十萬趙軍換來了這本書,你一定要珍惜,噗…</string>
		</dict>
		<key>511</key>
		<dict>
			<key>itemId</key>
			<string>511</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>3</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>吳國傳說主將技卷軸,用來強化武將主將計,吳國武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>武林至尊,寶刀屠龍,武穆遺書,誰買？</string>
		</dict>
		<key>512</key>
		<dict>
			<key>itemId</key>
			<string>512</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>3</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>50</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>群英初級主將技卷軸,用來強化武將主將計,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>讀書破萬卷,方能人上人.反正我信了…</string>
		</dict>
		<key>513</key>
		<dict>
			<key>itemId</key>
			<string>513</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>4</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>100</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>群英中級主將技卷軸,用來強化武將主將計,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>馬謖這個騙子,坑死洒家了…</string>
		</dict>
		<key>514</key>
		<dict>
			<key>itemId</key>
			<string>514</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>5</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>200</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>群英高級主將技卷軸,用來強化武將主將計,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>四十萬趙軍換來了這本書,你一定要珍惜,噗…</string>
		</dict>
		<key>515</key>
		<dict>
			<key>itemId</key>
			<string>515</string>
			<key>name</key>
			<string>主將計卷軸</string>
			<key>country</key>
			<string>4</string>
			<key>currStarLevel</key>
			<string>6</string>
			<key>sell</key>
			<string>0</string>
			<key>value</key>
			<string>400</string>
			<key>propsType</key>
			<string>5</string>
			<key>propsInfo</key>
			<string>群英傳說主將技卷軸,用來強化武將主將計,群英武將使用可獲得額外經驗獎勵,</string>
			<key>type</key>
			<string>14</string>
			<key>iconId</key>
			<string>93</string>
			<key>propsMeng</key>
			<string>武林至尊,寶刀屠龍,武穆遺書,誰買？</string>
		</dict>
	</dict>
</plist>
