<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>tip1</key>
		<dict>
			<key>tip</key>
			<string>tip1</string>
			<key>info</key>
			<string>武將速度總和較高的一方，可以在戰鬥中先行動。</string>
		</dict>
		<key>tip2</key>
		<dict>
			<key>tip</key>
			<string>tip2</string>
			<key>info</key>
			<string>獲得額外的行動力可以縮減“發動主將技”的等待時間。</string>
		</dict>
		<key>tip3</key>
		<dict>
			<key>tip</key>
			<string>tip3</string>
			<key>info</key>
			<string>未組成佇列的武將，最懼怕僅需蓄力1回合即攻擊的小兵。</string>
		</dict>
		<key>tip4</key>
		<dict>
			<key>tip</key>
			<string>tip4</string>
			<key>info</key>
			<string>未組成陣列的武將，很容易被擊潰。</string>
		</dict>
		<key>tip5</key>
		<dict>
			<key>tip</key>
			<string>tip5</string>
			<key>info</key>
			<string>友軍主將可以多次被召喚上場。</string>
		</dict>
		<key>tip6</key>
		<dict>
			<key>tip</key>
			<string>tip6</string>
			<key>info</key>
			<string>士兵也可以與武將進行連鎖，提升武將攻擊力。</string>
		</dict>
		<key>tip7</key>
		<dict>
			<key>tip</key>
			<string>tip7</string>
			<key>info</key>
			<string>連鎖和融合是遊戲中非常重要的玩法。</string>
		</dict>
		<key>tip8</key>
		<dict>
			<key>tip</key>
			<string>tip8</string>
			<key>info</key>
			<string>我方武將會按照設定的上場順序出場。</string>
		</dict>
		<key>tip9</key>
		<dict>
			<key>tip</key>
			<string>tip9</string>
			<key>info</key>
			<string>被擊敗或完成攻擊的士兵，會變為援軍。</string>
		</dict>
		<key>tip10</key>
		<dict>
			<key>tip</key>
			<string>tip10</string>
			<key>info</key>
			<string>呼出援軍也需要消耗一點行動力。</string>
		</dict>
		<key>tip11</key>
		<dict>
			<key>tip</key>
			<string>tip11</string>
			<key>info</key>
			<string>角色升級後可以派遣更多的武將上場。</string>
		</dict>
		<key>tip12</key>
		<dict>
			<key>tip</key>
			<string>tip12</string>
			<key>info</key>
			<string>武將升級和穿戴裝備後，可以提升攻防屬性。</string>
		</dict>
		<key>tip13</key>
		<dict>
			<key>tip</key>
			<string>tip13</string>
			<key>info</key>
			<string>選擇適宜武將組合進行作戰可以提高勝算。</string>
		</dict>
		<key>tip14</key>
		<dict>
			<key>tip</key>
			<string>tip14</string>
			<key>info</key>
			<string>防禦陣列也可以進行融合。</string>
		</dict>
		<key>tip15</key>
		<dict>
			<key>tip</key>
			<string>tip15</string>
			<key>info</key>
			<string>攻擊陣列可以進行多次連鎖。</string>
		</dict>
		<key>tip16</key>
		<dict>
			<key>tip</key>
			<string>tip16</string>
			<key>info</key>
			<string>按住士兵或武將2秒可以消除他們。</string>
		</dict>
		<key>tip17</key>
		<dict>
			<key>tip</key>
			<string>tip17</string>
			<key>info</key>
			<string>總血量為0的一方視為戰敗。</string>
		</dict>
		<key>tip18</key>
		<dict>
			<key>tip</key>
			<string>tip18</string>
			<key>info</key>
			<string>消耗1點行動力進行多次連鎖可以獲得行動力獎勵。</string>
		</dict>
		<key>tip19</key>
		<dict>
			<key>tip</key>
			<string>tip19</string>
			<key>info</key>
			<string>戰場中，只能移動最末尾的士兵或武將。</string>
		</dict>
		<key>tip20</key>
		<dict>
			<key>tip</key>
			<string>tip20</string>
			<key>info</key>
			<string>PVP中，雙方的行動都必須在規定的時間內完成。</string>
		</dict>
		<key>tip21</key>
		<dict>
			<key>tip</key>
			<string>tip21</string>
			<key>info</key>
			<string>獲得了完勝評價的關卡，可以通過“掃蕩”直接取得獎勵。</string>
		</dict>
		<key>tip22</key>
		<dict>
			<key>tip</key>
			<string>tip22</string>
			<key>info</key>
			<string>章節中全部戰鬥都滿星評價，則此章節可領取章節獎勵。</string>
		</dict>
		<key>tip23</key>
		<dict>
			<key>tip</key>
			<string>tip23</string>
			<key>info</key>
			<string>損失士氣越少，過關後獲得的星級評價越高。</string>
		</dict>
		<key>tip24</key>
		<dict>
			<key>tip</key>
			<string>tip24</string>
			<key>info</key>
			<string>武將、士兵以及裝備等級都不能超過主公等級。</string>
		</dict>
		<key>tip25</key>
		<dict>
			<key>tip</key>
			<string>tip25</string>
			<key>info</key>
			<string>天梯對戰中，必須在行動3回合後才能投降。</string>
		</dict>
		<key>tip26</key>
		<dict>
			<key>tip</key>
			<string>tip26</string>
			<key>info</key>
			<string>討魔戰鬥裡獲得的勳章可用於銅雀台尋寶。</string>
		</dict>
		<key>tip27</key>
		<dict>
			<key>tip</key>
			<string>tip27</string>
			<key>info</key>
			<string>每天20點-23點是天梯三倍聲望時間，千萬不要錯過。</string>
		</dict>
		<key>tip28</key>
		<dict>
			<key>tip</key>
			<string>tip28</string>
			<key>info</key>
			<string>闖關掉落的武將碎片是武將的重要來源之一。</string>
		</dict>
		<key>tip29</key>
		<dict>
			<key>tip</key>
			<string>tip29</string>
			<key>info</key>
			<string>轉生可使武將獲得大量屬性提升。</string>
		</dict>
		<key>tip30</key>
		<dict>
			<key>tip</key>
			<string>tip30</string>
			<key>info</key>
			<string>合理利用武將緣分可以使團隊實力得到提升。</string>
		</dict>
		<key>tip31</key>
		<dict>
			<key>tip</key>
			<string>tip31</string>
			<key>info</key>
			<string>每個國家都有自己的特性，請善加利用。</string>
		</dict>
		<key>tip32</key>
		<dict>
			<key>tip</key>
			<string>tip32</string>
			<key>info</key>
			<string>某些武將的技能可以達到扭轉戰局的效果。</string>
		</dict>
		<key>tip33</key>
		<dict>
			<key>tip</key>
			<string>tip33</string>
			<key>info</key>
			<string>精英副本只要通關一次就可以進行掃蕩了。</string>
		</dict>
		<key>tip34</key>
		<dict>
			<key>tip</key>
			<string>tip34</string>
			<key>info</key>
			<string>十連探會有額外的優惠。</string>
		</dict>
		<key>tip35</key>
		<dict>
			<key>tip</key>
			<string>tip35</string>
			<key>info</key>
			<string>附件尚未領取的郵件不能被刪除。</string>
		</dict>
		<key>tip36</key>
		<dict>
			<key>tip</key>
			<string>tip36</string>
			<key>info</key>
			<string>闖關掃蕩次數每天淩晨4點會重置。</string>
		</dict>
		<key>tip37</key>
		<dict>
			<key>tip</key>
			<string>tip37</string>
			<key>info</key>
			<string>精英闖關次數每天淩晨4點會重置。</string>
		</dict>
		<key>tip38</key>
		<dict>
			<key>tip</key>
			<string>tip38</string>
			<key>info</key>
			<string>連續祭祀達到一定天數，可獲得珍貴獎勵。</string>
		</dict>
		<key>tip39</key>
		<dict>
			<key>tip</key>
			<string>tip39</string>
			<key>info</key>
			<string>祭祀中斷後，連續天數會清空。</string>
		</dict>
		<key>tip40</key>
		<dict>
			<key>tip</key>
			<string>tip40</string>
			<key>info</key>
			<string>完成每日任務可獲得元寶獎勵。</string>
		</dict>
		<key>tip41</key>
		<dict>
			<key>tip</key>
			<string>tip41</string>
			<key>info</key>
			<string>軍功探訪有可能獲得高星武將碎片。</string>
		</dict>
		<key>tip42</key>
		<dict>
			<key>tip</key>
			<string>tip42</string>
			<key>info</key>
			<string>普通與精英副本掉落的武將碎片是一一對應的。</string>
		</dict>
		<key>tip43</key>
		<dict>
			<key>tip</key>
			<string>tip43</string>
			<key>info</key>
			<string>【副本】中會產出大量的銅錢、經驗丹及技能卷軸。</string>
		</dict>
		<key>tip44</key>
		<dict>
			<key>tip</key>
			<string>tip44</string>
			<key>info</key>
			<string>技能在戰鬥中有可能產生出其不意的效果。</string>
		</dict>
		<key>tip45</key>
		<dict>
			<key>tip</key>
			<string>tip45</string>
			<key>info</key>
			<string>主公每天都可以給自己的好友贈送體力</string>
		</dict>
		<key>tip46</key>
		<dict>
			<key>tip</key>
			<string>tip46</string>
			<key>info</key>
			<string>主公可以通過系統中的投訴建議功能與客服取得聯繫。</string>
		</dict>
		<key>tip47</key>
		<dict>
			<key>tip</key>
			<string>tip47</string>
			<key>info</key>
			<string>背包上限是可以擴充的</string>
		</dict>
		<key>tip48</key>
		<dict>
			<key>tip</key>
			<string>tip48</string>
			<key>info</key>
			<string>碎片不會佔用背包空間</string>
		</dict>
		<key>tip49</key>
		<dict>
			<key>tip</key>
			<string>tip49</string>
			<key>info</key>
			<string>對戰中的每日獎勵絕對不能錯過</string>
		</dict>
	</dict>
</plist>
