<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>groupName</key>
			<string>劇情任務</string>
			<key>tabId</key>
			<string>1</string>
			<key>initQuestId</key>
			<string>202301</string>
		</dict>
		<key>2</key>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>groupName</key>
			<string>強化任務</string>
			<key>tabId</key>
			<string>1</string>
			<key>initQuestId</key>
			<string>401</string>
		</dict>
		<key>3</key>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>groupName</key>
			<string>活動任務</string>
			<key>tabId</key>
			<string>1</string>
			<key>initQuestId</key>
			<string>1401,1201,1301</string>
		</dict>
		<key>4</key>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>groupName</key>
			<string>其他任務</string>
			<key>tabId</key>
			<string>1</string>
			<key>initQuestId</key>
			<string>1501</string>
		</dict>
	</dict>
</plist>
