<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>FileId</key>
			<string>1</string>
			<key>allTime</key>
			<string>1.333</string>
			<key>effTime</key>
			<string>0.700</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>3</string>
			<key>flyId</key>
			<string>1</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
		<key>2</key>
		<dict>
			<key>FileId</key>
			<string>2</string>
			<key>allTime</key>
			<string>1.333</string>
			<key>effTime</key>
			<string>0.700</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>3</string>
			<key>flyId</key>
			<string>1</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
		<key>3</key>
		<dict>
			<key>FileId</key>
			<string>3</string>
			<key>allTime</key>
			<string>1.333</string>
			<key>effTime</key>
			<string>0.800</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>3</string>
			<key>flyId</key>
			<string>1</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
		<key>104</key>
		<dict>
			<key>FileId</key>
			<string>104</string>
			<key>allTime</key>
			<string>1.667</string>
			<key>effTime</key>
			<string>0.700</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>3</string>
			<key>flyId</key>
			<string>1</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
		<key>112</key>
		<dict>
			<key>FileId</key>
			<string>112</string>
			<key>allTime</key>
			<string>1.833</string>
			<key>effTime</key>
			<string>1</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>3</string>
			<key>flyId</key>
			<string>1</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
		<key>103</key>
		<dict>
			<key>FileId</key>
			<string>103</string>
			<key>allTime</key>
			<string>1.833</string>
			<key>effTime</key>
			<string>1</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>3</string>
			<key>flyId</key>
			<string>1</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
		<key>108</key>
		<dict>
			<key>FileId</key>
			<string>108</string>
			<key>allTime</key>
			<string>1.833</string>
			<key>effTime</key>
			<string>1</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>3</string>
			<key>flyId</key>
			<string>1</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
		<key>101</key>
		<dict>
			<key>FileId</key>
			<string>101</string>
			<key>allTime</key>
			<string>1.667</string>
			<key>effTime</key>
			<string>1.300</string>
			<key>wallEffId</key>
			<string>1</string>
			<key>bottomEffId</key>
			<string>101</string>
			<key>flyId</key>
			<string>101</string>
			<key>flyPosX</key>
			<string>0</string>
			<key>flyPosY</key>
			<string>0</string>
		</dict>
	</dict>
</plist>
