<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1006</key>
		<dict>
			<key>id</key>
			<string>1006</string>
			<key>areaId</key>
			<string>1</string>
		</dict>
		<key>1014</key>
		<dict>
			<key>id</key>
			<string>1014</string>
			<key>areaId</key>
			<string>2</string>
		</dict>
		<key>1022</key>
		<dict>
			<key>id</key>
			<string>1022</string>
			<key>areaId</key>
			<string>3</string>
		</dict>
		<key>1030</key>
		<dict>
			<key>id</key>
			<string>1030</string>
			<key>areaId</key>
			<string>4</string>
		</dict>
		<key>1038</key>
		<dict>
			<key>id</key>
			<string>1038</string>
			<key>areaId</key>
			<string>5</string>
		</dict>
		<key>1050</key>
		<dict>
			<key>id</key>
			<string>1050</string>
			<key>areaId</key>
			<string>6</string>
		</dict>
		<key>1062</key>
		<dict>
			<key>id</key>
			<string>1062</string>
			<key>areaId</key>
			<string>7</string>
		</dict>
		<key>1074</key>
		<dict>
			<key>id</key>
			<string>1074</string>
			<key>areaId</key>
			<string>8</string>
		</dict>
		<key>1086</key>
		<dict>
			<key>id</key>
			<string>1086</string>
			<key>areaId</key>
			<string>9</string>
		</dict>
		<key>1098</key>
		<dict>
			<key>id</key>
			<string>1098</string>
			<key>areaId</key>
			<string>10</string>
		</dict>
		<key>1110</key>
		<dict>
			<key>id</key>
			<string>1110</string>
			<key>areaId</key>
			<string>11</string>
		</dict>
		<key>1122</key>
		<dict>
			<key>id</key>
			<string>1122</string>
			<key>areaId</key>
			<string>12</string>
		</dict>
		<key>1134</key>
		<dict>
			<key>id</key>
			<string>1134</string>
			<key>areaId</key>
			<string>13</string>
		</dict>
		<key>1146</key>
		<dict>
			<key>id</key>
			<string>1146</string>
			<key>areaId</key>
			<string>14</string>
		</dict>
		<key>1158</key>
		<dict>
			<key>id</key>
			<string>1158</string>
			<key>areaId</key>
			<string>15</string>
		</dict>
		<key>1170</key>
		<dict>
			<key>id</key>
			<string>1170</string>
			<key>areaId</key>
			<string>16</string>
		</dict>
	</dict>
</plist>
