<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>30000</key>
		<dict>
			<key>id</key>
			<string>30000</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>1</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的50%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30001</string>
			<key>beanId</key>
			<string>sk/30000</string>
			<key>clientLevel</key>
			<string>1</string>
		</dict>
		<key>30001</key>
		<dict>
			<key>id</key>
			<string>30001</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>2</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的51%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30002</string>
			<key>beanId</key>
			<string>sk/30001</string>
			<key>clientLevel</key>
			<string>2</string>
		</dict>
		<key>30002</key>
		<dict>
			<key>id</key>
			<string>30002</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>3</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的52%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30003</string>
			<key>beanId</key>
			<string>sk/30002</string>
			<key>clientLevel</key>
			<string>3</string>
		</dict>
		<key>30003</key>
		<dict>
			<key>id</key>
			<string>30003</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>4</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的53%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30004</string>
			<key>beanId</key>
			<string>sk/30003</string>
			<key>clientLevel</key>
			<string>4</string>
		</dict>
		<key>30004</key>
		<dict>
			<key>id</key>
			<string>30004</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>5</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的54%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30005</string>
			<key>beanId</key>
			<string>sk/30004</string>
			<key>clientLevel</key>
			<string>5</string>
		</dict>
		<key>30005</key>
		<dict>
			<key>id</key>
			<string>30005</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>6</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的55%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30006</string>
			<key>beanId</key>
			<string>sk/30005</string>
			<key>clientLevel</key>
			<string>6</string>
		</dict>
		<key>30006</key>
		<dict>
			<key>id</key>
			<string>30006</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>7</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的56%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30007</string>
			<key>beanId</key>
			<string>sk/30006</string>
			<key>clientLevel</key>
			<string>7</string>
		</dict>
		<key>30007</key>
		<dict>
			<key>id</key>
			<string>30007</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>8</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的57%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30008</string>
			<key>beanId</key>
			<string>sk/30007</string>
			<key>clientLevel</key>
			<string>8</string>
		</dict>
		<key>30008</key>
		<dict>
			<key>id</key>
			<string>30008</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>9</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的58%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30009</string>
			<key>beanId</key>
			<string>sk/30008</string>
			<key>clientLevel</key>
			<string>9</string>
		</dict>
		<key>30009</key>
		<dict>
			<key>id</key>
			<string>30009</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>10</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的59%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30010</string>
			<key>beanId</key>
			<string>sk/30009</string>
			<key>clientLevel</key>
			<string>10</string>
		</dict>
		<key>30010</key>
		<dict>
			<key>id</key>
			<string>30010</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>11</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的60%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30011</string>
			<key>beanId</key>
			<string>sk/30010</string>
			<key>clientLevel</key>
			<string>11</string>
		</dict>
		<key>30011</key>
		<dict>
			<key>id</key>
			<string>30011</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>12</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的61%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30012</string>
			<key>beanId</key>
			<string>sk/30011</string>
			<key>clientLevel</key>
			<string>12</string>
		</dict>
		<key>30012</key>
		<dict>
			<key>id</key>
			<string>30012</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>13</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的62%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30013</string>
			<key>beanId</key>
			<string>sk/30012</string>
			<key>clientLevel</key>
			<string>13</string>
		</dict>
		<key>30013</key>
		<dict>
			<key>id</key>
			<string>30013</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>14</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的63%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30014</string>
			<key>beanId</key>
			<string>sk/30013</string>
			<key>clientLevel</key>
			<string>14</string>
		</dict>
		<key>30014</key>
		<dict>
			<key>id</key>
			<string>30014</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>15</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的64%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30015</string>
			<key>beanId</key>
			<string>sk/30014</string>
			<key>clientLevel</key>
			<string>15</string>
		</dict>
		<key>30015</key>
		<dict>
			<key>id</key>
			<string>30015</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>16</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的65%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30016</string>
			<key>beanId</key>
			<string>sk/30015</string>
			<key>clientLevel</key>
			<string>16</string>
		</dict>
		<key>30016</key>
		<dict>
			<key>id</key>
			<string>30016</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>17</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的66%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30017</string>
			<key>beanId</key>
			<string>sk/30016</string>
			<key>clientLevel</key>
			<string>17</string>
		</dict>
		<key>30017</key>
		<dict>
			<key>id</key>
			<string>30017</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>18</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的67%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30018</string>
			<key>beanId</key>
			<string>sk/30017</string>
			<key>clientLevel</key>
			<string>18</string>
		</dict>
		<key>30018</key>
		<dict>
			<key>id</key>
			<string>30018</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>19</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的68%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30019</string>
			<key>beanId</key>
			<string>sk/30018</string>
			<key>clientLevel</key>
			<string>19</string>
		</dict>
		<key>30019</key>
		<dict>
			<key>id</key>
			<string>30019</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>20</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的69%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30020</string>
			<key>beanId</key>
			<string>sk/30019</string>
			<key>clientLevel</key>
			<string>20</string>
		</dict>
		<key>30020</key>
		<dict>
			<key>id</key>
			<string>30020</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>21</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的70%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30021</string>
			<key>beanId</key>
			<string>sk/30020</string>
			<key>clientLevel</key>
			<string>21</string>
		</dict>
		<key>30021</key>
		<dict>
			<key>id</key>
			<string>30021</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>22</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的71%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30022</string>
			<key>beanId</key>
			<string>sk/30021</string>
			<key>clientLevel</key>
			<string>22</string>
		</dict>
		<key>30022</key>
		<dict>
			<key>id</key>
			<string>30022</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>23</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的72%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30023</string>
			<key>beanId</key>
			<string>sk/30022</string>
			<key>clientLevel</key>
			<string>23</string>
		</dict>
		<key>30023</key>
		<dict>
			<key>id</key>
			<string>30023</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>24</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的73%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30024</string>
			<key>beanId</key>
			<string>sk/30023</string>
			<key>clientLevel</key>
			<string>24</string>
		</dict>
		<key>30024</key>
		<dict>
			<key>id</key>
			<string>30024</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>25</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的74%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30025</string>
			<key>beanId</key>
			<string>sk/30024</string>
			<key>clientLevel</key>
			<string>25</string>
		</dict>
		<key>30025</key>
		<dict>
			<key>id</key>
			<string>30025</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>26</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的75%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30026</string>
			<key>beanId</key>
			<string>sk/30025</string>
			<key>clientLevel</key>
			<string>26</string>
		</dict>
		<key>30026</key>
		<dict>
			<key>id</key>
			<string>30026</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>27</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的76%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30027</string>
			<key>beanId</key>
			<string>sk/30026</string>
			<key>clientLevel</key>
			<string>27</string>
		</dict>
		<key>30027</key>
		<dict>
			<key>id</key>
			<string>30027</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>28</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的77%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30028</string>
			<key>beanId</key>
			<string>sk/30027</string>
			<key>clientLevel</key>
			<string>28</string>
		</dict>
		<key>30028</key>
		<dict>
			<key>id</key>
			<string>30028</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>29</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的78%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30029</string>
			<key>beanId</key>
			<string>sk/30028</string>
			<key>clientLevel</key>
			<string>29</string>
		</dict>
		<key>30029</key>
		<dict>
			<key>id</key>
			<string>30029</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>30</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的79%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30030</string>
			<key>beanId</key>
			<string>sk/30029</string>
			<key>clientLevel</key>
			<string>30</string>
		</dict>
		<key>30030</key>
		<dict>
			<key>id</key>
			<string>30030</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>31</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的80%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30031</string>
			<key>beanId</key>
			<string>sk/30030</string>
			<key>clientLevel</key>
			<string>31</string>
		</dict>
		<key>30031</key>
		<dict>
			<key>id</key>
			<string>30031</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>32</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的81%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30032</string>
			<key>beanId</key>
			<string>sk/30031</string>
			<key>clientLevel</key>
			<string>32</string>
		</dict>
		<key>30032</key>
		<dict>
			<key>id</key>
			<string>30032</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>33</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的82%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30033</string>
			<key>beanId</key>
			<string>sk/30032</string>
			<key>clientLevel</key>
			<string>33</string>
		</dict>
		<key>30033</key>
		<dict>
			<key>id</key>
			<string>30033</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>34</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的83%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30034</string>
			<key>beanId</key>
			<string>sk/30033</string>
			<key>clientLevel</key>
			<string>34</string>
		</dict>
		<key>30034</key>
		<dict>
			<key>id</key>
			<string>30034</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>35</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的84%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30035</string>
			<key>beanId</key>
			<string>sk/30034</string>
			<key>clientLevel</key>
			<string>35</string>
		</dict>
		<key>30035</key>
		<dict>
			<key>id</key>
			<string>30035</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>36</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的85%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30036</string>
			<key>beanId</key>
			<string>sk/30035</string>
			<key>clientLevel</key>
			<string>36</string>
		</dict>
		<key>30036</key>
		<dict>
			<key>id</key>
			<string>30036</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>37</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的86%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30037</string>
			<key>beanId</key>
			<string>sk/30036</string>
			<key>clientLevel</key>
			<string>37</string>
		</dict>
		<key>30037</key>
		<dict>
			<key>id</key>
			<string>30037</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>38</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的87%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30038</string>
			<key>beanId</key>
			<string>sk/30037</string>
			<key>clientLevel</key>
			<string>38</string>
		</dict>
		<key>30038</key>
		<dict>
			<key>id</key>
			<string>30038</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>39</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的88%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30039</string>
			<key>beanId</key>
			<string>sk/30038</string>
			<key>clientLevel</key>
			<string>39</string>
		</dict>
		<key>30039</key>
		<dict>
			<key>id</key>
			<string>30039</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>40</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的89%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>30040</string>
			<key>beanId</key>
			<string>sk/30039</string>
			<key>clientLevel</key>
			<string>40</string>
		</dict>
		<key>30040</key>
		<dict>
			<key>id</key>
			<string>30040</string>
			<key>skillName</key>
			<string>吸血</string>
			<key>skillLevel</key>
			<string>41</string>
			<key>skillInfo</key>
			<string>攻擊敵方底線時造成傷害的90%轉化為我方的血量。</string>
			<key>nextId</key>
			<string>0</string>
			<key>beanId</key>
			<string>sk/30040</string>
			<key>clientLevel</key>
			<string>41</string>
		</dict>
		<key>30100</key>
		<dict>
			<key>id</key>
			<string>30100</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>1</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成124傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30101</string>
			<key>beanId</key>
			<string>sk/30100</string>
			<key>clientLevel</key>
			<string>1</string>
		</dict>
		<key>30101</key>
		<dict>
			<key>id</key>
			<string>30101</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>2</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成147傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30102</string>
			<key>beanId</key>
			<string>sk/30101</string>
			<key>clientLevel</key>
			<string>2</string>
		</dict>
		<key>30102</key>
		<dict>
			<key>id</key>
			<string>30102</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>3</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成170傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30103</string>
			<key>beanId</key>
			<string>sk/30102</string>
			<key>clientLevel</key>
			<string>3</string>
		</dict>
		<key>30103</key>
		<dict>
			<key>id</key>
			<string>30103</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>4</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成192傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30104</string>
			<key>beanId</key>
			<string>sk/30103</string>
			<key>clientLevel</key>
			<string>4</string>
		</dict>
		<key>30104</key>
		<dict>
			<key>id</key>
			<string>30104</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>5</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成215傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30105</string>
			<key>beanId</key>
			<string>sk/30104</string>
			<key>clientLevel</key>
			<string>5</string>
		</dict>
		<key>30105</key>
		<dict>
			<key>id</key>
			<string>30105</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>6</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成238傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30106</string>
			<key>beanId</key>
			<string>sk/30105</string>
			<key>clientLevel</key>
			<string>6</string>
		</dict>
		<key>30106</key>
		<dict>
			<key>id</key>
			<string>30106</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>7</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成260傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30107</string>
			<key>beanId</key>
			<string>sk/30106</string>
			<key>clientLevel</key>
			<string>7</string>
		</dict>
		<key>30107</key>
		<dict>
			<key>id</key>
			<string>30107</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>8</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成283傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30108</string>
			<key>beanId</key>
			<string>sk/30107</string>
			<key>clientLevel</key>
			<string>8</string>
		</dict>
		<key>30108</key>
		<dict>
			<key>id</key>
			<string>30108</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>9</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成317傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30109</string>
			<key>beanId</key>
			<string>sk/30108</string>
			<key>clientLevel</key>
			<string>9</string>
		</dict>
		<key>30109</key>
		<dict>
			<key>id</key>
			<string>30109</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>10</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成351傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30110</string>
			<key>beanId</key>
			<string>sk/30109</string>
			<key>clientLevel</key>
			<string>10</string>
		</dict>
		<key>30110</key>
		<dict>
			<key>id</key>
			<string>30110</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>11</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成385傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30111</string>
			<key>beanId</key>
			<string>sk/30110</string>
			<key>clientLevel</key>
			<string>11</string>
		</dict>
		<key>30111</key>
		<dict>
			<key>id</key>
			<string>30111</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>12</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成419傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30112</string>
			<key>beanId</key>
			<string>sk/30111</string>
			<key>clientLevel</key>
			<string>12</string>
		</dict>
		<key>30112</key>
		<dict>
			<key>id</key>
			<string>30112</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>13</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成453傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30113</string>
			<key>beanId</key>
			<string>sk/30112</string>
			<key>clientLevel</key>
			<string>13</string>
		</dict>
		<key>30113</key>
		<dict>
			<key>id</key>
			<string>30113</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>14</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成501傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30114</string>
			<key>beanId</key>
			<string>sk/30113</string>
			<key>clientLevel</key>
			<string>14</string>
		</dict>
		<key>30114</key>
		<dict>
			<key>id</key>
			<string>30114</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>15</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成548傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30115</string>
			<key>beanId</key>
			<string>sk/30114</string>
			<key>clientLevel</key>
			<string>15</string>
		</dict>
		<key>30115</key>
		<dict>
			<key>id</key>
			<string>30115</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>16</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成603傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30116</string>
			<key>beanId</key>
			<string>sk/30115</string>
			<key>clientLevel</key>
			<string>16</string>
		</dict>
		<key>30116</key>
		<dict>
			<key>id</key>
			<string>30116</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>17</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成665傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30117</string>
			<key>beanId</key>
			<string>sk/30116</string>
			<key>clientLevel</key>
			<string>17</string>
		</dict>
		<key>30117</key>
		<dict>
			<key>id</key>
			<string>30117</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>18</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成727傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30118</string>
			<key>beanId</key>
			<string>sk/30117</string>
			<key>clientLevel</key>
			<string>18</string>
		</dict>
		<key>30118</key>
		<dict>
			<key>id</key>
			<string>30118</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>19</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成801傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30119</string>
			<key>beanId</key>
			<string>sk/30118</string>
			<key>clientLevel</key>
			<string>19</string>
		</dict>
		<key>30119</key>
		<dict>
			<key>id</key>
			<string>30119</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>20</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成876傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30120</string>
			<key>beanId</key>
			<string>sk/30119</string>
			<key>clientLevel</key>
			<string>20</string>
		</dict>
		<key>30120</key>
		<dict>
			<key>id</key>
			<string>30120</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>21</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成957傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30121</string>
			<key>beanId</key>
			<string>sk/30120</string>
			<key>clientLevel</key>
			<string>21</string>
		</dict>
		<key>30121</key>
		<dict>
			<key>id</key>
			<string>30121</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>22</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1046傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30122</string>
			<key>beanId</key>
			<string>sk/30121</string>
			<key>clientLevel</key>
			<string>22</string>
		</dict>
		<key>30122</key>
		<dict>
			<key>id</key>
			<string>30122</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>23</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1136傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30123</string>
			<key>beanId</key>
			<string>sk/30122</string>
			<key>clientLevel</key>
			<string>23</string>
		</dict>
		<key>30123</key>
		<dict>
			<key>id</key>
			<string>30123</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>24</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1243傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30124</string>
			<key>beanId</key>
			<string>sk/30123</string>
			<key>clientLevel</key>
			<string>24</string>
		</dict>
		<key>30124</key>
		<dict>
			<key>id</key>
			<string>30124</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>25</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1350傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30125</string>
			<key>beanId</key>
			<string>sk/30124</string>
			<key>clientLevel</key>
			<string>25</string>
		</dict>
		<key>30125</key>
		<dict>
			<key>id</key>
			<string>30125</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>26</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1467傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30126</string>
			<key>beanId</key>
			<string>sk/30125</string>
			<key>clientLevel</key>
			<string>26</string>
		</dict>
		<key>30126</key>
		<dict>
			<key>id</key>
			<string>30126</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>27</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1596傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30127</string>
			<key>beanId</key>
			<string>sk/30126</string>
			<key>clientLevel</key>
			<string>27</string>
		</dict>
		<key>30127</key>
		<dict>
			<key>id</key>
			<string>30127</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>28</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1724傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30128</string>
			<key>beanId</key>
			<string>sk/30127</string>
			<key>clientLevel</key>
			<string>28</string>
		</dict>
		<key>30128</key>
		<dict>
			<key>id</key>
			<string>30128</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>29</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成1878傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30129</string>
			<key>beanId</key>
			<string>sk/30128</string>
			<key>clientLevel</key>
			<string>29</string>
		</dict>
		<key>30129</key>
		<dict>
			<key>id</key>
			<string>30129</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>30</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成2032傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30130</string>
			<key>beanId</key>
			<string>sk/30129</string>
			<key>clientLevel</key>
			<string>30</string>
		</dict>
		<key>30130</key>
		<dict>
			<key>id</key>
			<string>30130</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>31</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成2194傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30131</string>
			<key>beanId</key>
			<string>sk/30130</string>
			<key>clientLevel</key>
			<string>31</string>
		</dict>
		<key>30131</key>
		<dict>
			<key>id</key>
			<string>30131</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>32</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成2363傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30132</string>
			<key>beanId</key>
			<string>sk/30131</string>
			<key>clientLevel</key>
			<string>32</string>
		</dict>
		<key>30132</key>
		<dict>
			<key>id</key>
			<string>30132</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>33</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成2533傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30133</string>
			<key>beanId</key>
			<string>sk/30132</string>
			<key>clientLevel</key>
			<string>33</string>
		</dict>
		<key>30133</key>
		<dict>
			<key>id</key>
			<string>30133</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>34</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成2702傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30134</string>
			<key>beanId</key>
			<string>sk/30133</string>
			<key>clientLevel</key>
			<string>34</string>
		</dict>
		<key>30134</key>
		<dict>
			<key>id</key>
			<string>30134</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>35</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成2872傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30135</string>
			<key>beanId</key>
			<string>sk/30134</string>
			<key>clientLevel</key>
			<string>35</string>
		</dict>
		<key>30135</key>
		<dict>
			<key>id</key>
			<string>30135</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>36</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成3050傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30136</string>
			<key>beanId</key>
			<string>sk/30135</string>
			<key>clientLevel</key>
			<string>36</string>
		</dict>
		<key>30136</key>
		<dict>
			<key>id</key>
			<string>30136</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>37</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成3236傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30137</string>
			<key>beanId</key>
			<string>sk/30136</string>
			<key>clientLevel</key>
			<string>37</string>
		</dict>
		<key>30137</key>
		<dict>
			<key>id</key>
			<string>30137</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>38</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成3423傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30138</string>
			<key>beanId</key>
			<string>sk/30137</string>
			<key>clientLevel</key>
			<string>38</string>
		</dict>
		<key>30138</key>
		<dict>
			<key>id</key>
			<string>30138</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>39</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成3628傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30139</string>
			<key>beanId</key>
			<string>sk/30138</string>
			<key>clientLevel</key>
			<string>39</string>
		</dict>
		<key>30139</key>
		<dict>
			<key>id</key>
			<string>30139</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>40</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成3833傷害，持續3回合。</string>
			<key>nextId</key>
			<string>30140</string>
			<key>beanId</key>
			<string>sk/30139</string>
			<key>clientLevel</key>
			<string>40</string>
		</dict>
		<key>30140</key>
		<dict>
			<key>id</key>
			<string>30140</string>
			<key>skillName</key>
			<string>毒藥</string>
			<key>skillLevel</key>
			<string>41</string>
			<key>skillInfo</key>
			<string>對命中的攻擊陣列附帶中毒效果，每回合造成4048傷害，持續3回合。</string>
			<key>nextId</key>
			<string>0</string>
			<key>beanId</key>
			<string>sk/30140</string>
			<key>clientLevel</key>
			<string>41</string>
		</dict>
		<key>35000</key>
		<dict>
			<key>id</key>
			<string>35000</string>
			<key>skillName</key>
			<string>勇往直前</string>
			<key>skillLevel</key>
			<string>1</string>
			<key>skillInfo</key>
			<string>攻擊時，如果目標防禦力小於本陣列當前攻擊力，則無損通過，對防禦牆無效。</string>
			<key>nextId</key>
			<string>0</string>
			<key>beanId</key>
			<string>sk/35000</string>
			<key>clientLevel</key>
			<string>1</string>
		</dict>
		<key>35001</key>
		<dict>
			<key>id</key>
			<string>35001</string>
			<key>skillName</key>
			<string>混亂突襲</string>
			<key>skillLevel</key>
			<string>1</string>
			<key>skillInfo</key>
			<string>命中敵方蓄力的武將時，延長其蓄力1回合，該武將總攻擊力不變。</string>
			<key>nextId</key>
			<string>0</string>
			<key>beanId</key>
			<string>sk/35001</string>
			<key>clientLevel</key>
			<string>1</string>
		</dict>
	</dict>
</plist>
