<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>3101</key>
		<dict>
			<key>id</key>
			<string>3101</string>
			<key>beanId</key>
			<string>soldierCardItem/63101</string>
			<key>name</key>
			<string>虎賁義從</string>
			<key>race</key>
			<string>1</string>
			<key>atkrate</key>
			<string>1.333</string>
			<key>baseAtk</key>
			<string>216</string>
			<key>baseDef</key>
			<string>54</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>3</string>
			<key>morrate</key>
			<string>1.592</string>
			<key>morale</key>
			<string>343.980</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>35001</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>0</string>
			<key>atkMode2</key>
			<string>0</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>2</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3101</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>-1</string>
			<key>deathEffect</key>
			<string>-1</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3102</key>
		<dict>
			<key>id</key>
			<string>3102</string>
			<key>beanId</key>
			<string>soldierCardItem/63102</string>
			<key>name</key>
			<string>夜叉行</string>
			<key>race</key>
			<string>1</string>
			<key>atkrate</key>
			<string>1.500</string>
			<key>baseAtk</key>
			<string>162</string>
			<key>baseDef</key>
			<string>54</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>2</string>
			<key>morrate</key>
			<string>1.633</string>
			<key>morale</key>
			<string>264.600</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>35000</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>0</string>
			<key>atkMode2</key>
			<string>0</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>1</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3102</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>-1</string>
			<key>deathEffect</key>
			<string>-1</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3103</key>
		<dict>
			<key>id</key>
			<string>3103</string>
			<key>beanId</key>
			<string>soldierCardItem/63103</string>
			<key>name</key>
			<string>元戎弩兵</string>
			<key>race</key>
			<string>1</string>
			<key>atkrate</key>
			<string>3</string>
			<key>baseAtk</key>
			<string>108</string>
			<key>baseDef</key>
			<string>36</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>1</string>
			<key>morrate</key>
			<string>1.715</string>
			<key>morale</key>
			<string>185.220</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>0</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>1</string>
			<key>atkMode2</key>
			<string>4</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>3</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3103</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>9</string>
			<key>deathEffect</key>
			<string>16</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3201</key>
		<dict>
			<key>id</key>
			<string>3201</string>
			<key>beanId</key>
			<string>soldierCardItem/63201</string>
			<key>name</key>
			<string>泰山兵</string>
			<key>race</key>
			<string>2</string>
			<key>atkrate</key>
			<string>1.500</string>
			<key>baseAtk</key>
			<string>162</string>
			<key>baseDef</key>
			<string>54</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>2</string>
			<key>morrate</key>
			<string>1.633</string>
			<key>morale</key>
			<string>264.600</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>35000</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>0</string>
			<key>atkMode2</key>
			<string>0</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>1</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3201</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>-1</string>
			<key>deathEffect</key>
			<string>-1</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3202</key>
		<dict>
			<key>id</key>
			<string>3202</string>
			<key>beanId</key>
			<string>soldierCardItem/63202</string>
			<key>name</key>
			<string>霹靂車</string>
			<key>race</key>
			<string>2</string>
			<key>atkrate</key>
			<string>1.333</string>
			<key>baseAtk</key>
			<string>216</string>
			<key>baseDef</key>
			<string>54</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>3</string>
			<key>morrate</key>
			<string>1.592</string>
			<key>morale</key>
			<string>343.980</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>35001</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>0</string>
			<key>atkMode2</key>
			<string>1</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>2</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3202</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>25</string>
			<key>deathEffect</key>
			<string>16</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3203</key>
		<dict>
			<key>id</key>
			<string>3203</string>
			<key>beanId</key>
			<string>soldierCardItem/63203</string>
			<key>name</key>
			<string>虎衛軍</string>
			<key>race</key>
			<string>2</string>
			<key>atkrate</key>
			<string>3</string>
			<key>baseAtk</key>
			<string>108</string>
			<key>baseDef</key>
			<string>36</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>1</string>
			<key>morrate</key>
			<string>1.715</string>
			<key>morale</key>
			<string>185.220</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>0</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>1</string>
			<key>atkMode2</key>
			<string>0</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>3</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3203</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>-1</string>
			<key>deathEffect</key>
			<string>-1</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3301</key>
		<dict>
			<key>id</key>
			<string>3301</string>
			<key>beanId</key>
			<string>soldierCardItem/63301</string>
			<key>name</key>
			<string>丹陽青巾</string>
			<key>race</key>
			<string>3</string>
			<key>atkrate</key>
			<string>3</string>
			<key>baseAtk</key>
			<string>108</string>
			<key>baseDef</key>
			<string>36</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>1</string>
			<key>morrate</key>
			<string>1.715</string>
			<key>morale</key>
			<string>185.220</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>0</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>1</string>
			<key>atkMode2</key>
			<string>0</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>3</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3301</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>-1</string>
			<key>deathEffect</key>
			<string>-1</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3302</key>
		<dict>
			<key>id</key>
			<string>3302</string>
			<key>beanId</key>
			<string>soldierCardItem/63302</string>
			<key>name</key>
			<string>飛龍女衛</string>
			<key>race</key>
			<string>3</string>
			<key>atkrate</key>
			<string>1.333</string>
			<key>baseAtk</key>
			<string>216</string>
			<key>baseDef</key>
			<string>54</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>3</string>
			<key>morrate</key>
			<string>1.592</string>
			<key>morale</key>
			<string>343.980</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>35001</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>0</string>
			<key>atkMode2</key>
			<string>0</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>2</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3302</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>-1</string>
			<key>deathEffect</key>
			<string>-1</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
		<key>3303</key>
		<dict>
			<key>id</key>
			<string>3303</string>
			<key>beanId</key>
			<string>soldierCardItem/63303</string>
			<key>name</key>
			<string>弩車</string>
			<key>race</key>
			<string>3</string>
			<key>atkrate</key>
			<string>1.500</string>
			<key>baseAtk</key>
			<string>162</string>
			<key>baseDef</key>
			<string>54</string>
			<key>wallDef</key>
			<string>216</string>
			<key>round</key>
			<string>2</string>
			<key>morrate</key>
			<string>1.633</string>
			<key>morale</key>
			<string>264.600</string>
			<key>expType</key>
			<string>Z</string>
			<key>TalentSkill</key>
			<string>35000</string>
			<key>maxlevel</key>
			<string>100</string>
			<key>atkMode</key>
			<string>0</string>
			<key>atkMode2</key>
			<string>0</string>
			<key>growvalue</key>
			<string>0.100</string>
			<key>head</key>
			<string>0</string>
			<key>fileId</key>
			<string>1</string>
			<key>pair</key>
			<string>0</string>
			<key>num</key>
			<string>3303</string>
			<key>starlvl</key>
			<string>3</string>
			<key>lastHit</key>
			<string>-1</string>
			<key>attackEffect</key>
			<string>20</string>
			<key>deathEffect</key>
			<string>16</string>
			<key>sbSkill</key>
			<string>0</string>
		</dict>
	</dict>
</plist>
