<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>info</key>
			<string>當前開放4個幻境：蜀之幻境、魏之幻境、吳之幻境和紅顏幻境；</string>
		</dict>
		<key>2</key>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>info</key>
			<string>蜀之幻境每周1、4、6、日開放，僅可以使用蜀國武將進行挑戰；</string>
		</dict>
		<key>3</key>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>info</key>
			<string>魏之幻境每周2、4、5、日開放，僅可以使用魏國武將進行挑戰；</string>
		</dict>
		<key>4</key>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>info</key>
			<string>吳之幻境每周2、3、6、日開放，僅可以使用吳國武將進行挑戰；</string>
		</dict>
		<key>5</key>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>info</key>
			<string>紅顏幻境每周1、3、5、日開放，僅可以使用女性武將進行挑戰；</string>
		</dict>
		<key>6</key>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>info</key>
			<string>幻境產出的勾玉是一種兌換貨幣,可以在幻境商店裡面兌換道具；</string>
		</dict>
		<key>7</key>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>info</key>
			<string>勾玉的上限為10000,超過上限的部分會被扣除,請主公及時使用；</string>
		</dict>
		<key>8</key>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>info</key>
			<string>幻境挑戰不消耗體力，次數每天更新,未使用完的次數不會累計；</string>
		</dict>
		<key>9</key>
		<dict>
			<key>id</key>
			<string>9</string>
			<key>info</key>
			<string>每個幻境的所有關卡共用挑戰次數，且戰鬥失敗不消耗挑戰次數。</string>
		</dict>
	</dict>
</plist>
