 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>10000006</key>
<dict><key>id</key>
<string>10000006</string>
<key>count</key>
<string>4</string>
<key>name</key>
<string>糜夫人套裝</string>
<key>arms</key>
<string>松紋短劍(糜夫人)</string>
</dict><key>10000005</key>
<dict><key>id</key>
<string>10000005</string>
<key>count</key>
<string>4</string>
<key>name</key>
<string>魏延套裝</string>
<key>arms</key>
<string>滅極雙星(魏延)</string>
</dict><key>10000000</key>
<dict><key>id</key>
<string>10000000</string>
<key>count</key>
<string>3</string>
<key>name</key>
<string>血刃套裝</string>
<key>arms</key>
<string>血刃槍</string>
</dict><key>10000007</key>
<dict><key>id</key>
<string>10000007</string>
<key>count</key>
<string>4</string>
<key>name</key>
<string>嚴顏套裝</string>
<key>arms</key>
<string>神龍升天刀(嚴顏)</string>
</dict><key>10000002</key>
<dict><key>id</key>
<string>10000002</string>
<key>count</key>
<string>4</string>
<key>name</key>
<string>賈詡套裝</string>
<key>arms</key>
<string>冥天照符(賈詡)</string>
</dict><key>10000001</key>
<dict><key>id</key>
<string>10000001</string>
<key>count</key>
<string>3</string>
<key>name</key>
<string>虎牙套裝</string>
<key>arms</key>
<string>虎牙大刀</string>
</dict><key>10000004</key>
<dict><key>id</key>
<string>10000004</string>
<key>count</key>
<string>4</string>
<key>name</key>
<string>龐統套裝</string>
<key>arms</key>
<string>豪風神杖(龐統)</string>
</dict><key>10000003</key>
<dict><key>id</key>
<string>10000003</string>
<key>count</key>
<string>4</string>
<key>name</key>
<string>趙雲套裝</string>
<key>arms</key>
<string>豪龍膽(趙雲)</string>
</dict></dict>
</plist>