<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>vipId</key>
			<string>1</string>
			<key>vipLevel</key>
			<string>vip1</string>
			<key>vipCount</key>
			<string>5</string>
			<key>rights1</key>
			<string>累積儲值30元成為vip1</string>
			<key>rights2</key>
			<string>每日可掃蕩闖關70次</string>
			<key>rights3</key>
			<string>每日可購買2次體力</string>
			<key>rights4</key>
			<string>每日可元寶換銅錢3次</string>
			<key>rights5</key>
			<string>可領取好友贈送體力10次</string>
			<key>rmb</key>
			<string>30</string>
		</dict>
		<key>2</key>
		<dict>
			<key>vipId</key>
			<string>2</string>
			<key>vipLevel</key>
			<string>vip2</string>
			<key>vipCount</key>
			<string>5</string>
			<key>rights1</key>
			<string>累積儲值150元成為vip2</string>
			<key>rights2</key>
			<string>強化裝備幾率額外升1級</string>
			<key>rights3</key>
			<string>每日可掃蕩闖關120次</string>
			<key>rights4</key>
			<string>每日可購買3次體力</string>
			<key>rights5</key>
			<string>每日可元寶換銅錢5次</string>
			<key>rmb</key>
			<string>150</string>
		</dict>
		<key>3</key>
		<dict>
			<key>vipId</key>
			<string>3</string>
			<key>vipLevel</key>
			<string>vip3</string>
			<key>vipCount</key>
			<string>7</string>
			<key>rights1</key>
			<string>累積儲值300元成為vip3</string>
			<key>rights2</key>
			<string>開啟闖關十次掃蕩功能</string>
			<key>rights3</key>
			<string>每日可購買軍糧2次</string>
			<key>rights4</key>
			<string>每日可掃蕩闖關140次</string>
			<key>rights5</key>
			<string>每日可購買4次體力</string>
			<key>rights6</key>
			<string>每日可元寶換銅錢7次</string>
			<key>rights7</key>
			<string>可領取好友贈送體力15次</string>
			<key>rmb</key>
			<string>300</string>
		</dict>
		<key>4</key>
		<dict>
			<key>vipId</key>
			<string>4</string>
			<key>vipLevel</key>
			<string>vip4</string>
			<key>vipCount</key>
			<string>7</string>
			<key>rights1</key>
			<string>累積儲值500元成為vip4</string>
			<key>rights2</key>
			<string>闖關2星即可掃蕩</string>
			<key>rights3</key>
			<string>每日可購買荊州次數1次</string>
			<key>rights4</key>
			<string>每日可購買軍糧4次</string>
			<key>rights5</key>
			<string>每日可掃蕩闖關160次</string>
			<key>rights6</key>
			<string>每日可購買5次體力</string>
			<key>rights7</key>
			<string>每日可元寶換銅錢9次</string>
			<key>rmb</key>
			<string>500</string>
		</dict>
		<key>5</key>
		<dict>
			<key>vipId</key>
			<string>5</string>
			<key>vipLevel</key>
			<string>vip5</string>
			<key>vipCount</key>
			<string>7</string>
			<key>rights1</key>
			<string>累積儲值1000元成為vip5</string>
			<key>rights2</key>
			<string>開啟討魔特殊復活功能</string>
			<key>rights3</key>
			<string>可重置精英副本次數1次</string>
			<key>rights4</key>
			<string>每日可購買軍糧7次</string>
			<key>rights5</key>
			<string>每日可購買6次體力</string>
			<key>rights6</key>
			<string>每日可元寶換銅錢11次</string>
			<key>rights7</key>
			<string>可領取好友贈送體力20次</string>
			<key>rmb</key>
			<string>1000</string>
		</dict>
		<key>6</key>
		<dict>
			<key>vipId</key>
			<string>6</string>
			<key>vipLevel</key>
			<string>vip6</string>
			<key>vipCount</key>
			<string>6</string>
			<key>rights1</key>
			<string>累積儲值2500元成為vip6</string>
			<key>rights2</key>
			<string>開啟特殊商店：洛陽鬼市</string>
			<key>rights3</key>
			<string>可重置精英副本次數2次</string>
			<key>rights4</key>
			<string>每日可掃蕩闖關200次</string>
			<key>rights5</key>
			<string>每日可購買7次體力</string>
			<key>rights6</key>
			<string>每日可元寶換銅錢14次</string>
			<key>rmb</key>
			<string>2500</string>
		</dict>
		<key>7</key>
		<dict>
			<key>vipId</key>
			<string>7</string>
			<key>vipLevel</key>
			<string>vip7</string>
			<key>vipCount</key>
			<string>6</string>
			<key>rights1</key>
			<string>累積儲值5000元成為vip7</string>
			<key>rights2</key>
			<string>強化裝備幾率額外升2級</string>
			<key>rights3</key>
			<string>每日可購買軍糧10次</string>
			<key>rights4</key>
			<string>每日可掃蕩闖關90次</string>
			<key>rights5</key>
			<string>每日可購買8次體力</string>
			<key>rights6</key>
			<string>每日可元寶換銅錢17次</string>
			<key>rmb</key>
			<string>5000</string>
		</dict>
		<key>8</key>
		<dict>
			<key>vipId</key>
			<string>8</string>
			<key>vipLevel</key>
			<string>vip8</string>
			<key>vipCount</key>
			<string>6</string>
			<key>rights1</key>
			<string>累積儲值10000元成為vip8</string>
			<key>rights2</key>
			<string>限時武將探訪開啟</string>
			<key>rights3</key>
			<string>可重置精英副本次數3次</string>
			<key>rights4</key>
			<string>每日可掃蕩闖關240次</string>
			<key>rights5</key>
			<string>每日可購買9次體力</string>
			<key>rights6</key>
			<string>每日可元寶換銅錢20次</string>
			<key>rmb</key>
			<string>10000</string>
		</dict>
		<key>9</key>
		<dict>
			<key>vipId</key>
			<string>9</string>
			<key>vipLevel</key>
			<string>vip9</string>
			<key>vipCount</key>
			<string>6</string>
			<key>rights1</key>
			<string>累積儲值25000元成為vip9</string>
			<key>rights2</key>
			<string>每日可購買荊州次數2次</string>
			<key>rights3</key>
			<string>每日可購買軍糧15次</string>
			<key>rights4</key>
			<string>每日可掃蕩闖關260次</string>
			<key>rights5</key>
			<string>每日可購買10次體力</string>
			<key>rights6</key>
			<string>每日可元寶換銅錢25次</string>
			<key>rmb</key>
			<string>25000</string>
		</dict>
		<key>10</key>
		<dict>
			<key>vipId</key>
			<string>10</string>
			<key>vipLevel</key>
			<string>vip10</string>
			<key>vipCount</key>
			<string>5</string>
			<key>rights1</key>
			<string>累積儲值40000元成為vip10</string>
			<key>rights2</key>
			<string>可重置精英副本次數4次</string>
			<key>rights3</key>
			<string>每日可掃蕩闖關280次</string>
			<key>rights4</key>
			<string>每日可購買11次體力</string>
			<key>rights5</key>
			<string>每日可元寶換銅錢30次</string>
			<key>rmb</key>
			<string>40000</string>
		</dict>
		<key>11</key>
		<dict>
			<key>vipId</key>
			<string>11</string>
			<key>vipLevel</key>
			<string>vip11</string>
			<key>vipCount</key>
			<string>5</string>
			<key>rights1</key>
			<string>累積儲值75000元成為vip11</string>
			<key>rights2</key>
			<string>每日可購買軍糧20次</string>
			<key>rights3</key>
			<string>每日可掃蕩闖關300次</string>
			<key>rights4</key>
			<string>每日可購買12次體力</string>
			<key>rights5</key>
			<string>每日可元寶換銅錢40次</string>
			<key>rmb</key>
			<string>75000</string>
		</dict>
		<key>12</key>
		<dict>
			<key>vipId</key>
			<string>12</string>
			<key>vipLevel</key>
			<string>vip12</string>
			<key>vipCount</key>
			<string>4</string>
			<key>rights1</key>
			<string>累積儲值150000元成為vip12</string>
			<key>rights2</key>
			<string>每日可掃蕩闖關360次</string>
			<key>rights3</key>
			<string>每日可購買15次體力</string>
			<key>rights4</key>
			<string>每日可元寶換銅錢50次</string>
			<key>rmb</key>
			<string>150000</string>
		</dict>
	</dict>
</plist>
