<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>15reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,154},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>5reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,264},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>barrack_font_sort.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{268,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,50}}</string>
                <key>sourceSize</key>
                <string>{268,50}</string>
            </dict>
            <key>barrack_sort_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{212,622}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,622}}</string>
                <key>sourceSize</key>
                <string>{212,622}</string>
            </dict>
            <key>box_bottombg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,346}}</string>
                <key>sourceSize</key>
                <string>{540,346}</string>
            </dict>
            <key>chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{768,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,56}}</string>
                <key>sourceSize</key>
                <string>{768,56}</string>
            </dict>
            <key>font_exp_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,960},{56,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>font_junliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,984},{56,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>font_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,984},{58,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>gift_4-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,366},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gift_guanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,562},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gift_jijun.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,464},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gift_yajun.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,366},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>gonggao_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,430},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gonggao_3_rl.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,430},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gonggao_LR.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,498},{44,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,4}}</string>
                <key>sourceSize</key>
                <string>{44,4}</string>
            </dict>
            <key>gonggaozhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>guide_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{128,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>levelbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,960},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>mainBtn_background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{640,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,106}}</string>
                <key>sourceSize</key>
                <string>{640,106}</string>
            </dict>
            <key>mainlayer_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,604},{128,16}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{128,16}}</string>
                <key>sourceSize</key>
                <string>{136,24}</string>
            </dict>
            <key>mainlayer_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,567},{139,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
            <key>mainlayer_gongg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{768,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,70}}</string>
                <key>sourceSize</key>
                <string>{768,70}</string>
            </dict>
            <key>mainlayer_moneybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,504},{205,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,41}}</string>
                <key>sourceSize</key>
                <string>{205,41}</string>
            </dict>
            <key>message_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,547},{164,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{164,18}}</string>
                <key>sourceSize</key>
                <string>{168,18}</string>
            </dict>
            <key>message_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{640,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,2}}</string>
                <key>sourceSize</key>
                <string>{640,2}</string>
            </dict>
            <key>nullkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,154},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>nullkuang_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,264},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>player_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,350},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,152}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>playerinfo_Lbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,396},{4,100}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,100}}</string>
                <key>sourceSize</key>
                <string>{18,100}</string>
            </dict>
            <key>playerinfo_Rbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,396},{4,100}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{4,100}}</string>
                <key>sourceSize</key>
                <string>{18,100}</string>
            </dict>
            <key>touming_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,958},{96,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,24}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>upwar_bg_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{390,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,2}}</string>
                <key>sourceSize</key>
                <string>{390,2}</string>
            </dict>
            <key>upwar_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{464,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,32}}</string>
                <key>sourceSize</key>
                <string>{464,32}</string>
            </dict>
            <key>upwar_bg_vs_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{294,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,202}}</string>
                <key>sourceSize</key>
                <string>{294,202}</string>
            </dict>
            <key>upwar_bg_vsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,756},{232,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,158}}</string>
                <key>sourceSize</key>
                <string>{232,158}</string>
            </dict>
            <key>upwar_bgs_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{518,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,2}}</string>
                <key>sourceSize</key>
                <string>{518,2}</string>
            </dict>
            <key>upwar_box_match2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{342,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{342,44}}</string>
                <key>sourceSize</key>
                <string>{346,48}</string>
            </dict>
            <key>upwar_box_match3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,916},{276,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{276,40}}</string>
                <key>sourceSize</key>
                <string>{276,56}</string>
            </dict>
            <key>upwar_button_match3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,926},{128,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{128,34}}</string>
                <key>sourceSize</key>
                <string>{132,44}</string>
            </dict>
            <key>upwar_button_match4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,547},{62,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,34}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>upwar_button_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,396},{30,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>upwar_font_mt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,958},{276,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{276,34}}</string>
                <key>sourceSize</key>
                <string>{280,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgmainlayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:613c5042e95f9111c3d114c88bdde9de:1/1$</string>
            <key>textureFileName</key>
            <string>sgmainlayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
