<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font_qhng.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{292,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,36}}</string>
                <key>sourceSize</key>
                <string>{292,36}</string>
            </dict>
            <key>font_qw.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,40},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>font_yqhngwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,154},{220,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,32}}</string>
                <key>sourceSize</key>
                <string>{220,32}</string>
            </dict>
            <key>font_yydwjk.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,188},{188,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,32}}</string>
                <key>sourceSize</key>
                <string>{188,32}</string>
            </dict>
            <key>font_yzsngwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,120},{220,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,32}}</string>
                <key>sourceSize</key>
                <string>{220,32}</string>
            </dict>
            <key>streng_jn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,40},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,44}}</string>
                <key>sourceSize</key>
                <string>{228,44}</string>
            </dict>
            <key>uplevel_btip.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,78},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>uplevel_clevel_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,528}}</string>
                <key>sourceSize</key>
                <string>{610,528}</string>
            </dict>
            <key>uplevel_flevel_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,222},{186,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,52}}</string>
                <key>sourceSize</key>
                <string>{186,52}</string>
            </dict>
            <key>uplevel_font_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,86},{220,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{220,32}}</string>
                <key>sourceSize</key>
                <string>{222,32}</string>
            </dict>
            <key>uplevel_fontbg_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{574,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,370}}</string>
                <key>sourceSize</key>
                <string>{574,370}</string>
            </dict>
            <key>uplevel_fontline_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{518,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,2}}</string>
                <key>sourceSize</key>
                <string>{518,2}</string>
            </dict>
            <key>uplevel_levbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{492,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,16}}</string>
                <key>sourceSize</key>
                <string>{492,16}</string>
            </dict>
            <key>uplevel_powerbg_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,532},{334,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,48}}</string>
                <key>sourceSize</key>
                <string>{334,48}</string>
            </dict>
            <key>uplevel_stip.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,126},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sggeneralslayer.png</string>
            <key>size</key>
            <string>{926,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d592398316957d61a49246490b34947a:1/1$</string>
            <key>textureFileName</key>
            <string>sggeneralslayer.png</string>
        </dict>
    </dict>
</plist>
