<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poster4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,406}}</string>
                <key>sourceSize</key>
                <string>{684,406}</string>
            </dict>
            <key>poster5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{624,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,426}}</string>
                <key>sourceSize</key>
                <string>{624,426}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>film3.png</string>
            <key>size</key>
            <string>{838,838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c82d1165a63fadeea1040dc17928fdb3:1/1$</string>
            <key>textureFileName</key>
            <string>film3.png</string>
        </dict>
    </dict>
</plist>
