<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poster2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{670,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,476}}</string>
                <key>sourceSize</key>
                <string>{670,476}</string>
            </dict>
            <key>poster3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{766,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,421}}</string>
                <key>sourceSize</key>
                <string>{766,421}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>film2.png</string>
            <key>size</key>
            <string>{903,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97acc900318219394b432a97c7447158:1/1$</string>
            <key>textureFileName</key>
            <string>film2.png</string>
        </dict>
    </dict>
</plist>
