<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{460,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,16}}</string>
                <key>sourceSize</key>
                <string>{460,16}</string>
            </dict>
            <key>loadingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,30}}</string>
                <key>sourceSize</key>
                <string>{564,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>updatelayer.png</string>
            <key>size</key>
            <string>{568,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252e81c1dc838457d68f9d6be54814ad:1/1$</string>
            <key>textureFileName</key>
            <string>updatelayer.png</string>
        </dict>
    </dict>
</plist>
