<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_pow_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,602}}</string>
                <key>sourceSize</key>
                <string>{588,602}</string>
            </dict>
            <key>activity_reward_sendpower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{586,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,334}}</string>
                <key>sourceSize</key>
                <string>{586,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_pow.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a5d251a8c7281f2c4c4aa219519238:1/1$</string>
            <key>textureFileName</key>
            <string>activity_pow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
