<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityDanBiChuZhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,344}}</string>
                <key>sourceSize</key>
                <string>{602,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityDanBiChuZhi.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb51b9e190fc4f5e8e53f5fbf13de0f2:1/1$</string>
            <key>textureFileName</key>
            <string>activityDanBiChuZhi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
