<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityXianShiFuBengBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,580}}</string>
                <key>sourceSize</key>
                <string>{586,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityXianShiFuBeng.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1387ac0c52f4d3b8018866b7df198b:1/1$</string>
            <key>textureFileName</key>
            <string>activityXianShiFuBeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
