<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activitySpringFestivalBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,334}}</string>
                <key>sourceSize</key>
                <string>{586,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activitySpringFesvital.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a341a5a3911e774b0a4192b77f19aa8a:1/1$</string>
            <key>textureFileName</key>
            <string>activitySpringFesvital.pvr.ccz</string>
        </dict>
    </dict>
</plist>
