<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityConsumeKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{586,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,60}}</string>
                <key>sourceSize</key>
                <string>{586,60}</string>
            </dict>
            <key>activityConsumeRangBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{586,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,260}}</string>
                <key>sourceSize</key>
                <string>{586,260}</string>
            </dict>
            <key>activityConsumeRankBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,368}}</string>
                <key>sourceSize</key>
                <string>{586,368}</string>
            </dict>
            <key>activityConsumeRedBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{586,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,310}}</string>
                <key>sourceSize</key>
                <string>{586,310}</string>
            </dict>
            <key>finalRank.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{362,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,46}}</string>
                <key>sourceSize</key>
                <string>{362,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityConsumeRank.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d4a7717f1a5af8ef0523efc4c386bb:1/1$</string>
            <key>textureFileName</key>
            <string>activityConsumeRank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
