<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityDoubleDrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{614,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,282}}</string>
                <key>sourceSize</key>
                <string>{614,282}</string>
            </dict>
            <key>activityDoubleDropDialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{614,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,308}}</string>
                <key>sourceSize</key>
                <string>{614,308}</string>
            </dict>
            <key>doubleDropBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{586,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,144}}</string>
                <key>sourceSize</key>
                <string>{586,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityDoubleDrop.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5f4357c00908b91545b2c6046bd9f86:1/1$</string>
            <key>textureFileName</key>
            <string>activityDoubleDrop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
