<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_loadvs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,462}}</string>
                <key>offset</key>
                <string>{-126,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{768,462}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_loadvs.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b89c65f09c2b8782cbf5f5e05d6543:1/1$</string>
            <key>textureFileName</key>
            <string>battle_loadvs.pvr.ccz</string>
        </dict>
    </dict>
</plist>
