<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_officer_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,218},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>battle_officer_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,192},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>battle_officer_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,166},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>box_fontbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{494,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{494,144}}</string>
                <key>sourceSize</key>
                <string>{494,146}</string>
            </dict>
            <key>font_choosebz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{268,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,50}}</string>
                <key>sourceSize</key>
                <string>{268,50}</string>
            </dict>
            <key>font_yydsbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,348},{188,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,32}}</string>
                <key>sourceSize</key>
                <string>{188,32}</string>
            </dict>
            <key>soldier_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,162}}</string>
                <key>sourceSize</key>
                <string>{586,162}</string>
            </dict>
            <key>soldier_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,312},{284,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,34}}</string>
                <key>sourceSize</key>
                <string>{284,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgsoldierslayer.png</string>
            <key>size</key>
            <string>{590,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923db17a85028d64dbe19b14e315011e:1/1$</string>
            <key>textureFileName</key>
            <string>sgsoldierslayer.png</string>
        </dict>
    </dict>
</plist>
