<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_quickWar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{230,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{230,44}}</string>
                <key>sourceSize</key>
                <string>{230,50}</string>
            </dict>
            <key>upwar_box_match1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,210},{184,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{184,44}}</string>
                <key>sourceSize</key>
                <string>{194,50}</string>
            </dict>
            <key>upwar_button_match1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,156},{128,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,34}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>upwar_button_match2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,120},{128,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>upwar_font_mt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{188,30}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{188,30}}</string>
                <key>sourceSize</key>
                <string>{194,50}</string>
            </dict>
            <key>upwar_itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,206}}</string>
                <key>sourceSize</key>
                <string>{288,206}</string>
            </dict>
            <key>upwar_youhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,34},{132,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,84}}</string>
                <key>sourceSize</key>
                <string>{132,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgpvpmainlayer.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dc930e0db1c6059bbb8d2c6b70f62c9:1/1$</string>
            <key>textureFileName</key>
            <string>sgpvpmainlayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
