<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_chongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,420},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>act_shoujz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>act_tianti.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,339},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>act_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,339},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activityCanGainBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{585,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,212}}</string>
                <key>sourceSize</key>
                <string>{585,212}</string>
            </dict>
            <key>activityChristmasGiftPackIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,339},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>activityChuzhiFanliIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,747},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>activityConstantCharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,318},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activityConstantConsume.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,318},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activityConsumeRankIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,747},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>activityDayCharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,318},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activityDengLuIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,318},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>activityLeChu3Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>activityLuoYangYiBaoIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,237},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activityShouJZIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,645},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>activitySingleCharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,237},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activitySpringFestivalIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,237},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activityTiLiWuXianIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,216},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>activityXianshiIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,645},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>activity_pow_sale_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,543},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>activity_reward_sendpower_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,543},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>activity_super_benefits_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,216},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activity_vip_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,779},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>activity_vip_charge.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,779},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>activity_vipicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,216},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>activitybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{245,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{245,233}}</string>
                <key>sourceSize</key>
                <string>{249,237}</string>
            </dict>
            <key>chargereturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,441},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>chatLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{640,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,30}}</string>
                <key>sourceSize</key>
                <string>{640,30}</string>
            </dict>
            <key>doubleDrop.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,420},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>firstChargeIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,216},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>firstChargeLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{124,34}</string>
            </dict>
            <key>fuLiActivityIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>growPlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,420},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>kaifujieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,441},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>kaifujinxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,441},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>leiChuFanLi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,420},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>serviceopenline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{612,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{612,198}}</string>
                <key>sourceSize</key>
                <string>{616,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgfirstactivitylayer.png</string>
            <key>size</key>
            <string>{849,849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33bd4e923947fca69583836800c50263:1/1$</string>
            <key>textureFileName</key>
            <string>sgfirstactivitylayer.png</string>
        </dict>
    </dict>
</plist>
