<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>20001</key>
		<dict>
			<key>plotId</key>
			<string>20001</string>
			<key>beanId</key>
			<string>bossplot/20001</string>
			<key>sectionName</key>
			<string>張松獻圖[關平]</string>
			<key>storyName</key>
			<string>精英張松獻圖</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20001</string>
			<key>coins</key>
			<string>258</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20001</string>
			<key>spotIndex</key>
			<string>3</string>
		</dict>
		<key>20002</key>
		<dict>
			<key>plotId</key>
			<string>20002</string>
			<key>beanId</key>
			<string>bossplot/20002</string>
			<key>sectionName</key>
			<string>蔣幹盜書[李典]</string>
			<key>storyName</key>
			<string>精英蔣幹盜書</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20002</string>
			<key>coins</key>
			<string>258</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20002</string>
			<key>spotIndex</key>
			<string>3</string>
		</dict>
		<key>20003</key>
		<dict>
			<key>plotId</key>
			<string>20003</string>
			<key>beanId</key>
			<string>bossplot/20003</string>
			<key>sectionName</key>
			<string>東吳名儒[蔣欽]</string>
			<key>storyName</key>
			<string>精英東吳名儒</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20003</string>
			<key>coins</key>
			<string>258</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20003</string>
			<key>spotIndex</key>
			<string>3</string>
		</dict>
		<key>20004</key>
		<dict>
			<key>plotId</key>
			<string>20004</string>
			<key>beanId</key>
			<string>bossplot/20004</string>
			<key>sectionName</key>
			<string>漢末魏王[曹操]</string>
			<key>storyName</key>
			<string>精英漢末魏王</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20004</string>
			<key>coins</key>
			<string>258</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20004</string>
			<key>spotIndex</key>
			<string>3</string>
		</dict>
		<key>20005</key>
		<dict>
			<key>plotId</key>
			<string>20005</string>
			<key>beanId</key>
			<string>bossplot/20005</string>
			<key>sectionName</key>
			<string>東吳大帝[孫權]</string>
			<key>storyName</key>
			<string>精英東吳大帝</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20005</string>
			<key>coins</key>
			<string>258</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20005</string>
			<key>spotIndex</key>
			<string>4</string>
		</dict>
		<key>20006</key>
		<dict>
			<key>plotId</key>
			<string>20006</string>
			<key>beanId</key>
			<string>bossplot/20006</string>
			<key>sectionName</key>
			<string>昭烈皇帝[劉備]</string>
			<key>storyName</key>
			<string>精英昭烈皇帝</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20006</string>
			<key>coins</key>
			<string>258</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20006</string>
			<key>spotIndex</key>
			<string>3</string>
		</dict>
		<key>20007</key>
		<dict>
			<key>plotId</key>
			<string>20007</string>
			<key>beanId</key>
			<string>bossplot/20007</string>
			<key>sectionName</key>
			<string>十二虎臣[韓當]</string>
			<key>storyName</key>
			<string>精英十二虎臣</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20007</string>
			<key>coins</key>
			<string>264</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20007</string>
			<key>spotIndex</key>
			<string>3</string>
		</dict>
		<key>20008</key>
		<dict>
			<key>plotId</key>
			<string>20008</string>
			<key>beanId</key>
			<string>bossplot/20008</string>
			<key>sectionName</key>
			<string>將門虎女[關鳳]</string>
			<key>storyName</key>
			<string>精英將門虎女</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20008</string>
			<key>coins</key>
			<string>276</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20008</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20009</key>
		<dict>
			<key>plotId</key>
			<string>20009</string>
			<key>beanId</key>
			<string>bossplot/20009</string>
			<key>sectionName</key>
			<string>江夏忠侯[文聘]</string>
			<key>storyName</key>
			<string>精英江夏忠侯</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20009</string>
			<key>coins</key>
			<string>288</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20009</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20010</key>
		<dict>
			<key>plotId</key>
			<string>20010</string>
			<key>beanId</key>
			<string>bossplot/20010</string>
			<key>sectionName</key>
			<string>靈侯太子[關平]</string>
			<key>storyName</key>
			<string>精英靈侯太子</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20010</string>
			<key>coins</key>
			<string>300</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20010</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20011</key>
		<dict>
			<key>plotId</key>
			<string>20011</string>
			<key>beanId</key>
			<string>bossplot/20011</string>
			<key>sectionName</key>
			<string>長者之風[李典]</string>
			<key>storyName</key>
			<string>精英長者之風</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20011</string>
			<key>coins</key>
			<string>312</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20011</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20012</key>
		<dict>
			<key>plotId</key>
			<string>20012</string>
			<key>beanId</key>
			<string>bossplot/20012</string>
			<key>sectionName</key>
			<string>從平江東[蔣欽]</string>
			<key>storyName</key>
			<string>精英從平江東</string>
			<key>requestPower</key>
			<string>12</string>
			<key>sectionIndex</key>
			<string>20012</string>
			<key>coins</key>
			<string>324</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20012</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20013</key>
		<dict>
			<key>plotId</key>
			<string>20013</string>
			<key>beanId</key>
			<string>bossplot/20013</string>
			<key>sectionName</key>
			<string>漢陽亭侯[曹操]</string>
			<key>storyName</key>
			<string>精英漢陽亭侯</string>
			<key>requestPower</key>
			<string>16</string>
			<key>sectionIndex</key>
			<string>20013</string>
			<key>coins</key>
			<string>336</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20013</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20014</key>
		<dict>
			<key>plotId</key>
			<string>20014</string>
			<key>beanId</key>
			<string>bossplot/20014</string>
			<key>sectionName</key>
			<string>少年英才[孫權]</string>
			<key>storyName</key>
			<string>精英少年英才</string>
			<key>requestPower</key>
			<string>16</string>
			<key>sectionIndex</key>
			<string>20014</string>
			<key>coins</key>
			<string>354.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20014</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20015</key>
		<dict>
			<key>plotId</key>
			<string>20015</string>
			<key>beanId</key>
			<string>bossplot/20015</string>
			<key>sectionName</key>
			<string>慧識明主[劉備]</string>
			<key>storyName</key>
			<string>精英慧識明主</string>
			<key>requestPower</key>
			<string>16</string>
			<key>sectionIndex</key>
			<string>20015</string>
			<key>coins</key>
			<string>372</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20015</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20016</key>
		<dict>
			<key>plotId</key>
			<string>20016</string>
			<key>beanId</key>
			<string>bossplot/20016</string>
			<key>sectionName</key>
			<string>曆戰之軀[韓當]</string>
			<key>storyName</key>
			<string>精英曆戰之軀</string>
			<key>requestPower</key>
			<string>16</string>
			<key>sectionIndex</key>
			<string>20016</string>
			<key>coins</key>
			<string>390</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20016</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20017</key>
		<dict>
			<key>plotId</key>
			<string>20017</string>
			<key>beanId</key>
			<string>bossplot/20017</string>
			<key>sectionName</key>
			<string>歸漢降蜀[關鳳]</string>
			<key>storyName</key>
			<string>精英歸漢降蜀</string>
			<key>requestPower</key>
			<string>16</string>
			<key>sectionIndex</key>
			<string>20017</string>
			<key>coins</key>
			<string>408</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20017</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20018</key>
		<dict>
			<key>plotId</key>
			<string>20018</string>
			<key>beanId</key>
			<string>bossplot/20018</string>
			<key>sectionName</key>
			<string>威震江東[文聘]</string>
			<key>storyName</key>
			<string>精英威震江東</string>
			<key>requestPower</key>
			<string>16</string>
			<key>sectionIndex</key>
			<string>20018</string>
			<key>coins</key>
			<string>426</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20018</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20019</key>
		<dict>
			<key>plotId</key>
			<string>20019</string>
			<key>beanId</key>
			<string>bossplot/20019</string>
			<key>sectionName</key>
			<string>將門虎子[關興]</string>
			<key>storyName</key>
			<string>精英將門虎子</string>
			<key>requestPower</key>
			<string>20</string>
			<key>sectionIndex</key>
			<string>20019</string>
			<key>coins</key>
			<string>444.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20019</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20020</key>
		<dict>
			<key>plotId</key>
			<string>20020</string>
			<key>beanId</key>
			<string>bossplot/20020</string>
			<key>sectionName</key>
			<string>晚節不保[於禁]</string>
			<key>storyName</key>
			<string>精英晚節不保</string>
			<key>requestPower</key>
			<string>20</string>
			<key>sectionIndex</key>
			<string>20020</string>
			<key>coins</key>
			<string>462</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20020</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20021</key>
		<dict>
			<key>plotId</key>
			<string>20021</string>
			<key>beanId</key>
			<string>bossplot/20021</string>
			<key>sectionName</key>
			<string>天姿秀麗[大喬]</string>
			<key>storyName</key>
			<string>精英天姿秀麗</string>
			<key>requestPower</key>
			<string>20</string>
			<key>sectionIndex</key>
			<string>20021</string>
			<key>coins</key>
			<string>480.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20021</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20022</key>
		<dict>
			<key>plotId</key>
			<string>20022</string>
			<key>beanId</key>
			<string>bossplot/20022</string>
			<key>sectionName</key>
			<string>五子良將[徐晃]</string>
			<key>storyName</key>
			<string>精英五子良將</string>
			<key>requestPower</key>
			<string>20</string>
			<key>sectionIndex</key>
			<string>20022</string>
			<key>coins</key>
			<string>750</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20022</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20023</key>
		<dict>
			<key>plotId</key>
			<string>20023</string>
			<key>beanId</key>
			<string>bossplot/20023</string>
			<key>sectionName</key>
			<string>吳蜀梟姬[孫尚香]</string>
			<key>storyName</key>
			<string>精英吳蜀梟姬</string>
			<key>requestPower</key>
			<string>20</string>
			<key>sectionIndex</key>
			<string>20023</string>
			<key>coins</key>
			<string>1020</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20023</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20024</key>
		<dict>
			<key>plotId</key>
			<string>20024</string>
			<key>beanId</key>
			<string>bossplot/20024</string>
			<key>sectionName</key>
			<string>老當益壯[嚴顏]</string>
			<key>storyName</key>
			<string>精英老當益壯</string>
			<key>requestPower</key>
			<string>20</string>
			<key>sectionIndex</key>
			<string>20024</string>
			<key>coins</key>
			<string>1560.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20024</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20025</key>
		<dict>
			<key>plotId</key>
			<string>20025</string>
			<key>beanId</key>
			<string>bossplot/20025</string>
			<key>sectionName</key>
			<string>沉魚落雁[大喬]</string>
			<key>storyName</key>
			<string>精英沉魚落雁</string>
			<key>requestPower</key>
			<string>24</string>
			<key>sectionIndex</key>
			<string>20025</string>
			<key>coins</key>
			<string>1500</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20025</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20026</key>
		<dict>
			<key>plotId</key>
			<string>20026</string>
			<key>beanId</key>
			<string>bossplot/20026</string>
			<key>sectionName</key>
			<string>蜀漢皇后[關興]</string>
			<key>storyName</key>
			<string>精英蜀漢皇后</string>
			<key>requestPower</key>
			<string>24</string>
			<key>sectionIndex</key>
			<string>20026</string>
			<key>coins</key>
			<string>2100</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20026</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20027</key>
		<dict>
			<key>plotId</key>
			<string>20027</string>
			<key>beanId</key>
			<string>bossplot/20027</string>
			<key>sectionName</key>
			<string>曹魏良將[於禁]</string>
			<key>storyName</key>
			<string>精英曹魏良將</string>
			<key>requestPower</key>
			<string>24</string>
			<key>sectionIndex</key>
			<string>20027</string>
			<key>coins</key>
			<string>2700</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20027</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20028</key>
		<dict>
			<key>plotId</key>
			<string>20028</string>
			<key>beanId</key>
			<string>bossplot/20028</string>
			<key>sectionName</key>
			<string>百步穿楊[嚴顏]</string>
			<key>storyName</key>
			<string>精英百步穿楊</string>
			<key>requestPower</key>
			<string>28</string>
			<key>sectionIndex</key>
			<string>20028</string>
			<key>coins</key>
			<string>3300</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20028</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20029</key>
		<dict>
			<key>plotId</key>
			<string>20029</string>
			<key>beanId</key>
			<string>bossplot/20029</string>
			<key>sectionName</key>
			<string>古之惡來[徐晃]</string>
			<key>storyName</key>
			<string>精英古之惡來</string>
			<key>requestPower</key>
			<string>28</string>
			<key>sectionIndex</key>
			<string>20029</string>
			<key>coins</key>
			<string>3900.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20029</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20030</key>
		<dict>
			<key>plotId</key>
			<string>20030</string>
			<key>beanId</key>
			<string>bossplot/20030</string>
			<key>sectionName</key>
			<string>信義篤烈[孫尚香]</string>
			<key>storyName</key>
			<string>精英信義篤烈</string>
			<key>requestPower</key>
			<string>28</string>
			<key>sectionIndex</key>
			<string>20030</string>
			<key>coins</key>
			<string>4500</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20030</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20031</key>
		<dict>
			<key>plotId</key>
			<string>20031</string>
			<key>beanId</key>
			<string>bossplot/20031</string>
			<key>sectionName</key>
			<string>魏武忠侯[曹操]</string>
			<key>storyName</key>
			<string>精英魏武忠侯</string>
			<key>requestPower</key>
			<string>32</string>
			<key>sectionIndex</key>
			<string>20031</string>
			<key>coins</key>
			<string>5100.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20031</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20032</key>
		<dict>
			<key>plotId</key>
			<string>20032</string>
			<key>beanId</key>
			<string>bossplot/20032</string>
			<key>sectionName</key>
			<string>三朝猛將[孫權]</string>
			<key>storyName</key>
			<string>精英三朝猛將</string>
			<key>requestPower</key>
			<string>32</string>
			<key>sectionIndex</key>
			<string>20032</string>
			<key>coins</key>
			<string>5700.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20032</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20033</key>
		<dict>
			<key>plotId</key>
			<string>20033</string>
			<key>beanId</key>
			<string>bossplot/20033</string>
			<key>sectionName</key>
			<string>嗜血獨狼[劉備]</string>
			<key>storyName</key>
			<string>精英嗜血獨狼</string>
			<key>requestPower</key>
			<string>32</string>
			<key>sectionIndex</key>
			<string>20033</string>
			<key>coins</key>
			<string>6300</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20033</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20034</key>
		<dict>
			<key>plotId</key>
			<string>20034</string>
			<key>beanId</key>
			<string>bossplot/20034</string>
			<key>sectionName</key>
			<string>無冕之後[孫權]</string>
			<key>storyName</key>
			<string>精英無冕之後</string>
			<key>requestPower</key>
			<string>36</string>
			<key>sectionIndex</key>
			<string>20034</string>
			<key>coins</key>
			<string>6900.000</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20034</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
		<key>20035</key>
		<dict>
			<key>plotId</key>
			<string>20035</string>
			<key>beanId</key>
			<string>bossplot/20035</string>
			<key>sectionName</key>
			<string>悍勇驍將[劉備]</string>
			<key>storyName</key>
			<string>精英悍勇驍將</string>
			<key>requestPower</key>
			<string>36</string>
			<key>sectionIndex</key>
			<string>20035</string>
			<key>coins</key>
			<string>7500</string>
			<key>exp</key>
			<string>120</string>
			<key>dayJoinTimes</key>
			<string>2</string>
			<key>id</key>
			<string>20035</string>
			<key>spotIndex</key>
			<string>5</string>
		</dict>
	</dict>
</plist>
