<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>describe</key>
			<string>軍功上限</string>
			<key>value</key>
			<string>10000</string>
		</dict>
		<key>2</key>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>describe</key>
			<string>天梯積分上限</string>
			<key>value</key>
			<string>10000</string>
		</dict>
		<key>3</key>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>describe</key>
			<string>軍魂上限</string>
			<key>value</key>
			<string>10000</string>
		</dict>
		<key>4</key>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>describe</key>
			<string>勳章上限</string>
			<key>value</key>
			<string>10000</string>
		</dict>
		<key>5</key>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>describe</key>
			<string>元寶上限</string>
			<key>value</key>
			<string>9999999</string>
		</dict>
		<key>6</key>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>describe</key>
			<string>銅錢上限</string>
			<key>value</key>
			<string>999999999</string>
		</dict>
		<key>7</key>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>describe</key>
			<string>掃蕩功能開啟Vip等級</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<key>8</key>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>describe</key>
			<string>十連掃功能開啟Vip等級</string>
			<key>value</key>
			<string>3</string>
		</dict>
		<key>9</key>
		<dict>
			<key>id</key>
			<string>9</string>
			<key>describe</key>
			<string>廢棄</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<key>10</key>
		<dict>
			<key>id</key>
			<string>10</string>
			<key>describe</key>
			<string>首次購買守荊州次數所需最低vip等級</string>
			<key>value</key>
			<string>4</string>
		</dict>
		<key>11</key>
		<dict>
			<key>id</key>
			<string>11</string>
			<key>describe</key>
			<string>每次闖關邀請義軍後獲得的軍功值</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<key>12</key>
		<dict>
			<key>id</key>
			<string>12</string>
			<key>describe</key>
			<string>每次闖關邀請好友友軍後獲得的軍功值</string>
			<key>value</key>
			<string>20</string>
		</dict>
		<key>13</key>
		<dict>
			<key>id</key>
			<string>13</string>
			<key>describe</key>
			<string>軍糧上限</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<key>14</key>
		<dict>
			<key>id</key>
			<string>14</string>
			<key>describe</key>
			<string>廢棄</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<key>15</key>
		<dict>
			<key>id</key>
			<string>15</string>
			<key>describe</key>
			<string>魏國割須棄袍特效觸發條件，生命小於總生命的百分比</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>16</key>
		<dict>
			<key>id</key>
			<string>16</string>
			<key>describe</key>
			<string>魏國割須棄袍特效觸發效果，每點行動力增長攻擊百分比</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<key>17</key>
		<dict>
			<key>id</key>
			<string>17</string>
			<key>describe</key>
			<string>新手引導總步數</string>
			<key>value</key>
			<string>46</string>
		</dict>
		<key>18</key>
		<dict>
			<key>id</key>
			<string>18</string>
			<key>describe</key>
			<string>新手引導關卡1-1進入戰鬥步數</string>
			<key>value</key>
			<string>6</string>
		</dict>
		<key>19</key>
		<dict>
			<key>id</key>
			<string>19</string>
			<key>describe</key>
			<string>新手引導關卡1-2進入戰鬥步數</string>
			<key>value</key>
			<string>9</string>
		</dict>
		<key>20</key>
		<dict>
			<key>id</key>
			<string>20</string>
			<key>describe</key>
			<string>新手引導關卡1-3進入戰鬥步數</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>21</key>
		<dict>
			<key>id</key>
			<string>21</string>
			<key>describe</key>
			<string>boss戰普通復活開啟VIP等級</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<key>22</key>
		<dict>
			<key>id</key>
			<string>22</string>
			<key>describe</key>
			<string>boss戰攻擊力buff復活開啟VIP等級</string>
			<key>value</key>
			<string>5</string>
		</dict>
		<key>23</key>
		<dict>
			<key>id</key>
			<string>23</string>
			<key>describe</key>
			<string>boss戰暴擊倍率buff復活開啟VIP等級</string>
			<key>value</key>
			<string>5</string>
		</dict>
		<key>24</key>
		<dict>
			<key>id</key>
			<string>24</string>
			<key>describe</key>
			<string>boss戰暴擊率buff復活開啟VIP等級</string>
			<key>value</key>
			<string>5</string>
		</dict>
		<key>25</key>
		<dict>
			<key>id</key>
			<string>25</string>
			<key>describe</key>
			<string>每日facebook分享獎勵元寶數</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>26</key>
		<dict>
			<key>id</key>
			<string>26</string>
			<key>describe</key>
			<string>每日facebook分享獎勵銅錢數</string>
			<key>value</key>
			<string>5000</string>
		</dict>
		<key>27</key>
		<dict>
			<key>id</key>
			<string>27</string>
			<key>describe</key>
			<string>十連掃功能開啟等級（與條件8是或的關係）</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>28</key>
		<dict>
			<key>id</key>
			<string>28</string>
			<key>describe</key>
			<string>佈陣中最強裝備提示</string>
			<key>value</key>
			<string>25</string>
		</dict>
		<key>29</key>
		<dict>
			<key>id</key>
			<string>29</string>
			<key>describe</key>
			<string>體力回滿推送通知的最小等級</string>
			<key>value</key>
			<string>20</string>
		</dict>
		<key>30</key>
		<dict>
			<key>id</key>
			<string>30</string>
			<key>describe</key>
			<string>領取工資的最小等級</string>
			<key>value</key>
			<string>20</string>
		</dict>
		<key>31</key>
		<dict>
			<key>id</key>
			<string>31</string>
			<key>describe</key>
			<string>活動探訪開啟的VIP等級</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<key>32</key>
		<dict>
			<key>id</key>
			<string>32</string>
			<key>describe</key>
			<string>購買體力恢復多少點</string>
			<key>value</key>
			<string>120</string>
		</dict>
		<key>33</key>
		<dict>
			<key>id</key>
			<string>33</string>
			<key>describe</key>
			<string>初始天梯等級</string>
			<key>value</key>
			<string>1000</string>
		</dict>
		<key>34</key>
		<dict>
			<key>id</key>
			<string>34</string>
			<key>describe</key>
			<string>初始天梯聲望</string>
			<key>value</key>
			<string>1500</string>
		</dict>
		<key>35</key>
		<dict>
			<key>id</key>
			<string>35</string>
			<key>describe</key>
			<string>購買軍糧恢復多少點</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<key>36</key>
		<dict>
			<key>id</key>
			<string>36</string>
			<key>describe</key>
			<string>自动战斗不开启的最高等级</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<key>37</key>
		<dict>
			<key>id</key>
			<string>37</string>
			<key>describe</key>
			<string>自动战斗开启1倍速度最低等级</string>
			<key>value</key>
			<string>9</string>
		</dict>
		<key>38</key>
		<dict>
			<key>id</key>
			<string>38</string>
			<key>describe</key>
			<string>自动战斗开启3倍速度最低等级</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>39</key>
		<dict>
			<key>id</key>
			<string>39</string>
			<key>describe</key>
			<string>教学闯关关卡ID</string>
			<key>value</key>
			<string>0,1,2,3,10,11,17,18,</string>
		</dict>
		<key>40</key>
		<dict>
			<key>id</key>
			<string>40</string>
			<key>describe</key>
			<string>新手引导-布阵阶段-开始ID</string>
			<key>value</key>
			<string>40</string>
		</dict>
		<key>41</key>
		<dict>
			<key>id</key>
			<string>41</string>
			<key>describe</key>
			<string>新手引导-布阵阶段-结束ID</string>
			<key>value</key>
			<string>41</string>
		</dict>
		<key>42</key>
		<dict>
			<key>id</key>
			<string>42</string>
			<key>describe</key>
			<string>新手引导关卡1-1结束战斗步数</string>
			<key>value</key>
			<string>7</string>
		</dict>
		<key>43</key>
		<dict>
			<key>id</key>
			<string>43</string>
			<key>describe</key>
			<string>新手引导关卡1-2结束战斗步数</string>
			<key>value</key>
			<string>13</string>
		</dict>
		<key>44</key>
		<dict>
			<key>id</key>
			<string>44</string>
			<key>describe</key>
			<string>新手引导关卡1-3结束战斗步数</string>
			<key>value</key>
			<string>31</string>
		</dict>
		<key>45</key>
		<dict>
			<key>id</key>
			<string>45</string>
			<key>describe</key>
			<string>元宝探访1次消费</string>
			<key>value</key>
			<string>300</string>
		</dict>
		<key>46</key>
		<dict>
			<key>id</key>
			<string>46</string>
			<key>describe</key>
			<string>元宝探访10次消费</string>
			<key>value</key>
			<string>2800</string>
		</dict>
		<key>47</key>
		<dict>
			<key>id</key>
			<string>47</string>
			<key>describe</key>
			<string>铜钱探访1次消费</string>
			<key>value</key>
			<string>10000</string>
		</dict>
		<key>48</key>
		<dict>
			<key>id</key>
			<string>48</string>
			<key>describe</key>
			<string>铜钱探访10次消费</string>
			<key>value</key>
			<string>100000</string>
		</dict>
		<key>49</key>
		<dict>
			<key>id</key>
			<string>49</string>
			<key>describe</key>
			<string>活动探访元宝消费</string>
			<key>value</key>
			<string>400</string>
		</dict>
		<key>50</key>
		<dict>
			<key>id</key>
			<string>50</string>
			<key>describe</key>
			<string>战场中弱引导小手出现的最大普通关卡【章】数</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<key>51</key>
		<dict>
			<key>id</key>
			<string>51</string>
			<key>describe</key>
			<string>战场中强制不出现【自动战斗】按钮的关卡（填入的是plotid)</string>
			<key>value</key>
			<string>1,2,3,10,11,17,18</string>
		</dict>
		<key>52</key>
		<dict>
			<key>id</key>
			<string>52</string>
			<key>describe</key>
			<string>新手引导-强制条件-当前阵容第一个武将-武器ID  满足该条件，才出现装备转生引导</string>
			<key>value</key>
			<string>4101</string>
		</dict>
		<key>53</key>
		<dict>
			<key>id</key>
			<string>53</string>
			<key>describe</key>
			<string>新手引导-强制条件-当前阵容第一个武将ID  满足该条件，才出现武将转生引导（蜀1魏2吴3）</string>
			<key>value</key>
			<string>1:1002,2:1199,3:1396</string>
		</dict>
		<key>54</key>
		<dict>
			<key>id</key>
			<string>54</string>
			<key>describe</key>
			<string>武将位1开启等级</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<key>55</key>
		<dict>
			<key>id</key>
			<string>55</string>
			<key>describe</key>
			<string>武将位2开启等级</string>
			<key>value</key>
			<string>1</string>
		</dict>
		<key>56</key>
		<dict>
			<key>id</key>
			<string>56</string>
			<key>describe</key>
			<string>武将位3开启等级</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<key>57</key>
		<dict>
			<key>id</key>
			<string>57</string>
			<key>describe</key>
			<string>武将位4开启等级</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<key>58</key>
		<dict>
			<key>id</key>
			<string>58</string>
			<key>describe</key>
			<string>武将位5开启等级</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>59</key>
		<dict>
			<key>id</key>
			<string>59</string>
			<key>describe</key>
			<string>武将位6开启等级</string>
			<key>value</key>
			<string>20</string>
		</dict>
		<key>60</key>
		<dict>
			<key>id</key>
			<string>60</string>
			<key>describe</key>
			<string>武将位7开启等级</string>
			<key>value</key>
			<string>25</string>
		</dict>
		<key>61</key>
		<dict>
			<key>id</key>
			<string>61</string>
			<key>describe</key>
			<string>武将位8开启等级</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>62</key>
		<dict>
			<key>id</key>
			<string>62</string>
			<key>describe</key>
			<string>武将位9开启等级</string>
			<key>value</key>
			<string>35</string>
		</dict>
		<key>63</key>
		<dict>
			<key>id</key>
			<string>63</string>
			<key>describe</key>
			<string>武将位10开启等级</string>
			<key>value</key>
			<string>40</string>
		</dict>
		<key>64</key>
		<dict>
			<key>id</key>
			<string>64</string>
			<key>describe</key>
			<string>精英1-1武将碎片合成引导出现条件，拥有武将卡的原型ID不含有此值，则出现引导</string>
			<key>value</key>
			<string>110016</string>
		</dict>
		<key>65</key>
		<dict>
			<key>id</key>
			<string>65</string>
			<key>describe</key>
			<string>引导红点出现等级限制1-低于该等级，只出现布阵上的红点</string>
			<key>value</key>
			<string>8</string>
		</dict>
		<key>66</key>
		<dict>
			<key>id</key>
			<string>66</string>
			<key>describe</key>
			<string>引导红点出现等级限制2-高于该等级，则不出现【武将强化】【装备强化】红点</string>
			<key>value</key>
			<string>25</string>
		</dict>
		<key>67</key>
		<dict>
			<key>id</key>
			<string>67</string>
			<key>describe</key>
			<string>引导红点-出现武将强化的最小等级差（主公等级-上阵武将等级）</string>
			<key>value</key>
			<string>2</string>
		</dict>
		<key>68</key>
		<dict>
			<key>id</key>
			<string>68</string>
			<key>describe</key>
			<string>引导红点-出现武将强化的经验丹\石数量</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>69</key>
		<dict>
			<key>id</key>
			<string>69</string>
			<key>describe</key>
			<string>引导红点-出现装备强化的最小等级差（主公等级-上阵武将穿戴的装备等级）</string>
			<key>value</key>
			<string>3</string>
		</dict>
		<key>70</key>
		<dict>
			<key>id</key>
			<string>70</string>
			<key>describe</key>
			<string>引导红点-出现装备强化的铜钱数</string>
			<key>value</key>
			<string>50000</string>
		</dict>
		<key>71</key>
		<dict>
			<key>id</key>
			<string>71</string>
			<key>describe</key>
			<string>守荆州援军ID</string>
			<key>value</key>
			<string>1030</string>
		</dict>
		<key>72</key>
		<dict>
			<key>id</key>
			<string>72</string>
			<key>describe</key>
			<string>新手引导关卡主公--蜀</string>
			<key>value</key>
			<string>1002</string>
		</dict>
		<key>73</key>
		<dict>
			<key>id</key>
			<string>73</string>
			<key>describe</key>
			<string>新手引导关卡主公--魏</string>
			<key>value</key>
			<string>1199</string>
		</dict>
		<key>74</key>
		<dict>
			<key>id</key>
			<string>74</string>
			<key>describe</key>
			<string>新手引导关卡主公--吴</string>
			<key>value</key>
			<string>1396</string>
		</dict>
		<key>75</key>
		<dict>
			<key>id</key>
			<string>75</string>
			<key>describe</key>
			<string>洛阳鬼市开启所需vip等级</string>
			<key>value</key>
			<string>6</string>
		</dict>
		<key>76</key>
		<dict>
			<key>id</key>
			<string>76</string>
			<key>describe</key>
			<string>勾玉上限</string>
			<key>value</key>
			<string>10000</string>
		</dict>
		<key>77</key>
		<dict>
			<key>id</key>
			<string>77</string>
			<key>describe</key>
			<string>征服点上限</string>
			<key>value</key>
			<string>100000</string>
		</dict>
		<key>78</key>
		<dict>
			<key>id</key>
			<string>78</string>
			<key>describe</key>
			<string>竞技场每天战斗的次数</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<key>79</key>
		<dict>
			<key>id</key>
			<string>79</string>
			<key>describe</key>
			<string>竞技场可以观看的历史战报数量</string>
			<key>value</key>
			<string>20</string>
		</dict>
		<key>80</key>
		<dict>
			<key>id</key>
			<string>80</string>
			<key>describe</key>
			<string>竞技场排行榜可以查看的数量</string>
			<key>value</key>
			<string>20</string>
		</dict>
		<key>81</key>
		<dict>
			<key>id</key>
			<string>81</string>
			<key>describe</key>
			<string>培养功能主公等级限制</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>82</key>
		<dict>
			<key>id</key>
			<string>82</string>
			<key>describe</key>
			<string>培养功能武将等级限制</string>
			<key>value</key>
			<string>10</string>
		</dict>
		<key>83</key>
		<dict>
			<key>id</key>
			<string>83</string>
			<key>describe</key>
			<string>西域商人持续时间</string>
			<key>value</key>
			<string>120</string>
		</dict>
		<key>84</key>
		<dict>
			<key>id</key>
			<string>84</string>
			<key>describe</key>
			<string>未领取累计征服点上限</string>
			<key>value</key>
			<string>20000</string>
		</dict>
		<key>85</key>
		<dict>
			<key>id</key>
			<string>85</string>
			<key>describe</key>
			<string>培养红点条件，培养丹数量</string>
			<key>value</key>
			<string>90</string>
		</dict>
		<key>86</key>
		<dict>
			<key>id</key>
			<string>86</string>
			<key>describe</key>
			<string>培养红点条件，武将剩余潜力点数量</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<key>87</key>
		<dict>
			<key>id</key>
			<string>87</string>
			<key>describe</key>
			<string>征服点领取红点，已累积征服点数量</string>
			<key>value</key>
			<string>15000</string>
		</dict>
		<key>88</key>
		<dict>
			<key>id</key>
			<string>88</string>
			<key>describe</key>
			<string>竞技场可以购买挑战次数的vip等级</string>
			<key>value</key>
			<string>3</string>
		</dict>
		<key>89</key>
		<dict>
			<key>id</key>
			<string>89</string>
			<key>describe</key>
			<string>竞技场失败后冷却时间（单位：秒）</string>
			<key>value</key>
			<string>300</string>
		</dict>
	</dict>
</plist>
