<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>900001</key>
		<dict>
			<key>id</key>
			<string>900001</string>
			<key>attrType</key>
			<string>0</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>33</string>
		</dict>
		<key>900002</key>
		<dict>
			<key>id</key>
			<string>900002</string>
			<key>attrType</key>
			<string>1</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>33</string>
		</dict>
		<key>900003</key>
		<dict>
			<key>id</key>
			<string>900003</string>
			<key>attrType</key>
			<string>2</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>33</string>
		</dict>
		<key>900004</key>
		<dict>
			<key>id</key>
			<string>900004</string>
			<key>attrType</key>
			<string>3</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>99</string>
		</dict>
		<key>900005</key>
		<dict>
			<key>id</key>
			<string>900005</string>
			<key>attrType</key>
			<string>0</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>900006</key>
		<dict>
			<key>id</key>
			<string>900006</string>
			<key>attrType</key>
			<string>1</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>900007</key>
		<dict>
			<key>id</key>
			<string>900007</string>
			<key>attrType</key>
			<string>2</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>900008</key>
		<dict>
			<key>id</key>
			<string>900008</string>
			<key>attrType</key>
			<string>3</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>30</string>
		</dict>
		<key>900009</key>
		<dict>
			<key>id</key>
			<string>900009</string>
			<key>attrType</key>
			<string>0</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>25</string>
		</dict>
		<key>900010</key>
		<dict>
			<key>id</key>
			<string>900010</string>
			<key>attrType</key>
			<string>1</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>25</string>
		</dict>
		<key>900011</key>
		<dict>
			<key>id</key>
			<string>900011</string>
			<key>attrType</key>
			<string>2</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>25</string>
		</dict>
		<key>900012</key>
		<dict>
			<key>id</key>
			<string>900012</string>
			<key>attrType</key>
			<string>3</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>25</string>
		</dict>
		<key>900013</key>
		<dict>
			<key>id</key>
			<string>900013</string>
			<key>attrType</key>
			<string>0</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>22</string>
		</dict>
		<key>900014</key>
		<dict>
			<key>id</key>
			<string>900014</string>
			<key>attrType</key>
			<string>1</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>22</string>
		</dict>
		<key>900015</key>
		<dict>
			<key>id</key>
			<string>900015</string>
			<key>attrType</key>
			<string>2</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>22</string>
		</dict>
		<key>900016</key>
		<dict>
			<key>id</key>
			<string>900016</string>
			<key>attrType</key>
			<string>3</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>22</string>
		</dict>
		<key>900017</key>
		<dict>
			<key>id</key>
			<string>900017</string>
			<key>attrType</key>
			<string>0</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>900018</key>
		<dict>
			<key>id</key>
			<string>900018</string>
			<key>attrType</key>
			<string>1</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>900019</key>
		<dict>
			<key>id</key>
			<string>900019</string>
			<key>attrType</key>
			<string>2</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>900020</key>
		<dict>
			<key>id</key>
			<string>900020</string>
			<key>attrType</key>
			<string>3</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>15</string>
		</dict>
		<key>900021</key>
		<dict>
			<key>id</key>
			<string>900021</string>
			<key>attrType</key>
			<string>0</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>12</string>
		</dict>
		<key>900022</key>
		<dict>
			<key>id</key>
			<string>900022</string>
			<key>attrType</key>
			<string>1</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>12</string>
		</dict>
		<key>900023</key>
		<dict>
			<key>id</key>
			<string>900023</string>
			<key>attrType</key>
			<string>2</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>12</string>
		</dict>
		<key>900024</key>
		<dict>
			<key>id</key>
			<string>900024</string>
			<key>attrType</key>
			<string>3</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>12</string>
		</dict>
		<key>903024</key>
		<dict>
			<key>id</key>
			<string>903024</string>
			<key>attrType</key>
			<string>3</string>
			<key>valueType</key>
			<string>0</string>
			<key>value</key>
			<string>108</string>
		</dict>
	</dict>
</plist>
