<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>1</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>111</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>战场分为两个区域，以屏幕中央为界。</string>
					<string>/#敌方/#已经在上半场准备好了。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
				<key>tips</key>
				<string>18,29</string>
			</dict>
			<key>10</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>请按照屏幕上手指的轨迹，按住士兵，并将其拖动到指定位置。</string>
				</array>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>from</key>
				<integer>113</integer>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>from</key>
				<integer>114</integer>
				<key>modelId</key>
				<string>12</string>
				<key>modelMsg</key>
				<array>
					<string>再次消耗1点行动力，我方可用行動力为0，轮到敌方行动。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>12</string>
			</dict>
			<key>13</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>13</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>6</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>14</key>
			<dict>
				<key>from</key>
				<integer>114</integer>
				<key>modelId</key>
				<string>14</string>
				<key>modelMsg</key>
				<array>
					<string>很好！我军第一个攻击阵列/#直接命中/#敌方，造成/#100/#点伤害。</string>
					<string>第二个攻击阵列被敌军/#阻挡/#，攻击力減弱，仅对敌方造成/#50/#点伤害。</string>
					<string>敌方的/#血量/#減少了。</string>
					<string>请注意：血量首先/#降低至0/#的一方，将/#输掉/#这场战斗。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>31</string>
			</dict>
			<key>15</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>15</string>
				<key>modelMsg</key>
				<array>
					<string>点击“/#援兵/#”派出更多士兵!</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>13</string>
			</dict>
			<key>16</key>
			<dict>
				<key>btnType</key>
				<string>1</string>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>16</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>from</key>
				<integer>114</integer>
				<key>modelId</key>
				<string>17</string>
				<key>modelMsg</key>
				<array>
					<string>请按照屏幕上手指的轨迹，按住士兵，并将其拖动到指定位置。</string>
				</array>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,6}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>from</key>
				<integer>113</integer>
				<key>modelId</key>
				<string>18</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,3}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>19</key>
			<dict>
				<key>from</key>
				<integer>114</integer>
				<key>modelId</key>
				<string>19</string>
				<key>modelMsg</key>
				<array>
					<string>您只剩下/#1点/#行动力，但是无法创建任何阵列了。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>2</string>
				<key>point</key>
				<string>{0,0}</string>
			</dict>
			<key>20</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>20</string>
				<key>modelMsg</key>
				<array>
					<string>点击/#结束/#按钮，/#结束回合/#。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>12</string>
			</dict>
			<key>21</key>
			<dict>
				<key>btnType</key>
				<string>2</string>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>21</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>22</key>
			<dict>
				<key>btnType</key>
				<string>3</string>
				<key>from</key>
				<integer>117</integer>
				<key>modelId</key>
				<string>22</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>23</key>
			<dict>
				<key>from</key>
				<integer>116</integer>
				<key>modelId</key>
				<string>23</string>
				<key>modelMsg</key>
				<array>
					<string>恭喜您！/#已经彻底击败敌方，/#贏得了这场战斗。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>24</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>24</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>117</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array>
					<string>敌军已在战场上部准备就绪，/#我方/#部队将出现在战场下半部分。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>3</string>
				<key>point</key>
				<string>{0,0}</string>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<integer>117</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array>
					<string>战斗的目标是使/#敌方的血量为0/#！</string>
					<string>下面，创建/#攻击阵列/#来开始战斗吧！</string>
					<string>将/#三个相同颜色/#的士兵排成/#一竖列/#。</string>
					<string>/#请留意！！——/#每一竖列/#只有最末端/#的小兵/#可以移动/#，请将他放到游标指示的位置。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>11,03</string>
			</dict>
			<key>6</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>18</string>
				<key>point</key>
				<string>{1,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>112</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array>
					<string>请按照屏幕上手指的轨迹，按住士兵，并将其拖动到指定位置。</string>
				</array>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>113</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,5}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>from</key>
				<integer>114</integer>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array>
					<string>很好，成功创建了/#攻击阵列/#，同时也消耗了一点/#行动力/#。</string>
					<string>这组攻击阵列会在蓄力/#1回合/#后/#发动攻击/#。</string>
					<string>/#蓄力回合數&quot;1&quot;/#会显示在攻击阵列上。</string>
					<string>再试着组成/#另一个/#攻击阵列。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,5}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>12,35</string>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<string>121</string>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array>
					<string>此场战斗中，敌方速度较高，由/#敌方先行动/#。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>from</key>
				<string>124</string>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>共消耗3点行动力，我方已无可用的行动力，轮到敌方行动。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>from</key>
				<string>122</string>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>6</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>from</key>
				<integer>124</integer>
				<key>modelId</key>
				<string>12</string>
				<key>modelMsg</key>
				<array>
					<string>战场上/#所有消耗掉的单位/#，都會/#回归为援兵/#。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>13</key>
			<dict>
				<key>from</key>
				<integer>122</integer>
				<key>modelId</key>
				<string>13</string>
				<key>modelMsg</key>
				<array>
					<string>您还有12个/#援兵/#可用，请派遣他们出战。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
				<key>tips</key>
				<string>13</string>
			</dict>
			<key>14</key>
			<dict>
				<key>btnType</key>
				<string>1</string>
				<key>from</key>
				<string>122</string>
				<key>modelId</key>
				<string>14</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>15</key>
			<dict>
				<key>from</key>
				<string>124</string>
				<key>modelId</key>
				<string>15</string>
				<key>modelMsg</key>
				<array>
					<string>左侧上场的是您的/#武将/#。</string>
					<string>请留意！！武将/#下方/#放置两个与武将同颜色的小兵，可组成攻击阵列。武将不能组成防御牆。</string>
					<string>战斗中/#武将往往是决定胜负的关键！！/#请来试一试~</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{2,0}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>16</string>
			</dict>
			<key>16</key>
			<dict>
				<key>from</key>
				<integer>122</integer>
				<key>modelId</key>
				<string>16</string>
				<key>modelMsg</key>
				<array>
					<string>提示: 只有在武将/#下方/#放置2个与武将同颜色的小兵才能让武将组成攻击阵列哦。把武将放在2个士兵中间或下方都是无法组成的。</string>
				</array>
				<key>modelType</key>
				<string>17</string>
				<key>point</key>
				<string>{1,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>from</key>
				<integer>122</integer>
				<key>modelId</key>
				<string>17</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{1,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>from</key>
				<integer>123</integer>
				<key>modelId</key>
				<string>18</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{3,0}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>19</key>
			<dict>
				<key>from</key>
				<integer>124</integer>
				<key>modelId</key>
				<string>19</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,3}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>122</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>20</key>
			<dict>
				<key>from</key>
				<integer>123</integer>
				<key>modelId</key>
				<string>20</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{4,0}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>21</key>
			<dict>
				<key>from</key>
				<integer>0</integer>
				<key>modelId</key>
				<string>21</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>0</string>
				<key>point</key>
				<string>{4,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>22</key>
			<dict>
				<key>from</key>
				<string>124</string>
				<key>modelId</key>
				<string>22</string>
				<key>modelMsg</key>
				<array>
					<string>我方的/#防御阵列/#成功阻止了敌人的一波攻击。</string>
					<string>另外一队敌人则轻易的击败了散兵，对我方直接造成伤害。</string>
					<string>那些/#没有组成阵列/#的散兵，会很容易被敌人击败。</string>
					<string>剩下的战斗，您可以小试身手!</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
			</dict>
			<key>23</key>
			<dict>
				<key>from</key>
				<integer>122</integer>
				<key>modelId</key>
				<string>23</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
				<key>point</key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>124</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array>
					<string>敌方创建了2个/#攻击阵列/#。</string>
					<string>让我们创建一个/#防守阵列/#来抵御攻击吧！</string>
					<string>为此，需要将/#三个相同颜色的/#士兵放置成/#一横排/#。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>122</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,7}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<integer>123</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>from</key>
				<integer>124</integer>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>123</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{0,1}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>124</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{1,3}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>from</key>
				<integer>123</integer>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{0,2}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
		</dict>
		<key>3</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>131</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>from</key>
				<integer>134</integer>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>没有更多能组成阵列的士兵了，请点击援兵召唤更多士兵。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>13</string>
			</dict>
			<key>11</key>
			<dict>
				<key>btnType</key>
				<string>1</string>
				<key>from</key>
				<integer>132</integer>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>from</key>
				<integer>134</integer>
				<key>modelId</key>
				<string>12</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
				<key>point</key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>137</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array>
					<string>战斗中，/#消除士兵/#可以释放空间，同时也是/#组成阵列/#的重要手段。</string>
					<string>稍后，请您/#按住标示的散兵/#1秒时间，直到弹出提示。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>132</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{1,3}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>134</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>消除士兵也是需要耗费一点行动力的。</string>
					<string>/#攻击阵列/#和/#防御阵列/#都可以通过消除的方式来创建。</string>
					<string>您要做的，就是将中间多馀的士兵/#消除/#掉。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>12</string>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<integer>132</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,3}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>from</key>
				<integer>134</integer>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array>
					<string>/#请留意！！/#——通过这种方式组成的阵列，/#不会消耗行动力！！/#。</string>
					<string>下面，请试试看。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>12</string>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>132</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{1,5}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>134</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{1,7}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>from</key>
				<integer>134</integer>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{1,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>1</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>211</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>from</key>
				<integer>214</integer>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>看，您的行动力并没有减少。想放弃操作士兵或武将的话，就放心地将他们放回原位吧。</string>
					<string>您可以继续战斗了</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,2}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>12</string>
			</dict>
			<key>11</key>
			<dict>
				<key>from</key>
				<string>212</string>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
				<key>point </key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>217</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array>
					<string>只有每一列最后排的单位才可以移动。</string>
				</array>
				<key>modelType</key>
				<string>18</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>212</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>213</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>请把兵放回原处吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<integer>212</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>from</key>
				<integer>214</integer>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array>
					<string>很好，再试著移动一个士兵</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>212</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>14</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>213</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array>
					<string>请把兵放回原处吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>from</key>
				<integer>212</integer>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>15</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>221</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>227</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array>
					<string>您知道吗？您还可以用手指拖动士兵来快速地完成移动。快试试吧！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>btnType</key>
				<string>1</string>
				<key>from</key>
				<integer>222</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array>
					<string>尝试用手指拖动一名士兵吧！</string>
				</array>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>6</integer>
				<key>tips</key>
				<string>13</string>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>224</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>移动士兵成功了</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,2}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<string>222</string>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
				<key>point </key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>1</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>411</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>417</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array>
					<string>现在为您介绍名为“/#连锁/#”的战术。</string>
					<string>/#同一个回合内/#，形成/#两个相同颜色/#的攻击阵列则视为连锁攻击。</string>
					<string>请创造两个/#黄色/#的攻击阵列。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>412</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>414</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<integer>413</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,5}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>from</key>
				<integer>414</integer>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array>
					<string>对了，就是这样！</string>
					<string>连锁后/#发动攻击时，攻击力会提升。</string>
					<string>连锁的阵列越多，/#攻击力/#越高。（只在攻击时起效）</string>
					<string>再次移动一个/#黄色士兵/#，让他形成“三阵连锁”吧。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>412</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,2}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>413</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,7}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>421</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>from</key>
				<integer>422</integer>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,2}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>from</key>
				<string>424</string>
				<key>modelId</key>
				<string>12</string>
				<key>modelMsg</key>
				<array>
					<string>在这个黄色阵列后再组建一个/#黄色攻击阵列/#。</string>
					<string>两个阵列合二为一，/#攻击力将在攻击时翻倍，/#蓄力回合则以前方阵列的进行计算。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0, 0}</string>
				<key>pst</key>
				<string>1</string>
			</dict>
			<key>12</key>
			<dict>
				<key>from</key>
				<integer>422</integer>
				<key>modelId</key>
				<string>13</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>13</key>
			<dict>
				<key>from</key>
				<integer>423</integer>
				<key>modelId</key>
				<string>14</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{3,2}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>14</key>
			<dict>
				<key>from</key>
				<integer>424</integer>
				<key>modelId</key>
				<string>15</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{1,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>15</key>
			<dict>
				<key>from</key>
				<integer>423</integer>
				<key>modelId</key>
				<string>16</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{4,2}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>16</key>
			<dict>
				<key>from</key>
				<integer>424</integer>
				<key>modelId</key>
				<string>17</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>from</key>
				<integer>423</integer>
				<key>modelId</key>
				<string>18</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{5,2}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>from</key>
				<integer>424</integer>
				<key>modelId</key>
				<string>19</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
				<key>point</key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>427</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array>
					<string>这里要为您介绍关于“/#融合/#”的战术。</string>
					<string>在/#墙/#的后面，再形成一/#新的墙，/#则两个阵列合二为一，防御力提升。</string>
					<string>请移动/#蓝色/#的士兵试一下。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>422</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,1}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>423</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{0,7}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<integer>424</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array>
					<string>让我们在这个/#墙/#后，再组建一个新的牆。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>from</key>
				<integer>422</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,3}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>423</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{1,7}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>424</integer>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>11</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>from</key>
				<integer>424</integer>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array>
					<string>/#融合后的墙，防御力更高。/#</string>
					<string>/#小兵攻击阵列/#也可以融合，提升攻击力，要求是/#同颜色/#阵列。</string>
					<string>请先将中间多余的/#红色/#士兵/#消除/#。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>6</key>
	<dict>
		<key>1</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>611</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>617</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array>
					<string>之前您已设置了/#主将/#，现在为您介绍/#主将计/#的发动。</string>
					<string>主将计需要技能槽积蓄满才能发动。</string>
					<string>/#请留意！！/#仅通过/#一次操作/#即组成/#1个以上阵列/#时可以/#减少主将计发动回合/#。</string>
					<string>请/#消除/#标示的蓝色士兵！</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
				<key>tips</key>
				<string>24</string>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>612</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{1,3}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>614</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array>
					<string>/#请留意！！/#一次组成了多个阵列！技能槽瞬间填满！</string>
					<string>主将计蓄力完成！</string>
					<string>请点击/#技能槽位置/#按钮后，再选一个位置进行技能/#发动/#。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>2</integer>
				<key>tips</key>
				<string>14</string>
			</dict>
			<key>5</key>
			<dict>
				<key>btnType</key>
				<string>4</string>
				<key>from</key>
				<integer>612</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>btnType</key>
				<string>5</string>
				<key>from</key>
				<integer>617</integer>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>7</string>
				<key>point</key>
				<string>{2,5}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>616</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array>
					<string>不同的武将其/#主将计/#也不同，可以在军营中的武将卡片中查看。</string>
				</array>
				<key>modelType</key>
				<string>8</string>
				<key>point</key>
				<string>{2,1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>612</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>10</string>
				<key>point</key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>2</key>
		<dict>
			<key>1</key>
			<dict>
				<key>from</key>
				<integer>621</integer>
				<key>modelId</key>
				<string>1</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>9</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>2</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>from</key>
				<integer>623</integer>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{3,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>from</key>
				<integer>626</integer>
				<key>modelId</key>
				<string>11</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
				<key>point</key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>from</key>
				<integer>624</integer>
				<key>modelId</key>
				<string>10</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>8</string>
				<key>point</key>
				<string>{-1,-1}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>from</key>
				<integer>627</integer>
				<key>modelId</key>
				<string>2</string>
				<key>modelMsg</key>
				<array>
					<string>有些武将，在战场中将以较大的体型出现，/#他们是恐怖的存在。/#</string>
					<string>大型武将组建攻击阵列的方式稍有不同。</string>
					<string>需要在他后面/#放置一个正方形/#，也就是放4个/#同颜色/#的散兵。</string>
					<string>请试一下。</string>
				</array>
				<key>modelType</key>
				<string>1</string>
				<key>point</key>
				<string>{0,0}</string>
				<key>pst</key>
				<integer>1</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>from</key>
				<integer>622</integer>
				<key>modelId</key>
				<string>3</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,1}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>from</key>
				<integer>623</integer>
				<key>modelId</key>
				<string>4</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,3}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>from</key>
				<integer>624</integer>
				<key>modelId</key>
				<string>5</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,2}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>from</key>
				<integer>623</integer>
				<key>modelId</key>
				<string>6</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{3,3}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>from</key>
				<integer>624</integer>
				<key>modelId</key>
				<string>7</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,5}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>from</key>
				<integer>623</integer>
				<key>modelId</key>
				<string>8</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>4</string>
				<key>point</key>
				<string>{2,4}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>from</key>
				<integer>624</integer>
				<key>modelId</key>
				<string>9</string>
				<key>modelMsg</key>
				<array/>
				<key>modelType</key>
				<string>16</string>
				<key>point</key>
				<string>{0,6}</string>
				<key>pst</key>
				<integer>6</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
