<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>0</key>
		<dict>
			<key>id</key>
			<string>0</string>
			<key>name</key>
			<string>大都督</string>
			<key>condition</key>
			<string>天梯世界排名第1</string>
			<key>buff</key>
			<string>攻擊+5%，防禦+5%，血量+5%</string>
			<key>junid</key>
			<string>9</string>
		</dict>
		<key>1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>左都督</string>
			<key>condition</key>
			<string>天梯世界排名第2</string>
			<key>buff</key>
			<string>攻擊+4%，防禦+4%，血量+4%</string>
			<key>junid</key>
			<string>8</string>
		</dict>
		<key>2</key>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>name</key>
			<string>右都督</string>
			<key>condition</key>
			<string>天梯世界排名第3</string>
			<key>buff</key>
			<string>攻擊+3%，防禦+3%，血量+3%</string>
			<key>junid</key>
			<string>7</string>
		</dict>
		<key>3</key>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>name</key>
			<string>衛將軍</string>
			<key>condition</key>
			<string>天梯世界排名第4至20</string>
			<key>buff</key>
			<string>攻擊+2%，防禦+2%，血量+2%</string>
			<key>junid</key>
			<string>6</string>
		</dict>
		<key>4</key>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>name</key>
			<string>左將軍</string>
			<key>condition</key>
			<string>天梯世界排名第21至100</string>
			<key>buff</key>
			<string>攻擊+1.5%，防禦+1.5%，血量+1.5%</string>
			<key>junid</key>
			<string>5</string>
		</dict>
		<key>5</key>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>name</key>
			<string>右將軍</string>
			<key>condition</key>
			<string>天梯世界排名第101至400</string>
			<key>buff</key>
			<string>攻擊+1.2%，防禦+1.2%，血量+1.2%</string>
			<key>junid</key>
			<string>4</string>
		</dict>
		<key>6</key>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>name</key>
			<string>左校尉</string>
			<key>condition</key>
			<string>天梯世界排名第401至1000</string>
			<key>buff</key>
			<string>攻擊+1%，防禦+1%，血量+1%</string>
			<key>junid</key>
			<string>3</string>
		</dict>
		<key>7</key>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>name</key>
			<string>右校尉</string>
			<key>condition</key>
			<string>天梯世界排名第1001至2000</string>
			<key>buff</key>
			<string>攻擊+1%，防禦+0.5%，血量+1%</string>
			<key>junid</key>
			<string>2</string>
		</dict>
		<key>8</key>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>name</key>
			<string>平民</string>
			<key>condition</key>
			<string>天梯世界排名第2000以下</string>
			<key>buff</key>
			<string>攻擊+0.5%，防禦+0.5%，血量+0.5%</string>
			<key>junid</key>
			<string>1</string>
		</dict>
	</dict>
</plist>
