<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1</string>
			<key>materialDependencyCondition</key>
			<string>410003,10;411003,10;412003,10;413003,10;</string>
		</dict>
		<key>1001</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1001</string>
			<key>materialDependencyCondition</key>
			<string>400001,5;</string>
		</dict>
		<key>1002</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1002</string>
			<key>materialDependencyCondition</key>
			<string>400001,5;400002,5;</string>
		</dict>
		<key>1003</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1003</string>
			<key>materialDependencyCondition</key>
			<string>400003,12;</string>
		</dict>
		<key>1004</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1004</string>
			<key>materialDependencyCondition</key>
			<string>400002,10;400003,10;410001,1;</string>
		</dict>
		<key>1005</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1005</string>
			<key>materialDependencyCondition</key>
			<string>400003,20;400004,10;410002,1;</string>
		</dict>
		<key>1006</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1006</string>
			<key>materialDependencyCondition</key>
			<string>400003,30;400004,15;410002,2;</string>
		</dict>
		<key>1007</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1007</string>
			<key>materialDependencyCondition</key>
			<string>400004,30;400005,20;410002,3;</string>
		</dict>
		<key>1008</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1008</string>
			<key>materialDependencyCondition</key>
			<string>400004,45;400005,25;410003,1;</string>
		</dict>
		<key>1009</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1009</string>
			<key>materialDependencyCondition</key>
			<string>400004,55;400005,40;410003,2;</string>
		</dict>
		<key>1010</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1010</string>
			<key>materialDependencyCondition</key>
			<string>400004,65;400005,40;400006,10;410003,3;</string>
		</dict>
		<key>1011</key>
		<dict>
			<key>materialDependencyId</key>
			<string>1011</string>
			<key>materialDependencyCondition</key>
			<string>400004,70;400005,40;400006,25;410003,4;</string>
		</dict>
		<key>2001</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2001</string>
			<key>materialDependencyCondition</key>
			<string>401001,5;</string>
		</dict>
		<key>2002</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2002</string>
			<key>materialDependencyCondition</key>
			<string>401001,5;401002,5;</string>
		</dict>
		<key>2003</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2003</string>
			<key>materialDependencyCondition</key>
			<string>401003,12;</string>
		</dict>
		<key>2004</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2004</string>
			<key>materialDependencyCondition</key>
			<string>401002,10;401003,10;411001,1;</string>
		</dict>
		<key>2005</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2005</string>
			<key>materialDependencyCondition</key>
			<string>401003,20;401004,10;411002,1;</string>
		</dict>
		<key>2006</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2006</string>
			<key>materialDependencyCondition</key>
			<string>401003,30;401004,15;411002,2;</string>
		</dict>
		<key>2007</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2007</string>
			<key>materialDependencyCondition</key>
			<string>401004,30;401005,20;411002,3;</string>
		</dict>
		<key>2008</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2008</string>
			<key>materialDependencyCondition</key>
			<string>401004,45;401005,25;411003,1;</string>
		</dict>
		<key>2009</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2009</string>
			<key>materialDependencyCondition</key>
			<string>401004,55;401005,40;411003,2;</string>
		</dict>
		<key>2010</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2010</string>
			<key>materialDependencyCondition</key>
			<string>401004,65;401005,40;401006,10;411003,3;</string>
		</dict>
		<key>2011</key>
		<dict>
			<key>materialDependencyId</key>
			<string>2011</string>
			<key>materialDependencyCondition</key>
			<string>401004,70;401005,40;401006,25;411003,4;</string>
		</dict>
		<key>3001</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3001</string>
			<key>materialDependencyCondition</key>
			<string>402001,5;</string>
		</dict>
		<key>3002</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3002</string>
			<key>materialDependencyCondition</key>
			<string>402001,5;402002,5;</string>
		</dict>
		<key>3003</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3003</string>
			<key>materialDependencyCondition</key>
			<string>402003,12;</string>
		</dict>
		<key>3004</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3004</string>
			<key>materialDependencyCondition</key>
			<string>402002,10;402003,10;412001,1;</string>
		</dict>
		<key>3005</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3005</string>
			<key>materialDependencyCondition</key>
			<string>402003,20;402004,10;412002,1;</string>
		</dict>
		<key>3006</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3006</string>
			<key>materialDependencyCondition</key>
			<string>402003,30;402004,15;412002,2;</string>
		</dict>
		<key>3007</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3007</string>
			<key>materialDependencyCondition</key>
			<string>402004,30;402005,20;412002,3;</string>
		</dict>
		<key>3008</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3008</string>
			<key>materialDependencyCondition</key>
			<string>402004,45;402005,25;412003,1;</string>
		</dict>
		<key>3009</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3009</string>
			<key>materialDependencyCondition</key>
			<string>402004,55;402005,40;412003,2;</string>
		</dict>
		<key>3010</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3010</string>
			<key>materialDependencyCondition</key>
			<string>402004,65;402005,40;402006,10;412003,3;</string>
		</dict>
		<key>3011</key>
		<dict>
			<key>materialDependencyId</key>
			<string>3011</string>
			<key>materialDependencyCondition</key>
			<string>402004,70;402005,40;402006,25;412003,4;</string>
		</dict>
		<key>4001</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4001</string>
			<key>materialDependencyCondition</key>
			<string>403001,5;</string>
		</dict>
		<key>4002</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4002</string>
			<key>materialDependencyCondition</key>
			<string>403001,5;403002,5;</string>
		</dict>
		<key>4003</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4003</string>
			<key>materialDependencyCondition</key>
			<string>403003,12;</string>
		</dict>
		<key>4004</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4004</string>
			<key>materialDependencyCondition</key>
			<string>403002,10;403003,10;413001,1;</string>
		</dict>
		<key>4005</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4005</string>
			<key>materialDependencyCondition</key>
			<string>403003,20;403004,10;413002,1;</string>
		</dict>
		<key>4006</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4006</string>
			<key>materialDependencyCondition</key>
			<string>403003,30;403004,15;413002,2;</string>
		</dict>
		<key>4007</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4007</string>
			<key>materialDependencyCondition</key>
			<string>403004,30;403005,20;413002,3;</string>
		</dict>
		<key>4008</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4008</string>
			<key>materialDependencyCondition</key>
			<string>403004,45;403005,25;413003,1;</string>
		</dict>
		<key>4009</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4009</string>
			<key>materialDependencyCondition</key>
			<string>403004,55;403005,40;413003,2;</string>
		</dict>
		<key>4010</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4010</string>
			<key>materialDependencyCondition</key>
			<string>403004,65;403005,40;403006,10;413003,3;</string>
		</dict>
		<key>4011</key>
		<dict>
			<key>materialDependencyId</key>
			<string>4011</string>
			<key>materialDependencyCondition</key>
			<string>403004,70;403005,40;403006,25;413003,4;</string>
		</dict>
	</dict>
</plist>
