<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>400001</key>
		<dict>
			<key>materialId</key>
			<string>400001</string>
			<key>materialName</key>
			<string>黑鐵錠</string>
			<key>materialBorderColor</key>
			<string>2</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>701</string>
			<key>materialDesc</key>
			<string>綠色和藍色品質武器轉生用材料</string>
			<key>materialMeng</key>
			<string>似乎不只是艾澤拉斯大陸才出品如此黑的錠啊</string>
		</dict>
		<key>400002</key>
		<dict>
			<key>materialId</key>
			<string>400002</string>
			<key>materialName</key>
			<string>精鋼錠</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>702</string>
			<key>materialDesc</key>
			<string>藍色品質武器轉生用材料</string>
			<key>materialMeng</key>
			<string>粗鋼...細鋼...螺紋鋼...哦,司馬鋼啦</string>
		</dict>
		<key>400003</key>
		<dict>
			<key>materialId</key>
			<string>400003</string>
			<key>materialName</key>
			<string>青銅錠</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>703</string>
			<key>materialDesc</key>
			<string>藍色和紫色品質武器轉生用材料</string>
			<key>materialMeng</key>
			<string>聽說星矢的聖衣上有一個大洞呢</string>
		</dict>
		<key>400004</key>
		<dict>
			<key>materialId</key>
			<string>400004</string>
			<key>materialName</key>
			<string>寒鐵錠</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>704</string>
			<key>materialDesc</key>
			<string>紫色品質武器轉生用材料</string>
			<key>materialMeng</key>
			<string>我已等待了千年,為何夏天還沒有來？</string>
		</dict>
		<key>400005</key>
		<dict>
			<key>materialId</key>
			<string>400005</string>
			<key>materialName</key>
			<string>赤銅錠</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>705</string>
			<key>materialDesc</key>
			<string>紫色品質武器轉生用材料</string>
			<key>materialMeng</key>
			<string>銅有足赤,但人無完人.</string>
		</dict>
		<key>400006</key>
		<dict>
			<key>materialId</key>
			<string>400006</string>
			<key>materialName</key>
			<string>紫金錠</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>706</string>
			<key>materialDesc</key>
			<string>紫色品質武器轉生用材料</string>
			<key>materialMeng</key>
			<string>玉璽？本來應該是紫金璽的…哼</string>
		</dict>
		<key>401001</key>
		<dict>
			<key>materialId</key>
			<string>401001</string>
			<key>materialName</key>
			<string>毒蠍鱗片</string>
			<key>materialBorderColor</key>
			<string>2</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>721</string>
			<key>materialDesc</key>
			<string>綠色和藍色品質防具轉生用下品材料</string>
			<key>materialMeng</key>
			<string>無毒副作用,放心使用…</string>
		</dict>
		<key>401002</key>
		<dict>
			<key>materialId</key>
			<string>401002</string>
			<key>materialName</key>
			<string>蟒蛇鱗片</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>722</string>
			<key>materialDesc</key>
			<string>藍色品質防具轉生用下品材料</string>
			<key>materialMeng</key>
			<string>你們真的打算違背美杜莎女王的意志？</string>
		</dict>
		<key>401003</key>
		<dict>
			<key>materialId</key>
			<string>401003</string>
			<key>materialName</key>
			<string>龍鯉鱗片</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>723</string>
			<key>materialDesc</key>
			<string>藍色和紫色品質防具轉生用下品材料</string>
			<key>materialMeng</key>
			<string>跳過龍門後的鯉魚就變成穿山甲了…</string>
		</dict>
		<key>401004</key>
		<dict>
			<key>materialId</key>
			<string>401004</string>
			<key>materialName</key>
			<string>山魈鱗片</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>724</string>
			<key>materialDesc</key>
			<string>紫色品質防具轉生用中品材料</string>
			<key>materialMeng</key>
			<string>我不是猴子,我是鬼…</string>
		</dict>
		<key>401005</key>
		<dict>
			<key>materialId</key>
			<string>401005</string>
			<key>materialName</key>
			<string>蛟龍鱗片</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>725</string>
			<key>materialDesc</key>
			<string>紫色品質防具轉生用中品材料</string>
			<key>materialMeng</key>
			<string>沒有觸到她的逆鱗,放心…</string>
		</dict>
		<key>401006</key>
		<dict>
			<key>materialId</key>
			<string>401006</string>
			<key>materialName</key>
			<string>鯤鵬鱗片</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>726</string>
			<key>materialDesc</key>
			<string>紫色品質防具轉生用中品材料</string>
			<key>materialMeng</key>
			<string>北冥有魚…化而為鳥…眾人匹之,不亦悲乎？</string>
		</dict>
		<key>402001</key>
		<dict>
			<key>materialId</key>
			<string>402001</string>
			<key>materialName</key>
			<string>綠松石</string>
			<key>materialBorderColor</key>
			<string>2</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>741</string>
			<key>materialDesc</key>
			<string>綠色和藍色品質飾品轉生用下品材料</string>
			<key>materialMeng</key>
			<string>這塊綠石頭價值一萬元,對韓元…</string>
		</dict>
		<key>402002</key>
		<dict>
			<key>materialId</key>
			<string>402002</string>
			<key>materialName</key>
			<string>海藍石</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>742</string>
			<key>materialDesc</key>
			<string>藍色品質飾品轉生用下品材料</string>
			<key>materialMeng</key>
			<string>黃海海藍石,出黃泥而不染.</string>
		</dict>
		<key>402003</key>
		<dict>
			<key>materialId</key>
			<string>402003</string>
			<key>materialName</key>
			<string>紫螢石</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>743</string>
			<key>materialDesc</key>
			<string>藍色和紫色品質飾品轉生用下品材料</string>
			<key>materialMeng</key>
			<string>螢火蟲的亮光怎麼會變成紫色了呢？</string>
		</dict>
		<key>402004</key>
		<dict>
			<key>materialId</key>
			<string>402004</string>
			<key>materialName</key>
			<string>翠碧璽</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>744</string>
			<key>materialDesc</key>
			<string>紫色品質飾品轉生用中品材料</string>
			<key>materialMeng</key>
			<string>我是,我就是掉進了翠色染缸的玉璽.</string>
		</dict>
		<key>402005</key>
		<dict>
			<key>materialId</key>
			<string>402005</string>
			<key>materialName</key>
			<string>紅玉髓</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>745</string>
			<key>materialDesc</key>
			<string>紫色品質飾品轉生用中品材料</string>
			<key>materialMeng</key>
			<string>稀有品種的汗血寶馬長的結石…</string>
		</dict>
		<key>402006</key>
		<dict>
			<key>materialId</key>
			<string>402006</string>
			<key>materialName</key>
			<string>幻夢紫晶</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>746</string>
			<key>materialDesc</key>
			<string>紫色品質飾品轉生用中品材料</string>
			<key>materialMeng</key>
			<string>依然記憶著那個屬於貂蟬的夏天…</string>
		</dict>
		<key>403001</key>
		<dict>
			<key>materialId</key>
			<string>403001</string>
			<key>materialName</key>
			<string>皮馬鞍</string>
			<key>materialBorderColor</key>
			<string>2</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>761</string>
			<key>materialDesc</key>
			<string>綠色和藍色品質坐騎轉生用下品材料</string>
			<key>materialMeng</key>
			<string>我有一匹小馬駒,我從來也不騎.</string>
		</dict>
		<key>403002</key>
		<dict>
			<key>materialId</key>
			<string>403002</string>
			<key>materialName</key>
			<string>金馬鞍</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>762</string>
			<key>materialDesc</key>
			<string>藍色品質坐騎轉生用下品材料</string>
			<key>materialMeng</key>
			<string>不要在意我的馬.</string>
		</dict>
		<key>403003</key>
		<dict>
			<key>materialId</key>
			<string>403003</string>
			<key>materialName</key>
			<string>玉馬鞍</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>763</string>
			<key>materialDesc</key>
			<string>藍色和紫色品質坐騎轉生用下品材料</string>
			<key>materialMeng</key>
			<string>易碎品,請輕搬輕放-----致某快遞員.</string>
		</dict>
		<key>403004</key>
		<dict>
			<key>materialId</key>
			<string>403004</string>
			<key>materialName</key>
			<string>墨晶馬鞍</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>764</string>
			<key>materialDesc</key>
			<string>紫色品質坐騎轉生用中品材料</string>
			<key>materialMeng</key>
			<string>別看是黑色的,保證不掉色.</string>
		</dict>
		<key>403005</key>
		<dict>
			<key>materialId</key>
			<string>403005</string>
			<key>materialName</key>
			<string>琉璃馬鞍</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>765</string>
			<key>materialDesc</key>
			<string>紫色品質坐騎轉生用中品材料</string>
			<key>materialMeng</key>
			<string>非常拉風,只是坐在上面會感覺一股涼意.</string>
		</dict>
		<key>403006</key>
		<dict>
			<key>materialId</key>
			<string>403006</string>
			<key>materialName</key>
			<string>飛龍馬鞍</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>100</string>
			<key>materialIconId</key>
			<string>766</string>
			<key>materialDesc</key>
			<string>紫色品質坐騎轉生用中品材料</string>
			<key>materialMeng</key>
			<string>科技改變生活,讓所有馬都飛起來…</string>
		</dict>
		<key>410001</key>
		<dict>
			<key>materialId</key>
			<string>410001</string>
			<key>materialName</key>
			<string>下品白虎令</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>601</string>
			<key>materialDesc</key>
			<string>藍色品質武器轉生用信物</string>
			<key>materialMeng</key>
			<string>都以為白虎令已被武器吞噬,其實鐵匠鋪地下室扔的到處都是.</string>
		</dict>
		<key>410002</key>
		<dict>
			<key>materialId</key>
			<string>410002</string>
			<key>materialName</key>
			<string>中品白虎令</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>602</string>
			<key>materialDesc</key>
			<string>紫色品質武器轉生用信物</string>
			<key>materialMeng</key>
			<string>持有中級鐵匠資格證書的鐵匠喜歡此物,顯得比較有檔次.</string>
		</dict>
		<key>410003</key>
		<dict>
			<key>materialId</key>
			<string>410003</string>
			<key>materialName</key>
			<string>上品白虎令</string>
			<key>materialBorderColor</key>
			<string>5</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>603</string>
			<key>materialDesc</key>
			<string>紫色品質武器轉生用珍貴信物</string>
			<key>materialMeng</key>
			<string>鑄造神兵必須要有這種憑證,否則會被認為是私造兵器.</string>
		</dict>
		<key>411001</key>
		<dict>
			<key>materialId</key>
			<string>411001</string>
			<key>materialName</key>
			<string>下品玄武令</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>621</string>
			<key>materialDesc</key>
			<string>藍色品質防具轉生用信物</string>
			<key>materialMeng</key>
			<string>為了學習鐵匠們的特立獨行,鑄甲師們喜歡收集玄武令.</string>
		</dict>
		<key>411002</key>
		<dict>
			<key>materialId</key>
			<string>411002</string>
			<key>materialName</key>
			<string>中品玄武令</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>622</string>
			<key>materialDesc</key>
			<string>紫色品質防具轉生用信物</string>
			<key>materialMeng</key>
			<string>其實這是某個鑄甲學院的中級職業資格從業信物.</string>
		</dict>
		<key>411003</key>
		<dict>
			<key>materialId</key>
			<string>411003</string>
			<key>materialName</key>
			<string>上品玄武令</string>
			<key>materialBorderColor</key>
			<string>5</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>623</string>
			<key>materialDesc</key>
			<string>紫色品質防具轉生用珍貴信物</string>
			<key>materialMeng</key>
			<string>據說擁有此物可以有機會學習仙界的鑄甲技術.</string>
		</dict>
		<key>412001</key>
		<dict>
			<key>materialId</key>
			<string>412001</string>
			<key>materialName</key>
			<string>下品朱雀令</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>641</string>
			<key>materialDesc</key>
			<string>藍色品質飾品轉生用信物</string>
			<key>materialMeng</key>
			<string>所有飾品的前身都只是一枚朱雀令.</string>
		</dict>
		<key>412002</key>
		<dict>
			<key>materialId</key>
			<string>412002</string>
			<key>materialName</key>
			<string>中品朱雀令</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>642</string>
			<key>materialDesc</key>
			<string>紫色品質飾品轉生用信物</string>
			<key>materialMeng</key>
			<string>優質的朱雀令需要有水準的工匠.</string>
		</dict>
		<key>412003</key>
		<dict>
			<key>materialId</key>
			<string>412003</string>
			<key>materialName</key>
			<string>上品朱雀令</string>
			<key>materialBorderColor</key>
			<string>5</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>643</string>
			<key>materialDesc</key>
			<string>紫色品質飾品轉生用珍貴信物</string>
			<key>materialMeng</key>
			<string>品質脫穎而出的朱雀令,正等待自己“人生”的昇華.</string>
		</dict>
		<key>413001</key>
		<dict>
			<key>materialId</key>
			<string>413001</string>
			<key>materialName</key>
			<string>下品青龍令</string>
			<key>materialBorderColor</key>
			<string>3</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>661</string>
			<key>materialDesc</key>
			<string>藍色品質坐騎轉生用信物</string>
			<key>materialMeng</key>
			<string>一條小青龍附著在上面,我發誓：肯定不是小龍人.</string>
		</dict>
		<key>413002</key>
		<dict>
			<key>materialId</key>
			<string>413002</string>
			<key>materialName</key>
			<string>中品青龍令</string>
			<key>materialBorderColor</key>
			<string>4</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>662</string>
			<key>materialDesc</key>
			<string>紫色品質坐騎轉生用信物</string>
			<key>materialMeng</key>
			<string>持有優質青龍令的人可以獲得一匹千里馬，但願吧…</string>
		</dict>
		<key>413003</key>
		<dict>
			<key>materialId</key>
			<string>413003</string>
			<key>materialName</key>
			<string>上品青龍令</string>
			<key>materialBorderColor</key>
			<string>5</string>
			<key>materialPileLimit</key>
			<string>9999</string>
			<key>materialSoldPrice</key>
			<string>1000</string>
			<key>materialIconId</key>
			<string>663</string>
			<key>materialDesc</key>
			<string>紫色品質坐騎轉生用珍貴信物</string>
			<key>materialMeng</key>
			<string>飛馬入雲化為龍.傳說那些飛馬,最終都變成了仙界的青龍.</string>
		</dict>
	</dict>
</plist>
