<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>300001</key>
		<dict>
			<key>itemId</key>
			<string>300001</string>
			<key>beanId</key>
			<string>fragment/300001</string>
			<key>name</key>
			<string>劉備碎片</string>
			<key>baseItemId</key>
			<string>110001</string>
			<key>callCardId</key>
			<string>1002</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1345</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質劉備。</string>
			<key>piecesMeng</key>
			<string>本碎片也是劉備轉生的必須材料。</string>
		</dict>
		<key>300002</key>
		<dict>
			<key>itemId</key>
			<string>300002</string>
			<key>beanId</key>
			<string>fragment/300002</string>
			<key>name</key>
			<string>諸葛亮碎片</string>
			<key>baseItemId</key>
			<string>110002</string>
			<key>callCardId</key>
			<string>1014</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1117</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質諸葛亮。</string>
			<key>piecesMeng</key>
			<string>本碎片也是諸葛亮轉生的必須材料。</string>
		</dict>
		<key>300003</key>
		<dict>
			<key>itemId</key>
			<string>300003</string>
			<key>beanId</key>
			<string>fragment/300003</string>
			<key>name</key>
			<string>黃月英碎片</string>
			<key>baseItemId</key>
			<string>110003</string>
			<key>callCardId</key>
			<string>1022</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1012</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質黃月英。</string>
			<key>piecesMeng</key>
			<string>本碎片也是黃月英轉生的必須材料。</string>
		</dict>
		<key>300004</key>
		<dict>
			<key>itemId</key>
			<string>300004</string>
			<key>beanId</key>
			<string>fragment/300004</string>
			<key>name</key>
			<string>關羽碎片</string>
			<key>baseItemId</key>
			<string>110004</string>
			<key>callCardId</key>
			<string>1030</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1111</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質關羽。</string>
			<key>piecesMeng</key>
			<string>本碎片也是關羽轉生的必須材料。</string>
		</dict>
		<key>300005</key>
		<dict>
			<key>itemId</key>
			<string>300005</string>
			<key>beanId</key>
			<string>fragment/300005</string>
			<key>name</key>
			<string>張飛碎片</string>
			<key>baseItemId</key>
			<string>110005</string>
			<key>callCardId</key>
			<string>1038</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1115</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質張飛。</string>
			<key>piecesMeng</key>
			<string>本碎片也是張飛轉生的必須材料。</string>
		</dict>
		<key>300006</key>
		<dict>
			<key>itemId</key>
			<string>300006</string>
			<key>beanId</key>
			<string>fragment/300006</string>
			<key>name</key>
			<string>黃忠碎片</string>
			<key>baseItemId</key>
			<string>110006</string>
			<key>callCardId</key>
			<string>1046</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1708</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質黃忠。</string>
			<key>piecesMeng</key>
			<string>本碎片也是黃忠轉生的必須材料。</string>
		</dict>
		<key>300007</key>
		<dict>
			<key>itemId</key>
			<string>300007</string>
			<key>beanId</key>
			<string>fragment/300007</string>
			<key>name</key>
			<string>魏延碎片</string>
			<key>baseItemId</key>
			<string>110007</string>
			<key>callCardId</key>
			<string>1062</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1017</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質魏延。</string>
			<key>piecesMeng</key>
			<string>本碎片也是魏延轉生的必須材料。</string>
		</dict>
		<key>300008</key>
		<dict>
			<key>itemId</key>
			<string>300008</string>
			<key>beanId</key>
			<string>fragment/300008</string>
			<key>name</key>
			<string>嚴顏碎片</string>
			<key>baseItemId</key>
			<string>110008</string>
			<key>callCardId</key>
			<string>1071</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1037</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質嚴顏。</string>
			<key>piecesMeng</key>
			<string>本碎片也是嚴顏轉生的必須材料。</string>
		</dict>
		<key>300009</key>
		<dict>
			<key>itemId</key>
			<string>300009</string>
			<key>beanId</key>
			<string>fragment/300009</string>
			<key>name</key>
			<string>張苞碎片</string>
			<key>baseItemId</key>
			<string>110009</string>
			<key>callCardId</key>
			<string>1086</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1027</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質張苞。</string>
			<key>piecesMeng</key>
			<string>本碎片也是張苞轉生的必須材料。</string>
		</dict>
		<key>300010</key>
		<dict>
			<key>itemId</key>
			<string>300010</string>
			<key>beanId</key>
			<string>fragment/300010</string>
			<key>name</key>
			<string>星彩碎片</string>
			<key>baseItemId</key>
			<string>110010</string>
			<key>callCardId</key>
			<string>1098</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1035</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質星彩。</string>
			<key>piecesMeng</key>
			<string>本碎片也是星彩轉生的必須材料。</string>
		</dict>
		<key>300011</key>
		<dict>
			<key>itemId</key>
			<string>300011</string>
			<key>beanId</key>
			<string>fragment/300011</string>
			<key>name</key>
			<string>姜維碎片</string>
			<key>baseItemId</key>
			<string>110011</string>
			<key>callCardId</key>
			<string>1110</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1409</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質姜維。</string>
			<key>piecesMeng</key>
			<string>本碎片也是姜維轉生的必須材料。</string>
		</dict>
		<key>300012</key>
		<dict>
			<key>itemId</key>
			<string>300012</string>
			<key>beanId</key>
			<string>fragment/300012</string>
			<key>name</key>
			<string>關興碎片</string>
			<key>baseItemId</key>
			<string>110012</string>
			<key>callCardId</key>
			<string>1118</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1403</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質關興。</string>
			<key>piecesMeng</key>
			<string>本碎片也是關興轉生的必須材料。</string>
		</dict>
		<key>300013</key>
		<dict>
			<key>itemId</key>
			<string>300013</string>
			<key>beanId</key>
			<string>fragment/300013</string>
			<key>name</key>
			<string>李恢碎片</string>
			<key>baseItemId</key>
			<string>110013</string>
			<key>callCardId</key>
			<string>1131</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1051</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質李恢。</string>
			<key>piecesMeng</key>
			<string>本碎片也是李恢轉生的必須材料。</string>
		</dict>
		<key>300014</key>
		<dict>
			<key>itemId</key>
			<string>300014</string>
			<key>beanId</key>
			<string>fragment/300014</string>
			<key>name</key>
			<string>關鳳碎片</string>
			<key>baseItemId</key>
			<string>110014</string>
			<key>callCardId</key>
			<string>1142</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1064</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質關鳳。</string>
			<key>piecesMeng</key>
			<string>本碎片也是關鳳轉生的必須材料。</string>
		</dict>
		<key>300015</key>
		<dict>
			<key>itemId</key>
			<string>300015</string>
			<key>beanId</key>
			<string>fragment/300015</string>
			<key>name</key>
			<string>夏侯霸碎片</string>
			<key>baseItemId</key>
			<string>110015</string>
			<key>callCardId</key>
			<string>1155</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1067</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質夏侯霸。</string>
			<key>piecesMeng</key>
			<string>本碎片也是夏侯霸轉生的必須材料。</string>
		</dict>
		<key>300016</key>
		<dict>
			<key>itemId</key>
			<string>300016</string>
			<key>beanId</key>
			<string>fragment/300016</string>
			<key>name</key>
			<string>關平碎片</string>
			<key>baseItemId</key>
			<string>110016</string>
			<key>callCardId</key>
			<string>1166</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1053</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質關平。</string>
			<key>piecesMeng</key>
			<string>本碎片也是關平轉生的必須材料。</string>
		</dict>
		<key>300017</key>
		<dict>
			<key>itemId</key>
			<string>300017</string>
			<key>beanId</key>
			<string>fragment/300017</string>
			<key>name</key>
			<string>曹操碎片</string>
			<key>baseItemId</key>
			<string>120001</string>
			<key>callCardId</key>
			<string>1199</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1756</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質曹操。</string>
			<key>piecesMeng</key>
			<string>本碎片也是曹操轉生的必須材料。</string>
		</dict>
		<key>300018</key>
		<dict>
			<key>itemId</key>
			<string>300018</string>
			<key>beanId</key>
			<string>fragment/300018</string>
			<key>name</key>
			<string>司馬懿碎片</string>
			<key>baseItemId</key>
			<string>120002</string>
			<key>callCardId</key>
			<string>1211</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1114</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質司馬懿。</string>
			<key>piecesMeng</key>
			<string>本碎片也是司馬懿轉生的必須材料。</string>
		</dict>
		<key>300019</key>
		<dict>
			<key>itemId</key>
			<string>300019</string>
			<key>beanId</key>
			<string>fragment/300019</string>
			<key>name</key>
			<string>賈詡碎片</string>
			<key>baseItemId</key>
			<string>120003</string>
			<key>callCardId</key>
			<string>1219</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1112</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質賈詡。</string>
			<key>piecesMeng</key>
			<string>本碎片也是賈詡轉生的必須材料。</string>
		</dict>
		<key>300020</key>
		<dict>
			<key>itemId</key>
			<string>300020</string>
			<key>beanId</key>
			<string>fragment/300020</string>
			<key>name</key>
			<string>典韋碎片</string>
			<key>baseItemId</key>
			<string>120005</string>
			<key>callCardId</key>
			<string>1243</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1748</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質典韋。</string>
			<key>piecesMeng</key>
			<string>本碎片也是典韋轉生的必須材料。</string>
		</dict>
		<key>300021</key>
		<dict>
			<key>itemId</key>
			<string>300021</string>
			<key>beanId</key>
			<string>fragment/300021</string>
			<key>name</key>
			<string>許褚碎片</string>
			<key>baseItemId</key>
			<string>120004</string>
			<key>callCardId</key>
			<string>1227</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1740</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質許褚。</string>
			<key>piecesMeng</key>
			<string>本碎片也是許褚轉生的必須材料。</string>
		</dict>
		<key>300022</key>
		<dict>
			<key>itemId</key>
			<string>300022</string>
			<key>beanId</key>
			<string>fragment/300022</string>
			<key>name</key>
			<string>荀彧碎片</string>
			<key>baseItemId</key>
			<string>120006</string>
			<key>callCardId</key>
			<string>1235</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1014</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質荀彧。</string>
			<key>piecesMeng</key>
			<string>本碎片也是荀彧轉生的必須材料。</string>
		</dict>
		<key>300023</key>
		<dict>
			<key>itemId</key>
			<string>300023</string>
			<key>beanId</key>
			<string>fragment/300023</string>
			<key>name</key>
			<string>夏侯惇碎片</string>
			<key>baseItemId</key>
			<string>120007</string>
			<key>callCardId</key>
			<string>1259</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1019</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質夏侯惇。</string>
			<key>piecesMeng</key>
			<string>本碎片也是夏侯惇轉生的必須材料。</string>
		</dict>
		<key>300024</key>
		<dict>
			<key>itemId</key>
			<string>300024</string>
			<key>beanId</key>
			<string>fragment/300024</string>
			<key>name</key>
			<string>徐晃碎片</string>
			<key>baseItemId</key>
			<string>120008</string>
			<key>callCardId</key>
			<string>1268</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1023</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質徐晃。</string>
			<key>piecesMeng</key>
			<string>本碎片也是徐晃轉生的必須材料。</string>
		</dict>
		<key>300025</key>
		<dict>
			<key>itemId</key>
			<string>300025</string>
			<key>beanId</key>
			<string>fragment/300025</string>
			<key>name</key>
			<string>張遼碎片</string>
			<key>baseItemId</key>
			<string>120009</string>
			<key>callCardId</key>
			<string>1283</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1412</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質張遼。</string>
			<key>piecesMeng</key>
			<string>本碎片也是張遼轉生的必須材料。</string>
		</dict>
		<key>300026</key>
		<dict>
			<key>itemId</key>
			<string>300026</string>
			<key>beanId</key>
			<string>fragment/300026</string>
			<key>name</key>
			<string>樂進碎片</string>
			<key>baseItemId</key>
			<string>120010</string>
			<key>callCardId</key>
			<string>1295</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1041</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質樂進。</string>
			<key>piecesMeng</key>
			<string>本碎片也是樂進轉生的必須材料。</string>
		</dict>
		<key>300027</key>
		<dict>
			<key>itemId</key>
			<string>300027</string>
			<key>beanId</key>
			<string>fragment/300027</string>
			<key>name</key>
			<string>于禁碎片</string>
			<key>baseItemId</key>
			<string>120011</string>
			<key>callCardId</key>
			<string>1303</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1044</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質于禁。</string>
			<key>piecesMeng</key>
			<string>本碎片也是于禁轉生的必須材料。</string>
		</dict>
		<key>300028</key>
		<dict>
			<key>itemId</key>
			<string>300028</string>
			<key>beanId</key>
			<string>fragment/300028</string>
			<key>name</key>
			<string>徐庶碎片</string>
			<key>baseItemId</key>
			<string>120012</string>
			<key>callCardId</key>
			<string>1319</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1025</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質徐庶。</string>
			<key>piecesMeng</key>
			<string>本碎片也是徐庶轉生的必須材料。</string>
		</dict>
		<key>300029</key>
		<dict>
			<key>itemId</key>
			<string>300029</string>
			<key>beanId</key>
			<string>fragment/300029</string>
			<key>name</key>
			<string>蔡文姬碎片</string>
			<key>baseItemId</key>
			<string>120013</string>
			<key>callCardId</key>
			<string>1328</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1047</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質蔡文姬。</string>
			<key>piecesMeng</key>
			<string>本碎片也是蔡文姬轉生的必須材料。</string>
		</dict>
		<key>300030</key>
		<dict>
			<key>itemId</key>
			<string>300030</string>
			<key>beanId</key>
			<string>fragment/300030</string>
			<key>name</key>
			<string>李典碎片</string>
			<key>baseItemId</key>
			<string>120014</string>
			<key>callCardId</key>
			<string>1339</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1055</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質李典。</string>
			<key>piecesMeng</key>
			<string>本碎片也是李典轉生的必須材料。</string>
		</dict>
		<key>300031</key>
		<dict>
			<key>itemId</key>
			<string>300031</string>
			<key>beanId</key>
			<string>fragment/300031</string>
			<key>name</key>
			<string>文聘碎片</string>
			<key>baseItemId</key>
			<string>120015</string>
			<key>callCardId</key>
			<string>1351</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1057</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質文聘。</string>
			<key>piecesMeng</key>
			<string>本碎片也是文聘轉生的必須材料。</string>
		</dict>
		<key>300032</key>
		<dict>
			<key>itemId</key>
			<string>300032</string>
			<key>beanId</key>
			<string>fragment/300032</string>
			<key>name</key>
			<string>蔡瑁碎片</string>
			<key>baseItemId</key>
			<string>120016</string>
			<key>callCardId</key>
			<string>1364</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1049</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質蔡瑁。</string>
			<key>piecesMeng</key>
			<string>本碎片也是蔡瑁轉生的必須材料。</string>
		</dict>
		<key>300033</key>
		<dict>
			<key>itemId</key>
			<string>300033</string>
			<key>beanId</key>
			<string>fragment/300033</string>
			<key>name</key>
			<string>孫權碎片</string>
			<key>baseItemId</key>
			<string>130001</string>
			<key>callCardId</key>
			<string>1396</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1754</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質孫權。</string>
			<key>piecesMeng</key>
			<string>本碎片也是孫權轉生的必須材料。</string>
		</dict>
		<key>300034</key>
		<dict>
			<key>itemId</key>
			<string>300034</string>
			<key>beanId</key>
			<string>fragment/300034</string>
			<key>name</key>
			<string>周瑜碎片</string>
			<key>baseItemId</key>
			<string>130002</string>
			<key>callCardId</key>
			<string>1408</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1724</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質周瑜。</string>
			<key>piecesMeng</key>
			<string>本碎片也是周瑜轉生的必須材料。</string>
		</dict>
		<key>300035</key>
		<dict>
			<key>itemId</key>
			<string>300035</string>
			<key>beanId</key>
			<string>fragment/300035</string>
			<key>name</key>
			<string>呂蒙碎片</string>
			<key>baseItemId</key>
			<string>130003</string>
			<key>callCardId</key>
			<string>1416</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1732</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質呂蒙。</string>
			<key>piecesMeng</key>
			<string>本碎片也是呂蒙轉生的必須材料。</string>
		</dict>
		<key>300036</key>
		<dict>
			<key>itemId</key>
			<string>300036</string>
			<key>beanId</key>
			<string>fragment/300036</string>
			<key>name</key>
			<string>太史慈碎片</string>
			<key>baseItemId</key>
			<string>130004</string>
			<key>callCardId</key>
			<string>1440</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1342</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質太史慈。</string>
			<key>piecesMeng</key>
			<string>本碎片也是太史慈轉生的必須材料。</string>
		</dict>
		<key>300037</key>
		<dict>
			<key>itemId</key>
			<string>300037</string>
			<key>beanId</key>
			<string>fragment/300037</string>
			<key>name</key>
			<string>孫策碎片</string>
			<key>baseItemId</key>
			<string>130005</string>
			<key>callCardId</key>
			<string>1424</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1116</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質孫策。</string>
			<key>piecesMeng</key>
			<string>本碎片也是孫策轉生的必須材料。</string>
		</dict>
		<key>300038</key>
		<dict>
			<key>itemId</key>
			<string>300038</string>
			<key>beanId</key>
			<string>fragment/300038</string>
			<key>name</key>
			<string>陸遜碎片</string>
			<key>baseItemId</key>
			<string>130006</string>
			<key>callCardId</key>
			<string>1432</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1716</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質陸遜。</string>
			<key>piecesMeng</key>
			<string>本碎片也是陸遜轉生的必須材料。</string>
		</dict>
		<key>300039</key>
		<dict>
			<key>itemId</key>
			<string>300039</string>
			<key>beanId</key>
			<string>fragment/300039</string>
			<key>name</key>
			<string>孫尚香碎片</string>
			<key>baseItemId</key>
			<string>130007</string>
			<key>callCardId</key>
			<string>1453</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1015</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質孫尚香。</string>
			<key>piecesMeng</key>
			<string>本碎片也是孫尚香轉生的必須材料。</string>
		</dict>
		<key>300040</key>
		<dict>
			<key>itemId</key>
			<string>300040</string>
			<key>beanId</key>
			<string>fragment/300040</string>
			<key>name</key>
			<string>大喬碎片</string>
			<key>baseItemId</key>
			<string>130008</string>
			<key>callCardId</key>
			<string>1464</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1009</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質大喬。</string>
			<key>piecesMeng</key>
			<string>本碎片也是大喬轉生的必須材料。</string>
		</dict>
		<key>300041</key>
		<dict>
			<key>itemId</key>
			<string>300041</string>
			<key>beanId</key>
			<string>fragment/300041</string>
			<key>name</key>
			<string>黃蓋碎片</string>
			<key>baseItemId</key>
			<string>130009</string>
			<key>callCardId</key>
			<string>1480</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1029</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質黃蓋。</string>
			<key>piecesMeng</key>
			<string>本碎片也是黃蓋轉生的必須材料。</string>
		</dict>
		<key>300042</key>
		<dict>
			<key>itemId</key>
			<string>300042</string>
			<key>beanId</key>
			<string>fragment/300042</string>
			<key>name</key>
			<string>小喬碎片</string>
			<key>baseItemId</key>
			<string>130010</string>
			<key>callCardId</key>
			<string>1492</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1021</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質小喬。</string>
			<key>piecesMeng</key>
			<string>本碎片也是小喬轉生的必須材料。</string>
		</dict>
		<key>300043</key>
		<dict>
			<key>itemId</key>
			<string>300043</string>
			<key>beanId</key>
			<string>fragment/300043</string>
			<key>name</key>
			<string>周泰碎片</string>
			<key>baseItemId</key>
			<string>130011</string>
			<key>callCardId</key>
			<string>1504</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1033</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質周泰。</string>
			<key>piecesMeng</key>
			<string>本碎片也是周泰轉生的必須材料。</string>
		</dict>
		<key>300044</key>
		<dict>
			<key>itemId</key>
			<string>300044</string>
			<key>beanId</key>
			<string>fragment/300044</string>
			<key>name</key>
			<string>步練師碎片</string>
			<key>baseItemId</key>
			<string>130012</string>
			<key>callCardId</key>
			<string>1516</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1031</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質步練師。</string>
			<key>piecesMeng</key>
			<string>本碎片也是步練師轉生的必須材料。</string>
		</dict>
		<key>300045</key>
		<dict>
			<key>itemId</key>
			<string>300045</string>
			<key>beanId</key>
			<string>fragment/300045</string>
			<key>name</key>
			<string>諸葛琪碎片</string>
			<key>baseItemId</key>
			<string>130013</string>
			<key>callCardId</key>
			<string>1525</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1059</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質諸葛琪。</string>
			<key>piecesMeng</key>
			<string>本碎片也是諸葛琪轉生的必須材料。</string>
		</dict>
		<key>300046</key>
		<dict>
			<key>itemId</key>
			<string>300046</string>
			<key>beanId</key>
			<string>fragment/300046</string>
			<key>name</key>
			<string>諸葛恪碎片</string>
			<key>baseItemId</key>
			<string>130014</string>
			<key>callCardId</key>
			<string>1537</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1061</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質諸葛恪。</string>
			<key>piecesMeng</key>
			<string>本碎片也是諸葛恪轉生的必須材料。</string>
		</dict>
		<key>300047</key>
		<dict>
			<key>itemId</key>
			<string>300047</string>
			<key>beanId</key>
			<string>fragment/300047</string>
			<key>name</key>
			<string>蔣欽碎片</string>
			<key>baseItemId</key>
			<string>130015</string>
			<key>callCardId</key>
			<string>1548</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1070</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質蔣欽。</string>
			<key>piecesMeng</key>
			<string>本碎片也是蔣欽轉生的必須材料。</string>
		</dict>
		<key>300048</key>
		<dict>
			<key>itemId</key>
			<string>300048</string>
			<key>beanId</key>
			<string>fragment/300048</string>
			<key>name</key>
			<string>韓當碎片</string>
			<key>baseItemId</key>
			<string>130016</string>
			<key>callCardId</key>
			<string>1560</string>
			<key>summonNeedNumber</key>
			<string>5</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>3</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1406</string>
			<key>piecesDesc</key>
			<string>集齊5個碎片後，可以召喚綠色品質韓當。</string>
			<key>piecesMeng</key>
			<string>本碎片也是韓當轉生的必須材料。</string>
		</dict>
		<key>300049</key>
		<dict>
			<key>itemId</key>
			<string>300049</string>
			<key>beanId</key>
			<string>fragment/300049</string>
			<key>name</key>
			<string>貂蟬碎片</string>
			<key>baseItemId</key>
			<string>140001</string>
			<key>callCardId</key>
			<string>1592</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1110</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質貂蟬。</string>
			<key>piecesMeng</key>
			<string>本碎片也是貂蟬轉生的必須材料。</string>
		</dict>
		<key>300050</key>
		<dict>
			<key>itemId</key>
			<string>300050</string>
			<key>beanId</key>
			<string>fragment/300050</string>
			<key>name</key>
			<string>呂布碎片</string>
			<key>baseItemId</key>
			<string>140002</string>
			<key>callCardId</key>
			<string>1600</string>
			<key>summonNeedNumber</key>
			<string>80</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>5</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1113</string>
			<key>piecesDesc</key>
			<string>集齊80個碎片後，可以召喚紫色品質呂布。</string>
			<key>piecesMeng</key>
			<string>本碎片也是呂布轉生的必須材料。</string>
		</dict>
		<key>300051</key>
		<dict>
			<key>itemId</key>
			<string>300051</string>
			<key>beanId</key>
			<string>fragment/300051</string>
			<key>name</key>
			<string>袁術碎片</string>
			<key>baseItemId</key>
			<string>140003</string>
			<key>callCardId</key>
			<string>1609</string>
			<key>summonNeedNumber</key>
			<string>15</string>
			<key>piecesType</key>
			<string>0</string>
			<key>maxNumber</key>
			<string>9999</string>
			<key>starLevel</key>
			<string>4</string>
			<key>sellPrice</key>
			<string>0</string>
			<key>illustrations</key>
			<string>1039</string>
			<key>piecesDesc</key>
			<string>集齊15個碎片後，可以召喚藍色品質袁術。</string>
			<key>piecesMeng</key>
			<string>本碎片也是袁術轉生的必須材料。</string>
		</dict>
	</dict>
</plist>
