<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>DayTask/1</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/1</string>
			<key>taskId</key>
			<string>1</string>
			<key>level</key>
			<string>1</string>
			<key>taskname</key>
			<string>進行一次闖關戰鬥</string>
			<key>taskinfo</key>
			<string>在闖關模式中進行一次戰鬥，可以獲得經驗值、銅錢和卡牌。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/2</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/2</string>
			<key>taskId</key>
			<string>2</string>
			<key>level</key>
			<string>10</string>
			<key>taskname</key>
			<string>進行一次精英闖關</string>
			<key>taskinfo</key>
			<string>在精英闖關模式中進行一次戰鬥，這裡可獲得武將卡與銅錢。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/4</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/4</string>
			<key>taskId</key>
			<string>4</string>
			<key>level</key>
			<string>27</string>
			<key>taskname</key>
			<string>進行一次銅雀奪寶</string>
			<key>taskinfo</key>
			<string>進行一次銅雀台，有可能獲得珍貴武將、多種經驗、大量遊戲幣。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/5</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/5</string>
			<key>taskId</key>
			<string>5</string>
			<key>level</key>
			<string>15</string>
			<key>taskname</key>
			<string>進行一次天梯對戰</string>
			<key>taskinfo</key>
			<string>在對戰中和其他玩家進行一次較量，贏取的積分可以換好東東哦！</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/6</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/6</string>
			<key>taskId</key>
			<string>6</string>
			<key>level</key>
			<string>22</string>
			<key>taskname</key>
			<string>進行一次副本戰鬥</string>
			<key>taskinfo</key>
			<string>參與一次副本，勝利後可獲得各種強力道具及大量銅幣。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/7</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/7</string>
			<key>taskId</key>
			<string>7</string>
			<key>level</key>
			<string>1</string>
			<key>taskname</key>
			<string>強化一名武將</string>
			<key>taskinfo</key>
			<string>強化任意一名武將，使他的經驗值得到提升。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/8</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/8</string>
			<key>taskId</key>
			<string>8</string>
			<key>level</key>
			<string>3</string>
			<key>taskname</key>
			<string>強化一件裝備</string>
			<key>taskinfo</key>
			<string>強化任意一件裝備，使他的等級得到提升。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/9</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/9</string>
			<key>taskId</key>
			<string>9</string>
			<key>level</key>
			<string>7</string>
			<key>taskname</key>
			<string>強化一種士兵</string>
			<key>taskinfo</key>
			<string>強化任意一種士兵，使他的經驗值得到提升。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/10</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/10</string>
			<key>taskId</key>
			<string>10</string>
			<key>level</key>
			<string>1</string>
			<key>taskname</key>
			<string>探訪一次強力武將</string>
			<key>taskinfo</key>
			<string>探訪可以獲得武將卡片，每天都有免費的探訪次數，記得使用哦！</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/11</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/11</string>
			<key>taskId</key>
			<string>11</string>
			<key>level</key>
			<string>1</string>
			<key>taskname</key>
			<string>參與祭天</string>
			<key>taskinfo</key>
			<string>按照要求連續祭天後，可以獲得相當不錯的獎勵呢。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/12</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/12</string>
			<key>taskId</key>
			<string>12</string>
			<key>level</key>
			<string>20</string>
			<key>taskname</key>
			<string>領取當日俸祿</string>
			<key>taskinfo</key>
			<string>前往【領獎】功能中領取每日俸祿，等級越高俸祿越多。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
		<key>DayTask/14</key>
		<dict>
			<key>beanId</key>
			<string>DayTask/14</string>
			<key>taskId</key>
			<string>14</string>
			<key>level</key>
			<string>25</string>
			<key>taskname</key>
			<string>進行守荊州戰鬥</string>
			<key>taskinfo</key>
			<string>在守荊州模式中進行一次戰鬥，獲得的軍魂可購買稀有裝備。</string>
			<key>count</key>
			<string>1</string>
			<key></key>
			<string>3</string>
		</dict>
	</dict>
</plist>
