<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guide_tag_1</key>
	<dict>
		<key>modelId</key>
		<string>1</string>
		<key>modelMsg</key>
		<array>
			<string>下面，请让我们从基础的行军布阵开始吧！</string>
		</array>
		<key>modelTag</key>
		<string>501</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_10</key>
	<dict>
		<key>modelId</key>
		<string>13</string>
		<key>modelMsg</key>
		<array>
			<string>看到了吧，这就是/#武将/#的威力！/#等级越高/#的武将，其/#威力越大/#。</string>
			<string>现在，就让我们把麾下的武将/#强化/#一下吧^^。</string>
		</array>
		<key>modelTag</key>
		<string>510</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_11</key>
	<dict>
		<key>modelId</key>
		<string>14</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>511</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_12</key>
	<dict>
		<key>modelId</key>
		<string>15</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>512</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_13</key>
	<dict>
		<key>modelId</key>
		<string>16</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>513</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_14</key>
	<dict>
		<key>modelId</key>
		<string>17</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>514</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_15</key>
	<dict>
		<key>modelId</key>
		<string>18</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>515</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_16</key>
	<dict>
		<key>modelId</key>
		<string>19</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>516</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_17</key>
	<dict>
		<key>modelId</key>
		<string>20</string>
		<key>modelMsg</key>
		<array>
			<string>如您所见，该武将已经强化到/#等级上限/#，其实力得到了/#大幅提升/#。</string>
			<string>强化成功！武将属性得到大幅提升。/#精兵强将/#固然重要，但/#战斗技巧/#也必不可少哦。</string>
			<string>接下来，就让貂蝉为主公介绍战斗中非常重要的技巧-/#【消除】/#。</string>
		</array>
		<key>modelTag</key>
		<string>517</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_18</key>
	<dict>
		<key>modelId</key>
		<string>21</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>511</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_19</key>
	<dict>
		<key>modelId</key>
		<string>22</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>502</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_2</key>
	<dict>
		<key>modelId</key>
		<string>2</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>502</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_20</key>
	<dict>
		<key>modelId</key>
		<string>23</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>503</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_21</key>
	<dict>
		<key>modelId</key>
		<string>24</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>508</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_22</key>
	<dict>
		<key>modelId</key>
		<string>25</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>522</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_22_1</key>
	<dict>
		<key>modelId</key>
		<string>26</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>5221</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_23</key>
	<dict>
		<key>modelId</key>
		<string>27</string>
		<key>modelMsg</key>
		<array>
			<string>转生需要/#3张相同星级的同名卡牌/#，请点击“确认”进行转生。</string>
		</array>
		<key>modelTag</key>
		<string>523</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_24</key>
	<dict>
		<key>modelId</key>
		<string>28</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>524</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_25</key>
	<dict>
		<key>modelId</key>
		<string>29</string>
		<key>modelMsg</key>
		<array>
			<string>转生成功！该武将的/#基础属性/#提升了，一定次数转生后还可提升星级。</string>
			<string>请主公去“/#闯关模式/#”中获得更多的/#素材卡片/#吧。</string>
		</array>
		<key>modelTag</key>
		<string>525</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_26</key>
	<dict>
		<key>modelId</key>
		<string>30</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>526</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_27</key>
	<dict>
		<key>modelId</key>
		<string>31</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>527</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_28</key>
	<dict>
		<key>modelId</key>
		<string>32</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>528</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_29</key>
	<dict>
		<key>modelId</key>
		<string>30</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>529</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_3</key>
	<dict>
		<key>modelId</key>
		<string>3</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>503</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_30</key>
	<dict>
		<key>modelId</key>
		<string>31</string>
		<key>modelMsg</key>
		<array>
			<string>捷报频传！然当此乱世，主公应该/#招兵买马/#壮大我军，从而建功立业，那么就让貂蝉陪主公去/#探访/#一下吧。</string>
		</array>
		<key>modelTag</key>
		<string>530</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_31</key>
	<dict>
		<key>modelId</key>
		<string>32</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>531</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_32</key>
	<dict>
		<key>modelId</key>
		<string>33</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>532</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_33</key>
	<dict>
		<key>modelId</key>
		<string>34</string>
		<key>modelMsg</key>
		<array>
			<string>恭喜主公！此人天赋异禀，若假以时日，必成主公左膀右臂！</string>
			<string>主公速速将此人派遣/#上阵/#吧！</string>
		</array>
		<key>modelTag</key>
		<string>533</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_34</key>
	<dict>
		<key>modelId</key>
		<string>35</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>534</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_35</key>
	<dict>
		<key>modelId</key>
		<string>36</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>535</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_36</key>
	<dict>
		<key>modelId</key>
		<string>37</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>536</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_37</key>
	<dict>
		<key>modelId</key>
		<string>38</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>537</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_38</key>
	<dict>
		<key>modelId</key>
		<string>39</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>538</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_39</key>
	<dict>
		<key>modelId</key>
		<string>40</string>
		<key>modelMsg</key>
		<array>
			<string>设为“/#上阵/#”后，该武将就会在以后战斗中出阵了。</string>
			<string>该武将有特殊的“/#主将计/#”，将其设为/#主将/#后，方可在战斗中使用其主将计。</string>
		</array>
		<key>modelTag</key>
		<string>539</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_4</key>
	<dict>
		<key>modelId</key>
		<string>4</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>504</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_40</key>
	<dict>
		<key>modelId</key>
		<string>41</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>540</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_41</key>
	<dict>
		<key>modelId</key>
		<string>42</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>541</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_42</key>
	<dict>
		<key>modelId</key>
		<string>43</string>
		<key>modelMsg</key>
		<array>
			<string>接下来，貂蝉要告诉主公一个小秘密！</string>
		</array>
		<key>modelTag</key>
		<string>542</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_43</key>
	<dict>
		<key>modelId</key>
		<string>44</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>511</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_44</key>
	<dict>
		<key>modelId</key>
		<string>45</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>502</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_45</key>
	<dict>
		<key>modelId</key>
		<string>46</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>503</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_46</key>
	<dict>
		<key>modelId</key>
		<string>47</string>
		<key>modelMsg</key>
		<array>
			<string>闯关战斗的每一章通关后，积累的星星达到一定数量，就会获得丰富的/#奖励/#，主公可千万不要错过哦！</string>
		</array>
		<key>modelTag</key>
		<string>508</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_47</key>
	<dict>
		<key>modelId</key>
		<string>48</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>508</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_48</key>
	<dict>
		<key>modelId</key>
		<string>49</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>548</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_49</key>
	<dict>
		<key>modelId</key>
		<string>50</string>
		<key>modelMsg</key>
		<array>
			<string>/#新的关卡/#已经开启，主公速速率军出征吧！</string>
		</array>
		<key>modelTag</key>
		<string>549</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_5</key>
	<dict>
		<key>modelId</key>
		<string>5</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>505</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_50</key>
	<dict>
		<key>modelId</key>
		<string>51</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>550</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_51</key>
	<dict>
		<key>modelId</key>
		<string>52</string>
		<key>modelMsg</key>
		<array>
			<string>/#闯关/#可以获得/#武将/#、/#装备/#和/#珍贵道具/#。</string>
			<string>越靠后的关卡，其奖励越丰富，主公要全力向前，一统天下。不能让貂蝉失望哦！</string>
		</array>
		<key>modelTag</key>
		<string>551</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_52</key>
	<dict>
		<key>modelId</key>
		<string>53</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>503</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_53</key>
	<dict>
		<key>modelId</key>
		<string>54</string>
		<key>modelMsg</key>
		<array>
			<string>/#连锁/#和/#融合/#的合理运用有著重要的战术价值！</string>
		</array>
		<key>modelTag</key>
		<string>553</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_54</key>
	<dict>
		<key>modelId</key>
		<string>55</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>554</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_55</key>
	<dict>
		<key>modelId</key>
		<string>56</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>555</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_56</key>
	<dict>
		<key>modelId</key>
		<string>57</string>
		<key>modelMsg</key>
		<array>
			<string>您可以在闯关模式中击败守关大将或直接探访获得高星级武将。</string>
			<string>有些五星以上的高级武将，在战场中组成阵列的方式略有不同。</string>
			<string>下麵将为您进行相关说明。</string>
		</array>
		<key>modelTag</key>
		<string>556</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_57</key>
	<dict>
		<key>modelId</key>
		<string>58</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>557</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_58</key>
	<dict>
		<key>modelId</key>
		<string>59</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>558</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_59</key>
	<dict>
		<key>modelId</key>
		<string>60</string>
		<key>modelMsg</key>
		<array>
			<string>恭喜主公完成进阶教学，请继续战斗吧！</string>
		</array>
		<key>modelTag</key>
		<string>559</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_6</key>
	<dict>
		<key>modelId</key>
		<string>6</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>506</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_7</key>
	<dict>
		<key>modelId</key>
		<string>7</string>
		<key>modelMsg</key>
		<array>
			<string>旗开得胜！主公已掌握了/#攻击/#技巧，下面让我们来看看/#防御/#技巧和/#武将/#的强大威力吧！</string>
		</array>
		<key>modelTag</key>
		<string>507</string>
		<key>modelType</key>
		<string>1</string>
	</dict>
	<key>guide_tag_7_1</key>
	<dict>
		<key>modelId</key>
		<string>8</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>511</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_7_2</key>
	<dict>
		<key>modelId</key>
		<string>9</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>502</string>
		<key>modelType</key>
		<string>2</string>
	</dict>
	<key>guide_tag_7_3</key>
	<dict>
		<key>modelId</key>
		<string>10</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>503</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_8</key>
	<dict>
		<key>modelId</key>
		<string>11</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>508</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
	<key>guide_tag_9</key>
	<dict>
		<key>modelId</key>
		<string>12</string>
		<key>modelMsg</key>
		<array/>
		<key>modelTag</key>
		<string>509</string>
		<key>modelType</key>
		<string>3</string>
	</dict>
</dict>
</plist>

