<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<dict>
			<key>skillLevel</key>
			<string>1</string>
			<key>exp1star</key>
			<string>50</string>
			<key>exp2star</key>
			<string>50</string>
			<key>exp3star</key>
			<string>100</string>
			<key>exp4star</key>
			<string>200</string>
			<key>exp5star</key>
			<string>400</string>
			<key>exp6star</key>
			<string>500</string>
			<key>cost1star</key>
			<string>0</string>
			<key>cost2star</key>
			<string>0</string>
			<key>cost3star</key>
			<string>0</string>
			<key>cost4star</key>
			<string>0</string>
			<key>cost5star</key>
			<string>0</string>
			<key>cost6star</key>
			<string>0</string>
		</dict>
		<key>2</key>
		<dict>
			<key>skillLevel</key>
			<string>2</string>
			<key>exp1star</key>
			<string>100</string>
			<key>exp2star</key>
			<string>100</string>
			<key>exp3star</key>
			<string>200</string>
			<key>exp4star</key>
			<string>400</string>
			<key>exp5star</key>
			<string>800</string>
			<key>exp6star</key>
			<string>1000</string>
			<key>cost1star</key>
			<string>0</string>
			<key>cost2star</key>
			<string>0</string>
			<key>cost3star</key>
			<string>0</string>
			<key>cost4star</key>
			<string>0</string>
			<key>cost5star</key>
			<string>0</string>
			<key>cost6star</key>
			<string>0</string>
		</dict>
		<key>3</key>
		<dict>
			<key>skillLevel</key>
			<string>3</string>
			<key>exp1star</key>
			<string>200</string>
			<key>exp2star</key>
			<string>200</string>
			<key>exp3star</key>
			<string>400</string>
			<key>exp4star</key>
			<string>800</string>
			<key>exp5star</key>
			<string>1600</string>
			<key>exp6star</key>
			<string>2000</string>
			<key>cost1star</key>
			<string>0</string>
			<key>cost2star</key>
			<string>0</string>
			<key>cost3star</key>
			<string>0</string>
			<key>cost4star</key>
			<string>0</string>
			<key>cost5star</key>
			<string>0</string>
			<key>cost6star</key>
			<string>0</string>
		</dict>
		<key>4</key>
		<dict>
			<key>skillLevel</key>
			<string>4</string>
			<key>exp1star</key>
			<string>600</string>
			<key>exp2star</key>
			<string>600</string>
			<key>exp3star</key>
			<string>1200</string>
			<key>exp4star</key>
			<string>2400</string>
			<key>exp5star</key>
			<string>4800</string>
			<key>exp6star</key>
			<string>6000</string>
			<key>cost1star</key>
			<string>0</string>
			<key>cost2star</key>
			<string>0</string>
			<key>cost3star</key>
			<string>0</string>
			<key>cost4star</key>
			<string>0</string>
			<key>cost5star</key>
			<string>0</string>
			<key>cost6star</key>
			<string>0</string>
		</dict>
		<key>5</key>
		<dict>
			<key>skillLevel</key>
			<string>5</string>
			<key>exp1star</key>
			<string>1800</string>
			<key>exp2star</key>
			<string>1800</string>
			<key>exp3star</key>
			<string>3600</string>
			<key>exp4star</key>
			<string>7200</string>
			<key>exp5star</key>
			<string>14400</string>
			<key>exp6star</key>
			<string>18000</string>
			<key>cost1star</key>
			<string>0</string>
			<key>cost2star</key>
			<string>0</string>
			<key>cost3star</key>
			<string>0</string>
			<key>cost4star</key>
			<string>0</string>
			<key>cost5star</key>
			<string>0</string>
			<key>cost6star</key>
			<string>0</string>
		</dict>
		<key>6</key>
		<dict>
			<key>skillLevel</key>
			<string>6</string>
			<key>exp1star</key>
			<string>5400</string>
			<key>exp2star</key>
			<string>5400</string>
			<key>exp3star</key>
			<string>10800</string>
			<key>exp4star</key>
			<string>21600</string>
			<key>exp5star</key>
			<string>43200</string>
			<key>exp6star</key>
			<string>54000</string>
			<key>cost1star</key>
			<string>0</string>
			<key>cost2star</key>
			<string>0</string>
			<key>cost3star</key>
			<string>0</string>
			<key>cost4star</key>
			<string>0</string>
			<key>cost5star</key>
			<string>0</string>
			<key>cost6star</key>
			<string>0</string>
		</dict>
		<key>7</key>
		<dict>
			<key>skillLevel</key>
			<string>7</string>
			<key>exp1star</key>
			<string>0</string>
			<key>exp2star</key>
			<string>0</string>
			<key>exp3star</key>
			<string>0</string>
			<key>exp4star</key>
			<string>0</string>
			<key>exp5star</key>
			<string>0</string>
			<key>exp6star</key>
			<string>0</string>
			<key>cost1star</key>
			<string>0</string>
			<key>cost2star</key>
			<string>0</string>
			<key>cost3star</key>
			<string>0</string>
			<key>cost4star</key>
			<string>0</string>
			<key>cost5star</key>
			<string>0</string>
			<key>cost6star</key>
			<string>0</string>
		</dict>
	</dict>
</plist>
