<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{60,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>mail_accessory.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,66}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,66}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>mail_read_server.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{78,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,64}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
            <key>mail_sender.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>mail_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{328,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{328,50}}</string>
                <key>sourceSize</key>
                <string>{350,50}</string>
            </dict>
            <key>mail_unread_server.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{74,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,62}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgsystemmaillayer.pvr.ccz</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3470d8c2224a8489669be2d11a2e22c8:1/1$</string>
            <key>textureFileName</key>
            <string>sgsystemmaillayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
