<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_a.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/jiao_b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/name.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/infokuang.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/star.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/atcicon.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/narrowinfo.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/deficon.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>775</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/lifeicon.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>821</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/spdicon.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>869</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/bt_a.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>back.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text/jinjie_c.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>38</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/jindu_a.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>357</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/jindu_b.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>357</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>textbg_a.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>185</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/bigoffice_b.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>372</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/bigofficer_a.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>372</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>143</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/bigofficer_c.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>282</integer>
				<key>originalHeight</key>
				<integer>372</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>193</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text/queding.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>74</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text/quxiao.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/add.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>74</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/soul.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/sheeton.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/sheetoff.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text/qianghua_a.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>266</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text/qianghua_b.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>305</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text/jinjie_a.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>text/jinjie_b.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>383</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/updatebluebg.png</key>
			<dict>
				<key>width</key>
				<integer>297</integer>
				<key>height</key>
				<integer>299</integer>
				<key>originalWidth</key>
				<integer>297</integer>
				<key>originalHeight</key>
				<integer>299</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>517</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/updateyellowbg.png</key>
			<dict>
				<key>width</key>
				<integer>296</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/biankuang.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>586</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>586</integer>
				<key>x</key>
				<integer>1010</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>update/jiao_a.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>visit/cj_xmb.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>416</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>787</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>visit/cj_back.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>visit/cj_sxk.png</key>
			<dict>
				<key>width</key>
				<integer>375</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>visit/info_atc.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bag/sheeton1.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>62</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bag/sheetoff1.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>873</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>update0.png</string>
			<key>realTextureFileName</key>
			<string>update0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>