<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangdingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,508}}</string>
                <key>sourceSize</key>
                <string>{524,508}</string>
            </dict>
            <key>cs_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,232},{342,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,98}}</string>
                <key>sourceSize</key>
                <string>{342,98}</string>
            </dict>
            <key>font_drinkwine.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,332},{90,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,44}}</string>
                <key>sourceSize</key>
                <string>{90,44}</string>
            </dict>
            <key>font_lzcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,332},{244,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{244,50}}</string>
                <key>sourceSize</key>
                <string>{248,52}</string>
            </dict>
            <key>hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{768,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,56}}</string>
                <key>sourceSize</key>
                <string>{768,56}</string>
            </dict>
            <key>head53.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,420},{84,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>huangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,122},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{598,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,102}}</string>
                <key>sourceSize</key>
                <string>{598,102}</string>
            </dict>
            <key>jisi_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{638,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,158}}</string>
                <key>sourceSize</key>
                <string>{638,158}</string>
            </dict>
            <key>jitianHui_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,730},{204,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,70}}</string>
                <key>sourceSize</key>
                <string>{204,82}</string>
            </dict>
            <key>jitian_boxtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,802},{244,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{244,50}}</string>
                <key>sourceSize</key>
                <string>{248,52}</string>
            </dict>
            <key>loginbtnbg_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{278,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,60}}</string>
                <key>sourceSize</key>
                <string>{278,60}</string>
            </dict>
            <key>luaChakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,420},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>reward_csbtn_font1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,384},{252,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,34}}</string>
                <key>sourceSize</key>
                <string>{252,34}</string>
            </dict>
            <key>reward_csbtn_font2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,194},{150,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,32}}</string>
                <key>sourceSize</key>
                <string>{150,32}</string>
            </dict>
            <key>reward_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,564},{96,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>reward_daybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,64},{264,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,40}}</string>
                <key>sourceSize</key>
                <string>{264,40}</string>
            </dict>
            <key>reward_font_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,378},{74,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>reward_font_drinktime.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,834},{130,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>reward_font_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,488},{62,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{62,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>reward_font_lqgjjyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,854},{160,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{160,16}}</string>
                <key>sourceSize</key>
                <string>{162,16}</string>
            </dict>
            <key>reward_font_lqjyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,512},{142,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{152,50}</string>
            </dict>
            <key>reward_font_yiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,194},{62,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{62,32}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>reward_font_ylq.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,564},{104,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,34}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>reward_jiuhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,118}}</string>
                <key>sourceSize</key>
                <string>{62,118}</string>
            </dict>
            <key>reward_jiuhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,420},{126,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,68}</string>
            </dict>
            <key>reward_login_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,106},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>reward_namebgc.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,854},{72,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,22}}</string>
                <key>sourceSize</key>
                <string>{72,22}</string>
            </dict>
            <key>reward_namebgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,854},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>store_baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{456,42}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,42}}</string>
                <key>sourceSize</key>
                <string>{474,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgrewardlayer.png</string>
            <key>size</key>
            <string>{878,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bef1b62930b96eeea059249a8bd378be:1/1$</string>
            <key>textureFileName</key>
            <string>sgrewardlayer.png</string>
        </dict>
    </dict>
</plist>
