<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_molvbu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,406},{329,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,236}}</string>
                <key>sourceSize</key>
                <string>{329,236}</string>
            </dict>
            <key>BOSS_molvbu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,406},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>BOSS_molvbu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,334},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>BOSS_molvbu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{94,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,105}}</string>
                <key>sourceSize</key>
                <string>{94,105}</string>
            </dict>
            <key>BOSS_molvbu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,834},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>BOSS_molvbu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,715},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>BOSS_molvbu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,819},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>BOSS_molvbu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,279},{419,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,125}}</string>
                <key>sourceSize</key>
                <string>{419,125}</string>
            </dict>
            <key>BOSS_molvbu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,145},{426,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,132}}</string>
                <key>sourceSize</key>
                <string>{426,132}</string>
            </dict>
            <key>BOSS_molvbu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{435,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,141}}</string>
                <key>sourceSize</key>
                <string>{435,141}</string>
            </dict>
            <key>BOSS_molvbu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,330}}</string>
                <key>sourceSize</key>
                <string>{531,330}</string>
            </dict>
            <key>BOSS_molvbu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,819},{151,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,163}}</string>
                <key>sourceSize</key>
                <string>{151,163}</string>
            </dict>
            <key>BOSS_molvbu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,644},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>BOSS_molvbu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,858},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>BOSS_molvbu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,608},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>BOSS_molvbu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,334},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BOSS_molvbu24.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,334},{81,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,498}}</string>
                <key>sourceSize</key>
                <string>{81,498}</string>
            </dict>
            <key>BOSS_molvbu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,334},{90,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,481}}</string>
                <key>sourceSize</key>
                <string>{90,481}</string>
            </dict>
            <key>BOSS_molvbu26.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,334},{71,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,491}}</string>
                <key>sourceSize</key>
                <string>{71,491}</string>
            </dict>
            <key>BOSS_molvbu27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{94,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,494}}</string>
                <key>sourceSize</key>
                <string>{94,494}</string>
            </dict>
            <key>BOSS_molvbu28.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,406},{231,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,200}}</string>
                <key>sourceSize</key>
                <string>{231,200}</string>
            </dict>
            <key>BOSS_molvbu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,819},{153,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,163}}</string>
                <key>sourceSize</key>
                <string>{153,163}</string>
            </dict>
            <key>BOSS_molvbu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,644},{155,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,212}}</string>
                <key>sourceSize</key>
                <string>{155,212}</string>
            </dict>
            <key>BOSS_molvbu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,608},{161,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,209}}</string>
                <key>sourceSize</key>
                <string>{161,209}</string>
            </dict>
            <key>BOSS_molvbu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,858},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>BOSS_molvbu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,406},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>BOSS_molvbu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>BOSS_molvbu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,915},{20,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,47}}</string>
                <key>sourceSize</key>
                <string>{20,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossEffect1.png</string>
            <key>size</key>
            <string>{984,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:849a273df85b17fdce89659c3084d908:1/1$</string>
            <key>textureFileName</key>
            <string>bossEffect1.png</string>
        </dict>
    </dict>
</plist>
