<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss target7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,298}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{368,298}}</string>
                <key>sourceSize</key>
                <string>{368,306}</string>
            </dict>
            <key>boss target8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{368,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,226}}</string>
                <key>sourceSize</key>
                <string>{368,226}</string>
            </dict>
            <key>boss target9.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{360,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,224}}</string>
                <key>sourceSize</key>
                <string>{360,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossTarget2.png</string>
            <key>size</key>
            <string>{734,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b20e15b82917cd97a26df4ec5a94f48f:1/1$</string>
            <key>textureFileName</key>
            <string>bossTarget2.png</string>
        </dict>
    </dict>
</plist>
