<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvpFightReward0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>pvpFightReward10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,210},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>pvpFightReward15.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,238},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>pvpFightReward5.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,236},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>pvpFightRewardBeside.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,236},{8,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,24}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>pvpFightRewardGiftBox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,320},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>pvpFightRewardGiftBox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,236},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>pvpFightRewardGiftBox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,266},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>pvpFightRewardGiftBox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>pvpFightRewardGiftBox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,333},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>pvpFightRewardGiftBox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{73,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{73,65}</string>
            </dict>
            <key>pvpFightRewardLost.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,232}}</string>
                <key>sourceSize</key>
                <string>{231,232}</string>
            </dict>
            <key>pvpFightRewardProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>pvpFightRewardScale.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,236},{3,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,24}}</string>
                <key>sourceSize</key>
                <string>{3,24}</string>
            </dict>
            <key>pvpFightRewardText.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,210},{159,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,33}}</string>
                <key>sourceSize</key>
                <string>{159,33}</string>
            </dict>
            <key>pvpFightRewardWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{204,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,206}}</string>
                <key>sourceSize</key>
                <string>{204,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgpvpfightrewardlayer.png</string>
            <key>size</key>
            <string>{441,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2897140ff2dbf24e8c81ff167eaa230:1/1$</string>
            <key>textureFileName</key>
            <string>sgpvpfightrewardlayer.png</string>
        </dict>
    </dict>
</plist>
