<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Label_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,456},{104,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Label_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,414},{104,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Label_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,348},{104,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Label_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,306},{104,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Label_win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,240},{104,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>Label_win6.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,522},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>bban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,267}}</string>
                <key>sourceSize</key>
                <string>{534,267}</string>
            </dict>
            <key>btn_joinWar_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,204},{134,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,34}}</string>
                <key>sourceSize</key>
                <string>{144,34}</string>
            </dict>
            <key>heixx.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>jykl.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,564},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>rban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{520,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,252}}</string>
                <key>sourceSize</key>
                <string>{520,252}</string>
            </dict>
            <key>storyRewardPop.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,522},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>story_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xuanwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>yban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{520,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,252}}</string>
                <key>sourceSize</key>
                <string>{520,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgstorysectionlayer.png</string>
            <key>size</key>
            <string>{779,779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eb25c81a72a27b1cd604a41c8e00faf:1/1$</string>
            <key>textureFileName</key>
            <string>sgstorysectionlayer.png</string>
        </dict>
    </dict>
</plist>
