<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_ctyLight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{235,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,435}}</string>
                <key>sourceSize</key>
                <string>{235,435}</string>
            </dict>
            <key>load_ctyLight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,439},{230,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,476}}</string>
                <key>sourceSize</key>
                <string>{230,476}</string>
            </dict>
            <key>load_ctyLight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,568}}</string>
                <key>sourceSize</key>
                <string>{203,568}</string>
            </dict>
            <key>load_ctyLight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{143,541}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,541}}</string>
                <key>sourceSize</key>
                <string>{143,541}</string>
            </dict>
            <key>load_ctyLight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{143,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,524}}</string>
                <key>sourceSize</key>
                <string>{143,524}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load_dismiss.png</string>
            <key>size</key>
            <string>{917,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3021581e0803b82062233663f04f7fa8:1/1$</string>
            <key>textureFileName</key>
            <string>load_dismiss.png</string>
        </dict>
    </dict>
</plist>
