<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_ui_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>load_ctyHighBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,782},{38,48}}</string>
                <key>offset</key>
                <string>{-38,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{114,292}</string>
            </dict>
            <key>load_ctyHighBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{114,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,292}}</string>
                <key>sourceSize</key>
                <string>{114,292}</string>
            </dict>
            <key>load_ctyHighBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,522},{115,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,293}}</string>
                <key>sourceSize</key>
                <string>{115,293}</string>
            </dict>
            <key>load_ctyIconBbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,522},{120,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,310}}</string>
                <key>sourceSize</key>
                <string>{120,310}</string>
            </dict>
            <key>load_ctyIconBbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,522},{120,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,310}}</string>
                <key>sourceSize</key>
                <string>{120,310}</string>
            </dict>
            <key>load_ctyIconBbg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,522},{120,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,310}}</string>
                <key>sourceSize</key>
                <string>{120,310}</string>
            </dict>
            <key>load_ctyIconBbg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,522},{120,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,310}}</string>
                <key>sourceSize</key>
                <string>{120,310}</string>
            </dict>
            <key>load_ctyIconBbg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{120,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,310}}</string>
                <key>sourceSize</key>
                <string>{120,310}</string>
            </dict>
            <key>load_ctyIconBbg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,296},{110,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,296}}</string>
                <key>sourceSize</key>
                <string>{110,296}</string>
            </dict>
            <key>load_ctyIcon_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{640,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,6}}</string>
                <key>sourceSize</key>
                <string>{640,6}</string>
            </dict>
            <key>load_ctyIconsbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,758},{48,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>load_ctyIconsbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,594},{48,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>load_ctyIconsbg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,594},{48,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>load_ctyIconsbg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,636},{48,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>load_ctyIconsbg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,514},{48,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>load_ctyLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,94},{234,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,418}}</string>
                <key>sourceSize</key>
                <string>{234,418}</string>
            </dict>
            <key>load_ctyLightN.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,94},{234,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,418}}</string>
                <key>sourceSize</key>
                <string>{234,418}</string>
            </dict>
            <key>load_ctyLightNN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{306,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,418}}</string>
                <key>sourceSize</key>
                <string>{306,418}</string>
            </dict>
            <key>load_ctyNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{224,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,38}}</string>
                <key>sourceSize</key>
                <string>{224,38}</string>
            </dict>
            <key>load_ctyName_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,716},{64,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,66}</string>
            </dict>
            <key>load_ctyName_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,66}</string>
            </dict>
            <key>load_ctyName_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{128,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadscene2.png</string>
            <key>size</key>
            <string>{898,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ff993602ccc20b5026002ae63a39ce8:1/1$</string>
            <key>textureFileName</key>
            <string>loadscene2.png</string>
        </dict>
    </dict>
</plist>
