<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{401,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,56}}</string>
                <key>sourceSize</key>
                <string>{401,56}</string>
            </dict>
            <key>loading_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{343,28}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,20},{343,28}}</string>
                <key>sourceSize</key>
                <string>{401,56}</string>
            </dict>
            <key>loading_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{335,14}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{335,14}}</string>
                <key>sourceSize</key>
                <string>{401,56}</string>
            </dict>
            <key>loadinginfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{524,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,292}}</string>
                <key>sourceSize</key>
                <string>{524,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{528,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b725a449123c6dc7c884e3a10af493af:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
