<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ofc_100x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,761},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ofc_bar_fate_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,923},{230,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,50}}</string>
                <key>sourceSize</key>
                <string>{230,50}</string>
            </dict>
            <key>ofc_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,757}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,757}}</string>
                <key>sourceSize</key>
                <string>{598,757}</string>
            </dict>
            <key>ofc_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{468,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,228}}</string>
                <key>sourceSize</key>
                <string>{468,228}</string>
            </dict>
            <key>ofc_icon_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,761},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>ofc_icon_big_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,927},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>ofc_icon_big_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,863},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>ofc_icon_big_mor.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,923},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ofc_icon_big_spd.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,863},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>ofc_icon_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,85},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>ofc_icon_morale.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,859},{46,44}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,44}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>ofc_icon_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,813},{56,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,44}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
            <key>ofc_moreinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>ofc_title_chengzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,214},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,41}}</string>
                <key>sourceSize</key>
                <string>{119,43}</string>
            </dict>
            <key>ofc_title_jn.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>ofc_title_soldierskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,44}</string>
            </dict>
            <key>ofc_title_tianfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,171},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,41}}</string>
                <key>sourceSize</key>
                <string>{119,43}</string>
            </dict>
            <key>ofc_title_wjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,128},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,41}}</string>
                <key>sourceSize</key>
                <string>{119,43}</string>
            </dict>
            <key>ofc_title_yflb.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,44},{152,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,39}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>
            </dict>
            <key>ofc_title_zjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,85},{117,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,41}}</string>
                <key>sourceSize</key>
                <string>{119,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ofcNewUi.png</string>
            <key>size</key>
            <string>{991,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be711003caac480a093b23ec40c15f8e:1/1$</string>
            <key>textureFileName</key>
            <string>ofcNewUi.png</string>
        </dict>
    </dict>
</plist>
