<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,296},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>equip_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,198},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>equip_kj.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,100},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>equip_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>font_jiechu.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,664},{106,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{106,28}}</string>
                <key>sourceSize</key>
                <string>{112,32}</string>
            </dict>
            <key>font_protect.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,634},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>font_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,694},{52,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,26}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>font_sellqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{330,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,50}}</string>
                <key>sourceSize</key>
                <string>{330,50}</string>
            </dict>
            <key>font_streng.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,694},{52,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,26}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>font_xiex.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,596},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>font_zhuangb.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,694},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>generalcardbg_ip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,507}}</string>
                <key>sourceSize</key>
                <string>{640,507}</string>
            </dict>
            <key>show_objects.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,394},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>streng_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,488},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{78,106}</string>
            </dict>
            <key>streng_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{626,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,50}}</string>
                <key>sourceSize</key>
                <string>{626,50}</string>
            </dict>
            <key>wqzbbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{640,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,118}}</string>
                <key>sourceSize</key>
                <string>{640,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sggeneralinfolayer1.png</string>
            <key>size</key>
            <string>{741,741}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c2a2f06c62f1dfa743fe67749ec0959:1/1$</string>
            <key>textureFileName</key>
            <string>sggeneralinfolayer1.png</string>
        </dict>
    </dict>
</plist>
