<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1122.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,256},{246,224}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,224}}</string>
                <key>sourceSize</key>
                <string>{296,224}</string>
            </dict>
            <key>officer_1123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,218}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,218}}</string>
                <key>sourceSize</key>
                <string>{354,218}</string>
            </dict>
            <key>officer_1124.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{174,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,230}}</string>
                <key>sourceSize</key>
                <string>{174,230}</string>
            </dict>
            <key>officer_1125.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,696},{214,242}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,242}}</string>
                <key>sourceSize</key>
                <string>{234,242}</string>
            </dict>
            <key>officer_1126.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{252,228}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,228}}</string>
                <key>sourceSize</key>
                <string>{270,228}</string>
            </dict>
            <key>officer_1127.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,234},{162,230}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,230}}</string>
                <key>sourceSize</key>
                <string>{174,230}</string>
            </dict>
            <key>officer_1128.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{266,252}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{266,252}}</string>
                <key>sourceSize</key>
                <string>{278,252}</string>
            </dict>
            <key>officer_1129.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,726},{206,220}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{206,220}}</string>
                <key>sourceSize</key>
                <string>{214,220}</string>
            </dict>
            <key>officer_1130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{192,254}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,254}}</string>
                <key>sourceSize</key>
                <string>{216,254}</string>
            </dict>
            <key>officer_1131.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,232},{246,254}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{246,254}}</string>
                <key>sourceSize</key>
                <string>{266,254}</string>
            </dict>
            <key>officer_1132.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,488},{214,236}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{214,236}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>officer_1133.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,488},{214,236}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{214,236}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>officer_1134.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,488},{214,236}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{214,236}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>officer_1135.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,488},{214,236}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{214,236}}</string>
                <key>sourceSize</key>
                <string>{220,236}</string>
            </dict>
            <key>officer_1136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{262,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,228}}</string>
                <key>sourceSize</key>
                <string>{262,228}</string>
            </dict>
            <key>officer_1137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{262,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,228}}</string>
                <key>sourceSize</key>
                <string>{262,228}</string>
            </dict>
            <key>officer_1138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{220,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,242}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>officer_1139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{220,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,242}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>officer_1158.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,726},{210,228}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1122-1158.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b79f74e78ec4ae98cd8e3f8fb3becee:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1122-1158.pvr.ccz</string>
        </dict>
    </dict>
</plist>
