<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,234}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,234}}</string>
                <key>sourceSize</key>
                <string>{338,234}</string>
            </dict>
            <key>officer_1121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{244,220}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,220}}</string>
                <key>sourceSize</key>
                <string>{284,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1120-1121.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ce9ad97d316e61ffe873de1605d5dde:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1120-1121.pvr.ccz</string>
        </dict>
    </dict>
</plist>
