<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>officer_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,368},{306,356}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,81},{306,356}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{238,362}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,78},{238,362}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{366,382}}</string>
                <key>offset</key>
                <string>{-33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,61},{366,382}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{282,392}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,51},{282,392}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,304}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,121},{390,304}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{374,364}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,79},{374,364}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
            <key>officer_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,368},{302,382}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,58},{302,382}}</string>
                <key>sourceSize</key>
                <string>{640,522}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officerIcon1001-1007.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bc2592fa36671f2166afbaf84cb9572:1/1$</string>
            <key>textureFileName</key>
            <string>officerIcon1001-1007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
