<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_shadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,23}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_shadow_1.png</string>
            <key>size</key>
            <string>{56,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9f71b63afc157a7aff1060c72158b17:1/1$</string>
            <key>textureFileName</key>
            <string>role_shadow_1.png</string>
        </dict>
    </dict>
</plist>
