<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{77,45}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,75},{77,63}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wall_2.png</string>
            <key>size</key>
            <string>{160,160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34887818d31d633ccfe183cfbe1725d:1/1$</string>
            <key>textureFileName</key>
            <string>wall_2.png</string>
        </dict>
    </dict>
</plist>
