<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advance_baiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,282},{482,478}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{482,478}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>advance_bg_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,280}}</string>
                <key>sourceSize</key>
                <string>{496,280}</string>
            </dict>
            <key>advance_bg_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{496,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{496,278}}</string>
                <key>sourceSize</key>
                <string>{496,280}</string>
            </dict>
            <key>advance_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{224,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,40}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>avance_break.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{426,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,434}}</string>
                <key>sourceSize</key>
                <string>{426,434}</string>
            </dict>
            <key>barrack_font_kpzssx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{214,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,46}}</string>
                <key>sourceSize</key>
                <string>{214,46}</string>
            </dict>
            <key>font_jinjieh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>font_jinjieq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>font_jjwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,758},{204,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,36}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>font_jjzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,720},{204,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,36}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>font_tyl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{272,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,44}}</string>
                <key>sourceSize</key>
                <string>{272,44}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,284},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgadvancelayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df0065c59bf28137ea6655c253f43fc4:1/1$</string>
            <key>textureFileName</key>
            <string>sgadvancelayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
