<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_ctyIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,321}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{283,321}}</string>
                <key>sourceSize</key>
                <string>{283,337}</string>
            </dict>
            <key>load_ctyIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{277,337}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{277,337}}</string>
                <key>sourceSize</key>
                <string>{283,337}</string>
            </dict>
            <key>load_ctyIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{252,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadscene3.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba24673892af735ad4b03917084584a0:1/1$</string>
            <key>textureFileName</key>
            <string>loadscene3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
