<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_pieces.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,492},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>common_pieces_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerBagBtnbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,392},{142,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,53}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>officerBagBtnbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,354},{142,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>officerBagTitle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,139},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>officerBagTitle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,102},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>piecebackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,98}}</string>
                <key>sourceSize</key>
                <string>{640,98}</string>
            </dict>
            <key>pieces_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,392},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>sgpieceslayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{502,250}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{502,250}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>unuse_common_oieces.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{196,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{196,36}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>use_common_pieces.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{196,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{196,34}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>wujiang_pieces_active_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,206},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>wujiang_pieces_unactive_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,176},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>zhaohuan_active_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>zhaohuan_unactive_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,292},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>zhunagbei_pieces_active_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,264},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>zhunagbei_pieces_unactive_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,236},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgpieceslayer.png</string>
            <key>size</key>
            <string>{644,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14052c2bac78eacdaf0d62539d062a4a:1/1$</string>
            <key>textureFileName</key>
            <string>sgpieceslayer.png</string>
        </dict>
    </dict>
</plist>
