<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{232,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,22}}</string>
                <key>sourceSize</key>
                <string>{232,22}</string>
            </dict>
            <key>bingzhong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>country_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{344,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,40}}</string>
                <key>sourceSize</key>
                <string>{344,40}</string>
            </dict>
            <key>friendChating.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,270},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>friend_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,270},{58,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>friend_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{104,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>friend_friend_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,334},{96,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>friend_model_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,294},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>friend_model_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,322},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>friend_searchResult_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,120},{150,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,40}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>friend_searchinput.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{362,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,42}}</string>
                <key>sourceSize</key>
                <string>{362,42}</string>
            </dict>
            <key>tiliGetAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,66},{186,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,52}}</string>
                <key>sourceSize</key>
                <string>{186,52}</string>
            </dict>
            <key>tiliGetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{88,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>tiliGotten.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,328},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
            <key>tiliHui.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>tiliNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>tiliSended.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
            <key>tiliSending.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgsearchfriend.png</string>
            <key>size</key>
            <string>{372,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e2d73607a0e833bcb8a6da24b642d3f:1/1$</string>
            <key>textureFileName</key>
            <string>sgsearchfriend.png</string>
        </dict>
    </dict>
</plist>
