<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,1010}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{570,1010}}</string>
                <key>sourceSize</key>
                <string>{572,1012}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_6.png</string>
            <key>size</key>
            <string>{1014,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43a2beaf60c66017271991c24486e32:1/1$</string>
            <key>textureFileName</key>
            <string>background_6.png</string>
        </dict>
    </dict>
</plist>
