<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_win_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,498}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{500,498}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_win_eff.png</string>
            <key>size</key>
            <string>{504,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1928519501d7e0a8b072b96ddb5f377:1/1$</string>
            <key>textureFileName</key>
            <string>battle_win_eff.png</string>
        </dict>
    </dict>
</plist>
