<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frameblink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>frameblink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,72},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>frameblink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>frameblink_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,37},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>frameblink_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>frameblink_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>frameblink_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frameblink.png</string>
            <key>size</key>
            <string>{202,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4451357d5cdd86dd468e5fe8929ae269:1/1$</string>
            <key>textureFileName</key>
            <string>frameblink.png</string>
        </dict>
    </dict>
</plist>
