<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>keytankful_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,74},{100,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>keytankful_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{100,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>keytankful_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,38},{100,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>keytankful_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{100,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>keytankful_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>keytankful_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>keytankful_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{88,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>keytankful_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{64,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{64,34}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keytankful.png</string>
            <key>size</key>
            <string>{206,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56a10afb96bc19bad86487a047f2cde4:1/1$</string>
            <key>textureFileName</key>
            <string>keytankful.png</string>
        </dict>
    </dict>
</plist>
