<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plant1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,14},{12,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>plant1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{12,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>plant1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{12,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>plant1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>plant1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>plant1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>plant1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{12,10}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
            <key>plant1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{12,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plant1.png</string>
            <key>size</key>
            <string>{38,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5189791de0bfd546c45b5466c6b7412:1/1$</string>
            <key>textureFileName</key>
            <string>plant1.png</string>
        </dict>
    </dict>
</plist>
