<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wallfire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{140,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{140,115}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wallfire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,256},{150,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wallfire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wallfire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wallfire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wallfire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wallfire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
            <key>wallfire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,256},{150,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{160,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wallfire.png</string>
            <key>size</key>
            <string>{468,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23603f70e1d32c42ba20a64476b2dd5c:1/1$</string>
            <key>textureFileName</key>
            <string>wallfire.png</string>
        </dict>
    </dict>
</plist>
