<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightOverBoxBg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{608,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,395}}</string>
                <key>sourceSize</key>
                <string>{608,395}</string>
            </dict>
            <key>fightOverBoxBg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{608,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,395}}</string>
                <key>sourceSize</key>
                <string>{608,395}</string>
            </dict>
            <key>fightOverBoxBg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,395}}</string>
                <key>sourceSize</key>
                <string>{608,395}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgFightOverNoticeBox_3.pvr.ccz</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb60a88454e4d8e8128e5470cda2adc:1/1$</string>
            <key>textureFileName</key>
            <string>sgFightOverNoticeBox_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
