<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs_head_2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{116,290}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,290}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,606},{116,234}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{116,234}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2026.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,302}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2027.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{116,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,302}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,302}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2030.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2031.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2032.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2033.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2034.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2035.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2036.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2037.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2038.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2039.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,306},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2040.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,306},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillHead2021-2040.png</string>
            <key>size</key>
            <string>{902,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22526910ad8ad2ac1fff52c85d1a7e31:1/1$</string>
            <key>textureFileName</key>
            <string>skillHead2021-2040.png</string>
        </dict>
    </dict>
</plist>
