<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,594}}</string>
                <key>sourceSize</key>
                <string>{404,594}</string>
            </dict>
            <key>lb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,242},{218,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{218,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{242,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{242,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,598},{244,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{244,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{244,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{244,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,202},{218,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{218,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,162},{218,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{218,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,362},{216,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{216,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,322},{216,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{216,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,122},{218,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{218,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,82},{218,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{218,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,282},{216,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{216,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
            <key>lb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,42},{218,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{218,38}}</string>
                <key>sourceSize</key>
                <string>{250,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sggiftinfobox.png</string>
            <key>size</key>
            <string>{652,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071ef6cfe87c96c31fefa204458b702b:1/1$</string>
            <key>textureFileName</key>
            <string>sggiftinfobox.png</string>
        </dict>
    </dict>
</plist>
