<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityDoubleJunHunBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,580}}</string>
                <key>sourceSize</key>
                <string>{586,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityDoubleJunHun.png</string>
            <key>size</key>
            <string>{590,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ecacd4d2f5362000e86999aa493f46f:1/1$</string>
            <key>textureFileName</key>
            <string>activityDoubleJunHun.png</string>
        </dict>
    </dict>
</plist>
