<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityMeiRiChuZhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,334}}</string>
                <key>sourceSize</key>
                <string>{612,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityMeiRiChuZhi.png</string>
            <key>size</key>
            <string>{616,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ad50732f54caa756f1a6724ef375a26:1/1$</string>
            <key>textureFileName</key>
            <string>activityMeiRiChuZhi.png</string>
        </dict>
    </dict>
</plist>
