<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_growplan_downbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,629}}</string>
                <key>sourceSize</key>
                <string>{584,629}</string>
            </dict>
            <key>activity_growplan_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{4,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,72}}</string>
                <key>sourceSize</key>
                <string>{4,72}</string>
            </dict>
            <key>activity_growplan_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{592,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,29}}</string>
                <key>sourceSize</key>
                <string>{592,29}</string>
            </dict>
            <key>activity_growplan_upbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{615,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,234}}</string>
                <key>sourceSize</key>
                <string>{615,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_growplan.png</string>
            <key>size</key>
            <string>{900,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc1dc6d07db0e7aa5bb22c6ea19e9c1b:1/1$</string>
            <key>textureFileName</key>
            <string>activity_growplan.png</string>
        </dict>
    </dict>
</plist>
