<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_super_benefitsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{598,828}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,828}}</string>
                <key>sourceSize</key>
                <string>{598,828}</string>
            </dict>
            <key>activity_super_benefitsbg_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,828}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,828}}</string>
                <key>sourceSize</key>
                <string>{598,828}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_super_benefitsbg.png</string>
            <key>size</key>
            <string>{1202,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ced4bb666270f0409d30043fe7760ac:1/1$</string>
            <key>textureFileName</key>
            <string>activity_super_benefitsbg.png</string>
        </dict>
    </dict>
</plist>
