<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipFinishNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{894,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{894,82}}</string>
                <key>sourceSize</key>
                <string>{910,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipFinishNum.png</string>
            <key>size</key>
            <string>{898,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e5cec58bac7e9295623da5c39b702e2:1/1$</string>
            <key>textureFileName</key>
            <string>equipFinishNum.png</string>
        </dict>
    </dict>
</plist>
