<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_jm_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{166,20}}</string>
                <key>sourceSize</key>
                <string>{170,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_jm_label.png</string>
            <key>size</key>
            <string>{170,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7d6e8aa4350f82069215c0f8d9dcdf:1/1$</string>
            <key>textureFileName</key>
            <string>hero_jm_label.png</string>
        </dict>
    </dict>
</plist>
