<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,838}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{631,838}}</string>
                <key>sourceSize</key>
                <string>{633,842}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhandouli.png</string>
            <key>size</key>
            <string>{842,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0707ea7a794e24a11a41ebc7895502a8:1/1$</string>
            <key>textureFileName</key>
            <string>zhandouli.png</string>
        </dict>
    </dict>
</plist>
