<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldshop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,52},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>goldshop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{88,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,48}}</string>
                <key>sourceSize</key>
                <string>{88,48}</string>
            </dict>
            <key>goldshop_big_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,222}}</string>
                <key>sourceSize</key>
                <string>{586,222}</string>
            </dict>
            <key>goldshop_buy_popwindow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{526,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,404}}</string>
                <key>sourceSize</key>
                <string>{526,404}</string>
            </dict>
            <key>goldshop_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{420,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,122}}</string>
                <key>sourceSize</key>
                <string>{420,122}</string>
            </dict>
            <key>goldshop_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,82},{202,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,28}}</string>
                <key>sourceSize</key>
                <string>{202,28}</string>
            </dict>
            <key>goldshop_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{586,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,170}}</string>
                <key>sourceSize</key>
                <string>{586,170}</string>
            </dict>
            <key>goldshop_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{242,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,78}}</string>
                <key>sourceSize</key>
                <string>{242,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sggoldshoplayer.png</string>
            <key>size</key>
            <string>{928,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7d79a83d9db56b9bbffd3abf4aae815:1/1$</string>
            <key>textureFileName</key>
            <string>sggoldshoplayer.png</string>
        </dict>
    </dict>
</plist>
