<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,236},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>equipBost.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{326,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,130}}</string>
                <key>sourceSize</key>
                <string>{326,130}</string>
            </dict>
            <key>equipFinish.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{236,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,78}}</string>
                <key>sourceSize</key>
                <string>{236,78}</string>
            </dict>
            <key>equipLevels.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{256,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,76}}</string>
                <key>sourceSize</key>
                <string>{256,76}</string>
            </dict>
            <key>font_qingqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,150},{206,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,50}}</string>
                <key>sourceSize</key>
                <string>{210,52}</string>
            </dict>
            <key>font_yqhngzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,116},{220,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,32}}</string>
                <key>sourceSize</key>
                <string>{220,32}</string>
            </dict>
            <key>font_yydzbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,202},{188,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,32}}</string>
                <key>sourceSize</key>
                <string>{188,32}</string>
            </dict>
            <key>font_yzsngzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,82},{220,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,32}}</string>
                <key>sourceSize</key>
                <string>{220,32}</string>
            </dict>
            <key>pad装备底图.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,414}}</string>
                <key>sourceSize</key>
                <string>{768,414}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgequipslayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3f133cf70b75d03aad3dac6e05ee12:1/1$</string>
            <key>textureFileName</key>
            <string>sgequipslayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
