<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font_becomevip.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,438},{104,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,36}}</string>
                <key>sourceSize</key>
                <string>{108,40}</string>
            </dict>
            <key>font_tequan.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,442},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{80,48}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>font_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,438},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>hotBtnBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>store_dik1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>store_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,476},{62,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,32}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>store_huanqianbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,350}}</string>
                <key>sourceSize</key>
                <string>{536,350}</string>
            </dict>
            <key>store_lank_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,438},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>store_lankhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,438},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>store_mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,354},{544,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,82}}</string>
                <key>sourceSize</key>
                <string>{544,82}</string>
            </dict>
            <key>upwar_button_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,470},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
            <key>upwar_button_font_wjjsck.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,476},{134,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,30}}</string>
                <key>sourceSize</key>
                <string>{134,30}</string>
            </dict>
            <key>upwar_button_officer.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,438},{82,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,30}}</string>
                <key>sourceSize</key>
                <string>{82,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgshoplayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:389a0999a5ad00d7c62bcca48cf2bb41:1/1$</string>
            <key>textureFileName</key>
            <string>sgshoplayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
