<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_battle_namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{202,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,96}}</string>
                <key>sourceSize</key>
                <string>{202,96}</string>
            </dict>
            <key>sp_battle_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{78,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{78,100}</string>
            </dict>
            <key>sp_battle_sec_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{638,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,192}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sp_battle_sec_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{638,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,192}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sp_battle_title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,160}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgspecialbattlelayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0328aafc82106a1a9c1d295c68091e33:1/1$</string>
            <key>textureFileName</key>
            <string>sgspecialbattlelayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
