<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiepian_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{320,504}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiepian_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,47}</string>
                <key>spriteSize</key>
                <string>{320,474}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>qiepian.png</string>
            <key>size</key>
            <string>{644,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d41d4b8665ccdacf38ca0a13a15c2893:c4657257838cb6bf0d8dfc19e22041d2:5024229ff44a47c84de662225e9f5e97$</string>
            <key>textureFileName</key>
            <string>qiepian.png</string>
        </dict>
    </dict>
</plist>
