<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,236}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{265,236}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>firstBuZhenBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{56,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,102}}</string>
                <key>sourceSize</key>
                <string>{56,102}</string>
            </dict>
            <key>first_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,240},{92,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>font_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,486},{52,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{52,22}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>font_zj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,240},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,28}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>giftofhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>light_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>limitLevelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,290},{144,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,32}}</string>
                <key>sourceSize</key>
                <string>{144,32}</string>
            </dict>
            <key>mainLayer_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,330},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>mainLayer_button_countBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,240},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>mainlayer_font_xzjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,436},{386,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,48}}</string>
                <key>sourceSize</key>
                <string>{386,48}</string>
            </dict>
            <key>mainlayer_scrollbgNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{738,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,226}}</string>
                <key>sourceSize</key>
                <string>{738,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgfirstlayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd3aca26fcb6fd955aa0cfcfb5469add:1/1$</string>
            <key>textureFileName</key>
            <string>sgfirstlayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
