<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,653},{114,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>autoTouch.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,426},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>auto_battle_btn_1speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,595},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>auto_battle_btn_3speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,501},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>auto_battle_btn_before_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,473},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>auto_battle_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,167}}</string>
                <key>sourceSize</key>
                <string>{632,167}</string>
            </dict>
            <key>battle_ui_friend_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,645},{128,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{128,34}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
            <key>battle_ui_friend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{280,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{280,44}}</string>
                <key>sourceSize</key>
                <string>{280,46}</string>
            </dict>
            <key>battle_ui_skill_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,455},{216,44}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{216,44}}</string>
                <key>sourceSize</key>
                <string>{240,66}</string>
            </dict>
            <key>battle_ui_skill_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,501},{216,42}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{216,42}}</string>
                <key>sourceSize</key>
                <string>{240,66}</string>
            </dict>
            <key>battle_ui_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,555},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{62,34}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>beiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{222,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,152}}</string>
                <key>sourceSize</key>
                <string>{222,152}</string>
            </dict>
            <key>btnTextAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,591},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>btnTextAlliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,681},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>btnTextAllianceRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,642},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>btnTextHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,651},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>btnTextSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,621},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>btnTextSpellRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,716},{98,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>dixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{640,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,20}}</string>
                <key>sourceSize</key>
                <string>{640,20}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,681},{114,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>energy_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,545},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>energy_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,127},{105,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,87}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>gate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,642},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,642},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,642},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,642},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gonggao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{616,6}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,6}}</string>
                <key>sourceSize</key>
                <string>{624,6}</string>
            </dict>
            <key>greatWall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,516},{136,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,124}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{313,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{313,17}}</string>
                <key>sourceSize</key>
                <string>{353,59}</string>
            </dict>
            <key>lifebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{660,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,60}}</string>
                <key>sourceSize</key>
                <string>{660,60}</string>
            </dict>
            <key>lifekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{353,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,59}}</string>
                <key>sourceSize</key>
                <string>{353,59}</string>
            </dict>
            <key>mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,545},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>move.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,438},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>myBloodFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{514,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,30}}</string>
                <key>sourceSize</key>
                <string>{514,30}</string>
            </dict>
            <key>myBloodGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{508,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,14}}</string>
                <key>sourceSize</key>
                <string>{508,14}</string>
            </dict>
            <key>myBloodOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{508,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,14}}</string>
                <key>sourceSize</key>
                <string>{508,14}</string>
            </dict>
            <key>myBloodRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{508,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,14}}</string>
                <key>sourceSize</key>
                <string>{508,14}</string>
            </dict>
            <key>round_Time_BJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,689},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>suportTouch.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,263},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>support.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{112,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,123}}</string>
                <key>sourceSize</key>
                <string>{112,123}</string>
            </dict>
            <key>supportmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,352},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,375},{114,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>touxiangTouch.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,216},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgherolayer.png</string>
            <key>size</key>
            <string>{751,751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46d63907450c9a48c444262d26f20c49:1/1$</string>
            <key>textureFileName</key>
            <string>sgherolayer.png</string>
        </dict>
    </dict>
</plist>
