<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop501.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,376},{188,176}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{188,176}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop502.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,376},{188,174}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{188,174}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop503.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop504.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop505.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop506.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop507.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop508.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,192},{188,182}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,182}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop509.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,554},{188,154}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{188,154}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop510.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,736},{140,124}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{140,124}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop511.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,552},{110,128}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,38},{110,128}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop512.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,552},{178,182}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{178,182}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop513.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,710},{180,152}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{180,152}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop514.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,736},{150,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{150,118}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop515.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,572},{188,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{188,186}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop516.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop517.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,192},{188,182}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{188,182}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>prop520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop501-520.png</string>
            <key>size</key>
            <string>{864,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4840a205f99ebaeae54766de7235bb8b:1/1$</string>
            <key>textureFileName</key>
            <string>prop501-520.png</string>
        </dict>
    </dict>
</plist>
