<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{128,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>prop108.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,142}}</string>
                <key>sourceSize</key>
                <string>{128,142}</string>
            </dict>
            <key>prop109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,142}}</string>
                <key>sourceSize</key>
                <string>{128,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop101-120.png</string>
            <key>size</key>
            <string>{288,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fe3981681deda2e7dd16e765e7cf449:1/1$</string>
            <key>textureFileName</key>
            <string>prop101-120.png</string>
        </dict>
    </dict>
</plist>
