<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prop46.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,177},{126,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,140}}</string>
                <key>sourceSize</key>
                <string>{126,140}</string>
            </dict>
            <key>prop47.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,136}}</string>
                <key>sourceSize</key>
                <string>{128,136}</string>
            </dict>
            <key>prop48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,252}}</string>
                <key>sourceSize</key>
                <string>{128,252}</string>
            </dict>
            <key>prop49.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,140},{126,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,140}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>prop50.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{123,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,173}}</string>
                <key>sourceSize</key>
                <string>{123,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prop41-60.png</string>
            <key>size</key>
            <string>{388,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:299e78f603d299f05957f57e75f9c13f:1/1$</string>
            <key>textureFileName</key>
            <string>prop41-60.png</string>
        </dict>
    </dict>
</plist>
