<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs_head_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,302},{112,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,296}}</string>
                <key>sourceSize</key>
                <string>{116,300}</string>
            </dict>
            <key>vs_head_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,606},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,302}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,306},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,600},{112,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,282}}</string>
                <key>sourceSize</key>
                <string>{116,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillHead2001-2020.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f873d466871a353c8c1b7ffbb78c18d:1/1$</string>
            <key>textureFileName</key>
            <string>skillHead2001-2020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
