<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs_head_2041.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2042.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{112,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,254}}</string>
                <key>sourceSize</key>
                <string>{116,258}</string>
            </dict>
            <key>vs_head_2043.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2044.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2045.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2046.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2047.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2049.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2050.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2051.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillHead2041-2060.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d62df8ede0f4d945708ecca2cecda0b6:1/1$</string>
            <key>textureFileName</key>
            <string>skillHead2041-2060.pvr.ccz</string>
        </dict>
    </dict>
</plist>
