<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs_head_2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{116,290}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,290}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{116,234}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{116,234}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{116,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,302}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2027.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{116,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,302}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,302}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2030.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2031.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2032.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2033.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2034.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,594},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2035.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,294},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2036.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,594},{112,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2037.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,294},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2038.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2039.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_2040.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillHead2021-2040.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbdb36da4ef3f9cb1cf9489285fc7c5:1/1$</string>
            <key>textureFileName</key>
            <string>skillHead2021-2040.pvr.ccz</string>
        </dict>
    </dict>
</plist>
