<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vs_head_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
            <key>vs_head_1036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,298}}</string>
                <key>sourceSize</key>
                <string>{116,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillHead1021-1040.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f4a59fa65045e7de76f36a63226116a:1/1$</string>
            <key>textureFileName</key>
            <string>skillHead1021-1040.pvr.ccz</string>
        </dict>
    </dict>
</plist>
