<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{194,182}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,182}}</string>
                <key>sourceSize</key>
                <string>{194,186}</string>
            </dict>
            <key>mq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{195,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,202}}</string>
                <key>sourceSize</key>
                <string>{195,202}</string>
            </dict>
            <key>mq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{196,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,213}}</string>
                <key>sourceSize</key>
                <string>{196,213}</string>
            </dict>
            <key>mq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,195}}</string>
                <key>sourceSize</key>
                <string>{197,195}</string>
            </dict>
            <key>mq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,411},{187,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,211}}</string>
                <key>sourceSize</key>
                <string>{187,211}</string>
            </dict>
            <key>mq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,217},{194,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,192}}</string>
                <key>sourceSize</key>
                <string>{194,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>advancemaoyan.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025e97b4967b42764245e00e4c8417b3:1/1$</string>
            <key>textureFileName</key>
            <string>advancemaoyan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
