<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,180},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{158,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,178}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,166}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,154},{160,148}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,148}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,706},{142,168}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{142,168}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,494},{160,154}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{156,150}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{156,150}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,336},{160,156}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,156}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,170},{160,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,164}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,717},{156,172}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{156,172}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,362},{160,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,177}}</string>
                <key>sourceSize</key>
                <string>{160,177}</string>
            </dict>
            <key>loading_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,717},{142,172}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{142,172}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,534},{160,170}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{160,170}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{160,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,177}}</string>
                <key>sourceSize</key>
                <string>{160,177}</string>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,358},{160,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,174}</string>
            </dict>
            <key>loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,541},{160,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,174}</string>
            </dict>
            <key>loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
            <key>zi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>zi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation_loading.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:455f2bb2bc48813ecd11d41cc4eb0320:1/1$</string>
            <key>textureFileName</key>
            <string>animation_loading.pvr.ccz</string>
        </dict>
    </dict>
</plist>
