<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bsxx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>bsxx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>bsxx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,106},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>bsxx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,106},{12,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,11}}</string>
                <key>sourceSize</key>
                <string>{12,11}</string>
            </dict>
            <key>fh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,54},{159,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{159,50}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>fh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{159,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{159,50}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>fh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,54},{159,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{159,50}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>fh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{159,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{159,50}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>fh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{159,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{159,50}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>fh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{159,50}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>fh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,54},{159,50}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{159,50}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,123},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btnhuabiananim.pvr.ccz</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c892049393d3e46cebe86b15fe0b5fc:1/1$</string>
            <key>textureFileName</key>
            <string>btnhuabiananim.pvr.ccz</string>
        </dict>
    </dict>
</plist>
