<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cardlight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{131,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,261}}</string>
                <key>sourceSize</key>
                <string>{131,261}</string>
            </dict>
            <key>Cardlight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,364}}</string>
                <key>sourceSize</key>
                <string>{181,364}</string>
            </dict>
            <key>Cardlight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{149,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,290}}</string>
                <key>sourceSize</key>
                <string>{149,290}</string>
            </dict>
            <key>Cardlight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,294},{115,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,244}}</string>
                <key>sourceSize</key>
                <string>{115,244}</string>
            </dict>
            <key>Cardlight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,265},{130,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,272}}</string>
                <key>sourceSize</key>
                <string>{130,272}</string>
            </dict>
            <key>Cardlight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{86,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,178}}</string>
                <key>sourceSize</key>
                <string>{86,178}</string>
            </dict>
            <key>Cardlight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,368},{69,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,142}}</string>
                <key>sourceSize</key>
                <string>{69,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cardlight.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:546078daa8a826d069ce4ff19e9de195:1/1$</string>
            <key>textureFileName</key>
            <string>Cardlight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
