<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{506,434}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{506,434}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,661},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>dq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,670},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{77,76}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
            <key>dq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
            <key>dq_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>dq_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,438},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>dq_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,564},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>dq_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,438},{132,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,124}}</string>
                <key>sourceSize</key>
                <string>{132,124}</string>
            </dict>
            <key>dq_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{141,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,133}}</string>
                <key>sourceSize</key>
                <string>{141,133}</string>
            </dict>
            <key>dq_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,438},{141,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,130}}</string>
                <key>sourceSize</key>
                <string>{141,130}</string>
            </dict>
            <key>dq_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,526},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>dq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,642},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>dq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>dq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,642},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>dq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,598},{103,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{103,70}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
            <key>dq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,570},{95,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{95,70}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
            <key>dq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,526},{85,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{85,70}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
            <key>dq_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,696},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{77,76}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
            <key>dq_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,696},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dq.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88ffc551ff4a9f287f6be754af518e9e:1/1$</string>
            <key>textureFileName</key>
            <string>dq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
