<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanxing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{61,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
            <key>lanxing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,75},{43,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,83}}</string>
                <key>sourceSize</key>
                <string>{45,85}</string>
            </dict>
            <key>lanxing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,51}}</string>
                <key>sourceSize</key>
                <string>{85,59}</string>
            </dict>
            <key>lanxing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,39},{34,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>lanxing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flashStar.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c2edd46134ae0d7c1c6d5e1acac61e6:1/1$</string>
            <key>textureFileName</key>
            <string>flashStar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
