<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,228},{72,111}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{72,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,228},{80,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,115},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{96,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,109}}</string>
                <key>sourceSize</key>
                <string>{98,111}</string>
            </dict>
            <key>fw_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fw.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c89dde2a0d03e13764ce57fd7ed33268:1/1$</string>
            <key>textureFileName</key>
            <string>fw.pvr.ccz</string>
        </dict>
    </dict>
</plist>
