<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Bqimove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,404},{292,400}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{292,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>eff_Bqimove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{296,400}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{296,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>eff_Bqimove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>eff_Bqimove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>eff_Bqimove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,400}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_103.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59cd6b660f4b0b5fdae247cdc116c8c5:1/1$</string>
            <key>textureFileName</key>
            <string>jian_103.pvr.ccz</string>
        </dict>
    </dict>
</plist>
