<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Bicemove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,277}}</string>
                <key>sourceSize</key>
                <string>{140,277}</string>
            </dict>
            <key>eff_Bicemove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{137,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,300}}</string>
                <key>sourceSize</key>
                <string>{137,300}</string>
            </dict>
            <key>eff_Bicemove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{137,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,318}}</string>
                <key>sourceSize</key>
                <string>{137,318}</string>
            </dict>
            <key>eff_Bicemove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{137,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,324}}</string>
                <key>sourceSize</key>
                <string>{137,324}</string>
            </dict>
            <key>eff_Bicemove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,304},{121,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,325}}</string>
                <key>sourceSize</key>
                <string>{121,325}</string>
            </dict>
            <key>eff_Bicemove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,631},{118,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,333}}</string>
                <key>sourceSize</key>
                <string>{118,333}</string>
            </dict>
            <key>eff_Bicemove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{120,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,354}}</string>
                <key>sourceSize</key>
                <string>{120,354}</string>
            </dict>
            <key>eff_Bicemove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,601},{104,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,347}}</string>
                <key>sourceSize</key>
                <string>{104,347}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_104.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0734c0e50ad334375c093331424a9f8:1/1$</string>
            <key>textureFileName</key>
            <string>jian_104.pvr.ccz</string>
        </dict>
    </dict>
</plist>
