<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Bfireatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,310},{272,240}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,73},{272,240}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{276,306}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{276,306}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,340}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{276,340}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{278,324}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{278,324}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{278,276}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{278,276}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{280,262}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{280,262}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,266},{280,198}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{280,198}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,466},{280,164}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,168},{280,164}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_100_bz.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca8fc272cf83467ea78647c250533dc2:1/1$</string>
            <key>textureFileName</key>
            <string>jian_100_bz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
