<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyu_fly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{72,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,242}}</string>
                <key>sourceSize</key>
                <string>{72,242}</string>
            </dict>
            <key>zhouyu_fly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,242}}</string>
                <key>sourceSize</key>
                <string>{77,242}</string>
            </dict>
            <key>zhouyu_fly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{74,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,242}}</string>
                <key>sourceSize</key>
                <string>{74,242}</string>
            </dict>
            <key>zhouyu_fly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,246},{73,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,242}}</string>
                <key>sourceSize</key>
                <string>{73,242}</string>
            </dict>
            <key>zhouyu_fly5.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,246},{116,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,215}}</string>
                <key>sourceSize</key>
                <string>{116,215}</string>
            </dict>
            <key>zhouyu_fly6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{114,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,209}}</string>
                <key>sourceSize</key>
                <string>{114,209}</string>
            </dict>
            <key>zhouyu_fly7.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{112,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,200}}</string>
                <key>sourceSize</key>
                <string>{112,200}</string>
            </dict>
            <key>zhouyu_fly8.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{114,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,204}}</string>
                <key>sourceSize</key>
                <string>{114,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_111.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775309ba6cb2e40f9bbd1bbe0a69362f:1/1$</string>
            <key>textureFileName</key>
            <string>jian_111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
