<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangzhong_atteff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{188,152}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,63},{188,152}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>huangzhong_atteff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,248},{224,222}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{224,222}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>huangzhong_atteff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,248},{254,226}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{254,226}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>huangzhong_atteff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,248}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{270,248}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>huangzhong_atteff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{282,246}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{282,246}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>huangzhong_atteff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{280,244}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{280,244}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>huangzhong_atteff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{276,186}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{276,186}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_110_bz.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a70dfc4c6056ffc35c7b61773e37cc2b:1/1$</string>
            <key>textureFileName</key>
            <string>jian_110_bz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
