<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sq_atteff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{244,286}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{244,286}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>sq_atteff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,272},{272,294}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{272,294}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>sq_atteff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{268,266}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{268,266}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>sq_atteff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,246},{294,264}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{294,264}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>sq_atteff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,286}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,61},{298,286}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>sq_atteff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{298,268}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,82},{298,268}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>sq_atteff8.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{298,242}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,108},{298,242}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_109_bz.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d61e4c905138dcf8caad044f1b0c6f87:1/1$</string>
            <key>textureFileName</key>
            <string>jian_109_bz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
