<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Rrfiremove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{288,264}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,137},{288,264}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{152,308}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,131},{152,308}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,828},{284,366}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,108},{284,366}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,490},{292,480}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{292,480}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{304,486}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,56},{304,486}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,366},{294,460}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,53},{294,460}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{304,370}}</string>
                <key>offset</key>
                <string>{-9,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{304,370}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,360}}</string>
                <key>offset</key>
                <string>{-11,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,53},{316,360}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{298,362}}</string>
                <key>offset</key>
                <string>{-5,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{298,362}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,972},{206,328}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,97},{206,328}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_106.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85595c5018e524d2543fc1d2227b2378:1/1$</string>
            <key>textureFileName</key>
            <string>jian_106.pvr.ccz</string>
        </dict>
    </dict>
</plist>
