<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sq_fly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{135,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,143}}</string>
                <key>sourceSize</key>
                <string>{135,143}</string>
            </dict>
            <key>sq_fly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{152,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,270}}</string>
                <key>sourceSize</key>
                <string>{152,270}</string>
            </dict>
            <key>sq_fly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,274},{143,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,387}}</string>
                <key>sourceSize</key>
                <string>{143,387}</string>
            </dict>
            <key>sq_fly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{156,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,397}}</string>
                <key>sourceSize</key>
                <string>{156,397}</string>
            </dict>
            <key>sq_fly5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{125,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,403}}</string>
                <key>sourceSize</key>
                <string>{125,403}</string>
            </dict>
            <key>sq_fly6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,403}}</string>
                <key>sourceSize</key>
                <string>{182,403}</string>
            </dict>
            <key>sq_fly7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,401},{137,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,367}}</string>
                <key>sourceSize</key>
                <string>{137,367}</string>
            </dict>
            <key>sq_fly8.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,663},{123,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,292}}</string>
                <key>sourceSize</key>
                <string>{123,292}</string>
            </dict>
            <key>sq_fly9.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,770},{121,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,192}}</string>
                <key>sourceSize</key>
                <string>{121,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_109.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d6d0d2118902334b0d7e0ea741c4688:1/1$</string>
            <key>textureFileName</key>
            <string>jian_109.pvr.ccz</string>
        </dict>
    </dict>
</plist>
