<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{34,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,122},{34,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,151},{38,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,81},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,115},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{42,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,81},{46,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,143},{40,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{40,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{75,77}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,45},{75,69}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{75,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,41}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,146},{32,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{75,75}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,205},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{22,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{24,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{24,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,156},{22,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,116},{32,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,116},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,34}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,117},{40,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,171},{38,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinb.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b39878f8fdeca3db087a9649482f0dff:1/1$</string>
            <key>textureFileName</key>
            <string>jinb.pvr.ccz</string>
        </dict>
    </dict>
</plist>
