<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,395},{72,196}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{72,196}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{223,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,142}}</string>
                <key>sourceSize</key>
                <string>{223,142}</string>
            </dict>
            <key>jx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,141}}</string>
                <key>sourceSize</key>
                <string>{226,141}</string>
            </dict>
            <key>jx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{223,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,103}}</string>
                <key>sourceSize</key>
                <string>{223,103}</string>
            </dict>
            <key>jx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,395},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>jx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,145},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>jx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{74,184}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,184}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,395},{76,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,196}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,281},{80,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,188}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,146},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>jx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{140,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,108}}</string>
                <key>sourceSize</key>
                <string>{140,108}</string>
            </dict>
            <key>jx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,281},{192,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,112}}</string>
                <key>sourceSize</key>
                <string>{192,112}</string>
            </dict>
            <key>jx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{208,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,123}}</string>
                <key>sourceSize</key>
                <string>{208,123}</string>
            </dict>
            <key>jx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,146},{213,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,133}}</string>
                <key>sourceSize</key>
                <string>{213,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jxbz.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:907065604f7f097e3b443b0e5ab37ffe:1/1$</string>
            <key>textureFileName</key>
            <string>jxbz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
