<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jzan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,56},{19,19}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{19,19}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,264},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,138},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,124},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,195},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,209},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,62},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>jzan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,58}}</string>
                <key>sourceSize</key>
                <string>{117,58}</string>
            </dict>
            <key>jzan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>jzan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,31},{23,23}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{23,23}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>jzan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{95,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,43}</string>
            </dict>
            <key>jzan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,31},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>jzan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{33,27}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{33,27}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,209},{47,27}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{47,27}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{57,51}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,51}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,325},{57,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,270},{57,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,77},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jzan.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e5150e9ed71fee5de982eda64babf85:1/1$</string>
            <key>textureFileName</key>
            <string>jzan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
