<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KMFG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,531}}</string>
                <key>sourceSize</key>
                <string>{46,531}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KMFG_1.pvr.ccz</string>
            <key>size</key>
            <string>{64,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:469f5418ffdbe5fd74b1b202d1218f67:1/1$</string>
            <key>textureFileName</key>
            <string>KMFG_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
