<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,770},{214,179}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{214,179}}</string>
                <key>sourceSize</key>
                <string>{216,181}</string>
            </dict>
            <key>k0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{206,208}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{206,208}}</string>
                <key>sourceSize</key>
                <string>{218,210}</string>
            </dict>
            <key>k0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,398},{310,342}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{310,342}}</string>
                <key>sourceSize</key>
                <string>{312,344}</string>
            </dict>
            <key>k0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,394}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{318,394}}</string>
                <key>sourceSize</key>
                <string>{320,396}</string>
            </dict>
            <key>k0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{316,370}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{316,370}}</string>
                <key>sourceSize</key>
                <string>{320,372}</string>
            </dict>
            <key>k0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,309},{297,301}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{297,301}}</string>
                <key>sourceSize</key>
                <string>{299,303}</string>
            </dict>
            <key>k0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{315,305}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{315,305}}</string>
                <key>sourceSize</key>
                <string>{317,309}</string>
            </dict>
            <key>k0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{311,316}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{311,316}}</string>
                <key>sourceSize</key>
                <string>{313,318}</string>
            </dict>
            <key>k0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,612},{266,261}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{266,261}}</string>
                <key>sourceSize</key>
                <string>{268,263}</string>
            </dict>
            <key>k0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,742},{237,263}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{237,263}}</string>
                <key>sourceSize</key>
                <string>{241,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officer_developing_effect1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:629f19295b7c01ce453cf498a3a80690:1/1$</string>
            <key>textureFileName</key>
            <string>officer_developing_effect1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
