<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1596},{216,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,181}}</string>
                <key>sourceSize</key>
                <string>{216,181}</string>
            </dict>
            <key>k0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1723},{218,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,210}}</string>
                <key>sourceSize</key>
                <string>{218,210}</string>
            </dict>
            <key>k0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{312,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,344}}</string>
                <key>sourceSize</key>
                <string>{312,344}</string>
            </dict>
            <key>k0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,396}}</string>
                <key>sourceSize</key>
                <string>{320,396}</string>
            </dict>
            <key>k0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,372}}</string>
                <key>sourceSize</key>
                <string>{320,372}</string>
            </dict>
            <key>k0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1291},{299,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,303}}</string>
                <key>sourceSize</key>
                <string>{299,303}</string>
            </dict>
            <key>k0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{317,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,309}}</string>
                <key>sourceSize</key>
                <string>{317,309}</string>
            </dict>
            <key>k0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,376},{313,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,318}}</string>
                <key>sourceSize</key>
                <string>{313,318}</string>
            </dict>
            <key>k0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1760},{268,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,263}}</string>
                <key>sourceSize</key>
                <string>{268,263}</string>
            </dict>
            <key>k0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{241,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,267}}</string>
                <key>sourceSize</key>
                <string>{241,267}</string>
            </dict>
            <key>k0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1427},{287,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,331}}</string>
                <key>sourceSize</key>
                <string>{287,331}</string>
            </dict>
            <key>k0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{307,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,341}}</string>
                <key>sourceSize</key>
                <string>{307,341}</string>
            </dict>
            <key>k0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1382},{290,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,339}}</string>
                <key>sourceSize</key>
                <string>{290,339}</string>
            </dict>
            <key>k0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,313},{315,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,343}}</string>
                <key>sourceSize</key>
                <string>{315,343}</string>
            </dict>
            <key>k0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{302,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,336}}</string>
                <key>sourceSize</key>
                <string>{302,336}</string>
            </dict>
            <key>k0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1043},{304,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,337}}</string>
                <key>sourceSize</key>
                <string>{304,337}</string>
            </dict>
            <key>k0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,696},{307,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,345}}</string>
                <key>sourceSize</key>
                <string>{307,345}</string>
            </dict>
            <key>k0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,658},{312,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,328}}</string>
                <key>sourceSize</key>
                <string>{312,328}</string>
            </dict>
            <key>k0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,988},{306,301}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{306,301}}</string>
                <key>sourceSize</key>
                <string>{306,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgDevelopingOfficerLayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef450494e36b01ca0fd4eb3ebdcdd5b8:1/1$</string>
            <key>textureFileName</key>
            <string>sgDevelopingOfficerLayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
