<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>xx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{5,6}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{5,6}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>xx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,10}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{41,10}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>xx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{31,4}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{31,4}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>xx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{37,14}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{37,14}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>xx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{37,20}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{37,20}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>staranimation.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:980fd8d55b55996b25dd385b952c67d8:1/1$</string>
            <key>textureFileName</key>
            <string>staranimation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
