<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qhjm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{531,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,147}}</string>
                <key>sourceSize</key>
                <string>{531,147}</string>
            </dict>
            <key>qhjm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,296},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qhjm_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,315},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>qhjm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>qhjm_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,151},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>qhjm_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,315},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>qhjm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,289},{246,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,125}}</string>
                <key>sourceSize</key>
                <string>{246,125}</string>
            </dict>
            <key>qhjm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{179,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,157}}</string>
                <key>sourceSize</key>
                <string>{179,157}</string>
            </dict>
            <key>qhjm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{109,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,149}}</string>
                <key>sourceSize</key>
                <string>{109,149}</string>
            </dict>
            <key>qhjm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,416},{107,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>qhjm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,461},{102,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
            <key>qhjm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,151},{140,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,143}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>qhjm_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,163},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qhjm_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>strengjiantoutexiao.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bdf4ec0b8a19913f66313777c683f5f:1/1$</string>
            <key>textureFileName</key>
            <string>strengjiantoutexiao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
