<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>battle_coinicon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,440},{66,88}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{66,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>battle_coinicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{86,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>battle_coinicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,262},{82,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{82,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>battle_coinicon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{26,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{26,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>battle_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,235},{42,50}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,65},{42,50}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>battle_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,350},{72,88}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,42},{72,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>battle_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,871},{102,100}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{102,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>battle_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,567},{126,116}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{126,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>battle_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,443},{134,122}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{134,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>battle_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,311},{140,130}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{140,130}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>battle_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,735},{104,134}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,18},{104,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>battle_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,530},{108,136}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,17},{108,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>cardok.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,470},{92,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{92,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>szg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,475},{171,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,176}}</string>
                <key>sourceSize</key>
                <string>{171,176}</string>
            </dict>
            <key>szg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{288,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,258}}</string>
                <key>sourceSize</key>
                <string>{288,258}</string>
            </dict>
            <key>szg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,470},{210,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,183}}</string>
                <key>sourceSize</key>
                <string>{210,183}</string>
            </dict>
            <key>szg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{212,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,192}}</string>
                <key>sourceSize</key>
                <string>{212,192}</string>
            </dict>
            <key>szg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{208,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,197}}</string>
                <key>sourceSize</key>
                <string>{208,197}</string>
            </dict>
            <key>szg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{308,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,231}}</string>
                <key>sourceSize</key>
                <string>{308,231}</string>
            </dict>
            <key>szg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,307}}</string>
                <key>sourceSize</key>
                <string>{384,307}</string>
            </dict>
            <key>szg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,262},{250,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,211}}</string>
                <key>sourceSize</key>
                <string>{250,211}</string>
            </dict>
            <key>szg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{232,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,228}}</string>
                <key>sourceSize</key>
                <string>{232,228}</string>
            </dict>
            <key>szg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,235},{252,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,233}}</string>
                <key>sourceSize</key>
                <string>{252,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>szgszg.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f653f5b7c9263d43e2b8df0918b0777c:1/1$</string>
            <key>textureFileName</key>
            <string>szgszg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
