<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,154},{193,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{193,173}}</string>
                <key>sourceSize</key>
                <string>{193,177}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,503},{148,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,209}}</string>
                <key>sourceSize</key>
                <string>{150,213}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,512},{140,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,198}}</string>
                <key>sourceSize</key>
                <string>{140,202}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,173}}</string>
                <key>sourceSize</key>
                <string>{220,177}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{159,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{159,146}}</string>
                <key>sourceSize</key>
                <string>{159,150}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,503},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,140}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,347},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,164}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{141,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,198}}</string>
                <key>sourceSize</key>
                <string>{141,202}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{210,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,168}}</string>
                <key>sourceSize</key>
                <string>{210,172}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{159,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{159,146}}</string>
                <key>sourceSize</key>
                <string>{159,150}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,850},{133,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,167}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>hk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,388},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>hk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,414},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>hk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,177},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>hk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,329},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>hk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,242},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>hk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,195},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>hk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,710},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,63}}</string>
                <key>sourceSize</key>
                <string>{76,63}</string>
            </dict>
            <key>hk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,727},{76,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,107}}</string>
                <key>sourceSize</key>
                <string>{76,107}</string>
            </dict>
            <key>hk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,618},{142,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,107}}</string>
                <key>sourceSize</key>
                <string>{142,107}</string>
            </dict>
            <key>lk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,347},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>lk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,372},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>lk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,177},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>lk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,329},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>lk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,218},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>lk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,172},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>lk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,645},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,63}}</string>
                <key>sourceSize</key>
                <string>{76,63}</string>
            </dict>
            <key>lk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,727},{76,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,107}}</string>
                <key>sourceSize</key>
                <string>{76,107}</string>
            </dict>
            <key>lk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,509},{142,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,107}}</string>
                <key>sourceSize</key>
                <string>{142,107}</string>
            </dict>
            <key>wjdslv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,329},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>wjdslv_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,338},{181,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,172}}</string>
                <key>sourceSize</key>
                <string>{181,172}</string>
            </dict>
            <key>wjdslv_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,172},{185,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,173}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>wjdslv_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{195,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,170}}</string>
                <key>sourceSize</key>
                <string>{195,170}</string>
            </dict>
            <key>wjdslv_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wjdslv_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,198},{186,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,159}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>wjdslv_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{122,168}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>wjdslv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{173,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{173,175}</string>
            </dict>
            <key>wjdslv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,359},{174,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,182}}</string>
                <key>sourceSize</key>
                <string>{174,182}</string>
            </dict>
            <key>wjdslv_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{187,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,194}}</string>
                <key>sourceSize</key>
                <string>{187,194}</string>
            </dict>
            <key>wjdslv_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,174},{193,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,162}}</string>
                <key>sourceSize</key>
                <string>{193,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wjdslv.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85481f680fb935fef95dacfb1e064d88:1/1$</string>
            <key>textureFileName</key>
            <string>wjdslv.pvr.ccz</string>
        </dict>
    </dict>
</plist>
