<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pxd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{164,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,43}}</string>
                <key>sourceSize</key>
                <string>{164,43}</string>
            </dict>
            <key>pxd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,372},{176,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,45}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>pxd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,510},{177,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,40}}</string>
                <key>sourceSize</key>
                <string>{177,40}</string>
            </dict>
            <key>pxd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{165,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,36}}</string>
                <key>sourceSize</key>
                <string>{165,36}</string>
            </dict>
            <key>wjdsh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>wjdsh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,362},{181,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,172}}</string>
                <key>sourceSize</key>
                <string>{181,172}</string>
            </dict>
            <key>wjdsh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,335},{185,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,173}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>wjdsh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{195,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,170}}</string>
                <key>sourceSize</key>
                <string>{195,170}</string>
            </dict>
            <key>wjdsh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wjdsh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,318},{186,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,159}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>wjdsh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,830},{122,168}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>wjdsh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,653},{173,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{173,175}</string>
            </dict>
            <key>wjdsh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,536},{174,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,182}}</string>
                <key>sourceSize</key>
                <string>{174,182}</string>
            </dict>
            <key>wjdsh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,166},{187,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,194}}</string>
                <key>sourceSize</key>
                <string>{187,194}</string>
            </dict>
            <key>wjdsh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{193,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,162}}</string>
                <key>sourceSize</key>
                <string>{193,162}</string>
            </dict>
            <key>wjdsl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,479},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>wjdsl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,198},{181,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,172}}</string>
                <key>sourceSize</key>
                <string>{181,172}</string>
            </dict>
            <key>wjdsl_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{185,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,173}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>wjdsl_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{195,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,170}}</string>
                <key>sourceSize</key>
                <string>{195,170}</string>
            </dict>
            <key>wjdsl_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wjdsl_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,174},{186,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,159}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>wjdsl_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{122,168}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>wjdsl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,552},{173,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{173,175}</string>
            </dict>
            <key>wjdsl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,419},{174,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,182}}</string>
                <key>sourceSize</key>
                <string>{174,182}</string>
            </dict>
            <key>wjdsl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{187,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,194}}</string>
                <key>sourceSize</key>
                <string>{187,194}</string>
            </dict>
            <key>wjdsl_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,154},{193,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,162}}</string>
                <key>sourceSize</key>
                <string>{193,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wjdsl.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0577f569d955873d09e7a1d97a3e6cd9:1/1$</string>
            <key>textureFileName</key>
            <string>wjdsl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
