<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wjhb2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,278},{174,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,231}}</string>
                <key>sourceSize</key>
                <string>{174,231}</string>
            </dict>
            <key>wjhb2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{124,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{124,172}</string>
            </dict>
            <key>wjhb2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,334},{135,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,170}}</string>
                <key>sourceSize</key>
                <string>{135,170}</string>
            </dict>
            <key>wjhb2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,168},{141,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,164}}</string>
                <key>sourceSize</key>
                <string>{141,164}</string>
            </dict>
            <key>wjhb2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{153,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,164}}</string>
                <key>sourceSize</key>
                <string>{153,164}</string>
            </dict>
            <key>wjhb2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,225},{167,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,183}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>wjhb2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{168,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,221}}</string>
                <key>sourceSize</key>
                <string>{168,221}</string>
            </dict>
            <key>wjhb2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{165,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,274}}</string>
                <key>sourceSize</key>
                <string>{165,274}</string>
            </dict>
            <key>wjhb2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,361},{163,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,283}}</string>
                <key>sourceSize</key>
                <string>{163,283}</string>
            </dict>
            <key>wjhb2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{160,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,299}}</string>
                <key>sourceSize</key>
                <string>{160,299}</string>
            </dict>
            <key>wjhb2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{157,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,331}}</string>
                <key>sourceSize</key>
                <string>{157,331}</string>
            </dict>
            <key>wjhb2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,646},{171,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,232}}</string>
                <key>sourceSize</key>
                <string>{171,232}</string>
            </dict>
            <key>wjhb2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,357}}</string>
                <key>sourceSize</key>
                <string>{188,357}</string>
            </dict>
            <key>wjhb2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,511},{161,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,219}}</string>
                <key>sourceSize</key>
                <string>{161,219}</string>
            </dict>
            <key>wjhb2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,732},{149,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,206}}</string>
                <key>sourceSize</key>
                <string>{149,206}</string>
            </dict>
            <key>wjhb2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,732},{137,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,208}}</string>
                <key>sourceSize</key>
                <string>{137,208}</string>
            </dict>
            <key>wjhb2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,511},{121,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,202}}</string>
                <key>sourceSize</key>
                <string>{121,202}</string>
            </dict>
            <key>wjhb2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{101,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,180}}</string>
                <key>sourceSize</key>
                <string>{101,180}</string>
            </dict>
            <key>wjhb2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{94,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,170}}</string>
                <key>sourceSize</key>
                <string>{94,170}</string>
            </dict>
            <key>wjhb2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,174},{111,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,170}}</string>
                <key>sourceSize</key>
                <string>{111,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wjhb2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a5aec006f7dfbca1034d3f899b4b466:1/1$</string>
            <key>textureFileName</key>
            <string>wjhb2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
