<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1981},{217,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,35}}</string>
                <key>sourceSize</key>
                <string>{217,35}</string>
            </dict>
            <key>zs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{513,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,225}}</string>
                <key>sourceSize</key>
                <string>{513,225}</string>
            </dict>
            <key>zs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{512,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,261}}</string>
                <key>sourceSize</key>
                <string>{512,261}</string>
            </dict>
            <key>zs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1401},{478,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,243}}</string>
                <key>sourceSize</key>
                <string>{478,243}</string>
            </dict>
            <key>zs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,864},{500,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,254}}</string>
                <key>sourceSize</key>
                <string>{500,254}</string>
            </dict>
            <key>zs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{524,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,270}}</string>
                <key>sourceSize</key>
                <string>{524,270}</string>
            </dict>
            <key>zs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1120},{498,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,279}}</string>
                <key>sourceSize</key>
                <string>{498,279}</string>
            </dict>
            <key>zs_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,305}}</string>
                <key>sourceSize</key>
                <string>{544,305}</string>
            </dict>
            <key>zs_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,384},{482,478}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{482,478}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>zs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1858},{262,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,83}}</string>
                <key>sourceSize</key>
                <string>{262,83}</string>
            </dict>
            <key>zs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{355,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,121}}</string>
                <key>sourceSize</key>
                <string>{355,121}</string>
            </dict>
            <key>zs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{379,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,139}}</string>
                <key>sourceSize</key>
                <string>{379,139}</string>
            </dict>
            <key>zs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{389,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,157}}</string>
                <key>sourceSize</key>
                <string>{389,157}</string>
            </dict>
            <key>zs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,197},{419,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,185}}</string>
                <key>sourceSize</key>
                <string>{419,185}</string>
            </dict>
            <key>zs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{442,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,193}}</string>
                <key>sourceSize</key>
                <string>{442,193}</string>
            </dict>
            <key>zs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1333},{481,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,223}}</string>
                <key>sourceSize</key>
                <string>{481,223}</string>
            </dict>
            <key>zs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1071},{508,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,260}}</string>
                <key>sourceSize</key>
                <string>{508,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wjzs.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b0ad7d17746e23955f029b933c8e2c4:1/1$</string>
            <key>textureFileName</key>
            <string>wjzs.pvr.ccz</string>
        </dict>
    </dict>
</plist>
