<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meteorite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,299}}</string>
                <key>sourceSize</key>
                <string>{110,299}</string>
            </dict>
            <key>Meteorite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{120,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,244}}</string>
                <key>sourceSize</key>
                <string>{120,244}</string>
            </dict>
            <key>Meteorite_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,248},{114,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,118}}</string>
                <key>sourceSize</key>
                <string>{114,118}</string>
            </dict>
            <key>Meteorite_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{123,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,112}}</string>
                <key>sourceSize</key>
                <string>{123,112}</string>
            </dict>
            <key>Meteorite_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,368},{107,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,116}}</string>
                <key>sourceSize</key>
                <string>{107,116}</string>
            </dict>
            <key>Meteorite_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinsi.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3615e08d1647a93cac6d3b526d69d43b:1/1$</string>
            <key>textureFileName</key>
            <string>yinsi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
