<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zdbz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,452},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>zdbz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,442},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>zdbz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,374},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>zdbz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,452},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>zdbz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,452},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>zdbz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,306},{54,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{54,66}</string>
            </dict>
            <key>zdbz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,321},{159,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,129}}</string>
                <key>sourceSize</key>
                <string>{159,129}</string>
            </dict>
            <key>zdbz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,152},{224,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,152}}</string>
                <key>sourceSize</key>
                <string>{224,152}</string>
            </dict>
            <key>zdbz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{246,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,169}}</string>
                <key>sourceSize</key>
                <string>{246,169}</string>
            </dict>
            <key>zdbz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{222,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,163}}</string>
                <key>sourceSize</key>
                <string>{222,163}</string>
            </dict>
            <key>zdbz_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{230,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,148}}</string>
                <key>sourceSize</key>
                <string>{230,148}</string>
            </dict>
            <key>zdbz_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>zdbz_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{33,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,14}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>zdbz_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,303},{35,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{35,16}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>zdbz_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>zdbz_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zdbz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,452},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>zdbz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,132},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>zdbz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,156},{14,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>zdbz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,156},{14,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zdbz_000.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1889def539a2a3985e424e25cc1e57eb:1/1$</string>
            <key>textureFileName</key>
            <string>zdbz_000.pvr.ccz</string>
        </dict>
    </dict>
</plist>
