<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_zldj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,287}}</string>
                <key>sourceSize</key>
                <string>{209,287}</string>
            </dict>
            <key>2_zldj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,137},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>2_zldj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,115},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>2_zldj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,160},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>2_zldj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>2_zldj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,115},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>2_zldj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,153},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>2_zldj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,63},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>2_zldjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,734},{92,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,242}}</string>
                <key>sourceSize</key>
                <string>{92,242}</string>
            </dict>
            <key>2_zldjh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,248},{107,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,235}}</string>
                <key>sourceSize</key>
                <string>{107,235}</string>
            </dict>
            <key>2_zldjh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,485},{105,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,247}}</string>
                <key>sourceSize</key>
                <string>{105,247}</string>
            </dict>
            <key>2_zldjh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{105,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,254}}</string>
                <key>sourceSize</key>
                <string>{105,254}</string>
            </dict>
            <key>2_zldjh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{105,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,221}}</string>
                <key>sourceSize</key>
                <string>{105,221}</string>
            </dict>
            <key>2_zldjh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,723},{96,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,220}}</string>
                <key>sourceSize</key>
                <string>{96,220}</string>
            </dict>
            <key>2_zldjh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,734},{91,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,233}}</string>
                <key>sourceSize</key>
                <string>{91,233}</string>
            </dict>
            <key>2_zldjh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,490},{96,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,231}}</string>
                <key>sourceSize</key>
                <string>{96,231}</string>
            </dict>
            <key>2_zldjh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,716},{97,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,226}}</string>
                <key>sourceSize</key>
                <string>{97,226}</string>
            </dict>
            <key>2_zldjh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{108,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,243}}</string>
                <key>sourceSize</key>
                <string>{108,243}</string>
            </dict>
            <key>2_zldjh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,247},{108,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,241}}</string>
                <key>sourceSize</key>
                <string>{108,241}</string>
            </dict>
            <key>2_zldjh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{110,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,244}}</string>
                <key>sourceSize</key>
                <string>{110,244}</string>
            </dict>
            <key>2_zldjh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{103,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,194}}</string>
                <key>sourceSize</key>
                <string>{103,194}</string>
            </dict>
            <key>2_zldjh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,291},{101,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,200}}</string>
                <key>sourceSize</key>
                <string>{101,200}</string>
            </dict>
            <key>2_zldjh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,493},{100,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,221}}</string>
                <key>sourceSize</key>
                <string>{100,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zldj_2_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f9af458a67772f177aaaba89998679:1/1$</string>
            <key>textureFileName</key>
            <string>zldj_2_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
