<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_zldjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,861},{118,134}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,225},{118,134}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,764},{132,238}}</string>
                <key>offset</key>
                <string>{30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,116},{132,238}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{120,284}}</string>
                <key>offset</key>
                <string>{29,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,69},{120,284}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,290},{118,164}}</string>
                <key>offset</key>
                <string>{28,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,194},{118,164}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,495},{120,232}}</string>
                <key>offset</key>
                <string>{27,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,120},{120,232}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{126,288}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,69},{126,288}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{134,144}}</string>
                <key>offset</key>
                <string>{25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,212},{134,144}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,495},{124,210}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,144},{124,210}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,566},{118,256}}</string>
                <key>offset</key>
                <string>{28,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,97},{118,256}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,583},{128,276}}</string>
                <key>offset</key>
                <string>{30,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,78},{128,276}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,290},{136,168}}</string>
                <key>offset</key>
                <string>{28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,186},{136,168}}</string>
                <key>sourceSize</key>
                <string>{322,500}</string>
            </dict>
            <key>3_zldjq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,729},{182,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,217}}</string>
                <key>sourceSize</key>
                <string>{182,217}</string>
            </dict>
            <key>3_zldjq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,79},{191,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,209}}</string>
                <key>sourceSize</key>
                <string>{191,209}</string>
            </dict>
            <key>3_zldjq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,824},{194,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,197}}</string>
                <key>sourceSize</key>
                <string>{194,197}</string>
            </dict>
            <key>3_zldjq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{183,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,235}}</string>
                <key>sourceSize</key>
                <string>{183,235}</string>
            </dict>
            <key>3_zldjq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{174,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,254}}</string>
                <key>sourceSize</key>
                <string>{174,254}</string>
            </dict>
            <key>3_zldjq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{192,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,264}}</string>
                <key>sourceSize</key>
                <string>{192,264}</string>
            </dict>
            <key>3_zldjq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,293},{208,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,271}}</string>
                <key>sourceSize</key>
                <string>{208,271}</string>
            </dict>
            <key>3_zldjq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,268},{194,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,254}}</string>
                <key>sourceSize</key>
                <string>{194,254}</string>
            </dict>
            <key>3_zldjq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,289}}</string>
                <key>sourceSize</key>
                <string>{205,289}</string>
            </dict>
            <key>3_zldjq_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,258},{201,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,235}}</string>
                <key>sourceSize</key>
                <string>{201,235}</string>
            </dict>
            <key>3_zldjq_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,524},{197,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,238}}</string>
                <key>sourceSize</key>
                <string>{197,238}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,948},{156,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,67}}</string>
                <key>sourceSize</key>
                <string>{156,67}</string>
            </dict>
            <key>diqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,764},{142,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,53}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>gh.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{193,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,75}}</string>
                <key>sourceSize</key>
                <string>{193,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zldj_3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb4c741beae1f1249a6447d3a777f001:1/1$</string>
            <key>textureFileName</key>
            <string>zldj_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
