<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOSS_molvbu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,509},{329,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,236}}</string>
                <key>sourceSize</key>
                <string>{329,236}</string>
            </dict>
            <key>BOSS_molvbu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,184},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>BOSS_molvbu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,46},{44,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>BOSS_molvbu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,889},{94,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,105}}</string>
                <key>sourceSize</key>
                <string>{94,105}</string>
            </dict>
            <key>BOSS_molvbu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,902},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>BOSS_molvbu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,406},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>BOSS_molvbu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,406},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>BOSS_molvbu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,279},{419,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,125}}</string>
                <key>sourceSize</key>
                <string>{419,125}</string>
            </dict>
            <key>BOSS_molvbu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,145},{426,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,132}}</string>
                <key>sourceSize</key>
                <string>{426,132}</string>
            </dict>
            <key>BOSS_molvbu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{435,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,141}}</string>
                <key>sourceSize</key>
                <string>{435,141}</string>
            </dict>
            <key>BOSS_molvbu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,330}}</string>
                <key>sourceSize</key>
                <string>{531,330}</string>
            </dict>
            <key>BOSS_molvbu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,858},{151,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,163}}</string>
                <key>sourceSize</key>
                <string>{151,163}</string>
            </dict>
            <key>BOSS_molvbu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,334},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>BOSS_molvbu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>BOSS_molvbu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,899},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>BOSS_molvbu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,279},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BOSS_molvbu24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{81,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,498}}</string>
                <key>sourceSize</key>
                <string>{81,498}</string>
            </dict>
            <key>BOSS_molvbu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,406},{90,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,481}}</string>
                <key>sourceSize</key>
                <string>{90,481}</string>
            </dict>
            <key>BOSS_molvbu26.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,406},{71,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,491}}</string>
                <key>sourceSize</key>
                <string>{71,491}</string>
            </dict>
            <key>BOSS_molvbu27.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,406},{94,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,494}}</string>
                <key>sourceSize</key>
                <string>{94,494}</string>
            </dict>
            <key>BOSS_molvbu28.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,491},{231,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,200}}</string>
                <key>sourceSize</key>
                <string>{231,200}</string>
            </dict>
            <key>BOSS_molvbu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,693},{153,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,163}}</string>
                <key>sourceSize</key>
                <string>{153,163}</string>
            </dict>
            <key>BOSS_molvbu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,747},{155,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,212}}</string>
                <key>sourceSize</key>
                <string>{155,212}</string>
            </dict>
            <key>BOSS_molvbu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,747},{161,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,209}}</string>
                <key>sourceSize</key>
                <string>{161,209}</string>
            </dict>
            <key>BOSS_molvbu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,127},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{38,55}</string>
            </dict>
            <key>BOSS_molvbu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,74},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>BOSS_molvbu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>BOSS_molvbu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,184},{20,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,47}}</string>
                <key>sourceSize</key>
                <string>{20,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossEffect1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ecfa63f6959f7335f7e46eb3a477ba:1/1$</string>
            <key>textureFileName</key>
            <string>bossEffect1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
