<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{74,82}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{74,82}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>effect003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{76,82}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{76,82}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>effect003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{76,84}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>effect003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{74,72}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{74,72}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
            <key>effect003_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{52,54}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,47},{52,54}}</string>
                <key>sourceSize</key>
                <string>{82,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>003.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb34080c7b35f894803ead229307c23:1/1$</string>
            <key>textureFileName</key>
            <string>003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
