<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,71},{77,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{77,63}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>wall001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wall_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb8e213cf2572501d69d91fe3283bb1a:1/1$</string>
            <key>textureFileName</key>
            <string>wall_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
