<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,48},{26,22}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{26,22}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xiaoshi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xiaoshi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xiaoshi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,48},{14,10}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{14,10}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoshi.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a596e8660220dfd5f7a42499008feab:1/1$</string>
            <key>textureFileName</key>
            <string>xiaoshi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
