<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4001-4010/equip4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{332,176}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,176}}</string>
                <key>sourceSize</key>
                <string>{332,228}</string>
            </dict>
            <key>equip4001-4010/equip4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,989},{230,230}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,230}}</string>
                <key>sourceSize</key>
                <string>{238,248}</string>
            </dict>
            <key>equip4001-4010/equip4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,786},{418,222}}</string>
                <key>offset</key>
                <string>{39,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{418,222}}</string>
                <key>sourceSize</key>
                <string>{496,256}</string>
            </dict>
            <key>equip4001-4010/equip4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{196,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,210}}</string>
                <key>sourceSize</key>
                <string>{196,210}</string>
            </dict>
            <key>equip4011-4020/equip4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1488},{236,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,240}}</string>
                <key>sourceSize</key>
                <string>{236,240}</string>
            </dict>
            <key>equip4011-4020/equip4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,805},{430,222}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,222}}</string>
                <key>sourceSize</key>
                <string>{440,242}</string>
            </dict>
            <key>equip4011-4020/equip4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,794},{216,224}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{216,224}}</string>
                <key>sourceSize</key>
                <string>{238,242}</string>
            </dict>
            <key>equip4021-4030/equip4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1221},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>equip4021-4030/equip4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1520},{436,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,236}}</string>
                <key>sourceSize</key>
                <string>{436,236}</string>
            </dict>
            <key>equip4021-4030/equip4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1708},{452,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,238}}</string>
                <key>sourceSize</key>
                <string>{452,238}</string>
            </dict>
            <key>equip4031-4040/equip4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,572},{234,212}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,212}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>equip4041-4050/equip4041.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,735},{236,216}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,216}}</string>
                <key>sourceSize</key>
                <string>{236,228}</string>
            </dict>
            <key>equip4041-4050/equip4042.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,134},{234,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,184}}</string>
                <key>sourceSize</key>
                <string>{234,184}</string>
            </dict>
            <key>equip4041-4050/equip4043.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1730},{270,242}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{270,242}}</string>
                <key>sourceSize</key>
                <string>{276,246}</string>
            </dict>
            <key>equip4041-4050/equip4045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1651},{224,246}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{224,246}}</string>
                <key>sourceSize</key>
                <string>{230,256}</string>
            </dict>
            <key>equip4041-4050/equip4046.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,953},{238,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,226}}</string>
                <key>sourceSize</key>
                <string>{238,226}</string>
            </dict>
            <key>equip4041-4050/equip4047.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,523},{232,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,210}}</string>
                <key>sourceSize</key>
                <string>{232,210}</string>
            </dict>
            <key>equip4041-4050/equip4048.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1735},{244,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,242}}</string>
                <key>sourceSize</key>
                <string>{244,242}</string>
            </dict>
            <key>equip4041-4050/equip4049.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,89},{222,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,186}}</string>
                <key>sourceSize</key>
                <string>{222,186}</string>
            </dict>
            <key>equip4041-4050/equip4050.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,771},{234,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,216}}</string>
                <key>sourceSize</key>
                <string>{234,216}</string>
            </dict>
            <key>equip4051-4060/equip4052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,2},{240,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,174}}</string>
                <key>sourceSize</key>
                <string>{240,174}</string>
            </dict>
            <key>equip4051-4060/equip4059.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>equip4071-4080/equip4072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,827},{256,224}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>equip4071-4080/equip4075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,180},{194,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,200}}</string>
                <key>sourceSize</key>
                <string>{194,200}</string>
            </dict>
            <key>equip4071-4080/equip4077.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,150},{172,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,186}}</string>
                <key>sourceSize</key>
                <string>{172,186}</string>
            </dict>
            <key>equip4071-4080/equip4080.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,338},{172,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,208}}</string>
                <key>sourceSize</key>
                <string>{172,208}</string>
            </dict>
            <key>equip4081-4090/equip4081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{360,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,198}}</string>
                <key>sourceSize</key>
                <string>{360,198}</string>
            </dict>
            <key>equip4081-4090/equip4082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,580},{252,212}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,212}}</string>
                <key>sourceSize</key>
                <string>{280,246}</string>
            </dict>
            <key>equip4081-4090/equip4083.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1468},{402,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,238}}</string>
                <key>sourceSize</key>
                <string>{402,238}</string>
            </dict>
            <key>equip4091-4100/equip4096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1758},{434,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,238}}</string>
                <key>sourceSize</key>
                <string>{434,238}</string>
            </dict>
            <key>equip4091-4100/equip4097.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,355},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,202}}</string>
                <key>sourceSize</key>
                <string>{200,202}</string>
            </dict>
            <key>equip4091-4100/equip4098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1053},{352,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,228}}</string>
                <key>sourceSize</key>
                <string>{352,228}</string>
            </dict>
            <key>equip4091-4100/equip4100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{182,256}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{182,256}}</string>
                <key>sourceSize</key>
                <string>{236,256}</string>
            </dict>
            <key>equip4101-4110/equip4105.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,477},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,218}}</string>
                <key>sourceSize</key>
                <string>{162,218}</string>
            </dict>
            <key>equip4111-4120/equip4111.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1236},{292,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,230}}</string>
                <key>sourceSize</key>
                <string>{292,230}</string>
            </dict>
            <key>equip4111-4120/equip4112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,378},{166,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,208}}</string>
                <key>sourceSize</key>
                <string>{166,208}</string>
            </dict>
            <key>equip4121-4130/equip4121.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{222,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,160}}</string>
                <key>sourceSize</key>
                <string>{222,160}</string>
            </dict>
            <key>equip4121-4130/equip4130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,374},{256,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,204}}</string>
                <key>sourceSize</key>
                <string>{256,204}</string>
            </dict>
            <key>equip4131-4140/equip4132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{364,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,228}}</string>
                <key>sourceSize</key>
                <string>{364,228}</string>
            </dict>
            <key>equip4131-4140/equip4133.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1010},{362,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,224}}</string>
                <key>sourceSize</key>
                <string>{362,224}</string>
            </dict>
            <key>equip4131-4140/equip4134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,180},{188,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,196}}</string>
                <key>sourceSize</key>
                <string>{188,196}</string>
            </dict>
            <key>equip4131-4140/equip4138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1411},{230,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,238}}</string>
                <key>sourceSize</key>
                <string>{230,238}</string>
            </dict>
            <key>equip4141-4150/equip4143.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1457},{228,238}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,238}}</string>
                <key>sourceSize</key>
                <string>{242,238}</string>
            </dict>
            <key>equip4141-4150/equip4144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1020},{254,230}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{254,230}}</string>
                <key>sourceSize</key>
                <string>{284,264}</string>
            </dict>
            <key>equip4151-4160/equip4151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1029},{296,224}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,224}}</string>
                <key>sourceSize</key>
                <string>{308,254}</string>
            </dict>
            <key>equip4151-4160/equip4152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,178},{244,194}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{244,194}}</string>
                <key>sourceSize</key>
                <string>{258,214}</string>
            </dict>
            <key>equip4151-4160/equip4153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,382},{245,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,208}}</string>
                <key>sourceSize</key>
                <string>{245,208}</string>
            </dict>
            <key>equip4151-4160/equip4154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1493},{224,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,240}}</string>
                <key>sourceSize</key>
                <string>{224,240}</string>
            </dict>
            <key>equip4151-4160/equip4155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1255},{219,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,236}}</string>
                <key>sourceSize</key>
                <string>{219,236}</string>
            </dict>
            <key>equip4151-4160/equip4156.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,320},{235,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,201}}</string>
                <key>sourceSize</key>
                <string>{235,201}</string>
            </dict>
            <key>equip4151-4160/equip4157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1520},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>equip4151-4160/equip4158.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,178},{316,188}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,22},{316,188}}</string>
                <key>sourceSize</key>
                <string>{406,250}</string>
            </dict>
            <key>equip4151-4160/equip4159.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1762},{247,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,242}}</string>
                <key>sourceSize</key>
                <string>{247,242}</string>
            </dict>
            <key>equip4161-4170/equip4161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,592},{414,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,211}}</string>
                <key>sourceSize</key>
                <string>{414,211}</string>
            </dict>
            <key>equip4161-4170/equip4163.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1283},{403,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,235}}</string>
                <key>sourceSize</key>
                <string>{403,235}</string>
            </dict>
            <key>equip4161-4170/equip4164.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,164},{219,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,189}}</string>
                <key>sourceSize</key>
                <string>{219,189}</string>
            </dict>
            <key>equip4161-4170/equip4165.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,559},{185,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,223}}</string>
                <key>sourceSize</key>
                <string>{185,223}</string>
            </dict>
            <key>equip4161-4170/equip4166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,382},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>equip4161-4170/equip4167.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,548},{163,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,221}}</string>
                <key>sourceSize</key>
                <string>{163,221}</string>
            </dict>
            <key>equip4161-4170/equip4168.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{168,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,130}}</string>
                <key>sourceSize</key>
                <string>{168,130}</string>
            </dict>
            <key>equip4161-4170/equip4169.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{96,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>equip4161-4170/equip4170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,69}}</string>
                <key>sourceSize</key>
                <string>{99,69}</string>
            </dict>
            <key>equip4171-4180/equip4171.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>equip4171-4180/equip4173.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{163,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,179}}</string>
                <key>sourceSize</key>
                <string>{163,179}</string>
            </dict>
            <key>equip4171-4180/equip4174.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>equip4171-4180/equip4175.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,2},{205,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,174}}</string>
                <key>sourceSize</key>
                <string>{205,174}</string>
            </dict>
            <key>equip4171-4180/equip4176.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>equip4171-4180/equip4180.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{196,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,223}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
            <key>equip4181-4190/equip4181.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,368},{232,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,202}}</string>
                <key>sourceSize</key>
                <string>{232,202}</string>
            </dict>
            <key>equip4181-4190/equip4182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{149,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,165}}</string>
                <key>sourceSize</key>
                <string>{149,165}</string>
            </dict>
            <key>equip4181-4190/equip4183.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1252},{361,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,234}}</string>
                <key>sourceSize</key>
                <string>{361,234}</string>
            </dict>
            <key>equip4181-4190/equip4185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,594},{178,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,231}}</string>
                <key>sourceSize</key>
                <string>{178,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48e49ec0471f577d33fd17f51706c0c:1/1$</string>
            <key>textureFileName</key>
            <string>equip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
