<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head501.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,476},{94,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head502.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,386},{94,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head503.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,294},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head505.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,292},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head506.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,196},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head507.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,196},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head508.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,386},{94,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{94,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head510.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,550},{72,64}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{72,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{58,66}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{58,66}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head512.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,390},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head513.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{92,78}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{92,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head514.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,486},{78,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{78,62}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head515.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,292},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head516.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,292},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head517.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,388},{94,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head518.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,198},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head519.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head520.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,196},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head521.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,100},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head522.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,100},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head523.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,478},{82,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{82,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head524.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,100},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head525.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>head526.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>head527.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>head528.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>head529.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>head530.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>head531.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head501-600.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce17d7f38e0937825bb2673f55a51e49:1/1$</string>
            <key>textureFileName</key>
            <string>head501-600.pvr.ccz</string>
        </dict>
    </dict>
</plist>
