<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guoSi.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{368,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,314}}</string>
                <key>sourceSize</key>
                <string>{368,314}</string>
            </dict>
            <key>liJue.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,318},{278,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,290}}</string>
                <key>sourceSize</key>
                <string>{278,290}</string>
            </dict>
            <key>lvbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,356}}</string>
                <key>sourceSize</key>
                <string>{638,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>autoRole.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046480a3881146fa01db11af49724670:1/1$</string>
            <key>textureFileName</key>
            <string>autoRole.pvr.ccz</string>
        </dict>
    </dict>
</plist>
