<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sphead10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{464,162}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{464,162}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,180}}</string>
                <key>offset</key>
                <string>{-62,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{504,180}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead12.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{478,164}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,1},{478,164}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{428,166}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,0},{428,166}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,168},{468,174}}</string>
                <key>offset</key>
                <string>{-34,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{468,174}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead9.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,344},{438,174}}</string>
                <key>offset</key>
                <string>{-49,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{438,174}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sphead7-12.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a78abc7b37606001f0c5a663fb4b7643:1/1$</string>
            <key>textureFileName</key>
            <string>sphead7-12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
