<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sphead13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{534,172}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{534,172}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead14.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,168},{402,164}}</string>
                <key>offset</key>
                <string>{-34,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{402,164}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead15.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{456,164}}</string>
                <key>offset</key>
                <string>{-37,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{456,164}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead16.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,334},{366,162}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,0},{366,162}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{510,186}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{510,186}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,172}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{546,172}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sphead13-18.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:794a08944da3bd441c7f2c992a9afdd9:1/1$</string>
            <key>textureFileName</key>
            <string>sphead13-18.pvr.ccz</string>
        </dict>
    </dict>
</plist>
