<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sphead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,166},{442,162}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{442,162}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,330},{414,162}}</string>
                <key>offset</key>
                <string>{-37,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{414,162}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{358,162}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,0},{358,162}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{484,162}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{484,162}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,170}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{520,170}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
            <key>sphead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{508,172}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{508,172}}</string>
                <key>sourceSize</key>
                <string>{638,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sphead1-6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e39ed61bd019906526bab5ef7cf1ad2:1/1$</string>
            <key>textureFileName</key>
            <string>sphead1-6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
