<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sptophead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{632,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,154}}</string>
                <key>sourceSize</key>
                <string>{632,154}</string>
            </dict>
            <key>sptophead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{632,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,154}}</string>
                <key>sourceSize</key>
                <string>{632,154}</string>
            </dict>
            <key>sptophead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{632,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,154}}</string>
                <key>sourceSize</key>
                <string>{632,154}</string>
            </dict>
            <key>sptophead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,154}}</string>
                <key>sourceSize</key>
                <string>{632,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sptophead1-8.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c72648a72023a0059469cf8e897546e:1/1$</string>
            <key>textureFileName</key>
            <string>sptophead1-8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
