<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arean_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,428},{238,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,416}}</string>
                <key>sourceSize</key>
                <string>{238,416}</string>
            </dict>
            <key>arean_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,172},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>arean_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>arean_info_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{606,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,138}}</string>
                <key>sourceSize</key>
                <string>{606,138}</string>
            </dict>
            <key>arean_log_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{606,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,138}}</string>
                <key>sourceSize</key>
                <string>{606,138}</string>
            </dict>
            <key>arean_log_item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{609,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,136}}</string>
                <key>sourceSize</key>
                <string>{609,136}</string>
            </dict>
            <key>arean_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,96},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>arrea_base_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{602,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,103}}</string>
                <key>sourceSize</key>
                <string>{602,103}</string>
            </dict>
            <key>arrea_base_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{630,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,162}}</string>
                <key>sourceSize</key>
                <string>{630,162}</string>
            </dict>
            <key>arrea_base_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{630,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,162}}</string>
                <key>sourceSize</key>
                <string>{630,162}</string>
            </dict>
            <key>arrea_base_bg3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,162}}</string>
                <key>sourceSize</key>
                <string>{630,162}</string>
            </dict>
            <key>arrows_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>def_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,366},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>def_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,366},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>equal_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,264},{88,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,14}}</string>
                <key>sourceSize</key>
                <string>{88,14}</string>
            </dict>
            <key>equal_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,248},{88,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,14}}</string>
                <key>sourceSize</key>
                <string>{88,14}</string>
            </dict>
            <key>fight_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,280},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>fight_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,280},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>rank_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,912},{170,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,48}}</string>
                <key>sourceSize</key>
                <string>{170,48}</string>
            </dict>
            <key>tian_ti_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{244,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,424}}</string>
                <key>sourceSize</key>
                <string>{244,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgAreanLayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b70fb86073f9cef953f67d3bf566b64d:1/1$</string>
            <key>textureFileName</key>
            <string>sgAreanLayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
