<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>db.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{624,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,520}}</string>
                <key>sourceSize</key>
                <string>{624,520}</string>
            </dict>
            <key>disp_gov.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,32},{200,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,26}}</string>
                <key>sourceSize</key>
                <string>{200,26}</string>
            </dict>
            <key>embattle_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,834},{42,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,112}}</string>
                <key>sourceSize</key>
                <string>{42,112}</string>
            </dict>
            <key>embattle_font_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_font_kong_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,98},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>embattle_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,834},{42,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,112}}</string>
                <key>sourceSize</key>
                <string>{42,112}</string>
            </dict>
            <key>embattle_huilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,834},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>embattle_huilan_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,199},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{100,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>embattle_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{210,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,28}}</string>
                <key>sourceSize</key>
                <string>{210,28}</string>
            </dict>
            <key>embattle_kuang_op.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,247},{96,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,8}}</string>
                <key>sourceSize</key>
                <string>{96,8}</string>
            </dict>
            <key>embattle_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,214},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>embattle_num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,257},{41,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{41,59}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,121},{85,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,61}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,208},{57,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{57,61}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,145},{57,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{57,61}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,73},{59,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{59,61}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,257},{55,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{55,59}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,184},{57,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{57,61}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,271},{55,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{55,61}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,60},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{61,59}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,136},{57,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{57,61}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>embattle_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{42,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,112}}</string>
                <key>sourceSize</key>
                <string>{42,112}</string>
            </dict>
            <key>font_pqshangzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,60},{144,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,36}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>new_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,327},{296,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,4}}</string>
                <key>sourceSize</key>
                <string>{296,4}</string>
            </dict>
            <key>playerinfo_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{736,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,141}}</string>
                <key>sourceSize</key>
                <string>{736,141}</string>
            </dict>
            <key>playerinfo_bg_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{640,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,165}}</string>
                <key>sourceSize</key>
                <string>{640,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgembattlelayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a13befe25cb746e4dafabd63afdcf79:1/1$</string>
            <key>textureFileName</key>
            <string>sgembattlelayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
