<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head601.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{60,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head602.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,194},{76,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{76,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head621.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,194},{68,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{68,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head622.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,98},{76,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head623.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head641.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,98},{64,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head642.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,98},{76,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head643.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{76,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head661.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,194},{66,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head662.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{76,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>head663.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,94}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head601-700.png</string>
            <key>size</key>
            <string>{302,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbec78bcaea0f72668cda486cba3d0ea:1/1$</string>
            <key>textureFileName</key>
            <string>head601-700.png</string>
        </dict>
    </dict>
</plist>
