<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>countryIconbig_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,260},{114,122}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{114,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>countryIconbig_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,384},{122,124}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{122,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>countryIconbig_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{132,120}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{132,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>countrySide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{256,252}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>countrySide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,252}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>countrySide_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{252,256}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>headCountry.png</string>
            <key>size</key>
            <string>{514,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29abcc3e1fcf889f0e4e3ab54762a6dd:1/1$</string>
            <key>textureFileName</key>
            <string>headCountry.png</string>
        </dict>
    </dict>
</plist>
