<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>visit_heitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{768,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,50}}</string>
                <key>sourceSize</key>
                <string>{768,50}</string>
            </dict>
            <key>wj_3.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,244}}</string>
                <key>sourceSize</key>
                <string>{390,244}</string>
            </dict>
            <key>wj_3.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{376,240}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{376,240}}</string>
                <key>sourceSize</key>
                <string>{390,244}</string>
            </dict>
            <key>wj_3.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{332,242}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,1},{332,242}}</string>
                <key>sourceSize</key>
                <string>{390,244}</string>
            </dict>
            <key>wj_3.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,248},{378,238}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{378,238}}</string>
                <key>sourceSize</key>
                <string>{390,244}</string>
            </dict>
            <key>wj_3.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,488},{336,244}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{336,244}}</string>
                <key>sourceSize</key>
                <string>{390,244}</string>
            </dict>
            <key>wj_3.6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{370,244}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{370,244}}</string>
                <key>sourceSize</key>
                <string>{390,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgvisitlayer2.png</string>
            <key>size</key>
            <string>{786,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6db09bc760f3c38e5b474d0821d44904:1/1$</string>
            <key>textureFileName</key>
            <string>sgvisitlayer2.png</string>
        </dict>
    </dict>
</plist>
