<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_forbid_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{304,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,50}}</string>
                <key>sourceSize</key>
                <string>{304,50}</string>
            </dict>
            <key>chatmsgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{464,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,48}}</string>
                <key>sourceSize</key>
                <string>{464,48}</string>
            </dict>
            <key>chattitlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,50}}</string>
                <key>sourceSize</key>
                <string>{768,50}</string>
            </dict>
            <key>vip10_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,54},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>vip11_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,54},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>vip12_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,54},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>vip1_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,104},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip2_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip3_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,102},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip4_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,78},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip5_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,78},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip6_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,78},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip7_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,78},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip8_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,78},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>vip9_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,54},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgchat.png</string>
            <key>size</key>
            <string>{772,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97fadb6aad26091f994ae3cd7ca9e1f6:1/1$</string>
            <key>textureFileName</key>
            <string>sgchat.png</string>
        </dict>
    </dict>
</plist>
