<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_over_bg_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{606,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,424}}</string>
                <key>sourceSize</key>
                <string>{606,424}</string>
            </dict>
            <key>font_friArmy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{70,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>font_friArmy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,472},{68,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>font_pvpover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{220,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,42}}</string>
                <key>sourceSize</key>
                <string>{220,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgfindhelplayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5177dd7a5e4e0d221719e67894e35a61:1/1$</string>
            <key>textureFileName</key>
            <string>sgfindhelplayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
