<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_pieces.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,254},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>common_pieces_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerBagBtnbg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{142,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,53}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>officerBagBtnbg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,57},{142,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>officerBagTitle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,464},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>officerBagTitle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,464},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>piecebackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{640,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,98}}</string>
                <key>sourceSize</key>
                <string>{640,98}</string>
            </dict>
            <key>pieces_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,254},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>sgpieceslayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,250}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{502,250}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>unuse_common_oieces.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{196,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{196,36}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>use_common_pieces.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,464},{196,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{196,34}}</string>
                <key>sourceSize</key>
                <string>{210,40}</string>
            </dict>
            <key>wujiang_pieces_active_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,140},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>wujiang_pieces_unactive_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,110},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>zhaohuan_active_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,254},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>zhaohuan_unactive_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,254},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>zhunagbei_pieces_active_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,198},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>zhunagbei_pieces_unactive_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,170},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgpieceslayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:270406ef3ace1145afa992d08e48b488:1/1$</string>
            <key>textureFileName</key>
            <string>sgpieceslayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
