<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{560,264}}</string>
                <key>sourceSize</key>
                <string>{564,268}</string>
            </dict>
            <key>skill_head_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,268},{442,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{442,230}}</string>
                <key>sourceSize</key>
                <string>{446,234}</string>
            </dict>
            <key>skill_head_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{486,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{486,228}}</string>
                <key>sourceSize</key>
                <string>{490,232}</string>
            </dict>
            <key>skill_head_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{186,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{186,190}}</string>
                <key>sourceSize</key>
                <string>{190,194}</string>
            </dict>
            <key>skill_head_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{372,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{372,206}}</string>
                <key>sourceSize</key>
                <string>{376,210}</string>
            </dict>
            <key>skill_head_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,232},{248,220}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{248,220}}</string>
                <key>sourceSize</key>
                <string>{278,220}</string>
            </dict>
            <key>skill_head_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,232},{308,228}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{308,228}}</string>
                <key>sourceSize</key>
                <string>{382,228}</string>
            </dict>
            <key>skill_head_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,194},{354,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,190}}</string>
                <key>sourceSize</key>
                <string>{354,190}</string>
            </dict>
            <key>skill_head_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,210},{256,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,192}}</string>
                <key>sourceSize</key>
                <string>{258,194}</string>
            </dict>
            <key>skill_head_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{414,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{414,190}}</string>
                <key>sourceSize</key>
                <string>{416,192}</string>
            </dict>
            <key>skill_head_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{246,234}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{246,234}}</string>
                <key>sourceSize</key>
                <string>{250,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head103-113.pvr.ccz</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f05585016a99b9f303d284bb1715f14b:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head103-113.pvr.ccz</string>
        </dict>
    </dict>
</plist>
