<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_135.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,418},{272,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{272,196}}</string>
                <key>sourceSize</key>
                <string>{276,200}</string>
            </dict>
            <key>skill_head_136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{204,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{204,178}}</string>
                <key>sourceSize</key>
                <string>{208,182}</string>
            </dict>
            <key>skill_head_137.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,436},{216,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{216,192}}</string>
                <key>sourceSize</key>
                <string>{220,196}</string>
            </dict>
            <key>skill_head_138.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,598},{220,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{220,194}}</string>
                <key>sourceSize</key>
                <string>{224,198}</string>
            </dict>
            <key>skill_head_139.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,794},{166,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,196}}</string>
                <key>sourceSize</key>
                <string>{170,200}</string>
            </dict>
            <key>skill_head_140.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,794},{180,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{180,184}}</string>
                <key>sourceSize</key>
                <string>{184,188}</string>
            </dict>
            <key>skill_head_141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{210,200}}</string>
                <key>sourceSize</key>
                <string>{214,204}</string>
            </dict>
            <key>skill_head_142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{210,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{210,176}}</string>
                <key>sourceSize</key>
                <string>{214,180}</string>
            </dict>
            <key>skill_head_143.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,228},{296,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{296,188}}</string>
                <key>sourceSize</key>
                <string>{300,192}</string>
            </dict>
            <key>skill_head_144.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{298,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{298,224}}</string>
                <key>sourceSize</key>
                <string>{302,228}</string>
            </dict>
            <key>skill_head_145.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,232},{132,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{132,174}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>skill_head_146.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,794},{200,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{200,186}}</string>
                <key>sourceSize</key>
                <string>{204,190}</string>
            </dict>
            <key>skill_head_147.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,418},{248,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{248,178}}</string>
                <key>sourceSize</key>
                <string>{252,182}</string>
            </dict>
            <key>skill_head_148.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{436,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{436,202}}</string>
                <key>sourceSize</key>
                <string>{440,206}</string>
            </dict>
            <key>skill_head_149.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{594,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{594,228}}</string>
                <key>sourceSize</key>
                <string>{598,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head135-149.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7218c1379370703c29853df0f4c9a8d:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head135-149.pvr.ccz</string>
        </dict>
    </dict>
</plist>
