<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{554,236}}</string>
                <key>sourceSize</key>
                <string>{558,240}</string>
            </dict>
            <key>skill_head_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{542,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{542,238}}</string>
                <key>sourceSize</key>
                <string>{546,242}</string>
            </dict>
            <key>skill_head_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{452,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{452,192}}</string>
                <key>sourceSize</key>
                <string>{456,196}</string>
            </dict>
            <key>skill_head_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{544,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{544,242}}</string>
                <key>sourceSize</key>
                <string>{548,246}</string>
            </dict>
            <key>skill_head_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,240},{472,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{472,208}}</string>
                <key>sourceSize</key>
                <string>{476,212}</string>
            </dict>
            <key>skill_head_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{540,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{540,210}}</string>
                <key>sourceSize</key>
                <string>{544,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head90-95.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f7070c3b8f6019496df06f04091af24:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head90-95.pvr.ccz</string>
        </dict>
    </dict>
</plist>
