<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{466,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{466,196}}</string>
                <key>sourceSize</key>
                <string>{470,200}</string>
            </dict>
            <key>skill_head_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,596},{362,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{362,210}}</string>
                <key>sourceSize</key>
                <string>{366,214}</string>
            </dict>
            <key>skill_head_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,808},{274,186}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{274,186}}</string>
                <key>sourceSize</key>
                <string>{388,186}</string>
            </dict>
            <key>skill_head_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{276,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{276,190}}</string>
                <key>sourceSize</key>
                <string>{280,194}</string>
            </dict>
            <key>skill_head_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{450,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{450,226}}</string>
                <key>sourceSize</key>
                <string>{454,230}</string>
            </dict>
            <key>skill_head_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{364,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{364,196}}</string>
                <key>sourceSize</key>
                <string>{368,200}</string>
            </dict>
            <key>skill_head_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,230},{368,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{368,232}}</string>
                <key>sourceSize</key>
                <string>{372,236}</string>
            </dict>
            <key>skill_head_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{258,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{258,220}}</string>
                <key>sourceSize</key>
                <string>{262,224}</string>
            </dict>
            <key>skill_head_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{410,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{410,196}}</string>
                <key>sourceSize</key>
                <string>{414,200}</string>
            </dict>
            <key>skill_head_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,808},{300,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{300,206}}</string>
                <key>sourceSize</key>
                <string>{304,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head21-30.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a121f5dfb5ba0b1d4802630c6eb21d4:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head21-30.pvr.ccz</string>
        </dict>
    </dict>
</plist>
