<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{538,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{538,236}}</string>
                <key>sourceSize</key>
                <string>{542,240}</string>
            </dict>
            <key>skill_head_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{478,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{478,218}}</string>
                <key>sourceSize</key>
                <string>{482,222}</string>
            </dict>
            <key>skill_head_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,460},{336,430}}</string>
                <key>offset</key>
                <string>{-143,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{336,430}}</string>
                <key>sourceSize</key>
                <string>{640,470}</string>
            </dict>
            <key>skill_head_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,222},{464,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{464,236}}</string>
                <key>sourceSize</key>
                <string>{468,240}</string>
            </dict>
            <key>skill_head_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{334,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{334,216}}</string>
                <key>sourceSize</key>
                <string>{338,220}</string>
            </dict>
            <key>skill_head_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{456,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{456,214}}</string>
                <key>sourceSize</key>
                <string>{460,218}</string>
            </dict>
            <key>skill_head_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{306,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{306,192}}</string>
                <key>sourceSize</key>
                <string>{310,196}</string>
            </dict>
            <key>skill_head_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{508,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{508,210}}</string>
                <key>sourceSize</key>
                <string>{512,214}</string>
            </dict>
            <key>skill_head_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,892},{304,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{304,210}}</string>
                <key>sourceSize</key>
                <string>{308,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head12-20.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c1077a6819eb51cf7cbc4dc03a65e7:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head12-20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
