<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_head_158.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{508,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{508,236}}</string>
                <key>sourceSize</key>
                <string>{512,240}</string>
            </dict>
            <key>skill_head_159.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{322,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{322,196}}</string>
                <key>sourceSize</key>
                <string>{326,200}</string>
            </dict>
            <key>skill_head_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,200},{390,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{390,190}}</string>
                <key>sourceSize</key>
                <string>{394,194}</string>
            </dict>
            <key>skill_head_161.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{584,248}}</string>
                <key>sourceSize</key>
                <string>{588,252}</string>
            </dict>
            <key>skill_head_162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,2},{204,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{204,184}}</string>
                <key>sourceSize</key>
                <string>{208,188}</string>
            </dict>
            <key>skill_head_163.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,228},{326,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{326,216}}</string>
                <key>sourceSize</key>
                <string>{330,220}</string>
            </dict>
            <key>skill_head_164.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,252},{418,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{418,230}}</string>
                <key>sourceSize</key>
                <string>{422,234}</string>
            </dict>
            <key>skill_head_165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,206},{202,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{202,200}}</string>
                <key>sourceSize</key>
                <string>{206,204}</string>
            </dict>
            <key>skill_head_166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{310,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{310,202}}</string>
                <key>sourceSize</key>
                <string>{314,206}</string>
            </dict>
            <key>skill_head_167.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{544,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{544,224}}</string>
                <key>sourceSize</key>
                <string>{548,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_head158-167.pvr.ccz</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff5e2e29f5e49ec413b1731b6ee511f:1/1$</string>
            <key>textureFileName</key>
            <string>skill_head158-167.pvr.ccz</string>
        </dict>
    </dict>
</plist>
