<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sourceFuBen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{410,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,82}}</string>
                <key>sourceSize</key>
                <string>{410,82}</string>
            </dict>
            <key>sourceTaomo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{410,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,82}}</string>
                <key>sourceSize</key>
                <string>{410,82}</string>
            </dict>
            <key>source_ChuangGuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{410,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,82}}</string>
                <key>sourceSize</key>
                <string>{410,82}</string>
            </dict>
            <key>source_ShouJingZhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{410,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,82}}</string>
                <key>sourceSize</key>
                <string>{410,82}</string>
            </dict>
            <key>source_TianTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{410,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,82}}</string>
                <key>sourceSize</key>
                <string>{410,82}</string>
            </dict>
            <key>source_cellBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{406,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,110}}</string>
                <key>sourceSize</key>
                <string>{406,110}</string>
            </dict>
            <key>source_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{499,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,12}}</string>
                <key>sourceSize</key>
                <string>{499,12}</string>
            </dict>
            <key>source_titleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{486,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,51}}</string>
                <key>sourceSize</key>
                <string>{486,51}</string>
            </dict>
            <key>source_upBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{428,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,142}}</string>
                <key>sourceSize</key>
                <string>{428,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sglootwikilayer.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9baba564c48daf604817a44f14d0e18a:1/1$</string>
            <key>textureFileName</key>
            <string>sglootwikilayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
