<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,450},{208,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,52}}</string>
                <key>sourceSize</key>
                <string>{208,52}</string>
            </dict>
            <key>font_300_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,244},{194,48}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{194,48}}</string>
                <key>sourceSize</key>
                <string>{208,52}</string>
            </dict>
            <key>font_3xwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{376,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{376,50}}</string>
                <key>sourceSize</key>
                <string>{394,50}</string>
            </dict>
            <key>font_3xzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,54},{372,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{372,48}}</string>
                <key>sourceSize</key>
                <string>{394,50}</string>
            </dict>
            <key>font_huosong.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,450},{380,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{380,46}}</string>
                <key>sourceSize</key>
                <string>{394,50}</string>
            </dict>
            <key>font_qianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,334},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{128,34}}</string>
                <key>sourceSize</key>
                <string>{136,36}</string>
            </dict>
            <key>font_tfcqwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,150},{280,44}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{280,44}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>font_tfcqzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,104},{280,44}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{280,44}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>font_tfz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{228,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,52}}</string>
                <key>sourceSize</key>
                <string>{228,52}</string>
            </dict>
            <key>font_tfz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,370},{216,52}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,52}}</string>
                <key>sourceSize</key>
                <string>{228,52}</string>
            </dict>
            <key>jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,432},{576,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,16}}</string>
                <key>sourceSize</key>
                <string>{576,16}</string>
            </dict>
            <key>jnugong84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>jungong32.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,104},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tfqlwjdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,196},{278,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,46}}</string>
                <key>sourceSize</key>
                <string>{278,46}</string>
            </dict>
            <key>tfqlzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,294},{202,38}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{202,38}}</string>
                <key>sourceSize</key>
                <string>{300,50}</string>
            </dict>
            <key>visitHuoBtBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,450},{194,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,52}}</string>
                <key>sourceSize</key>
                <string>{194,52}</string>
            </dict>
            <key>visitHuoDetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,370},{312,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,60}}</string>
                <key>sourceSize</key>
                <string>{312,60}</string>
            </dict>
            <key>visitHuoLable.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,370},{114,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,58}}</string>
                <key>sourceSize</key>
                <string>{114,58}</string>
            </dict>
            <key>visit_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,370},{184,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,36}}</string>
                <key>sourceSize</key>
                <string>{184,36}</string>
            </dict>
            <key>visit_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,366}}</string>
                <key>sourceSize</key>
                <string>{640,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgvisitlayer0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81818456212d723c1767931139d7f1b2:1/1$</string>
            <key>textureFileName</key>
            <string>sgvisitlayer0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
