<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_register_dik.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{525,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,152}}</string>
                <key>sourceSize</key>
                <string>{525,152}</string>
            </dict>
            <key>loginbtnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{278,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,60}}</string>
                <key>sourceSize</key>
                <string>{278,60}</string>
            </dict>
            <key>server_BlueBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{566,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,126}}</string>
                <key>sourceSize</key>
                <string>{566,126}</string>
            </dict>
            <key>server_GreenBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{564,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{564,126}}</string>
                <key>sourceSize</key>
                <string>{566,126}</string>
            </dict>
            <key>server_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgserverlistlayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4e09061c2dc32a65276e860d1e337f:1/1$</string>
            <key>textureFileName</key>
            <string>sgserverlistlayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
