<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventure_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,728},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>barrack_kuang_guangl.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,630},{60,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,12}}</string>
                <key>sourceSize</key>
                <string>{60,12}</string>
            </dict>
            <key>barrack_kuang_guangm.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,436},{60,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,12}}</string>
                <key>sourceSize</key>
                <string>{60,12}</string>
            </dict>
            <key>buZhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,822},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>firstLayerOfficer.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,756},{56,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,102}}</string>
                <key>sourceSize</key>
                <string>{56,102}</string>
            </dict>
            <key>mail_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,369},{74,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{74,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>mail_streng.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,750},{94,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{94,60}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>public_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,463},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>public_jiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{184,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,174}}</string>
                <key>sourceSize</key>
                <string>{184,174}</string>
            </dict>
            <key>public_kuang_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,214},{208,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,62}}</string>
                <key>sourceSize</key>
                <string>{208,62}</string>
            </dict>
            <key>public_kuang_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{362,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,42}}</string>
                <key>sourceSize</key>
                <string>{362,42}</string>
            </dict>
            <key>public_tishi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{768,62}}</string>
                <key>sourceSize</key>
                <string>{768,66}</string>
            </dict>
            <key>quexiao_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,463},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>qy.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,527},{172,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,78}}</string>
                <key>sourceSize</key>
                <string>{172,78}</string>
            </dict>
            <key>rankBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,728},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>redbtn_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,698},{160,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>reward_V.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,478},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>reward_btn_bigred.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,607},{186,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,58}}</string>
                <key>sourceSize</key>
                <string>{186,58}</string>
            </dict>
            <key>reward_btn_huibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,90},{186,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,58}}</string>
                <key>sourceSize</key>
                <string>{186,58}</string>
            </dict>
            <key>reward_btn_redbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,667},{162,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,58}}</string>
                <key>sourceSize</key>
                <string>{162,58}</string>
            </dict>
            <key>reward_btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,150},{208,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,62}}</string>
                <key>sourceSize</key>
                <string>{208,62}</string>
            </dict>
            <key>reward_csbtnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,284},{344,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,100}}</string>
                <key>sourceSize</key>
                <string>{344,100}</string>
            </dict>
            <key>reward_csbtnhuibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,386},{306,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,62}}</string>
                <key>sourceSize</key>
                <string>{306,62}</string>
            </dict>
            <key>reward_fk.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{198,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,86}}</string>
                <key>sourceSize</key>
                <string>{198,86}</string>
            </dict>
            <key>reward_font_song.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,450},{296,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,60}}</string>
                <key>sourceSize</key>
                <string>{296,60}</string>
            </dict>
            <key>reward_hk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{472,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{472,46}}</string>
                <key>sourceSize</key>
                <string>{472,48}</string>
            </dict>
            <key>reward_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,760},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>reward_login_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{440,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,64}}</string>
                <key>sourceSize</key>
                <string>{440,64}</string>
            </dict>
            <key>reward_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{468,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,48}}</string>
                <key>sourceSize</key>
                <string>{468,48}</string>
            </dict>
            <key>reward_timebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{640,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,46}}</string>
                <key>sourceSize</key>
                <string>{640,46}</string>
            </dict>
            <key>roundTime_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,516},{346,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,48}}</string>
                <key>sourceSize</key>
                <string>{346,48}</string>
            </dict>
            <key>sb_xueTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,450},{62,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,6}}</string>
                <key>sourceSize</key>
                <string>{62,6}</string>
            </dict>
            <key>sb_xueTiao_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,422},{68,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,12}}</string>
                <key>sourceSize</key>
                <string>{68,12}</string>
            </dict>
            <key>sb_xuetTiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,698},{138,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,6}}</string>
                <key>sourceSize</key>
                <string>{138,6}</string>
            </dict>
            <key>sb_xuetTiao2_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{144,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,12}}</string>
                <key>sourceSize</key>
                <string>{144,12}</string>
            </dict>
            <key>shopBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,850},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>sjz_info_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{232,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,70}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
            <key>soldier_chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,255},{42,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,112}}</string>
                <key>sourceSize</key>
                <string>{42,112}</string>
            </dict>
            <key>store_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,668},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>store_exchangebtnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,66},{123,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,60}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>store_huik.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,236},{106,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,46}}</string>
                <key>sourceSize</key>
                <string>{106,46}</string>
            </dict>
            <key>store_junhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,221},{24,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>store_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,890},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>store_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,566},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_lank.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,188},{106,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,46}}</string>
                <key>sourceSize</key>
                <string>{106,46}</string>
            </dict>
            <key>store_tianti.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,193},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>store_tianti_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,822},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>store_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>storyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,756},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>streng_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,128},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>svip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,908},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,846},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,908},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,846},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,874},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,750},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,812},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,874},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,812},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,888},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,698},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>svip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,586},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{640,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,77}}</string>
                <key>sourceSize</key>
                <string>{640,77}</string>
            </dict>
            <key>title_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>title_bg_LR.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>unhot.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,648},{164,52}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{164,52}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>upwar_button_bbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,916},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,57}}</string>
                <key>sourceSize</key>
                <string>{136,57}</string>
            </dict>
            <key>upwar_button_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,804},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>upwar_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{582,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,109}}</string>
                <key>sourceSize</key>
                <string>{582,109}</string>
            </dict>
            <key>vipKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{550,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,86}}</string>
                <key>sourceSize</key>
                <string>{550,86}</string>
            </dict>
            <key>visitBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,860},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>visit_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,632},{254,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,64}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>visit_anniuHui.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,566},{254,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,64}}</string>
                <key>sourceSize</key>
                <string>{254,64}</string>
            </dict>
            <key>visit_jdcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{606,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,28}}</string>
                <key>sourceSize</key>
                <string>{606,28}</string>
            </dict>
            <key>visit_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,422},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>waifaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{254,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,48}}</string>
                <key>sourceSize</key>
                <string>{254,48}</string>
            </dict>
            <key>wujiang_pieces_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,750},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,386},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>zhuangbei_pieces_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,702},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public3.png</string>
            <key>size</key>
            <string>{977,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7063891fb4506b544b1c71bca78a0867:1/1$</string>
            <key>textureFileName</key>
            <string>public3.png</string>
        </dict>
    </dict>
</plist>
