<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advance_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,680},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>advance_manzubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,640},{102,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>an.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{172,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,78}}</string>
                <key>sourceSize</key>
                <string>{172,78}</string>
            </dict>
            <key>anDian.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,750},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{18,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,420},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>barrackBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,790},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>barrack_anniu_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,426},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>barrack_cardcountbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,122},{208,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{208,46}</string>
            </dict>
            <key>barrack_huibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,587},{344,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,40}}</string>
                <key>sourceSize</key>
                <string>{344,40}</string>
            </dict>
            <key>barrack_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,543},{362,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,42}}</string>
                <key>sourceSize</key>
                <string>{362,42}</string>
            </dict>
            <key>barrack_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{564,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,78}}</string>
                <key>sourceSize</key>
                <string>{564,78}</string>
            </dict>
            <key>barrack_item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{564,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,78}}</string>
                <key>sourceSize</key>
                <string>{564,78}</string>
            </dict>
            <key>barrack_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,298},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>barrack_kuangbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>barrack_sort_buttonbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,848},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>barrack_sort_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,849},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>barrack_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,50}}</string>
                <key>sourceSize</key>
                <string>{768,50}</string>
            </dict>
            <key>battleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,588},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{476,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,30}}</string>
                <key>sourceSize</key>
                <string>{476,30}</string>
            </dict>
            <key>big_tq.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,684},{94,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>big_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>blackstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,849},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>blueBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,234},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>bluestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,834},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{476,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,10}}</string>
                <key>sourceSize</key>
                <string>{476,10}</string>
            </dict>
            <key>box_btn_newbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,629},{137,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,61}}</string>
                <key>sourceSize</key>
                <string>{137,61}</string>
            </dict>
            <key>box_btn_newbgHui.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,482},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>box_btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,629},{174,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,66}}</string>
                <key>sourceSize</key>
                <string>{174,66}</string>
            </dict>
            <key>box_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{486,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,38}}</string>
                <key>sourceSize</key>
                <string>{486,38}</string>
            </dict>
            <key>btnSlotBtm.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,106},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>btnSlotTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,849},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>btn_fenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,426},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,480},{176,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,67}</string>
            </dict>
            <key>card_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,682},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>card_jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,188},{218,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,10}}</string>
                <key>sourceSize</key>
                <string>{218,10}</string>
            </dict>
            <key>card_jingyan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,170},{226,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,16}}</string>
                <key>sourceSize</key>
                <string>{226,16}</string>
            </dict>
            <key>card_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,629},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>carditem_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,697},{172,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,28}}</string>
                <key>sourceSize</key>
                <string>{172,28}</string>
            </dict>
            <key>chatbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,802},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>coinicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,834},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>countryIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,580},{108,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>countryIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,480},{108,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>countryIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{108,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>countryName1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,540},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>countryName2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,540},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>countryName3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,540},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>countryName4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,540},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>country_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,530},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,420},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,310},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,478},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_titlebg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,54},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
            <key>embattle_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,684},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>equipPinzhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,692},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>equipPinzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,316},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>equipPinzhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,316},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>firstpageplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,849},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>liangDian.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,770},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lootSource.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,802},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>officerPinzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,200},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,200},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,727},{118,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,298},{120,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,727},{124,120}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{124,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharefacebook-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,778},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sharesina-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,778},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sharetwitter-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,152},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sharewixin-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,214},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public1.png</string>
            <key>size</key>
            <string>{890,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac6b10f81f7ae4f8c596b7a21b626d9a:1/1$</string>
            <key>textureFileName</key>
            <string>public1.png</string>
        </dict>
    </dict>
</plist>
