<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityYiGouMai.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,748},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>arean_coin_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,707},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>arean_coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,366},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>atk_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,276},{32,32}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{32,32}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>big_gouyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,98},{86,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>blood_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{460,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,16}}</string>
                <key>sourceSize</key>
                <string>{460,16}</string>
            </dict>
            <key>bomb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,376},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>boss_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,654},{260,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,34}}</string>
                <key>sourceSize</key>
                <string>{260,34}</string>
            </dict>
            <key>boss_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,490},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>boss_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{354,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,98}}</string>
                <key>sourceSize</key>
                <string>{354,98}</string>
            </dict>
            <key>boss_title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>box_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,785},{110,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,26}}</string>
                <key>sourceSize</key>
                <string>{110,26}</string>
            </dict>
            <key>down_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,758},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>equipPinzhi_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,538},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,538},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,538},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,538},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,648},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,648},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,648},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,648},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,538},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,538},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,538},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,538},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,538},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,556},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,556},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,556},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,556},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,666},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>equipPinzhi_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,446},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,446},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,446},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,446},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>firstCharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,442},{140,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,94}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>firstCharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>firstCharge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,364},{112,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>firstChargeGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{174,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{174,166}</string>
            </dict>
            <key>gener+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,328},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>gener+2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,382},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>gener+3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,382},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>gouyuIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,400},{26,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>grap_precious.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,194},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>hurt_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,751},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>join_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{354,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,72}}</string>
                <key>sourceSize</key>
                <string>{354,72}</string>
            </dict>
            <key>kill_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,666},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>last_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,707},{168,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,42}}</string>
                <key>sourceSize</key>
                <string>{168,42}</string>
            </dict>
            <key>officerPinzhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,666},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,330},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,252},{118,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,98},{120,118}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{124,116}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{124,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,556},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,538},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,218},{118,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,130},{120,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,322},{124,118}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{124,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,446},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,538},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,270},{118,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,148},{120,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{124,118}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{124,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pieceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,276},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>pieceRate.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,690},{261,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,15}}</string>
                <key>sourceSize</key>
                <string>{261,15}</string>
            </dict>
            <key>pur_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,126}}</string>
                <key>sourceSize</key>
                <string>{586,126}</string>
            </dict>
            <key>pvpgift.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,440},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>pvpyilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,758},{90,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
            <key>soul_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,446},{82,90}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{82,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>sourceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,322},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>tongqueXunBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,440},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>tongqueXunLittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,40},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public4.png</string>
            <key>size</key>
            <string>{813,813}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e12229ef019f02d98ded7078a0353365:1/1$</string>
            <key>textureFileName</key>
            <string>public4.png</string>
        </dict>
    </dict>
</plist>
