<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,485},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>+2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,459},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>+3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,433},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>equipPinzhi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,421},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>equipPinzhi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,749},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>error.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,223},{1,1}}</string>
                <key>offset</key>
                <string>{-20.5,20.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,395},{192,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,24}}</string>
                <key>sourceSize</key>
                <string>{192,24}</string>
            </dict>
            <key>expFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,605},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>firstkuangSou.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,531},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>font_YueKaTj.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,833},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>font_apwjsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,295},{188,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,32}}</string>
                <key>sourceSize</key>
                <string>{188,32}</string>
            </dict>
            <key>font_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,841},{92,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>font_qunying.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,342},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>font_rm.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,841},{94,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>font_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,461},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>font_store_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,633},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>friend_blueButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,411},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>friend_redButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,421},{106,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,46}}</string>
                <key>sourceSize</key>
                <string>{106,46}</string>
            </dict>
            <key>friend_requestBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,890},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>goldicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,421},{42,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{42,30}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>gonggao_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,329},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,64}}</string>
                <key>sourceSize</key>
                <string>{174,64}</string>
            </dict>
            <key>homeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,461},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>hotBtnBgGray.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,112},{182,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,86}}</string>
                <key>sourceSize</key>
                <string>{182,86}</string>
            </dict>
            <key>hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,666},{172,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,78}}</string>
                <key>sourceSize</key>
                <string>{172,78}</string>
            </dict>
            <key>item_bigYw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{582,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,109}}</string>
                <key>sourceSize</key>
                <string>{582,109}</string>
            </dict>
            <key>item_bigbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{550,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,102}}</string>
                <key>sourceSize</key>
                <string>{550,102}</string>
            </dict>
            <key>item_smallbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{458,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,102}}</string>
                <key>sourceSize</key>
                <string>{458,102}</string>
            </dict>
            <key>jingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,597},{195,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,67}}</string>
                <key>sourceSize</key>
                <string>{195,67}</string>
            </dict>
            <key>jinkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,523},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>jitian_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,461},{204,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,70}}</string>
                <key>sourceSize</key>
                <string>{204,82}</string>
            </dict>
            <key>login_dik_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,727},{50,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,104}}</string>
                <key>sourceSize</key>
                <string>{50,104}</string>
            </dict>
            <key>login_dik_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,621},{50,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,104}}</string>
                <key>sourceSize</key>
                <string>{50,104}</string>
            </dict>
            <key>login_dik_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,746},{50,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,104}}</string>
                <key>sourceSize</key>
                <string>{50,104}</string>
            </dict>
            <key>login_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,226},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>login_server_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,327},{90,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,82}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,555},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>mainBtnLing_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,469},{106,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{106,100}</string>
            </dict>
            <key>mainBtnZhanStar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,835},{97,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>mainBtnZhan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,639},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>mainBtn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,621},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>ofc_autoequip.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,835},{106,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
            <key>ofc_lock_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,461},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>ofc_lock_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,521},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>officerPinzhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,666},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,776},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,633},{118,110}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,220},{120,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{124,118}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{124,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,852},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>pai_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{154,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>pai_Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{154,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,152}}</string>
                <key>sourceSize</key>
                <string>{154,152}</string>
            </dict>
            <key>portraitBtm.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,433},{62,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{62,86}</string>
            </dict>
            <key>power.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,200},{192,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,24}}</string>
                <key>sourceSize</key>
                <string>{192,24}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{436,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,16}}</string>
                <key>sourceSize</key>
                <string>{436,16}</string>
            </dict>
            <key>progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{426,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,10}}</string>
                <key>sourceSize</key>
                <string>{426,10}</string>
            </dict>
            <key>pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,226},{179,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{179,67}}</string>
                <key>sourceSize</key>
                <string>{195,67}</string>
            </dict>
            <key>publc_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,581},{44,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>public_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,220},{2,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,100}}</string>
                <key>sourceSize</key>
                <string>{2,100}</string>
            </dict>
            <key>public_blackBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,56}}</string>
                <key>sourceSize</key>
                <string>{768,56}</string>
            </dict>
            <key>public_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,50}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>public_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,571},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>public_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,533},{208,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,62}}</string>
                <key>sourceSize</key>
                <string>{208,62}</string>
            </dict>
            <key>public_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,156},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>public_btn_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,886},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>public_font_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,342},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{91,89}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>public_hui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,859},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>public_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,745},{114,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,88}}</string>
                <key>sourceSize</key>
                <string>{114,88}</string>
            </dict>
            <key>public_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>titleredbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{768,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,50}}</string>
                <key>sourceSize</key>
                <string>{768,50}</string>
            </dict>
            <key>yueKa_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,739},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>yueKa_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,739},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>yueKa_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,639},{102,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{102,98}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>yueKa_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,721},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public2.png</string>
            <key>size</key>
            <string>{928,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c956aa80ab7c9283ece65e2c6e579e6:1/1$</string>
            <key>textureFileName</key>
            <string>public2.png</string>
        </dict>
    </dict>
</plist>
