<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongQueBackBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,342},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>tongQueItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,192},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>tongqueCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,26},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>tongqueDobk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{214,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,146}}</string>
                <key>sourceSize</key>
                <string>{214,146}</string>
            </dict>
            <key>tongqueDobkDis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{214,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,146}}</string>
                <key>sourceSize</key>
                <string>{214,146}</string>
            </dict>
            <key>tongqueGet.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,342},{92,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,68}}</string>
                <key>sourceSize</key>
                <string>{92,68}</string>
            </dict>
            <key>tongqueGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{390,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,18}}</string>
                <key>sourceSize</key>
                <string>{390,18}</string>
            </dict>
            <key>tongqueGrossBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,22}}</string>
                <key>sourceSize</key>
                <string>{424,22}</string>
            </dict>
            <key>tongqueRefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,46},{164,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,48}}</string>
                <key>sourceSize</key>
                <string>{164,48}</string>
            </dict>
            <key>yangxin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,280},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>yangxin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yangxinGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,96},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgtongquelayer.png</string>
            <key>size</key>
            <string>{428,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d38b5a8cd3d6782f394619a689edda90:1/1$</string>
            <key>textureFileName</key>
            <string>sgtongquelayer.png</string>
        </dict>
    </dict>
</plist>
