<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4131.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,534},{294,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,246}}</string>
                <key>sourceSize</key>
                <string>{294,246}</string>
            </dict>
            <key>equip4132.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,508},{364,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,228}}</string>
                <key>sourceSize</key>
                <string>{364,228}</string>
            </dict>
            <key>equip4133.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,738},{362,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,224}}</string>
                <key>sourceSize</key>
                <string>{362,224}</string>
            </dict>
            <key>equip4134.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{188,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,196}}</string>
                <key>sourceSize</key>
                <string>{188,196}</string>
            </dict>
            <key>equip4135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{262,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,260}}</string>
                <key>sourceSize</key>
                <string>{264,260}</string>
            </dict>
            <key>equip4136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,264}}</string>
                <key>sourceSize</key>
                <string>{376,264}</string>
            </dict>
            <key>equip4137.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{368,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,264}}</string>
                <key>sourceSize</key>
                <string>{368,264}</string>
            </dict>
            <key>equip4138.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,268},{230,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,238}}</string>
                <key>sourceSize</key>
                <string>{230,238}</string>
            </dict>
            <key>equip4139.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,268},{260,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,246}}</string>
                <key>sourceSize</key>
                <string>{260,246}</string>
            </dict>
            <key>equip4140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{288,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,264}}</string>
                <key>sourceSize</key>
                <string>{288,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4131-4140.png</string>
            <key>size</key>
            <string>{964,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2dc7480285aedaa5bbcaaa7815c6b5a:1/1$</string>
            <key>textureFileName</key>
            <string>equip4131-4140.png</string>
        </dict>
    </dict>
</plist>
