<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{250,246}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{250,246}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{268,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,242},{252,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{252,224}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,520},{182,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{182,258}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{254,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,468},{220,246}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{220,246}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,458},{230,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{230,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{232,272}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{232,272}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,250},{272,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{272,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{266,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{266,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4011-4020.png</string>
            <key>size</key>
            <string>{874,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:347b3836d4d08d227261ae106e6e3cd2:1/1$</string>
            <key>textureFileName</key>
            <string>equip4011-4020.png</string>
        </dict>
    </dict>
</plist>
