<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,264}}</string>
                <key>sourceSize</key>
                <string>{438,264}</string>
            </dict>
            <key>equip4143.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,516},{228,238}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,238}}</string>
                <key>sourceSize</key>
                <string>{242,238}</string>
            </dict>
            <key>equip4144.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,516},{254,230}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{254,230}}</string>
                <key>sourceSize</key>
                <string>{284,264}</string>
            </dict>
            <key>equip4145.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,260},{292,254}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,254}}</string>
                <key>sourceSize</key>
                <string>{334,254}</string>
            </dict>
            <key>equip4146.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{220,254}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{220,254}}</string>
                <key>sourceSize</key>
                <string>{232,254}</string>
            </dict>
            <key>equip4147.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,518},{218,250}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{218,250}}</string>
                <key>sourceSize</key>
                <string>{232,254}</string>
            </dict>
            <key>equip4148.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,260},{198,254}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{198,254}}</string>
                <key>sourceSize</key>
                <string>{234,254}</string>
            </dict>
            <key>equip4149.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{280,248}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,248}}</string>
                <key>sourceSize</key>
                <string>{290,248}</string>
            </dict>
            <key>equip4150.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{324,256}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,256}}</string>
                <key>sourceSize</key>
                <string>{336,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4141-4150.png</string>
            <key>size</key>
            <string>{936,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1efd89caf00c3e8b42d6acfaf32eed18:1/1$</string>
            <key>textureFileName</key>
            <string>equip4141-4150.png</string>
        </dict>
    </dict>
</plist>
