<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4104.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{194,258}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{194,258}}</string>
                <key>sourceSize</key>
                <string>{236,258}</string>
            </dict>
            <key>equip4105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,218}}</string>
                <key>sourceSize</key>
                <string>{162,218}</string>
            </dict>
            <key>equip4106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{206,258}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{206,258}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
            <key>equip4108.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,256},{216,258}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{216,258}}</string>
                <key>sourceSize</key>
                <string>{236,258}</string>
            </dict>
            <key>equip4109.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{280,252}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,252}}</string>
                <key>sourceSize</key>
                <string>{356,252}</string>
            </dict>
            <key>equip4110.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,262},{234,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,262}}</string>
                <key>sourceSize</key>
                <string>{234,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4101-4110.png</string>
            <key>size</key>
            <string>{664,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88a6cf5a0b4066dece3728389ee2e9d7:1/1$</string>
            <key>textureFileName</key>
            <string>equip4101-4110.png</string>
        </dict>
    </dict>
</plist>
