<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4121.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{222,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,160}}</string>
                <key>sourceSize</key>
                <string>{222,160}</string>
            </dict>
            <key>equip4122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,268}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,268}}</string>
                <key>sourceSize</key>
                <string>{384,268}</string>
            </dict>
            <key>equip4123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{280,262}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,262}}</string>
                <key>sourceSize</key>
                <string>{298,262}</string>
            </dict>
            <key>equip4130.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,272},{256,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,204}}</string>
                <key>sourceSize</key>
                <string>{256,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4121-4130.png</string>
            <key>size</key>
            <string>{600,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b967da3db2eb2da83491672ee15299:1/1$</string>
            <key>textureFileName</key>
            <string>equip4121-4130.png</string>
        </dict>
    </dict>
</plist>
