<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4151.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{296,224}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,224}}</string>
                <key>sourceSize</key>
                <string>{308,254}</string>
            </dict>
            <key>equip4152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{244,194}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{244,194}}</string>
                <key>sourceSize</key>
                <string>{258,214}</string>
            </dict>
            <key>equip4153.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,675},{245,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,208}}</string>
                <key>sourceSize</key>
                <string>{245,208}</string>
            </dict>
            <key>equip4154.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,228},{224,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,240}}</string>
                <key>sourceSize</key>
                <string>{224,240}</string>
            </dict>
            <key>equip4155.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,470},{219,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,236}}</string>
                <key>sourceSize</key>
                <string>{219,236}</string>
            </dict>
            <key>equip4156.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,472},{235,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,201}}</string>
                <key>sourceSize</key>
                <string>{235,201}</string>
            </dict>
            <key>equip4157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>equip4158.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{316,188}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,22},{316,188}}</string>
                <key>sourceSize</key>
                <string>{406,250}</string>
            </dict>
            <key>equip4159.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,228},{247,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,242}}</string>
                <key>sourceSize</key>
                <string>{247,242}</string>
            </dict>
            <key>equip4160.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,245}}</string>
                <key>sourceSize</key>
                <string>{394,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4151-4160.png</string>
            <key>size</key>
            <string>{885,885}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5939cc9e74fc4fd0d810da325f322fde:1/1$</string>
            <key>textureFileName</key>
            <string>equip4151-4160.png</string>
        </dict>
    </dict>
</plist>
