<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,238}}</string>
                <key>sourceSize</key>
                <string>{434,238}</string>
            </dict>
            <key>equip4097.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,260},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,202}}</string>
                <key>sourceSize</key>
                <string>{200,202}</string>
            </dict>
            <key>equip4098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{352,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,228}}</string>
                <key>sourceSize</key>
                <string>{352,228}</string>
            </dict>
            <key>equip4100.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{182,256}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{182,256}}</string>
                <key>sourceSize</key>
                <string>{236,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4091-4100.png</string>
            <key>size</key>
            <string>{622,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a4203cf8142febdb44cd4ea6f1a0947:1/1$</string>
            <key>textureFileName</key>
            <string>equip4091-4100.png</string>
        </dict>
    </dict>
</plist>
