<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4171.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,340},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>equip4172.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,250},{246,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,250}}</string>
                <key>sourceSize</key>
                <string>{246,250}</string>
            </dict>
            <key>equip4173.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,502},{163,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,179}}</string>
                <key>sourceSize</key>
                <string>{163,179}</string>
            </dict>
            <key>equip4174.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,249},{99,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,89}}</string>
                <key>sourceSize</key>
                <string>{99,89}</string>
            </dict>
            <key>equip4175.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,502},{205,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,174}}</string>
                <key>sourceSize</key>
                <string>{205,174}</string>
            </dict>
            <key>equip4176.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,502},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>equip4177.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{344,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,247}}</string>
                <key>sourceSize</key>
                <string>{344,247}</string>
            </dict>
            <key>equip4178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,246}}</string>
                <key>sourceSize</key>
                <string>{501,246}</string>
            </dict>
            <key>equip4179.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{237,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,245}}</string>
                <key>sourceSize</key>
                <string>{237,245}</string>
            </dict>
            <key>equip4180.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{196,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,223}}</string>
                <key>sourceSize</key>
                <string>{196,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4171-4180.png</string>
            <key>size</key>
            <string>{744,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16850335c315a65005fac4b65c2a5fa2:1/1$</string>
            <key>textureFileName</key>
            <string>equip4171-4180.png</string>
        </dict>
    </dict>
</plist>
