<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cg.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,246},{249,242}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{249,242}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>cgzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{1,1}}</string>
                <key>offset</key>
                <string>{-70.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{142,68}</string>
            </dict>
            <key>dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,250}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,250}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>dzzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{1,1}}</string>
                <key>offset</key>
                <string>{-72.5,31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{146,64}</string>
            </dict>
            <key>fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{243,250}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{243,250}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>fbzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{1,1}}</string>
                <key>offset</key>
                <string>{-109.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{220,90}</string>
            </dict>
            <key>fight_boss_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{1,1}}</string>
                <key>offset</key>
                <string>{-70.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{142,68}</string>
            </dict>
            <key>sjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{249,242}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{249,242}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sjzzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{1,1}}</string>
                <key>offset</key>
                <string>{-70.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{142,68}</string>
            </dict>
            <key>sp_battle_entry.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,490},{245,242}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{245,242}}</string>
                <key>sourceSize</key>
                <string>{275,250}</string>
            </dict>
            <key>sp_battle_entry_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{1,1}}</string>
                <key>offset</key>
                <string>{-70.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{142,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgfirstbutton.png</string>
            <key>size</key>
            <string>{742,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd6af868a90251054b3e88d162979f3:1/1$</string>
            <key>textureFileName</key>
            <string>sgfirstbutton.png</string>
        </dict>
    </dict>
</plist>
