<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advance_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,150},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>box_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,290},{370,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,8}}</string>
                <key>sourceSize</key>
                <string>{370,8}</string>
            </dict>
            <key>choosecountry.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,202},{326,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{326,50}}</string>
                <key>sourceSize</key>
                <string>{326,56}</string>
            </dict>
            <key>country_artWord1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,158},{142,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,34}}</string>
                <key>sourceSize</key>
                <string>{142,38}</string>
            </dict>
            <key>country_font_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,106},{208,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,50}}</string>
                <key>sourceSize</key>
                <string>{208,50}</string>
            </dict>
            <key>country_font_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,54},{208,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,50}}</string>
                <key>sourceSize</key>
                <string>{208,50}</string>
            </dict>
            <key>country_font_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{208,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,50}}</string>
                <key>sourceSize</key>
                <string>{208,50}</string>
            </dict>
            <key>country_hk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,138}}</string>
                <key>sourceSize</key>
                <string>{768,138}</string>
            </dict>
            <key>country_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,142},{172,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,6}}</string>
                <key>sourceSize</key>
                <string>{172,6}</string>
            </dict>
            <key>country_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,468},{472,164}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{472,164}}</string>
                <key>sourceSize</key>
                <string>{488,176}</string>
            </dict>
            <key>country_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,300},{484,166}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{484,166}}</string>
                <key>sourceSize</key>
                <string>{488,176}</string>
            </dict>
            <key>country_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{488,168}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{488,168}}</string>
                <key>sourceSize</key>
                <string>{488,176}</string>
            </dict>
            <key>country_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{476,166}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{476,166}}</string>
                <key>sourceSize</key>
                <string>{488,176}</string>
            </dict>
            <key>embatte_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{594,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,52}}</string>
                <key>sourceSize</key>
                <string>{594,52}</string>
            </dict>
            <key>font_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,254},{62,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>font_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,254},{62,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>font_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,254},{62,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,196},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{72,102}}</string>
                <key>sourceSize</key>
                <string>{80,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgcountrylayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ca1c64a7a9c8995d55362de0045ad7:1/1$</string>
            <key>textureFileName</key>
            <string>sgcountrylayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
