<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,244},{132,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{132,110}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
            <key>effect001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,128},{154,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{154,114}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
            <key>effect001_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{160,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{160,124}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
            <key>effect001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{164,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{164,126}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
            <key>effect001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{158,128}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>001.png</string>
            <key>size</key>
            <string>{356,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b891ccfcdb7911490114fcda9cde0670:1/1$</string>
            <key>textureFileName</key>
            <string>001.png</string>
        </dict>
    </dict>
</plist>
