<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,73},{72,57}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{72,57}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>effect002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{76,69}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{76,69}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>effect002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,132},{84,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,75}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>effect002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{86,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>effect002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,114}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{137,114}}</string>
                <key>sourceSize</key>
                <string>{171,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>002.png</string>
            <key>size</key>
            <string>{219,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b9276cafcdb01e053f2a75281131bdf:1/1$</string>
            <key>textureFileName</key>
            <string>002.png</string>
        </dict>
    </dict>
</plist>
