<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{67,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>effect002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>effect003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{69,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>effect004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,92},{45,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{45,44}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>004.png</string>
            <key>size</key>
            <string>{158,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c434fd0c68b99d296e652498f116416a:1/1$</string>
            <key>textureFileName</key>
            <string>004.png</string>
        </dict>
    </dict>
</plist>
