<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,54},{26,22}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{26,22}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xiaoshi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{70,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xiaoshi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>xiaoshi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{14,10}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{14,10}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoshi.png</string>
            <key>size</key>
            <string>{100,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99a45a025290fba199f78e351fd03b43:1/1$</string>
            <key>textureFileName</key>
            <string>xiaoshi.png</string>
        </dict>
    </dict>
</plist>
