<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activityYiGouMai.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,526},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,52}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>arean_coin_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,423},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>arean_coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,216},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>atk_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,260},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>baikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,182},{32,32}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{32,32}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>big_gouyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,484},{86,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>blood_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{460,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,16}}</string>
                <key>sourceSize</key>
                <string>{460,16}</string>
            </dict>
            <key>bomb_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,222},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>boss_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,193},{260,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,34}}</string>
                <key>sourceSize</key>
                <string>{260,34}</string>
            </dict>
            <key>boss_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,222},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>boss_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{354,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,98}}</string>
                <key>sourceSize</key>
                <string>{354,98}</string>
            </dict>
            <key>boss_title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>box_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,388},{110,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,26}}</string>
                <key>sourceSize</key>
                <string>{110,26}</string>
            </dict>
            <key>down_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,78},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>equipPinzhi_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,498},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,498},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,498},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,498},{108,108}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,416},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,416},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,416},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,416},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,416},{108,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{108,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,388},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,388},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,388},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,388},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,484},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>equipPinzhi_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,612},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,612},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,612},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>equipPinzhi_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,612},{110,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,108}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>firstCharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,308},{140,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,94}}</string>
                <key>sourceSize</key>
                <string>{140,94}</string>
            </dict>
            <key>firstCharge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,229},{182,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,94}}</string>
                <key>sourceSize</key>
                <string>{182,94}</string>
            </dict>
            <key>firstCharge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,602},{112,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>firstChargeGuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{174,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{174,166}</string>
            </dict>
            <key>gener+1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,78},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,36}}</string>
                <key>sourceSize</key>
                <string>{56,36}</string>
            </dict>
            <key>gener+2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,40},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>gener+3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>gouyuIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,260},{26,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>grap_precious.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>hurt_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,274},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>join_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,102},{354,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,72}}</string>
                <key>sourceSize</key>
                <string>{354,72}</string>
            </dict>
            <key>kill_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,608},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>last_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,520},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,230},{168,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,42}}</string>
                <key>sourceSize</key>
                <string>{168,42}</string>
            </dict>
            <key>officerPinzhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,496},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,372},{118,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,268},{120,118}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{120,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{124,116}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{124,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,519},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,437},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,325},{118,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,266},{120,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,148},{124,118}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{124,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,386},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,404},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{118,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{118,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,250},{120,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,130},{124,118}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{124,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pieceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,116},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>pieceRate.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,176},{261,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,15}}</string>
                <key>sourceSize</key>
                <string>{261,15}</string>
            </dict>
            <key>pur_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,126}}</string>
                <key>sourceSize</key>
                <string>{586,126}</string>
            </dict>
            <key>pvpgift.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,325},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>pvpyilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,176},{90,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,52}}</string>
                <key>sourceSize</key>
                <string>{90,52}</string>
            </dict>
            <key>soul_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,580},{82,90}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{82,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>sourceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,168},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>tongqueXunBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,298},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>tongqueXunLittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,148},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public4.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceeccfdb17f8918f45e2cec86bd7f6f9:1/1$</string>
            <key>textureFileName</key>
            <string>public4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
