<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advance_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,882},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>advance_manzubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,630},{102,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,42}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>an.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,453},{172,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,78}}</string>
                <key>sourceSize</key>
                <string>{172,78}</string>
            </dict>
            <key>anDian.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,54},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{18,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,486},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>barrackBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,919},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>barrack_anniu_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,518},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>barrack_cardcountbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,342},{208,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{208,46}</string>
            </dict>
            <key>barrack_huibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{344,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,40}}</string>
                <key>sourceSize</key>
                <string>{344,40}</string>
            </dict>
            <key>barrack_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{362,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,42}}</string>
                <key>sourceSize</key>
                <string>{362,42}</string>
            </dict>
            <key>barrack_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{564,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,78}}</string>
                <key>sourceSize</key>
                <string>{564,78}</string>
            </dict>
            <key>barrack_item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{564,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,78}}</string>
                <key>sourceSize</key>
                <string>{564,78}</string>
            </dict>
            <key>barrack_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,236},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>barrack_kuangbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,54},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>barrack_sort_buttonbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,648},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>barrack_sort_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,465},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>barrack_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,50}}</string>
                <key>sourceSize</key>
                <string>{768,50}</string>
            </dict>
            <key>battleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{476,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,30}}</string>
                <key>sourceSize</key>
                <string>{476,30}</string>
            </dict>
            <key>big_tq.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,690},{94,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>big_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,560},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>blackstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,425},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>blueBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,370},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>bluestar.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,414},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{476,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,10}}</string>
                <key>sourceSize</key>
                <string>{476,10}</string>
            </dict>
            <key>box_btn_newbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{137,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,61}}</string>
                <key>sourceSize</key>
                <string>{137,61}</string>
            </dict>
            <key>box_btn_newbgHui.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,384},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>box_btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,418},{174,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,66}}</string>
                <key>sourceSize</key>
                <string>{174,66}</string>
            </dict>
            <key>box_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,240}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{486,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,38}}</string>
                <key>sourceSize</key>
                <string>{486,38}</string>
            </dict>
            <key>btnSlotBtm.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,584},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>btnSlotTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,406},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>btn_fenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,672},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,390},{176,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,67}</string>
            </dict>
            <key>card_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,442},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>card_jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,262},{218,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,10}}</string>
                <key>sourceSize</key>
                <string>{218,10}</string>
            </dict>
            <key>card_jingyan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,244},{226,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,16}}</string>
                <key>sourceSize</key>
                <string>{226,16}</string>
            </dict>
            <key>card_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,505},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>carditem_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{172,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,28}}</string>
                <key>sourceSize</key>
                <string>{172,28}</string>
            </dict>
            <key>chatbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,724},{104,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,44}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>coinicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,244},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>countryIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,572},{108,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>countryIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{108,98}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>countryIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,298},{108,102}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>countryName1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>countryName2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>countryName3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>countryName4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>country_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,772},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,902},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,792},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,902},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>country_titlebg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,274},{210,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,66}}</string>
                <key>sourceSize</key>
                <string>{210,66}</string>
            </dict>
            <key>embattle_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,340},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>equipPinzhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,792},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>equipPinzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>equipPinzhi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>firstpageplus.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,384},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>liangDian.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,276},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lootSource.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,214},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>officerPinzhi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,682},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>officerPinzhi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,402},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>officerPinzhi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,560},{118,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{118,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{120,120}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>officerPinzhi_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,438},{124,120}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{124,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharefacebook-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,690},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sharesina-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,502},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sharetwitter-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,420},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sharewixin-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,286},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63248dfc774edbe76bdcfe43753358fd:1/1$</string>
            <key>textureFileName</key>
            <string>public1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
