<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{476,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,30}}</string>
                <key>sourceSize</key>
                <string>{476,30}</string>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{486,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,38}}</string>
                <key>sourceSize</key>
                <string>{486,38}</string>
            </dict>
            <key>visit_zik.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,366}}</string>
                <key>sourceSize</key>
                <string>{640,366}</string>
            </dict>
            <key>yh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,370},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>yh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,370},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{16,30}</string>
            </dict>
            <key>yh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,370},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgannouncementlayer.png</string>
            <key>size</key>
            <string>{644,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1721106a1234b2a66d7b2826d08986d2:1/1$</string>
            <key>textureFileName</key>
            <string>sgannouncementlayer.png</string>
        </dict>
    </dict>
</plist>
