<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrack_font_xzsck.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,36},{212,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,42}}</string>
                <key>sourceSize</key>
                <string>{212,44}</string>
            </dict>
            <key>consumable_add_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,200},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>consumable_desc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,406},{310,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,176}}</string>
                <key>sourceSize</key>
                <string>{310,176}</string>
            </dict>
            <key>font_strengexpsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,200},{166,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,24}}</string>
                <key>sourceSize</key>
                <string>{166,24}</string>
            </dict>
            <key>font_strengshib.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{202,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,38}}</string>
                <key>sourceSize</key>
                <string>{206,42}</string>
            </dict>
            <key>font_strengwuj.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,120},{202,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,38}}</string>
                <key>sourceSize</key>
                <string>{206,42}</string>
            </dict>
            <key>font_strengzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,80},{202,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,38}}</string>
                <key>sourceSize</key>
                <string>{206,42}</string>
            </dict>
            <key>font_yqhngsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{220,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,32}}</string>
                <key>sourceSize</key>
                <string>{220,32}</string>
            </dict>
            <key>font_yqhngwjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,584},{252,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,32}}</string>
                <key>sourceSize</key>
                <string>{252,32}</string>
            </dict>
            <key>gonggao_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>jinengkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,226},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>lantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,362},{376,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{376,24}}</string>
                <key>sourceSize</key>
                <string>{378,24}</string>
            </dict>
            <key>public_font_kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,558},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>qhjm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{532,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,148}}</string>
                <key>sourceSize</key>
                <string>{532,148}</string>
            </dict>
            <key>red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,648},{414,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,102}}</string>
                <key>sourceSize</key>
                <string>{414,102}</string>
            </dict>
            <key>streng_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,36},{34,34}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>streng_huawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>streng_sckk.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,260},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>strengcardbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{640,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,276}}</string>
                <key>sourceSize</key>
                <string>{640,276}</string>
            </dict>
            <key>strengcardbg_768.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,276}}</string>
                <key>sourceSize</key>
                <string>{768,276}</string>
            </dict>
            <key>tiao_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,388},{364,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{364,16}}</string>
                <key>sourceSize</key>
                <string>{366,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgstrenglayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:189d42af0c5bd424b466459679305791:1/1$</string>
            <key>textureFileName</key>
            <string>sgstrenglayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
