<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,194},{143,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,45}}</string>
                <key>sourceSize</key>
                <string>{143,45}</string>
            </dict>
            <key>autoTouch.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,62},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>auto_battle_btn_1speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,528},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>auto_battle_btn_3speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,100},{69,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,92}}</string>
                <key>sourceSize</key>
                <string>{69,92}</string>
            </dict>
            <key>auto_battle_btn_before_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,595},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>auto_battle_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{632,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,167}}</string>
                <key>sourceSize</key>
                <string>{632,167}</string>
            </dict>
            <key>battle_ui_friend_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,391},{128,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{128,34}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
            <key>battle_ui_friend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{280,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{280,44}}</string>
                <key>sourceSize</key>
                <string>{280,46}</string>
            </dict>
            <key>battle_ui_skill_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,254},{216,44}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{216,44}}</string>
                <key>sourceSize</key>
                <string>{240,66}</string>
            </dict>
            <key>battle_ui_skill_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,300},{216,42}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{216,42}}</string>
                <key>sourceSize</key>
                <string>{240,66}</string>
            </dict>
            <key>battle_ui_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,609},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{62,34}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>beiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,100},{222,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,152}}</string>
                <key>sourceSize</key>
                <string>{222,152}</string>
            </dict>
            <key>btnTextAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,32},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>btnTextAlliance.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,584},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>btnTextAllianceRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,391},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>btnTextHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,554},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>btnTextSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
            <key>btnTextSpellRock.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,415},{98,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,554},{66,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,53}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>energy_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,406},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>energy_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,439},{105,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,87}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>gate0.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,48},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,48},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,48},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,48},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,38.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>gonggao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{616,6}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,6}}</string>
                <key>sourceSize</key>
                <string>{624,6}</string>
            </dict>
            <key>greatWall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,241},{136,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,124}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,81},{260,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,17}}</string>
                <key>sourceSize</key>
                <string>{260,17}</string>
            </dict>
            <key>lifebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,60}}</string>
                <key>sourceSize</key>
                <string>{660,60}</string>
            </dict>
            <key>lifekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,48},{274,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,31}}</string>
                <key>sourceSize</key>
                <string>{274,31}</string>
            </dict>
            <key>mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,427},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>move.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,367},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,37}</string>
            </dict>
            <key>myBloodFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{514,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,30}}</string>
                <key>sourceSize</key>
                <string>{514,30}</string>
            </dict>
            <key>myBloodGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{508,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,14}}</string>
                <key>sourceSize</key>
                <string>{508,14}</string>
            </dict>
            <key>myBloodOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{508,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,14}}</string>
                <key>sourceSize</key>
                <string>{508,14}</string>
            </dict>
            <key>myBloodRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{508,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,14}}</string>
                <key>sourceSize</key>
                <string>{508,14}</string>
            </dict>
            <key>round_Time_BJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,506},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>suportTouch.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,506},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>support.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,353},{112,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,123}}</string>
                <key>sourceSize</key>
                <string>{112,123}</string>
            </dict>
            <key>supportmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,109},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,344},{136,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,45}}</string>
                <key>sourceSize</key>
                <string>{136,45}</string>
            </dict>
            <key>touxiangTouch.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,344},{90,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,45}}</string>
                <key>sourceSize</key>
                <string>{90,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgherolayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a84d9470100034216b132826557a64:1/1$</string>
            <key>textureFileName</key>
            <string>sgherolayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
