<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainbutton_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{180,106}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{180,106}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>mainbutton_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,106}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{182,106}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>mainbutton_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{180,108}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{180,108}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>mainbutton_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,220},{180,106}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{180,106}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>mainbutton_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,110},{180,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{180,108}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
            <key>mainbutton_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{182,108}}</string>
                <key>sourceSize</key>
                <string>{190,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUI.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef39f5617ceee400c45c4863745c2fce:1/1$</string>
            <key>textureFileName</key>
            <string>mainUI.pvr.ccz</string>
        </dict>
    </dict>
</plist>
