<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigredbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,206}}</string>
                <key>sourceSize</key>
                <string>{392,206}</string>
            </dict>
            <key>btn_fullpower.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,246},{128,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>font_cantsell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{286,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,42}}</string>
                <key>sourceSize</key>
                <string>{286,42}</string>
            </dict>
            <key>font_glkapian.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,38},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
            <key>font_sjjuny.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,210},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{144,34}</string>
            </dict>
            <key>store_cantpur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{332,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{332,40}}</string>
                <key>sourceSize</key>
                <string>{344,48}</string>
            </dict>
            <key>store_chongz.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,74},{70,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,36}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>upwar_font_strgs.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,38},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
            <key>upwar_font_visit.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{108,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgcantadvancebox.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e950bc816113441b055805627536fbf:1/1$</string>
            <key>textureFileName</key>
            <string>sgcantadvancebox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
