<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,174},{150,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,8},{150,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,88},{152,84}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,8},{152,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{154,84}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{154,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{264,84}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{264,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,348},{138,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,6},{138,86}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,260},{142,86}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,6},{142,86}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,260},{144,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,6},{144,86}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{148,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,6},{148,86}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{148,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,6},{148,86}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{148,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,6},{148,86}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>fail_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,174},{148,84}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,8},{148,84}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fail.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099d97ba4763dc696c535c6e56c20b7a:1/1$</string>
            <key>textureFileName</key>
            <string>fail.pvr.ccz</string>
        </dict>
    </dict>
</plist>
