<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plant3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>plant3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>plant3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>plant3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>plant3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>plant3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>plant3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>plant3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{10,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plant3.pvr.ccz</string>
            <key>size</key>
            <string>{32,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eccb36cdf656dc7ac3c4c0a118c8dc3b:1/1$</string>
            <key>textureFileName</key>
            <string>plant3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
