<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plant2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>plant2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>plant2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{18,14}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>plant2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{18,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>plant2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{18,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>plant2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{18,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>plant2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{18,14}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>plant2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plant2.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da18394eb752aeaff223d40d3f2795b9:1/1$</string>
            <key>textureFileName</key>
            <string>plant2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
