<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZJJKFD_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{100,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,21}}</string>
                <key>sourceSize</key>
                <string>{100,21}</string>
            </dict>
            <key>ZJJKFD_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{100,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,21}}</string>
                <key>sourceSize</key>
                <string>{100,21}</string>
            </dict>
            <key>ZJJKFD_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{100,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,21}}</string>
                <key>sourceSize</key>
                <string>{100,21}</string>
            </dict>
            <key>ZJJKFD_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{100,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,21}}</string>
                <key>sourceSize</key>
                <string>{100,21}</string>
            </dict>
            <key>ZJJKFD_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{100,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,21}}</string>
                <key>sourceSize</key>
                <string>{100,21}</string>
            </dict>
            <key>ZJJKFD_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{100,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,21}}</string>
                <key>sourceSize</key>
                <string>{100,21}</string>
            </dict>
            <key>ZJJKFD_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,21}}</string>
                <key>sourceSize</key>
                <string>{100,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZJJKFD.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c48cc8020cc7dfca20f8123c93a701d4:1/1$</string>
            <key>textureFileName</key>
            <string>ZJJKFD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
