<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,264}}</string>
                <key>sourceSize</key>
                <string>{314,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>11.png</string>
            <key>size</key>
            <string>{318,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3617bcba42d0aa079c904201a38a678f:1/1$</string>
            <key>textureFileName</key>
            <string>11.png</string>
        </dict>
    </dict>
</plist>
