<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,268}}</string>
                <key>sourceSize</key>
                <string>{304,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>31.png</string>
            <key>size</key>
            <string>{308,308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5de2a9f55a4d76f866cffafb84410f78:1/1$</string>
            <key>textureFileName</key>
            <string>31.png</string>
        </dict>
    </dict>
</plist>
