<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,232}}</string>
                <key>sourceSize</key>
                <string>{326,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6.png</string>
            <key>size</key>
            <string>{330,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a6522d2e944a90242a80b206017371f:1/1$</string>
            <key>textureFileName</key>
            <string>6.png</string>
        </dict>
    </dict>
</plist>
