<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{1,1}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>bamv_Hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,316},{76,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,20}}</string>
                <key>sourceSize</key>
                <string>{76,20}</string>
            </dict>
            <key>bamv_Lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,294},{76,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,20}}</string>
                <key>sourceSize</key>
                <string>{76,20}</string>
            </dict>
            <key>bamv_Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,272},{76,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,20}}</string>
                <key>sourceSize</key>
                <string>{76,20}</string>
            </dict>
            <key>battle_1_green_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,756},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>battle_1_red_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,612},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>battle_change_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,602},{294,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,26}}</string>
                <key>sourceSize</key>
                <string>{294,26}</string>
            </dict>
            <key>battle_change_bar10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,16},{344,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,76}}</string>
                <key>sourceSize</key>
                <string>{346,78}</string>
            </dict>
            <key>battle_change_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,574},{294,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,26}}</string>
                <key>sourceSize</key>
                <string>{294,26}</string>
            </dict>
            <key>battle_change_bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,538},{294,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{294,34}}</string>
                <key>sourceSize</key>
                <string>{302,38}</string>
            </dict>
            <key>battle_change_bar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,502},{294,34}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{294,34}}</string>
                <key>sourceSize</key>
                <string>{308,36}</string>
            </dict>
            <key>battle_change_bar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,460},{320,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{320,40}}</string>
                <key>sourceSize</key>
                <string>{322,42}</string>
            </dict>
            <key>battle_change_bar6.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,350},{322,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{322,44}}</string>
                <key>sourceSize</key>
                <string>{332,48}</string>
            </dict>
            <key>battle_change_bar7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,396},{320,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{320,62}}</string>
                <key>sourceSize</key>
                <string>{324,62}</string>
            </dict>
            <key>battle_change_bar8.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,208},{332,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,62}}</string>
                <key>sourceSize</key>
                <string>{334,64}</string>
            </dict>
            <key>battle_change_bar9.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,272},{324,76}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{324,76}}</string>
                <key>sourceSize</key>
                <string>{328,76}</string>
            </dict>
            <key>battle_change_bar_big_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{460,104}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{460,104}}</string>
                <key>sourceSize</key>
                <string>{518,114}</string>
            </dict>
            <key>battle_change_bar_small_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,94},{338,112}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{338,112}}</string>
                <key>sourceSize</key>
                <string>{366,118}</string>
            </dict>
            <key>battle_change_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,630},{282,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,64}}</string>
                <key>sourceSize</key>
                <string>{282,64}</string>
            </dict>
            <key>battle_change_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{280,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{280,64}}</string>
                <key>sourceSize</key>
                <string>{282,64}</string>
            </dict>
            <key>battle_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,542},{126,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,108}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>battle_delete_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{108,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,152}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>battle_delete_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,526},{108,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,152}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>battle_delete_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,976},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>battle_delete_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,454},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>battle_first_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,396},{74,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{74,56}}</string>
                <key>sourceSize</key>
                <string>{88,62}</string>
            </dict>
            <key>battle_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,338},{74,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{74,56}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>jingyantiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{372,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{372,12}}</string>
                <key>sourceSize</key>
                <string>{374,14}</string>
            </dict>
            <key>load_ctyNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{224,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,38}}</string>
                <key>sourceSize</key>
                <string>{224,38}</string>
            </dict>
            <key>revive_prompt_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{250,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{250,50}}</string>
                <key>sourceSize</key>
                <string>{254,52}</string>
            </dict>
            <key>round_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{220,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,42}}</string>
                <key>sourceSize</key>
                <string>{220,46}</string>
            </dict>
            <key>round_prompt_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,506},{128,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{128,34}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
            <key>round_prompt_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{62,34}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>sjz_bat_which.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,232}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{630,232}}</string>
                <key>sourceSize</key>
                <string>{640,240}</string>
            </dict>
            <key>uplevel_clevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{614,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,268}}</string>
                <key>sourceSize</key>
                <string>{614,268}</string>
            </dict>
            <key>uplevel_fclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,612},{110,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>uplevel_lclick.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,680},{110,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>upwar_button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,208},{52,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{52,28}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgbattlemap.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cda995bf9d6d38d44e4e8f5ed59e8fc7:1/1$</string>
            <key>textureFileName</key>
            <string>sgbattlemap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
