<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4131.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,512},{294,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,246}}</string>
                <key>sourceSize</key>
                <string>{294,246}</string>
            </dict>
            <key>equip4132.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,268},{364,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,228}}</string>
                <key>sourceSize</key>
                <string>{364,228}</string>
            </dict>
            <key>equip4133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{362,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,224}}</string>
                <key>sourceSize</key>
                <string>{362,224}</string>
            </dict>
            <key>equip4134.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,760},{188,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,196}}</string>
                <key>sourceSize</key>
                <string>{188,196}</string>
            </dict>
            <key>equip4135.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{262,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,260}}</string>
                <key>sourceSize</key>
                <string>{264,260}</string>
            </dict>
            <key>equip4136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,264}}</string>
                <key>sourceSize</key>
                <string>{376,264}</string>
            </dict>
            <key>equip4137.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{368,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,264}}</string>
                <key>sourceSize</key>
                <string>{368,264}</string>
            </dict>
            <key>equip4138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{230,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,238}}</string>
                <key>sourceSize</key>
                <string>{230,238}</string>
            </dict>
            <key>equip4139.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,264},{260,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,246}}</string>
                <key>sourceSize</key>
                <string>{260,246}</string>
            </dict>
            <key>equip4140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{288,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,264}}</string>
                <key>sourceSize</key>
                <string>{288,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4131-4140.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99fa3392598bf39c0d55960e21311bc1:1/1$</string>
            <key>textureFileName</key>
            <string>equip4131-4140.pvr.ccz</string>
        </dict>
    </dict>
</plist>
