<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{244,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{244,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>equip4072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,224}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>equip4075.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,252},{194,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,200}}</string>
                <key>sourceSize</key>
                <string>{194,200}</string>
            </dict>
            <key>equip4077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{172,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,186}}</string>
                <key>sourceSize</key>
                <string>{172,186}</string>
            </dict>
            <key>equip4078.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{250,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,248}}</string>
                <key>sourceSize</key>
                <string>{250,248}</string>
            </dict>
            <key>equip4080.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,454},{172,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,208}}</string>
                <key>sourceSize</key>
                <string>{172,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4071-4080.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca6db0715e95b310f30e24ceee67bad:1/1$</string>
            <key>textureFileName</key>
            <string>equip4071-4080.pvr.ccz</string>
        </dict>
    </dict>
</plist>
