<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,6},{178,268}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,196},{248,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,63},{248,154}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{256,264}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{256,264}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{262,256}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{262,256}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{246,246}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{246,246}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4036.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,538},{252,242}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{252,242}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4037.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,786},{264,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{264,222}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,782},{194,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{194,210}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{228,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{228,228}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4040.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{252,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{252,192}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4031-4040.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9e2db71e08d7bd4e1bcfe2437784f7b:1/1$</string>
            <key>textureFileName</key>
            <string>equip4031-4040.pvr.ccz</string>
        </dict>
    </dict>
</plist>
