<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,232},{252,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{252,228}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,758},{186,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{186,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{140,268}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{140,268}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{252,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{252,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,272}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{204,272}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{236,270}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{236,270}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{260,264}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{260,264}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,526},{192,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{192,230}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{252,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{252,228}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,272},{260,252}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{260,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4001-4010.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c3421af672916e238e9ad5db83f16e1:1/1$</string>
            <key>textureFileName</key>
            <string>equip4001-4010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
