<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4041.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,242},{192,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{192,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4042.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,528},{186,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,28},{186,224}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4043.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{266,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{266,214}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,266}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{272,266}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{174,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{174,272}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4046.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{194,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{194,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4047.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{268,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{268,256}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4048.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,260},{264,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{264,210}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4049.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,218},{264,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{264,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{248,256}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{248,256}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4041-4050.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91402e426f203459379c6a1bb65620ec:1/1$</string>
            <key>textureFileName</key>
            <string>equip4041-4050.pvr.ccz</string>
        </dict>
    </dict>
</plist>
