<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{292,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,230}}</string>
                <key>sourceSize</key>
                <string>{292,230}</string>
            </dict>
            <key>equip4112.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,256},{166,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,208}}</string>
                <key>sourceSize</key>
                <string>{166,208}</string>
            </dict>
            <key>equip4113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{296,258}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,258}}</string>
                <key>sourceSize</key>
                <string>{310,258}</string>
            </dict>
            <key>equip4114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,252}}</string>
                <key>sourceSize</key>
                <string>{360,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4111-4120.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71bf7ee74c3da21cd261c53a2a37a2e:1/1$</string>
            <key>textureFileName</key>
            <string>equip4111-4120.pvr.ccz</string>
        </dict>
    </dict>
</plist>
