<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4081.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{360,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,198}}</string>
                <key>sourceSize</key>
                <string>{360,198}</string>
            </dict>
            <key>equip4082.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{252,212}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,212}}</string>
                <key>sourceSize</key>
                <string>{280,246}</string>
            </dict>
            <key>equip4083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,238}}</string>
                <key>sourceSize</key>
                <string>{402,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4081-4090.pvr.ccz</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a7c43257658451f8db8be01a51f6409:1/1$</string>
            <key>textureFileName</key>
            <string>equip4081-4090.pvr.ccz</string>
        </dict>
    </dict>
</plist>
