<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,540},{250,246}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{250,246}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{268,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{268,262}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{252,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{252,224}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{182,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{182,258}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{254,252}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,262},{220,246}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{220,246}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,242},{230,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{230,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,272}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{232,272}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,794},{272,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,37},{272,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>equip4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{266,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{266,238}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip4011-4020.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3d2c43f240ef8bd104b90e4f79f511a:1/1$</string>
            <key>textureFileName</key>
            <string>equip4011-4020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
