<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advance_baiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{482,478}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{482,478}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>advance_bg_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,280}}</string>
                <key>sourceSize</key>
                <string>{496,280}</string>
            </dict>
            <key>advance_bg_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{496,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{496,278}}</string>
                <key>sourceSize</key>
                <string>{496,280}</string>
            </dict>
            <key>advance_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,918},{224,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,40}}</string>
                <key>sourceSize</key>
                <string>{224,40}</string>
            </dict>
            <key>avance_break.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,482},{426,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,434}}</string>
                <key>sourceSize</key>
                <string>{426,434}</string>
            </dict>
            <key>barrack_font_kpzssx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{214,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,46}}</string>
                <key>sourceSize</key>
                <string>{214,46}</string>
            </dict>
            <key>font_jinjieh.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,944},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>font_jinjieq.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,918},{90,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,24}}</string>
                <key>sourceSize</key>
                <string>{90,24}</string>
            </dict>
            <key>font_jjwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{204,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,36}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>font_jjzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{204,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,36}}</string>
                <key>sourceSize</key>
                <string>{210,38}</string>
            </dict>
            <key>font_tyl_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,564},{272,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,44}}</string>
                <key>sourceSize</key>
                <string>{272,44}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,482},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgadvancelayer.png</string>
            <key>size</key>
            <string>{984,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8503d6da50f4a3e4c32238f23fa00c:1/1$</string>
            <key>textureFileName</key>
            <string>sgadvancelayer.png</string>
        </dict>
    </dict>
</plist>
