<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightnostar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>get_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,242},{156,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>sjz_gzsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,242},{148,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,32}}</string>
                <key>sourceSize</key>
                <string>{152,34}</string>
            </dict>
            <key>sjz_info_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,180}}</string>
                <key>sourceSize</key>
                <string>{550,180}</string>
            </dict>
            <key>sjz_jhhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,184},{208,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,56}}</string>
                <key>sourceSize</key>
                <string>{208,56}</string>
            </dict>
            <key>sjz_jxsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,184},{208,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,56}}</string>
                <key>sourceSize</key>
                <string>{208,56}</string>
            </dict>
            <key>sjz_kssc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{208,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,56}}</string>
                <key>sourceSize</key>
                <string>{208,56}</string>
            </dict>
            <key>sjz_zjph.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,242},{146,34}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,34}}</string>
                <key>sourceSize</key>
                <string>{152,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgshoujingzhou.png</string>
            <key>size</key>
            <string>{554,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8c75b93d363fd6625aa1d1b719e09d6:1/1$</string>
            <key>textureFileName</key>
            <string>sgshoujingzhou.png</string>
        </dict>
    </dict>
</plist>
