<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,464},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{62,68}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>buff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,432},{62,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{62,78}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>buff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,254},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>buff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,218},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>jingyantiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{374,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,14}}</string>
                <key>sourceSize</key>
                <string>{374,14}</string>
            </dict>
            <key>ph1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,432},{70,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{70,30}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,396},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,396},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,396},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph5.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,360},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph6.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,360},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,360},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph8.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,324},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>ph9.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,324},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>playerinfo_diban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{566,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,84}}</string>
                <key>sourceSize</key>
                <string>{566,84}</string>
            </dict>
            <key>playerinfo_diban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{280,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,214}}</string>
                <key>sourceSize</key>
                <string>{280,214}</string>
            </dict>
            <key>playerinfo_diban3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,749}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,749}}</string>
                <key>sourceSize</key>
                <string>{565,749}</string>
            </dict>
            <key>playerinfo_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,218},{146,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,34}}</string>
                <key>sourceSize</key>
                <string>{146,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgplayerinfolayer.png</string>
            <key>size</key>
            <string>{855,855}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4d2efa9d4862299e71dd85dcbcf8984:1/1$</string>
            <key>textureFileName</key>
            <string>sgplayerinfolayer.png</string>
        </dict>
    </dict>
</plist>
