<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3102_0attd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,213},{63,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>3102_0attd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>3102_0attd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,105},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>3102_0attd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,160},{61,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>3102_0attd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,324},{50,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,81}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>3102_0attd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,88},{42,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,82}</string>
            </dict>
            <key>3102_0attd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{55,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,107}}</string>
                <key>sourceSize</key>
                <string>{55,107}</string>
            </dict>
            <key>3102_0attd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,105},{57,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,106}}</string>
                <key>sourceSize</key>
                <string>{57,106}</string>
            </dict>
            <key>3102_0attd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{91,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{91,70}</string>
            </dict>
            <key>3102_0attd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{94,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{94,67}</string>
            </dict>
            <key>3102_0attu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,231},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>3102_0attu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,242},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>3102_0attu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,67},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>3102_0attu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,199},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{59,84}</string>
            </dict>
            <key>3102_0attu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,74},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>3102_0attu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,312},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>3102_0attu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,312},{53,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,104}}</string>
                <key>sourceSize</key>
                <string>{53,104}</string>
            </dict>
            <key>3102_0attu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,312},{57,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,105}}</string>
                <key>sourceSize</key>
                <string>{57,105}</string>
            </dict>
            <key>3102_0attu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,71},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>3102_0attu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,153},{75,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,80}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>3102_0daiji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,153},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>3102_0daiji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,235},{65,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,75}}</string>
                <key>sourceSize</key>
                <string>{65,75}</string>
            </dict>
            <key>3102_0daiji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,324},{65,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{65,74}</string>
            </dict>
            <key>3102_0daiji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,394},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>3102_0daiji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,315},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>3102_0moved1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,367},{29,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,82}}</string>
                <key>sourceSize</key>
                <string>{29,82}</string>
            </dict>
            <key>3102_0moved2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,367},{29,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,81}}</string>
                <key>sourceSize</key>
                <string>{29,81}</string>
            </dict>
            <key>3102_0moved3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,71},{29,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,80}}</string>
                <key>sourceSize</key>
                <string>{29,80}</string>
            </dict>
            <key>3102_0moved4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,231},{29,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,82}}</string>
                <key>sourceSize</key>
                <string>{29,82}</string>
            </dict>
            <key>3102_0moved5.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,419},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>3102_0moved6.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,434},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>3102_0moved7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,74},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>3102_0moved8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>3102_0moved9.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,172},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>3102_0moveu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,367},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>3102_0moveu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,400},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>3102_0moveu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,407},{29,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,61}}</string>
                <key>sourceSize</key>
                <string>{29,61}</string>
            </dict>
            <key>3102_0moveu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,219},{31,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,64}}</string>
                <key>sourceSize</key>
                <string>{31,64}</string>
            </dict>
            <key>3102_0moveu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>3102_0moveu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,418},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>3102_0moveu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,407},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>3102_0moveu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,47},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>3102_0moveu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,315},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>3102_0zhunbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,101}}</string>
                <key>sourceSize</key>
                <string>{75,101}</string>
            </dict>
            <key>3102_0zhunbei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>3102_0zhunbei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{75,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,101}}</string>
                <key>sourceSize</key>
                <string>{75,101}</string>
            </dict>
            <key>3102_0zhunbei4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{75,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{75,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3102_0.png</string>
            <key>size</key>
            <string>{471,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1feda45ef410dcc613dd4dba88e9e611:1/1$</string>
            <key>textureFileName</key>
            <string>3102_0.png</string>
        </dict>
    </dict>
</plist>
