<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bqsl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,251},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bqsl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{165,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,99}}</string>
                <key>sourceSize</key>
                <string>{165,99}</string>
            </dict>
            <key>bqsl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{168,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,95}}</string>
                <key>sourceSize</key>
                <string>{168,95}</string>
            </dict>
            <key>bqsl_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,95}}</string>
                <key>sourceSize</key>
                <string>{219,95}</string>
            </dict>
            <key>bqsl_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,196},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
            <key>bqsl_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bqsl_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,326},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>bqsl_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,185},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>bqsl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,261},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bqsl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,316},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>bqsl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,180},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>bqsl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,318},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>bqsl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>bqsl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,293},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>bqsl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,103},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>bqsl_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,103},{103,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,80}}</string>
                <key>sourceSize</key>
                <string>{103,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bqsl.png</string>
            <key>size</key>
            <string>{390,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dae0ccaaeb5542cb8110d8558f8cf4e:1/1$</string>
            <key>textureFileName</key>
            <string>bqsl.png</string>
        </dict>
    </dict>
</plist>
