<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>djjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>djjx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>djjx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{26,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,7}}</string>
                <key>sourceSize</key>
                <string>{26,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>djjx_new.png</string>
            <key>size</key>
            <string>{120,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc167f3cc02a6e7197754f598fce261:1/1$</string>
            <key>textureFileName</key>
            <string>djjx_new.png</string>
        </dict>
    </dict>
</plist>
