<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phoenix_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,510},{102,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,72}}</string>
                <key>sourceSize</key>
                <string>{102,72}</string>
            </dict>
            <key>phoenix_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,391},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>phoenix_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,356},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>phoenix_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,225},{102,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,129}}</string>
                <key>sourceSize</key>
                <string>{102,129}</string>
            </dict>
            <key>phoenix_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,382},{102,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,184}}</string>
                <key>sourceSize</key>
                <string>{102,184}</string>
            </dict>
            <key>phoenix_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,203},{102,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,186}}</string>
                <key>sourceSize</key>
                <string>{102,186}</string>
            </dict>
            <key>phoenix_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,192},{102,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,188}}</string>
                <key>sourceSize</key>
                <string>{102,188}</string>
            </dict>
            <key>phoenix_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,188}}</string>
                <key>sourceSize</key>
                <string>{102,188}</string>
            </dict>
            <key>phoenix_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,199}}</string>
                <key>sourceSize</key>
                <string>{102,199}</string>
            </dict>
            <key>phoenix_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,221}}</string>
                <key>sourceSize</key>
                <string>{102,221}</string>
            </dict>
            <key>phoenix_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,265},{102,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,243}}</string>
                <key>sourceSize</key>
                <string>{102,243}</string>
            </dict>
            <key>phoenix_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,261}}</string>
                <key>sourceSize</key>
                <string>{102,261}</string>
            </dict>
            <key>phoenix_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,293},{102,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,276}}</string>
                <key>sourceSize</key>
                <string>{102,276}</string>
            </dict>
            <key>phoenix_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,289}}</string>
                <key>sourceSize</key>
                <string>{102,289}</string>
            </dict>
            <key>phoenix_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{102,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,294}}</string>
                <key>sourceSize</key>
                <string>{102,294}</string>
            </dict>
            <key>phoenix_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,298}}</string>
                <key>sourceSize</key>
                <string>{102,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanShi.png</string>
            <key>size</key>
            <string>{626,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d43a595997194a4cac68478a893f0c0:1/1$</string>
            <key>textureFileName</key>
            <string>fanShi.png</string>
        </dict>
    </dict>
</plist>
