<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke&amp;weapon-lights1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>smoke&amp;weapon-lights2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,323},{138,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,113}}</string>
                <key>sourceSize</key>
                <string>{138,113}</string>
            </dict>
            <key>smoke&amp;weapon-lights3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{155,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,151}}</string>
                <key>sourceSize</key>
                <string>{155,151}</string>
            </dict>
            <key>smoke&amp;weapon-lights4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,162},{166,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,159}}</string>
                <key>sourceSize</key>
                <string>{168,159}</string>
            </dict>
            <key>smoke&amp;weapon-lights5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{173,158}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{173,158}}</string>
                <key>sourceSize</key>
                <string>{175,160}</string>
            </dict>
            <key>smoke&amp;weapon-lights6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{174,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{174,154}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>smoke&amp;weapon-lights7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{172,162}}</string>
                <key>sourceSize</key>
                <string>{172,168}</string>
            </dict>
            <key>smoke&amp;weapon-lights8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,323},{166,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,149}}</string>
                <key>sourceSize</key>
                <string>{166,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fanXi.png</string>
            <key>size</key>
            <string>{475,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80faec30bd0d64da27c539748bafe475:1/1$</string>
            <key>textureFileName</key>
            <string>fanXi.png</string>
        </dict>
    </dict>
</plist>
