<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fylts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,480},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>fylts_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,408},{111,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>sourceSize</key>
                <string>{111,115}</string>
            </dict>
            <key>fylts_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,171},{109,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,117}}</string>
                <key>sourceSize</key>
                <string>{109,117}</string>
            </dict>
            <key>fylts_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{107,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,117}}</string>
                <key>sourceSize</key>
                <string>{107,117}</string>
            </dict>
            <key>fylts_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,290},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>fylts_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,121},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>fylts_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,445},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>fylts_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,333},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>fylts_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,112},{117,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,107}}</string>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>fylts_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,237},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>fylts_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>fylts_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>fylts_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,445},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>fylts_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,221},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>fylts_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{117,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>fylts_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,116},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>fylts_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,480},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>fylts_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{151,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,117}}</string>
                <key>sourceSize</key>
                <string>{151,117}</string>
            </dict>
            <key>fylts_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{131,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,167}}</string>
                <key>sourceSize</key>
                <string>{131,167}</string>
            </dict>
            <key>fylts_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,188}}</string>
                <key>sourceSize</key>
                <string>{80,188}</string>
            </dict>
            <key>fylts_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{131,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,167}}</string>
                <key>sourceSize</key>
                <string>{131,167}</string>
            </dict>
            <key>fylts_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,480},{39,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,58}}</string>
                <key>sourceSize</key>
                <string>{39,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fylts.png</string>
            <key>size</key>
            <string>{563,563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd29abf6017484cda819caae763af33e:1/1$</string>
            <key>textureFileName</key>
            <string>fylts.png</string>
        </dict>
    </dict>
</plist>
