<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G_Starlight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,188}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>G_Starlight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,188}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>G_Starlight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{188,188}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>G_Starlight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,192},{168,188}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{168,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>G_Starlight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,192},{156,188}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{156,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>G_Starlight.png</string>
            <key>size</key>
            <string>{520,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fff151fd943053664baa2b8753ea2a1f:1/1$</string>
            <key>textureFileName</key>
            <string>G_Starlight.png</string>
        </dict>
    </dict>
</plist>
