<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hfc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{171,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,166}}</string>
                <key>sourceSize</key>
                <string>{171,166}</string>
            </dict>
            <key>hfc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,122},{112,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,92}}</string>
                <key>sourceSize</key>
                <string>{112,92}</string>
            </dict>
            <key>hfc_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,216},{110,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,90}}</string>
                <key>sourceSize</key>
                <string>{110,90}</string>
            </dict>
            <key>hfc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,401},{108,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,89}}</string>
                <key>sourceSize</key>
                <string>{108,89}</string>
            </dict>
            <key>hfc_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{106,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>hfc_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,311},{103,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,96}}</string>
                <key>sourceSize</key>
                <string>{103,96}</string>
            </dict>
            <key>hfc_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,216},{101,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>hfc_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,308},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>hfc_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{153,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,161}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>hfc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,146}}</string>
                <key>sourceSize</key>
                <string>{175,146}</string>
            </dict>
            <key>hfc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{119,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,118}}</string>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>hfc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,313},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>hfc_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,170},{81,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,86}</string>
            </dict>
            <key>hfc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,170},{71,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,43}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>hfc_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,413},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>hfc_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{106,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,71}}</string>
                <key>sourceSize</key>
                <string>{106,71}</string>
            </dict>
            <key>hfc_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,409},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,79}}</string>
                <key>sourceSize</key>
                <string>{108,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hfc.png</string>
            <key>size</key>
            <string>{492,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5852ae381727338327c49870213361c5:1/1$</string>
            <key>textureFileName</key>
            <string>hfc.png</string>
        </dict>
    </dict>
</plist>
