<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,425},{155,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,118}}</string>
                <key>sourceSize</key>
                <string>{155,118}</string>
            </dict>
            <key>hq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{213,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,176}}</string>
                <key>sourceSize</key>
                <string>{213,176}</string>
            </dict>
            <key>hq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,204},{240,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,219}}</string>
                <key>sourceSize</key>
                <string>{240,219}</string>
            </dict>
            <key>hq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,245}}</string>
                <key>sourceSize</key>
                <string>{264,245}</string>
            </dict>
            <key>hq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{264,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,200}}</string>
                <key>sourceSize</key>
                <string>{264,200}</string>
            </dict>
            <key>hq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,425},{165,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,137}}</string>
                <key>sourceSize</key>
                <string>{165,137}</string>
            </dict>
            <key>hq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hq.png</string>
            <key>size</key>
            <string>{564,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f719407fb4350d9d530bb1634c8f321:1/1$</string>
            <key>textureFileName</key>
            <string>hq.png</string>
        </dict>
    </dict>
</plist>
