<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Yqiatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,480},{188,152}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,63},{188,152}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_Yqiatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,480},{224,222}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{224,222}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_Yqiatt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,252},{254,226}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{254,226}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_Yqiatt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{270,248}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{270,248}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_Yqiatt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,246}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{282,246}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_Yqiatt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{280,244}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{280,244}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_Yqiatt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{276,186}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{276,186}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_105.png</string>
            <key>size</key>
            <string>{704,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b489ce74cfc1b965d45bba6dd7fc649a:1/1$</string>
            <key>textureFileName</key>
            <string>jian_105.png</string>
        </dict>
    </dict>
</plist>
