<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyu_atteff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,181},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{154,158}</string>
            </dict>
            <key>zhouyu_atteff10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,342},{116,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,123}}</string>
                <key>sourceSize</key>
                <string>{116,123}</string>
            </dict>
            <key>zhouyu_atteff11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>zhouyu_atteff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{180,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,169}}</string>
                <key>sourceSize</key>
                <string>{180,169}</string>
            </dict>
            <key>zhouyu_atteff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{192,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,177}}</string>
                <key>sourceSize</key>
                <string>{192,177}</string>
            </dict>
            <key>zhouyu_atteff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,167}}</string>
                <key>sourceSize</key>
                <string>{193,167}</string>
            </dict>
            <key>zhouyu_atteff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>zhouyu_atteff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,290},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>zhouyu_atteff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,181},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>zhouyu_atteff8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,341},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>zhouyu_atteff9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{114,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,127}}</string>
                <key>sourceSize</key>
                <string>{114,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_111_bz.png</string>
            <key>size</key>
            <string>{471,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:762f9d13b6a765ca85f8ad0cc83dd291:1/1$</string>
            <key>textureFileName</key>
            <string>jian_111_bz.png</string>
        </dict>
    </dict>
</plist>
