<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Bfireatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{272,240}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,73},{272,240}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{276,306}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{276,306}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,480},{276,340}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{276,340}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,480},{278,324}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{278,324}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,202},{278,276}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{278,276}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,202},{280,262}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,77},{280,262}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,198}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,135},{280,198}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
            <key>eff_Bfireatt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,164}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,168},{280,164}}</string>
                <key>sourceSize</key>
                <string>{280,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_100_bz.png</string>
            <key>size</key>
            <string>{838,838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa2a450f71000f53830243f8ef6d8d2d:1/1$</string>
            <key>textureFileName</key>
            <string>jian_100_bz.png</string>
        </dict>
    </dict>
</plist>
