<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_fly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,177},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,67}</string>
            </dict>
            <key>caocao_fly10.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{100,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,69}}</string>
                <key>sourceSize</key>
                <string>{100,69}</string>
            </dict>
            <key>caocao_fly11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{111,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,80}}</string>
                <key>sourceSize</key>
                <string>{111,80}</string>
            </dict>
            <key>caocao_fly12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,78}}</string>
                <key>sourceSize</key>
                <string>{119,78}</string>
            </dict>
            <key>caocao_fly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,177},{51,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>caocao_fly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{53,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,126}}</string>
                <key>sourceSize</key>
                <string>{53,126}</string>
            </dict>
            <key>caocao_fly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,164},{53,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,123}}</string>
                <key>sourceSize</key>
                <string>{53,123}</string>
            </dict>
            <key>caocao_fly5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,164},{51,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,115}}</string>
                <key>sourceSize</key>
                <string>{51,115}</string>
            </dict>
            <key>caocao_fly6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,158},{50,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,106}}</string>
                <key>sourceSize</key>
                <string>{50,106}</string>
            </dict>
            <key>caocao_fly7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>caocao_fly8.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,73},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>caocao_fly9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,93},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_108.png</string>
            <key>size</key>
            <string>{319,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:397d186f0688e8a752835ea49e474551:1/1$</string>
            <key>textureFileName</key>
            <string>jian_108.png</string>
        </dict>
    </dict>
</plist>
