<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Rrfiremove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,858},{288,264}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,137},{288,264}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove10.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{152,308}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,131},{152,308}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,490},{284,366}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,108},{284,366}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{292,480}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{292,480}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,486}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,56},{304,486}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{294,460}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,53},{294,460}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,364},{304,370}}</string>
                <key>offset</key>
                <string>{-9,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,50},{304,370}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{316,360}}</string>
                <key>offset</key>
                <string>{-11,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,53},{316,360}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,736},{298,362}}</string>
                <key>offset</key>
                <string>{-5,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{298,362}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>eff_Rrfiremove9.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,736},{206,328}}</string>
                <key>offset</key>
                <string>{7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,97},{206,328}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_106.png</string>
            <key>size</key>
            <string>{1124,1124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ccbe76cc6b55d8236eee9ab030c281f:1/1$</string>
            <key>textureFileName</key>
            <string>jian_106.png</string>
        </dict>
    </dict>
</plist>
