<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hqfx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{72,173}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{72,173}}</string>
                <key>sourceSize</key>
                <string>{88,179}</string>
            </dict>
            <key>hqfx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,183},{74,173}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{74,173}}</string>
                <key>sourceSize</key>
                <string>{88,179}</string>
            </dict>
            <key>hqfx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{88,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,179}}</string>
                <key>sourceSize</key>
                <string>{88,179}</string>
            </dict>
            <key>hqfx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,177},{72,171}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{72,171}}</string>
                <key>sourceSize</key>
                <string>{88,179}</string>
            </dict>
            <key>jian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,264}}</string>
                <key>offset</key>
                <string>{-3,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{248,264}}</string>
                <key>sourceSize</key>
                <string>{256,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_1.png</string>
            <key>size</key>
            <string>{416,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dd74d74bc24cae2b1224a8ef1f6a4eb:1/1$</string>
            <key>textureFileName</key>
            <string>jian_1.png</string>
        </dict>
    </dict>
</plist>
