<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_atteff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{117,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,201}}</string>
                <key>sourceSize</key>
                <string>{117,201}</string>
            </dict>
            <key>lb_atteff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,468},{232,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,196}}</string>
                <key>sourceSize</key>
                <string>{232,196}</string>
            </dict>
            <key>lb_atteff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{325,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,245}}</string>
                <key>sourceSize</key>
                <string>{325,245}</string>
            </dict>
            <key>lb_atteff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{337,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,235}}</string>
                <key>sourceSize</key>
                <string>{337,235}</string>
            </dict>
            <key>lb_atteff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{313,227}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,227}}</string>
                <key>sourceSize</key>
                <string>{313,237}</string>
            </dict>
            <key>lb_atteff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,249},{309,219}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,219}}</string>
                <key>sourceSize</key>
                <string>{309,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_107_bz.png</string>
            <key>size</key>
            <string>{671,671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5e2bea3451793646c086846aca163c9:1/1$</string>
            <key>textureFileName</key>
            <string>jian_107_bz.png</string>
        </dict>
    </dict>
</plist>
