<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Belemove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{276,334}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{276,334}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>eff_Belemove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,300},{226,330}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{226,330}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>eff_Belemove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{264,340}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{264,340}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>eff_Belemove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,340}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{276,340}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>eff_Belemove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,642},{218,312}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{218,312}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>eff_Belemove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,632},{228,300}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,40},{228,300}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>eff_Belemove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,344},{252,296}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,44},{252,296}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>eff_Belemove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{258,296}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,44},{258,296}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_102.png</string>
            <key>size</key>
            <string>{956,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd483b564b864e8454f3d57a7b0c1022:1/1$</string>
            <key>textureFileName</key>
            <string>jian_102.png</string>
        </dict>
    </dict>
</plist>
