<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Bfiremove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,191},{129,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,178}}</string>
                <key>sourceSize</key>
                <string>{129,178}</string>
            </dict>
            <key>eff_Bfiremove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>eff_Bfiremove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,191},{126,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,176}}</string>
                <key>sourceSize</key>
                <string>{126,176}</string>
            </dict>
            <key>eff_Bfiremove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{131,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,187}}</string>
                <key>sourceSize</key>
                <string>{131,187}</string>
            </dict>
            <key>eff_Bfiremove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,195},{130,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,189}}</string>
                <key>sourceSize</key>
                <string>{130,189}</string>
            </dict>
            <key>eff_Bfiremove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{129,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,191}}</string>
                <key>sourceSize</key>
                <string>{129,191}</string>
            </dict>
            <key>eff_Bfiremove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{133,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,193}}</string>
                <key>sourceSize</key>
                <string>{133,193}</string>
            </dict>
            <key>eff_Bfiremove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,193}}</string>
                <key>sourceSize</key>
                <string>{133,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_100.png</string>
            <key>size</key>
            <string>{528,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d8492ac0a7fd2fb110476d6a89bc8ce:1/1$</string>
            <key>textureFileName</key>
            <string>jian_100.png</string>
        </dict>
    </dict>
</plist>
