<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Biceatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,298},{268,160}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,122},{268,160}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>eff_Biceatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{244,286}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{244,286}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>eff_Biceatt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{272,294}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{272,294}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>eff_Biceatt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,298},{268,266}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{268,266}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>eff_Biceatt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,566},{294,264}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,58},{294,264}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>eff_Biceatt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,286}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,61},{298,286}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>eff_Biceatt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{298,268}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,82},{298,268}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
            <key>eff_Biceatt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{298,242}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,108},{298,242}}</string>
                <key>sourceSize</key>
                <string>{330,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_104_bz.png</string>
            <key>size</key>
            <string>{842,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c777847acbb0115d6e8babb95e4b8c6:1/1$</string>
            <key>textureFileName</key>
            <string>jian_104_bz.png</string>
        </dict>
    </dict>
</plist>
