<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Rrfireatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{400,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{400,392}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_Rrfireatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,394}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{398,394}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_Rrfireatt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{366,394}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{366,394}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_Rrfireatt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,398},{322,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{322,394}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_Rrfireatt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,398},{296,392}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{296,392}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_Rrfireatt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{278,308}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,45},{278,308}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_Rrfireatt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{260,220}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,90},{260,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>eff_Rrfireatt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,792},{242,216}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,91},{242,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_106_bz.png</string>
            <key>size</key>
            <string>{1050,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aef9e60fe91250a3f0b441030e3e434:1/1$</string>
            <key>textureFileName</key>
            <string>jian_106_bz.png</string>
        </dict>
    </dict>
</plist>
