<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Bwingatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,312},{270,238}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,63},{270,238}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_Bwingatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,312},{314,288}}</string>
                <key>offset</key>
                <string>{18,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,62},{314,288}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_Bwingatt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,602},{310,286}}</string>
                <key>offset</key>
                <string>{20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{310,286}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_Bwingatt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,336}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{350,336}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_Bwingatt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{350,324}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{350,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_Bwingatt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{346,308}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{346,308}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_Bwingatt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,666},{302,284}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{302,284}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>eff_Bwingatt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{312,262}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{312,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_101_bz.png</string>
            <key>size</key>
            <string>{952,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7beaf7f21e5c76844107e7fa7d019f88:1/1$</string>
            <key>textureFileName</key>
            <string>jian_101_bz.png</string>
        </dict>
    </dict>
</plist>
