<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,278},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,99}}</string>
                <key>sourceSize</key>
                <string>{65,99}</string>
            </dict>
            <key>bgj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,278},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>bgj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,129},{142,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,147}}</string>
                <key>sourceSize</key>
                <string>{142,147}</string>
            </dict>
            <key>bgj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{165,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,163}}</string>
                <key>sourceSize</key>
                <string>{165,163}</string>
            </dict>
            <key>bgj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,181}}</string>
                <key>sourceSize</key>
                <string>{180,181}</string>
            </dict>
            <key>bgj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{173,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,125}}</string>
                <key>sourceSize</key>
                <string>{173,125}</string>
            </dict>
            <key>bgj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_2_bz.png</string>
            <key>size</key>
            <string>{398,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba4c3d41fa0935de4260a1627082bd8:1/1$</string>
            <key>textureFileName</key>
            <string>jian_2_bz.png</string>
        </dict>
    </dict>
</plist>
