<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Yqimove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,310},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
            <key>eff_Yqimove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,310},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
            <key>eff_Yqimove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
            <key>eff_Yqimove4.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
            <key>eff_Yqimove5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,310},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
            <key>eff_Yqimove6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
            <key>eff_Yqimove7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
            <key>eff_Yqimove8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,306}}</string>
                <key>sourceSize</key>
                <string>{153,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_105_bz.png</string>
            <key>size</key>
            <string>{622,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d719c2f550a1b8fb36a7b4284cde6f00:1/1$</string>
            <key>textureFileName</key>
            <string>jian_105_bz.png</string>
        </dict>
    </dict>
</plist>
