<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ybjs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,334},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>ybjs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,183},{112,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,123}}</string>
                <key>sourceSize</key>
                <string>{112,123}</string>
            </dict>
            <key>ybjs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,334},{136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>ybjs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,183},{178,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,149}}</string>
                <key>sourceSize</key>
                <string>{178,149}</string>
            </dict>
            <key>ybjs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{217,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,179}}</string>
                <key>sourceSize</key>
                <string>{217,179}</string>
            </dict>
            <key>ybjs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,185}}</string>
                <key>sourceSize</key>
                <string>{231,185}</string>
            </dict>
            <key>ybjs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{210,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,159}}</string>
                <key>sourceSize</key>
                <string>{210,159}</string>
            </dict>
            <key>ybjs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{228,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,183}}</string>
                <key>sourceSize</key>
                <string>{228,183}</string>
            </dict>
            <key>ybjs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,189},{1,1}}</string>
                <key>offset</key>
                <string>{-17.5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_1_bz.png</string>
            <key>size</key>
            <string>{535,535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cec3e48ad278a79d46ef08cae5fedf5b:1/1$</string>
            <key>textureFileName</key>
            <string>jian_1_bz.png</string>
        </dict>
    </dict>
</plist>
