<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_Bqiatt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,428},{172,164}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,49},{172,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>eff_Bqiatt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{400,172}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{400,172}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>eff_Bqiatt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,250}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{400,250}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>eff_Bqiatt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{332,292}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,8},{332,292}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>eff_Bqiatt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{256,164}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{256,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>eff_Bqiatt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,168},{232,90}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,89},{232,90}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_103_bz.png</string>
            <key>size</key>
            <string>{722,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9419756d3536ae4e1b495d90eedb0ca4:1/1$</string>
            <key>textureFileName</key>
            <string>jian_103_bz.png</string>
        </dict>
    </dict>
</plist>
