<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dqiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{172,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{172,159}}</string>
                <key>sourceSize</key>
                <string>{176,163}</string>
            </dict>
            <key>dqiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,322},{152,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,35}}</string>
                <key>sourceSize</key>
                <string>{152,35}</string>
            </dict>
            <key>dqiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,147},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dqiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,215},{166,159}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{166,159}}</string>
                <key>sourceSize</key>
                <string>{176,163}</string>
            </dict>
            <key>dqiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,167},{170,153}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{170,153}}</string>
                <key>sourceSize</key>
                <string>{176,163}</string>
            </dict>
            <key>dqiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{176,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{176,143}}</string>
                <key>sourceSize</key>
                <string>{176,163}</string>
            </dict>
            <key>dqiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,359},{132,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{132,92}</string>
            </dict>
            <key>dqiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,376},{177,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,128}}</string>
                <key>sourceSize</key>
                <string>{177,128}</string>
            </dict>
            <key>dqiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{212,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,163}}</string>
                <key>sourceSize</key>
                <string>{212,163}</string>
            </dict>
            <key>dqiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>dqiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{190,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,66}}</string>
                <key>sourceSize</key>
                <string>{190,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jian_9.png</string>
            <key>size</key>
            <string>{521,521}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbc0ac9ca89621a7b1404733cd8e101c:1/1$</string>
            <key>textureFileName</key>
            <string>jian_9.png</string>
        </dict>
    </dict>
</plist>
