<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,159},{34,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,159},{34,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,121},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,79},{38,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,45},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{42,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,45},{46,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{40,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{40,26}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>jinbi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,77}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{75,69}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{75,69}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{85,41}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,193},{32,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{85,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{85,41}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,81},{75,75}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{75,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>jinbi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,193},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{22,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,158},{24,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{24,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,121},{22,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{22,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,195},{32,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>jinbi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,30},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,34}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,158},{40,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>jinbi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,192},{38,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinb.png</string>
            <key>size</key>
            <string>{227,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df8347155f5ca5a7485fba6375bc6225:1/1$</string>
            <key>textureFileName</key>
            <string>jinb.png</string>
        </dict>
    </dict>
</plist>
