<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,251},{72,196}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{72,196}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{223,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,142}}</string>
                <key>sourceSize</key>
                <string>{223,142}</string>
            </dict>
            <key>jx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,141}}</string>
                <key>sourceSize</key>
                <string>{226,141}</string>
            </dict>
            <key>jx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{223,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,103}}</string>
                <key>sourceSize</key>
                <string>{223,103}</string>
            </dict>
            <key>jx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,390},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>jx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,145},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>jx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,361},{74,184}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,184}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,192},{76,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,196}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{80,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{80,188}}</string>
                <key>sourceSize</key>
                <string>{80,200}</string>
            </dict>
            <key>jx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,361},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>jx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,251},{140,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,108}}</string>
                <key>sourceSize</key>
                <string>{140,108}</string>
            </dict>
            <key>jx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,137},{192,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,112}}</string>
                <key>sourceSize</key>
                <string>{192,112}</string>
            </dict>
            <key>jx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{208,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,123}}</string>
                <key>sourceSize</key>
                <string>{208,123}</string>
            </dict>
            <key>jx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{213,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,133}}</string>
                <key>sourceSize</key>
                <string>{213,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jxbz.png</string>
            <key>size</key>
            <string>{547,547}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eaf5dd0deeb5bbc10fbc69b9f29e5c1:1/1$</string>
            <key>textureFileName</key>
            <string>jxbz.png</string>
        </dict>
    </dict>
</plist>
