<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jzan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{19,19}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{19,19}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,168},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,238},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,238},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,176},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,107},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,176},{91,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,60}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>jzan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,47},{117,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,58}}</string>
                <key>sourceSize</key>
                <string>{117,58}</string>
            </dict>
            <key>jzan_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,55},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>jzan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{23,23}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{23,23}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>jzan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{95,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,43}</string>
            </dict>
            <key>jzan_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-19.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>jzan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{33,27}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{33,27}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{47,27}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{47,27}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{57,51}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,51}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,115},{57,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,115},{57,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,107},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jzan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jzan.png</string>
            <key>size</key>
            <string>{310,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e33f098cca8285e5986793c731388b:1/1$</string>
            <key>textureFileName</key>
            <string>jzan.png</string>
        </dict>
    </dict>
</plist>
