<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KMFG_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,687}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,687}}</string>
                <key>sourceSize</key>
                <string>{165,687}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KMFG_8.png</string>
            <key>size</key>
            <string>{691,691}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea13ccf808ce3ac3e6d47756e3fc8797:1/1$</string>
            <key>textureFileName</key>
            <string>KMFG_8.png</string>
        </dict>
    </dict>
</plist>
