<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KMFG_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{589,807}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,807}}</string>
                <key>sourceSize</key>
                <string>{589,807}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KMFG_10.png</string>
            <key>size</key>
            <string>{811,811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fccd3c97770b92ee70842088e295925:1/1$</string>
            <key>textureFileName</key>
            <string>KMFG_10.png</string>
        </dict>
    </dict>
</plist>
