<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KMFG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,575}}</string>
                <key>sourceSize</key>
                <string>{80,575}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KMFG_2.png</string>
            <key>size</key>
            <string>{579,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e48b6a13c677a6553fd9f85de6dd1a5:1/1$</string>
            <key>textureFileName</key>
            <string>KMFG_2.png</string>
        </dict>
    </dict>
</plist>
