<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>long_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,400}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,400}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>long_00010.png</string>
            <key>size</key>
            <string>{684,684}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60ec6d64cc6242143f3df3fd6aecea02:1/1$</string>
            <key>textureFileName</key>
            <string>long_00010.png</string>
        </dict>
    </dict>
</plist>
