<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>long_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{672,400}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,400}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>long_00012.png</string>
            <key>size</key>
            <string>{676,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f254a4721b16c5c48f034c857de3136:1/1$</string>
            <key>textureFileName</key>
            <string>long_00012.png</string>
        </dict>
    </dict>
</plist>
