<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>long_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,400}}</string>
                <key>offset</key>
                <string>{136,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,0},{428,400}}</string>
                <key>sourceSize</key>
                <string>{700,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>long_00004.png</string>
            <key>size</key>
            <string>{432,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1230dd56a68f9c7f04a22e58f42720ba:1/1$</string>
            <key>textureFileName</key>
            <string>long_00004.png</string>
        </dict>
    </dict>
</plist>
