<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_icon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>ls_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>ls_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>ls_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{66,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,23}}</string>
                <key>sourceSize</key>
                <string>{66,23}</string>
            </dict>
            <key>rh_icon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rh_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rh_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,75},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rh_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,27},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rh_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rh_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,50},{36,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rh_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,98},{32,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>rh_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,100},{24,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lsrh_icon.png</string>
            <key>size</key>
            <string>{154,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5158577eda445a997126d431cd34695c:1/1$</string>
            <key>textureFileName</key>
            <string>lsrh_icon.png</string>
        </dict>
    </dict>
</plist>
