<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lsxf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,303},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>lsxf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,303},{133,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,89}}</string>
                <key>sourceSize</key>
                <string>{133,89}</string>
            </dict>
            <key>lsxf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,493},{157,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,103}}</string>
                <key>sourceSize</key>
                <string>{157,103}</string>
            </dict>
            <key>lsxf_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{176,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,118}}</string>
                <key>sourceSize</key>
                <string>{176,118}</string>
            </dict>
            <key>lsxf_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{168,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,153}}</string>
                <key>sourceSize</key>
                <string>{168,153}</string>
            </dict>
            <key>lsxf_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,346},{157,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,145}}</string>
                <key>sourceSize</key>
                <string>{157,145}</string>
            </dict>
            <key>lsxf_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,162},{162,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,139}}</string>
                <key>sourceSize</key>
                <string>{162,139}</string>
            </dict>
            <key>lsxf_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,157},{157,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,144}}</string>
                <key>sourceSize</key>
                <string>{157,144}</string>
            </dict>
            <key>lsxf_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{163,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,161}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>lsxf_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>lsxf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,539},{92,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,51}}</string>
                <key>sourceSize</key>
                <string>{92,51}</string>
            </dict>
            <key>lsxf_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{170,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,158}}</string>
                <key>sourceSize</key>
                <string>{170,158}</string>
            </dict>
            <key>lsxf_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{150,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>lsxf_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,394},{125,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,143}}</string>
                <key>sourceSize</key>
                <string>{125,143}</string>
            </dict>
            <key>lsxf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{104,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,151}}</string>
                <key>sourceSize</key>
                <string>{104,151}</string>
            </dict>
            <key>lsxf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,157},{80,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,143}}</string>
                <key>sourceSize</key>
                <string>{80,143}</string>
            </dict>
            <key>lsxf_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,394},{80,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,213}}</string>
                <key>sourceSize</key>
                <string>{80,213}</string>
            </dict>
            <key>lsxf_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,358},{63,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,104}}</string>
                <key>sourceSize</key>
                <string>{63,104}</string>
            </dict>
            <key>lsxf_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,464},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>lsxf_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,303},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>lsxf_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,302},{63,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,54}}</string>
                <key>sourceSize</key>
                <string>{63,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lssf.png</string>
            <key>size</key>
            <string>{628,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:846f0ed1d7d51a18c60ed41a24bb602d:1/1$</string>
            <key>textureFileName</key>
            <string>lssf.png</string>
        </dict>
    </dict>
</plist>
