<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nlq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,132},{71,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,89}</string>
            </dict>
            <key>nlq_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>nlq_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,99},{97,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{97,89}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>nlq_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,357},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,271},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,309},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,335},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,223},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,249},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,185},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,99},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>nlq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,132},{83,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,115}}</string>
                <key>sourceSize</key>
                <string>{83,115}</string>
            </dict>
            <key>nlq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{127,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,128}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>nlq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,155}}</string>
                <key>sourceSize</key>
                <string>{113,155}</string>
            </dict>
            <key>nlq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{113,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,130}</string>
            </dict>
            <key>nlq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{78,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>nlq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,190},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>nlq_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
            <key>nlq_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{101,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,95}}</string>
                <key>sourceSize</key>
                <string>{101,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nlq.png</string>
            <key>size</key>
            <string>{460,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:417033ef540215c2cd410675d717c372:1/1$</string>
            <key>textureFileName</key>
            <string>nlq.png</string>
        </dict>
    </dict>
</plist>
