<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,679},{277,327}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{277,327}}</string>
                <key>sourceSize</key>
                <string>{287,331}</string>
            </dict>
            <key>k0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{305,339}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{305,339}}</string>
                <key>sourceSize</key>
                <string>{307,341}</string>
            </dict>
            <key>k0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,345},{288,337}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{288,337}}</string>
                <key>sourceSize</key>
                <string>{290,339}</string>
            </dict>
            <key>k0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,341}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{313,341}}</string>
                <key>sourceSize</key>
                <string>{315,343}</string>
            </dict>
            <key>k0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,343},{300,334}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{300,334}}</string>
                <key>sourceSize</key>
                <string>{302,336}</string>
            </dict>
            <key>k0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{302,335}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{302,335}}</string>
                <key>sourceSize</key>
                <string>{304,337}</string>
            </dict>
            <key>k0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{305,343}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{305,343}}</string>
                <key>sourceSize</key>
                <string>{307,345}</string>
            </dict>
            <key>k0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,684},{310,326}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{310,326}}</string>
                <key>sourceSize</key>
                <string>{312,328}</string>
            </dict>
            <key>k0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{238,241}}</string>
                <key>offset</key>
                <string>{34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,54},{238,241}}</string>
                <key>sourceSize</key>
                <string>{306,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>officer_developing_effect2.png</string>
            <key>size</key>
            <string>{1012,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c26ef4e91bf5c93a167e0d7964bf9e8e:1/1$</string>
            <key>textureFileName</key>
            <string>officer_developing_effect2.png</string>
        </dict>
    </dict>
</plist>
