<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{101,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,200}}</string>
                <key>sourceSize</key>
                <string>{101,200}</string>
            </dict>
            <key>skull01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,200}}</string>
                <key>sourceSize</key>
                <string>{101,200}</string>
            </dict>
            <key>skull02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,200}}</string>
                <key>sourceSize</key>
                <string>{101,200}</string>
            </dict>
            <key>skull03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{56,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,161}}</string>
                <key>sourceSize</key>
                <string>{56,161}</string>
            </dict>
            <key>skull04.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,204},{47,126}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,126}}</string>
                <key>sourceSize</key>
                <string>{53,126}</string>
            </dict>
            <key>skull05.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,208},{49,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{49,90}}</string>
                <key>sourceSize</key>
                <string>{53,126}</string>
            </dict>
            <key>skull06.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,204},{50,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,94}}</string>
                <key>sourceSize</key>
                <string>{52,96}</string>
            </dict>
            <key>skull07.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,107},{52,99}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{52,99}}</string>
                <key>sourceSize</key>
                <string>{58,107}</string>
            </dict>
            <key>skull08.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{54,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,103}}</string>
                <key>sourceSize</key>
                <string>{58,107}</string>
            </dict>
            <key>skull09.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,208},{56,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,105}}</string>
                <key>sourceSize</key>
                <string>{58,107}</string>
            </dict>
            <key>skull10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,208},{58,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,105}}</string>
                <key>sourceSize</key>
                <string>{58,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paoXiao.png</string>
            <key>size</key>
            <string>{367,367}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be370133a1313cc948dbff070faabc80:1/1$</string>
            <key>textureFileName</key>
            <string>paoXiao.png</string>
        </dict>
    </dict>
</plist>
