<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qbhq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,93},{90,89}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{90,89}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>qbhq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{92,91}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{92,91}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>qbhq_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,103}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>qbhq_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{90,89}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{90,89}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qbhq.png</string>
            <key>size</key>
            <string>{206,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c35fa71513d28620a5b435881e98cfca:1/1$</string>
            <key>textureFileName</key>
            <string>qbhq.png</string>
        </dict>
    </dict>
</plist>
