<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qbx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,150}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>qbx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>qbx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>qbx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,109},{93,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,101}}</string>
                <key>sourceSize</key>
                <string>{93,101}</string>
            </dict>
            <key>qbx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,212},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qbx.png</string>
            <key>size</key>
            <string>{289,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:120961478f209d4247b1a111373cca05:1/1$</string>
            <key>textureFileName</key>
            <string>qbx.png</string>
        </dict>
    </dict>
</plist>
