<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,830},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>qh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,302},{174,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{174,110}}</string>
                <key>sourceSize</key>
                <string>{174,112}</string>
            </dict>
            <key>qh_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{268,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,146}}</string>
                <key>sourceSize</key>
                <string>{268,146}</string>
            </dict>
            <key>qh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{268,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{268,144}}</string>
                <key>sourceSize</key>
                <string>{268,146}</string>
            </dict>
            <key>qh_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,528},{214,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,134}}</string>
                <key>sourceSize</key>
                <string>{214,134}</string>
            </dict>
            <key>qh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,318},{252,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,110}}</string>
                <key>sourceSize</key>
                <string>{252,110}</string>
            </dict>
            <key>qh_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{282,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,170}}</string>
                <key>sourceSize</key>
                <string>{282,170}</string>
            </dict>
            <key>qh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{276,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,174}}</string>
                <key>sourceSize</key>
                <string>{276,174}</string>
            </dict>
            <key>qh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,412},{82,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,50}}</string>
                <key>sourceSize</key>
                <string>{82,50}</string>
            </dict>
            <key>qh_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,430},{246,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,96}}</string>
                <key>sourceSize</key>
                <string>{246,96}</string>
            </dict>
            <key>qh_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,178},{258,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,122}}</string>
                <key>sourceSize</key>
                <string>{258,122}</string>
            </dict>
            <key>qh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,414},{130,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,62}}</string>
                <key>sourceSize</key>
                <string>{130,62}</string>
            </dict>
            <key>qh_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,174},{260,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,142}}</string>
                <key>sourceSize</key>
                <string>{260,142}</string>
            </dict>
            <key>qh_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{262,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,188}}</string>
                <key>sourceSize</key>
                <string>{262,188}</string>
            </dict>
            <key>qh_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,202}}</string>
                <key>sourceSize</key>
                <string>{260,204}</string>
            </dict>
            <key>qh_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{256,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,158}}</string>
                <key>sourceSize</key>
                <string>{256,158}</string>
            </dict>
            <key>qh_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,178},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>qh_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,464},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>qh_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,302},{44,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,108}}</string>
                <key>sourceSize</key>
                <string>{44,108}</string>
            </dict>
            <key>qh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,414},{112,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,62}}</string>
                <key>sourceSize</key>
                <string>{112,62}</string>
            </dict>
            <key>qh_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,690},{44,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,106}}</string>
                <key>sourceSize</key>
                <string>{44,106}</string>
            </dict>
            <key>qh_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,302},{46,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,110}}</string>
                <key>sourceSize</key>
                <string>{46,110}</string>
            </dict>
            <key>qh_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,712},{46,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{46,78}</string>
            </dict>
            <key>qh_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,664},{44,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,164}}</string>
                <key>sourceSize</key>
                <string>{44,164}</string>
            </dict>
            <key>qh_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,664},{48,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,164}}</string>
                <key>sourceSize</key>
                <string>{48,164}</string>
            </dict>
            <key>qh_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,164},{46,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,158}}</string>
                <key>sourceSize</key>
                <string>{46,158}</string>
            </dict>
            <key>qh_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{46,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,160}}</string>
                <key>sourceSize</key>
                <string>{46,160}</string>
            </dict>
            <key>qh_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,662},{44,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,132}}</string>
                <key>sourceSize</key>
                <string>{44,132}</string>
            </dict>
            <key>qh_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,528},{44,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,132}}</string>
                <key>sourceSize</key>
                <string>{44,132}</string>
            </dict>
            <key>qh_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,174},{1,1}}</string>
                <key>offset</key>
                <string>{-8.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>qh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,632},{104,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,56}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>qh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,478},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>qh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,478},{130,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,82}}</string>
                <key>sourceSize</key>
                <string>{130,82}</string>
            </dict>
            <key>qh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,796},{126,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,76}}</string>
                <key>sourceSize</key>
                <string>{126,76}</string>
            </dict>
            <key>qh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,562},{122,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,68}}</string>
                <key>sourceSize</key>
                <string>{122,68}</string>
            </dict>
            <key>qhhy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,632},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>qhhy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,464},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>qhhy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,324},{50,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,86}}</string>
                <key>sourceSize</key>
                <string>{50,86}</string>
            </dict>
            <key>qhhy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,540},{50,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,90}}</string>
                <key>sourceSize</key>
                <string>{50,90}</string>
            </dict>
            <key>qhhy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,548},{50,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,94}}</string>
                <key>sourceSize</key>
                <string>{50,94}</string>
            </dict>
            <key>qhhy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,548},{50,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{50,96}</string>
            </dict>
            <key>qhhy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,690},{48,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{48,100}</string>
            </dict>
            <key>qhhy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,690},{48,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>qhhy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,664},{130,194}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,194}}</string>
                <key>sourceSize</key>
                <string>{136,196}</string>
            </dict>
            <key>qhhy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,712},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>qhhy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,798},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>qhhy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,646},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>qhhy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,644},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>qhhy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,562},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>qhhy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,798},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>qhhy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,712},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>qhhy_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,632},{50,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,78}}</string>
                <key>sourceSize</key>
                <string>{50,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qhtexiao.png</string>
            <key>size</key>
            <string>{874,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413fe37642928793b41b037ab3481f30:1/1$</string>
            <key>textureFileName</key>
            <string>qhtexiao.png</string>
        </dict>
    </dict>
</plist>
