<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qingnang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,338},{86,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{86,102}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,226},{100,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,114},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,226},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,112},{98,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,332},{92,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{92,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,222},{96,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{96,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,334},{86,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{86,106}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>qingnang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{92,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{92,102}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qingGuo.png</string>
            <key>size</key>
            <string>{442,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a23ad7a4e9160598cd8e8486dd061421:1/1$</string>
            <key>textureFileName</key>
            <string>qingGuo.png</string>
        </dict>
    </dict>
</plist>
