<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,50},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>cs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>cs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>cs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward_caishen.png</string>
            <key>size</key>
            <string>{98,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c07ca706c3548b1e144d366b8f636941:1/1$</string>
            <key>textureFileName</key>
            <string>reward_caishen.png</string>
        </dict>
    </dict>
</plist>
