<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1222},{216,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,181}}</string>
                <key>sourceSize</key>
                <string>{216,181}</string>
            </dict>
            <key>k0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1218},{218,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,210}}</string>
                <key>sourceSize</key>
                <string>{218,210}</string>
            </dict>
            <key>k0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{312,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,344}}</string>
                <key>sourceSize</key>
                <string>{312,344}</string>
            </dict>
            <key>k0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,396}}</string>
                <key>sourceSize</key>
                <string>{320,396}</string>
            </dict>
            <key>k0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{320,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,372}}</string>
                <key>sourceSize</key>
                <string>{320,372}</string>
            </dict>
            <key>k0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,345},{299,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,303}}</string>
                <key>sourceSize</key>
                <string>{299,303}</string>
            </dict>
            <key>k0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,694},{317,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,309}}</string>
                <key>sourceSize</key>
                <string>{317,309}</string>
            </dict>
            <key>k0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{313,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,318}}</string>
                <key>sourceSize</key>
                <string>{313,318}</string>
            </dict>
            <key>k0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,953},{268,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,263}}</string>
                <key>sourceSize</key>
                <string>{268,263}</string>
            </dict>
            <key>k0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,953},{241,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,267}}</string>
                <key>sourceSize</key>
                <string>{241,267}</string>
            </dict>
            <key>k0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,688},{287,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,331}}</string>
                <key>sourceSize</key>
                <string>{287,331}</string>
            </dict>
            <key>k0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{307,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,341}}</string>
                <key>sourceSize</key>
                <string>{307,341}</string>
            </dict>
            <key>k0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,347},{290,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,339}}</string>
                <key>sourceSize</key>
                <string>{290,339}</string>
            </dict>
            <key>k0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{315,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,343}}</string>
                <key>sourceSize</key>
                <string>{315,343}</string>
            </dict>
            <key>k0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1021},{302,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,336}}</string>
                <key>sourceSize</key>
                <string>{302,336}</string>
            </dict>
            <key>k0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{304,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,337}}</string>
                <key>sourceSize</key>
                <string>{304,337}</string>
            </dict>
            <key>k0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,347},{307,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,345}}</string>
                <key>sourceSize</key>
                <string>{307,345}</string>
            </dict>
            <key>k0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1005},{312,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,328}}</string>
                <key>sourceSize</key>
                <string>{312,328}</string>
            </dict>
            <key>k0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,650},{306,301}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{306,301}}</string>
                <key>sourceSize</key>
                <string>{306,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgDevelopingOfficerLayer.png</string>
            <key>size</key>
            <string>{1448,1448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5841094709e37d3b3a0eb185d3d83909:1/1$</string>
            <key>textureFileName</key>
            <string>sgDevelopingOfficerLayer.png</string>
        </dict>
    </dict>
</plist>
