<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qhjm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,147}}</string>
                <key>sourceSize</key>
                <string>{531,147}</string>
            </dict>
            <key>qhjm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,448},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>qhjm_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,312},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>qhjm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>qhjm_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,458},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>qhjm_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>qhjm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{246,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,125}}</string>
                <key>sourceSize</key>
                <string>{246,125}</string>
            </dict>
            <key>qhjm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{179,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,157}}</string>
                <key>sourceSize</key>
                <string>{179,157}</string>
            </dict>
            <key>qhjm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,312},{109,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,149}}</string>
                <key>sourceSize</key>
                <string>{109,149}</string>
            </dict>
            <key>qhjm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,463},{107,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>qhjm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,540},{102,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,37}}</string>
                <key>sourceSize</key>
                <string>{102,37}</string>
            </dict>
            <key>qhjm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,303},{140,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,143}}</string>
                <key>sourceSize</key>
                <string>{140,143}</string>
            </dict>
            <key>qhjm_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,151},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qhjm_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,151},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>strengjiantoutexiao.png</string>
            <key>size</key>
            <string>{597,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5662ab5454d66f296b008d8db0f6638:1/1$</string>
            <key>textureFileName</key>
            <string>strengjiantoutexiao.png</string>
        </dict>
    </dict>
</plist>
