<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenggong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{216,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,104}}</string>
                <key>sourceSize</key>
                <string>{216,104}</string>
            </dict>
            <key>chenggong6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,260}}</string>
                <key>sourceSize</key>
                <string>{352,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>supersuccesssmall.png</string>
            <key>size</key>
            <string>{370,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4483699342a2e1e104f9d1d3b422a970:1/1$</string>
            <key>textureFileName</key>
            <string>supersuccesssmall.png</string>
        </dict>
    </dict>
</plist>
