<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tssg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{397,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,236}}</string>
                <key>sourceSize</key>
                <string>{397,236}</string>
            </dict>
            <key>tssg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{157,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,171}}</string>
                <key>sourceSize</key>
                <string>{157,171}</string>
            </dict>
            <key>tssg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,875},{126,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,138}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>tssg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,428},{116,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>tssg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,898},{126,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{126,136}</string>
            </dict>
            <key>tssg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,898},{106,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,123}}</string>
                <key>sourceSize</key>
                <string>{106,123}</string>
            </dict>
            <key>tssg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,506},{101,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,116}}</string>
                <key>sourceSize</key>
                <string>{101,116}</string>
            </dict>
            <key>tssg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,717},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>tssg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,777},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>tssg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,807},{141,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,143}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>tssg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,562},{69,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,60}}</string>
                <key>sourceSize</key>
                <string>{69,60}</string>
            </dict>
            <key>tssg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,624},{139,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,181}}</string>
                <key>sourceSize</key>
                <string>{139,181}</string>
            </dict>
            <key>tssg_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,952},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>tssg_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,290},{126,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{126,136}</string>
            </dict>
            <key>tssg_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,862},{149,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,190}}</string>
                <key>sourceSize</key>
                <string>{149,190}</string>
            </dict>
            <key>tssg_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,290},{181,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,214}}</string>
                <key>sourceSize</key>
                <string>{181,214}</string>
            </dict>
            <key>tssg_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,629},{217,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,244}}</string>
                <key>sourceSize</key>
                <string>{217,244}</string>
            </dict>
            <key>tssg_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,629},{254,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,267}}</string>
                <key>sourceSize</key>
                <string>{254,267}</string>
            </dict>
            <key>tssg_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{283,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,288}}</string>
                <key>sourceSize</key>
                <string>{283,288}</string>
            </dict>
            <key>tssg_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,325},{328,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,302}}</string>
                <key>sourceSize</key>
                <string>{328,302}</string>
            </dict>
            <key>tssg_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{347,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,321}}</string>
                <key>sourceSize</key>
                <string>{347,321}</string>
            </dict>
            <key>tssg_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,330}}</string>
                <key>sourceSize</key>
                <string>{369,330}</string>
            </dict>
            <key>tssg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,716},{65,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,142}}</string>
                <key>sourceSize</key>
                <string>{65,142}</string>
            </dict>
            <key>tssg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,572},{67,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,142}}</string>
                <key>sourceSize</key>
                <string>{67,142}</string>
            </dict>
            <key>tssg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,875},{65,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,141}}</string>
                <key>sourceSize</key>
                <string>{65,141}</string>
            </dict>
            <key>tssg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,506},{101,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,84}}</string>
                <key>sourceSize</key>
                <string>{101,84}</string>
            </dict>
            <key>tssg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,952},{65,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,90}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>tssg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,624},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>tssg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{311,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,286}}</string>
                <key>sourceSize</key>
                <string>{311,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tssg.png</string>
            <key>size</key>
            <string>{1056,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbdbd40ac2083729336c365209f2ab65:1/1$</string>
            <key>textureFileName</key>
            <string>tssg.png</string>
        </dict>
    </dict>
</plist>
