<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Array_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{400,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,176}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>Array_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{400,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,176}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>Array_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{400,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,176}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>Array_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,176}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VisitArray.png</string>
            <key>size</key>
            <string>{714,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1399e583a29f7a2a6a63d72fec513626:1/1$</string>
            <key>textureFileName</key>
            <string>VisitArray.png</string>
        </dict>
    </dict>
</plist>
