<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>visitGoldDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,290}}</string>
                <key>sourceSize</key>
                <string>{116,290}</string>
            </dict>
            <key>visitGoldOpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,290}}</string>
                <key>sourceSize</key>
                <string>{118,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>visitGold.png</string>
            <key>size</key>
            <string>{294,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6099ffd3e49a41d161b4b4f98a3b076:1/1$</string>
            <key>textureFileName</key>
            <string>visitGold.png</string>
        </dict>
    </dict>
</plist>
