<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pxd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,719},{164,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,43}}</string>
                <key>sourceSize</key>
                <string>{164,43}</string>
            </dict>
            <key>pxd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{176,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,45}}</string>
                <key>sourceSize</key>
                <string>{176,45}</string>
            </dict>
            <key>pxd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,479},{177,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,40}}</string>
                <key>sourceSize</key>
                <string>{177,40}</string>
            </dict>
            <key>pxd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,719},{165,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,36}}</string>
                <key>sourceSize</key>
                <string>{165,36}</string>
            </dict>
            <key>wjdsh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,729},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>wjdsh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,545},{181,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,172}}</string>
                <key>sourceSize</key>
                <string>{181,172}</string>
            </dict>
            <key>wjdsh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,370},{185,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,173}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>wjdsh_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{195,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,170}}</string>
                <key>sourceSize</key>
                <string>{195,170}</string>
            </dict>
            <key>wjdsh_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wjdsh_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,318},{186,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,159}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>wjdsh_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,344},{122,168}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>wjdsh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,722},{173,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{173,175}</string>
            </dict>
            <key>wjdsh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,545},{174,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,182}}</string>
                <key>sourceSize</key>
                <string>{174,182}</string>
            </dict>
            <key>wjdsh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,174},{187,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,194}}</string>
                <key>sourceSize</key>
                <string>{187,194}</string>
            </dict>
            <key>wjdsh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,154},{193,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,162}}</string>
                <key>sourceSize</key>
                <string>{193,162}</string>
            </dict>
            <key>wjdsl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>wjdsl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,545},{181,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,172}}</string>
                <key>sourceSize</key>
                <string>{181,172}</string>
            </dict>
            <key>wjdsl_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,370},{185,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,173}}</string>
                <key>sourceSize</key>
                <string>{185,173}</string>
            </dict>
            <key>wjdsl_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{195,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,170}}</string>
                <key>sourceSize</key>
                <string>{195,170}</string>
            </dict>
            <key>wjdsl_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,150}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>wjdsl_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{186,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,159}}</string>
                <key>sourceSize</key>
                <string>{186,159}</string>
            </dict>
            <key>wjdsl_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,174},{122,168}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{174,168}</string>
            </dict>
            <key>wjdsl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,545},{173,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,175}}</string>
                <key>sourceSize</key>
                <string>{173,175}</string>
            </dict>
            <key>wjdsl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{174,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,182}}</string>
                <key>sourceSize</key>
                <string>{174,182}</string>
            </dict>
            <key>wjdsl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,174},{187,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,194}}</string>
                <key>sourceSize</key>
                <string>{187,194}</string>
            </dict>
            <key>wjdsl_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{193,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,162}}</string>
                <key>sourceSize</key>
                <string>{193,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wjdsl.png</string>
            <key>size</key>
            <string>{903,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:306d49a5187ee9fe3b75afd47053c874:1/1$</string>
            <key>textureFileName</key>
            <string>wjdsl.png</string>
        </dict>
    </dict>
</plist>
