<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wjhb4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{223,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,171}}</string>
                <key>sourceSize</key>
                <string>{223,171}</string>
            </dict>
            <key>wjhb4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,175},{232,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,166}}</string>
                <key>sourceSize</key>
                <string>{232,166}</string>
            </dict>
            <key>wjhb4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,657},{238,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,165}}</string>
                <key>sourceSize</key>
                <string>{238,165}</string>
            </dict>
            <key>wjhb4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,633},{247,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,180}}</string>
                <key>sourceSize</key>
                <string>{247,180}</string>
            </dict>
            <key>wjhb4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{253,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,226}}</string>
                <key>sourceSize</key>
                <string>{253,226}</string>
            </dict>
            <key>wjhb4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,370},{258,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,261}}</string>
                <key>sourceSize</key>
                <string>{258,261}</string>
            </dict>
            <key>wjhb4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,370},{265,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,285}}</string>
                <key>sourceSize</key>
                <string>{265,285}</string>
            </dict>
            <key>wjhb4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{270,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,298}}</string>
                <key>sourceSize</key>
                <string>{270,298}</string>
            </dict>
            <key>wjhb4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,327}}</string>
                <key>sourceSize</key>
                <string>{274,327}</string>
            </dict>
            <key>wjhb4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{271,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,366}}</string>
                <key>sourceSize</key>
                <string>{271,366}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wjhb4_2.png</string>
            <key>size</key>
            <string>{859,859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f189d0ffac25d98ea5c6a8f7fa152d:1/1$</string>
            <key>textureFileName</key>
            <string>wjhb4_2.png</string>
        </dict>
    </dict>
</plist>
