<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanchi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>yanchi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>yanchi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>yanchi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{135,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,40}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>yanchi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{88,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>yanchi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,170},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,40}</string>
            </dict>
            <key>yanchi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,128},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanChi.png</string>
            <key>size</key>
            <string>{228,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:737f14ce1745b6dc5712f234573b9daf:1/1$</string>
            <key>textureFileName</key>
            <string>yanChi.png</string>
        </dict>
    </dict>
</plist>
