<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>flame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>flame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>flame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,84},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>flame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>flame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,248},{160,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,78}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>flame7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>flame8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youPan.png</string>
            <key>size</key>
            <string>{330,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa51bab6b001c06932fbecb27c02183:1/1$</string>
            <key>textureFileName</key>
            <string>youPan.png</string>
        </dict>
    </dict>
</plist>
