<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ys_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,303},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>ys_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,593},{217,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,136}}</string>
                <key>sourceSize</key>
                <string>{217,136}</string>
            </dict>
            <key>ys_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,593},{225,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,142}}</string>
                <key>sourceSize</key>
                <string>{225,142}</string>
            </dict>
            <key>ys_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{237,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,149}}</string>
                <key>sourceSize</key>
                <string>{237,149}</string>
            </dict>
            <key>ys_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{238,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,148}}</string>
                <key>sourceSize</key>
                <string>{238,148}</string>
            </dict>
            <key>ys_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,362}}</string>
                <key>sourceSize</key>
                <string>{362,362}</string>
            </dict>
            <key>ys_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,303},{297,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,288}}</string>
                <key>sourceSize</key>
                <string>{297,288}</string>
            </dict>
            <key>ys_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{346,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,299}}</string>
                <key>sourceSize</key>
                <string>{346,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ys.png</string>
            <key>size</key>
            <string>{743,743}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52520a8ba286f60846bba3efd6ab63a:1/1$</string>
            <key>textureFileName</key>
            <string>ys.png</string>
        </dict>
    </dict>
</plist>
