<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lights_gather1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,28}}</string>
                <key>sourceSize</key>
                <string>{70,28}</string>
            </dict>
            <key>lights_gather2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,80},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,51}</string>
            </dict>
            <key>lights_gather3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,133},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>lights_gather4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{72,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>lights_gather5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,133},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>lights_gather6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>lights_gather7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanHun.png</string>
            <key>size</key>
            <string>{219,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63964f198d1ecce09b8309dde8f4d24d:1/1$</string>
            <key>textureFileName</key>
            <string>zhanHun.png</string>
        </dict>
    </dict>
</plist>
