<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjgj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,488},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>zjgj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{241,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{241,237}}</string>
                <key>sourceSize</key>
                <string>{285,281}</string>
            </dict>
            <key>zjgj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,261},{231,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{231,225}}</string>
                <key>sourceSize</key>
                <string>{285,281}</string>
            </dict>
            <key>zjgj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,261},{213,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{213,207}}</string>
                <key>sourceSize</key>
                <string>{285,281}</string>
            </dict>
            <key>zjgj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,548},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>zjgj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,470},{200,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,201}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>zjgj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{246,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,240}}</string>
                <key>sourceSize</key>
                <string>{246,240}</string>
            </dict>
            <key>zjgj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,488},{228,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,224}}</string>
                <key>sourceSize</key>
                <string>{228,224}</string>
            </dict>
            <key>zjgj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,691},{204,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,201}}</string>
                <key>sourceSize</key>
                <string>{204,201}</string>
            </dict>
            <key>zjgj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,673},{200,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,196}</string>
            </dict>
            <key>zjgj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{261,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,257}}</string>
                <key>sourceSize</key>
                <string>{261,257}</string>
            </dict>
            <key>zjgj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,281}}</string>
                <key>sourceSize</key>
                <string>{285,281}</string>
            </dict>
            <key>zjgj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{265,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{265,261}}</string>
                <key>sourceSize</key>
                <string>{285,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjgj.png</string>
            <key>size</key>
            <string>{907,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08ce9e148fd53910e3b2abb987931e50:1/1$</string>
            <key>textureFileName</key>
            <string>zjgj.png</string>
        </dict>
    </dict>
</plist>
