<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_zldjh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,172},{265,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,131}}</string>
                <key>sourceSize</key>
                <string>{265,131}</string>
            </dict>
            <key>1_zldjh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,305},{264,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,138}}</string>
                <key>sourceSize</key>
                <string>{264,138}</string>
            </dict>
            <key>1_zldjh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,622},{258,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,146}}</string>
                <key>sourceSize</key>
                <string>{258,146}</string>
            </dict>
            <key>1_zldjh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{260,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,157}}</string>
                <key>sourceSize</key>
                <string>{260,157}</string>
            </dict>
            <key>1_zldjh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,317},{239,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,170}}</string>
                <key>sourceSize</key>
                <string>{239,170}</string>
            </dict>
            <key>1_zldjh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{256,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,179}}</string>
                <key>sourceSize</key>
                <string>{256,179}</string>
            </dict>
            <key>1_zldjh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{282,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,184}}</string>
                <key>sourceSize</key>
                <string>{282,184}</string>
            </dict>
            <key>1_zldjh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,186}}</string>
                <key>sourceSize</key>
                <string>{286,186}</string>
            </dict>
            <key>1_zldjq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,770},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>1_zldjq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,170},{250,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,145}}</string>
                <key>sourceSize</key>
                <string>{250,145}</string>
            </dict>
            <key>1_zldjq_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,642},{202,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,147}}</string>
                <key>sourceSize</key>
                <string>{202,147}</string>
            </dict>
            <key>1_zldjq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,489},{226,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,151}}</string>
                <key>sourceSize</key>
                <string>{226,151}</string>
            </dict>
            <key>1_zldjq_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,445},{236,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,175}}</string>
                <key>sourceSize</key>
                <string>{236,175}</string>
            </dict>
            <key>1_zldjq_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{262,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,167}}</string>
                <key>sourceSize</key>
                <string>{262,167}</string>
            </dict>
            <key>1_zldjq_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{283,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,166}}</string>
                <key>sourceSize</key>
                <string>{283,166}</string>
            </dict>
            <key>1_zldjq_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{289,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,168}}</string>
                <key>sourceSize</key>
                <string>{289,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zldj_1.png</string>
            <key>size</key>
            <string>{912,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3482f901e62909e3de9da3170b5a68a7:1/1$</string>
            <key>textureFileName</key>
            <string>zldj_1.png</string>
        </dict>
    </dict>
</plist>
