<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{156,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,67}}</string>
                <key>sourceSize</key>
                <string>{156,67}</string>
            </dict>
            <key>2_diqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,898},{142,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,53}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>2_zldj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,461},{213,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,263}}</string>
                <key>sourceSize</key>
                <string>{213,263}</string>
            </dict>
            <key>2_zldj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{215,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,289}}</string>
                <key>sourceSize</key>
                <string>{215,289}</string>
            </dict>
            <key>2_zldj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,596},{216,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,283}}</string>
                <key>sourceSize</key>
                <string>{216,283}</string>
            </dict>
            <key>2_zldj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,288},{201,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,281}}</string>
                <key>sourceSize</key>
                <string>{201,281}</string>
            </dict>
            <key>2_zldj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{210,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,284}}</string>
                <key>sourceSize</key>
                <string>{210,284}</string>
            </dict>
            <key>2_zldj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,571},{208,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,279}}</string>
                <key>sourceSize</key>
                <string>{208,279}</string>
            </dict>
            <key>2_zldj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,726},{206,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,249}}</string>
                <key>sourceSize</key>
                <string>{206,249}</string>
            </dict>
            <key>2_zldj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,305}}</string>
                <key>sourceSize</key>
                <string>{204,305}</string>
            </dict>
            <key>2_zldj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{241,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,236}}</string>
                <key>sourceSize</key>
                <string>{241,236}</string>
            </dict>
            <key>2_zldj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,240},{219,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,219}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>2_zldj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{226,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,280}}</string>
                <key>sourceSize</key>
                <string>{226,280}</string>
            </dict>
            <key>2_zldj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{197,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,296}}</string>
                <key>sourceSize</key>
                <string>{197,296}</string>
            </dict>
            <key>2_zldj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,309},{200,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,285}}</string>
                <key>sourceSize</key>
                <string>{200,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zldj_2_1.png</string>
            <key>size</key>
            <string>{977,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5bf1d7a15331f030dd3a1d1ce04cbbe:1/1$</string>
            <key>textureFileName</key>
            <string>zldj_2_1.png</string>
        </dict>
    </dict>
</plist>
