<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,97},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>zx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>zx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>zx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>zx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{87,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{87,83}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>zx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,192},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{77,75}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>zx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zx.png</string>
            <key>size</key>
            <string>{277,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c5219a198884d564f9e00c524f8a68:1/1$</string>
            <key>textureFileName</key>
            <string>zx.png</string>
        </dict>
    </dict>
</plist>
