<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_btn_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,92},{60,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>friend_btn_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{60,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>friend_deleteModel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,26}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>friend_friendFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,40}}</string>
                <key>sourceSize</key>
                <string>{324,44}</string>
            </dict>
            <key>friend_friendRequest.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,50}</string>
            </dict>
            <key>friend_manage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{128,34}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>friend_search_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,120},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,26}}</string>
                <key>sourceSize</key>
                <string>{100,28}</string>
            </dict>
            <key>friend_sendModel.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,92},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,26}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>mail_messageBox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,78},{228,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,46}}</string>
                <key>sourceSize</key>
                <string>{230,48}</string>
            </dict>
            <key>mail_messageBox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{228,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{228,46}}</string>
                <key>sourceSize</key>
                <string>{230,48}</string>
            </dict>
            <key>mail_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,44},{90,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,32}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>mail_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,52},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,34}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgfriendmaillayer.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32a030ba63af8bf05ebc717a3abff664:1/1$</string>
            <key>textureFileName</key>
            <string>sgfriendmaillayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
