<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,90},{246,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{246,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>11dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,46},{246,42}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{246,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>12dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{246,42}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{246,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>1dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,414},{220,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{220,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>2dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,370},{220,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{220,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>3dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,370},{220,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{220,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>4dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,458},{218,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{218,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>5dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,458},{218,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{218,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>6dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,326},{220,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{220,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>7dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,326},{220,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{220,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>8dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,414},{218,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{218,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>9dc.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,134},{220,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{220,42}}</string>
                <key>sourceSize</key>
                <string>{270,50}</string>
            </dict>
            <key>banDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{552,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,78}}</string>
                <key>sourceSize</key>
                <string>{552,78}</string>
            </dict>
            <key>banDown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{552,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,36}}</string>
                <key>sourceSize</key>
                <string>{552,36}</string>
            </dict>
            <key>banUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{552,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,258}}</string>
                <key>sourceSize</key>
                <string>{552,258}</string>
            </dict>
            <key>bvip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,906},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,790},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,674},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,834},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,718},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,602},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,558},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{142,114}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>bvip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,164},{142,114}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{142,114}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>font_storevip.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{126,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,80}}</string>
                <key>sourceSize</key>
                <string>{126,80}</string>
            </dict>
            <key>mall_gift_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,178},{90,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{90,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,280},{402,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{402,24}}</string>
                <key>sourceSize</key>
                <string>{402,26}</string>
            </dict>
            <key>store_jindutiao_li.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,306},{396,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{396,18}}</string>
                <key>sourceSize</key>
                <string>{402,26}</string>
            </dict>
            <key>store_libaoicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,92},{80,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{80,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_redbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,88}}</string>
                <key>sourceSize</key>
                <string>{640,88}</string>
            </dict>
            <key>vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,178},{184,42}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,42}}</string>
                <key>sourceSize</key>
                <string>{192,44}</string>
            </dict>
            <key>vip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,558},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,546},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,546},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,514},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,514},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,502},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,502},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,470},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,470},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,222},{182,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>vipGuiftBuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,84},{106,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{106,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgvipinfolayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f75ec4ec89109f3d43e80c9284d096b0:1/1$</string>
            <key>textureFileName</key>
            <string>sgvipinfolayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
