<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_guide_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,304},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>btn_guide_nojoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,348},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>guidePopLd.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,304},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>guidePopLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{124,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,148}}</string>
                <key>sourceSize</key>
                <string>{124,148}</string>
            </dict>
            <key>guidePopMd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>guidePopMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{30,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,148}}</string>
                <key>sourceSize</key>
                <string>{30,148}</string>
            </dict>
            <key>guide_board_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,150}}</string>
                <key>sourceSize</key>
                <string>{768,150}</string>
            </dict>
            <key>public_guide_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,340},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>uplevel_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,384},{114,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sguiguidelayer.png</string>
            <key>size</key>
            <string>{772,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f0fe765bf16684af7af78e446cc9f8e:1/1$</string>
            <key>textureFileName</key>
            <string>sguiguidelayer.png</string>
        </dict>
    </dict>
</plist>
