<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addg.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,966},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>addy.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,966},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>battle_rules.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{100,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,46}</string>
            </dict>
            <key>labelbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{184,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,24}}</string>
                <key>sourceSize</key>
                <string>{184,24}</string>
            </dict>
            <key>pvpbarbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,772},{408,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,38}}</string>
                <key>sourceSize</key>
                <string>{408,38}</string>
            </dict>
            <key>pvpbarinside1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,862},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>pvpbarinside2.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,50},{70,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>pvpbarinside3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,944},{92,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,30}}</string>
                <key>sourceSize</key>
                <string>{92,30}</string>
            </dict>
            <key>pvpbarinside4.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,862},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>pvpbarinside5.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,944},{96,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,30}}</string>
                <key>sourceSize</key>
                <string>{96,30}</string>
            </dict>
            <key>pvpjoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{558,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,142}}</string>
                <key>sourceSize</key>
                <string>{558,142}</string>
            </dict>
            <key>pvpline.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,902},{176,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,4}}</string>
                <key>sourceSize</key>
                <string>{176,4}</string>
            </dict>
            <key>questionpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,812},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>scordy.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,812},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>scoreg.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,838},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>sp_battle_chap_ext.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,916},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>sp_battle_entry_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>sp_battle_infobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,908},{186,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,34}}</string>
                <key>sourceSize</key>
                <string>{186,34}</string>
            </dict>
            <key>sp_battle_mall.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,812},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>sp_battle_mall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,812},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>sp_battle_starline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,768}}</string>
                <key>sourceSize</key>
                <string>{582,768}</string>
            </dict>
            <key>sp_battle_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,812},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tianJiFen.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,908},{94,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>xiaobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{640,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,64}}</string>
                <key>sourceSize</key>
                <string>{640,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sgbattlemainlayer.png</string>
            <key>size</key>
            <string>{982,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a68c45dd74ae3a5b1f1045a94b6136af:1/1$</string>
            <key>textureFileName</key>
            <string>sgbattlemainlayer.png</string>
        </dict>
    </dict>
</plist>
