<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>szg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,296},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{86,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,202},{106,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,53},{106,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,104},{106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,52},{106,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{104,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,49},{104,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,896},{154,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{154,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,792},{194,154}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{194,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,948},{126,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{126,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,948},{116,114}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,47},{116,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,924},{126,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{126,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>szg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,792},{144,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{144,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,449},{352,445}}</string>
                <key>offset</key>
                <string>{-144,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,445}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{352,445}}</string>
                <key>offset</key>
                <string>{-144,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,445}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{352,469}}</string>
                <key>offset</key>
                <string>{-144,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,469}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>wenli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,389}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{640,389}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>xian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{350,121}}</string>
                <key>offset</key>
                <string>{-145,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,229},{350,121}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>xian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,691},{346,99}}</string>
                <key>offset</key>
                <string>{-94,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,207},{346,99}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>xian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{528,121}}</string>
                <key>offset</key>
                <string>{-56,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,196},{528,121}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>xian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,449},{394,121}}</string>
                <key>offset</key>
                <string>{-117,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,238},{394,121}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>xian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,572},{330,117}}</string>
                <key>offset</key>
                <string>{67,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,200},{330,117}}</string>
                <key>sourceSize</key>
                <string>{640,469}</string>
            </dict>
            <key>zhezhaodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,393},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuliqiu.png</string>
            <key>size</key>
            <string>{1110,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de6a1bd8035c88dd88ec97bbc169edb8:1/1$</string>
            <key>textureFileName</key>
            <string>xuliqiu.png</string>
        </dict>
    </dict>
</plist>
